{{ list_of_expression_dicts }}

<table border="1" id="expression_table">
  <tr>
    <th>ID</th>
    <th>latex</th>
    <th>name</th>
    <th>description</th>
  </tr>
  {% for expression_dict in list_of_expression_dicts %}
  <tr>
    <td>
      <a href="{{ url_for( 'to_edit_expression', expression_id=expression_dict['id'] ) }}">
          {{ expression_dict['id'] }}
      </a>
    </td>
    <td>{{ expression_dict['latex']}}</td>
    <td>{{ expression_dict['name'] }}</td>
    <td>{{ expression_dict['description'] }}</td>
  </tr>
  {% endfor %}
</table>
