{{ list_of_symbol_dicts }}

<table border="1" id="symbol_table">
  <tr>
    <th>ID</th>
    <th>latex</th>
    <th>name</th>
    <th>description</th>
    <th>used in</th>
  </tr>
  {% for symbol_dict in list_of_symbol_dicts %}
  <tr>
    <td>
      <a href="{{ url_for( 'to_edit_symbol', symbol_id=symbol_dict['id'] ) }}">
          {{ symbol_dict['id'] }}
      </a>
    </td>
    <td>{{ symbol_dict['latex']}}</td>
    <td>{{ symbol_dict['name'] }}</td>
    <td>{{ symbol_dict['description'] }}</td>
    <td>TODO</td>
  </tr>
  {% endfor %}
</table>
