{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=create_derivation">main page</a>
</P>

<fieldset>
  <legend>
    Create derivation
  </legend>

<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form.csrf_token }}
  <P>
    {{ form.derivation_name_latex.label}}: {{ form.derivation_name_latex(size=50, maxlength=1000) }} <BR/>
    &nbsp;<BR/>
   {{form.abstract_latex.label }}: {{ form.abstract_latex(size=50, maxlength=1000) }}<BR/>
  <input type="submit" value="add derivation">
</form>
</fieldset>

{% endblock %}
