{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=review_derivation">main page</a>
</P>

<H2>Review {{ derivation_dict['name_latex'] }}</H2>

TODO: display graph of derivation (e.g., graphviz)

TODO: display tex, PDF

<fieldset>
<legend>
  <H2>Edit Derivation</h2>
</legend>


<UL>
<LI> <a href="{{ url_for('to_add_step_select_inference_rule', derivation_id=derivation_dict['derivation_id']) }}">add step to this derivation</a></LI>
<LI> <a href="{{ url_for('to_select_step', derivation_id=derivation_dict['derivation_id']) }}">delete step from this derivation</a></LI>
<LI> <a href="{{ url_for('to_edit_derivation_metadata', derivation_id=derivation_dict['derivation_id']) }}">rename this derivation</a></LI>
<LI> <a href="{{ url_for('to_edit_derivation_metadata', derivation_id=derivation_dict['derivation_id']) }}">edit metadata for this derivation</a></LI>
<LI> <a href="{{ url_for('to_select_step', derivation_id=derivation_dict['derivation_id']) }}">edit step in this derivation</a></LI>
<LI> <a href="{{ url_for('to_delete_derivation', derivation_id=derivation_dict['derivation_id']) }}">delete this derivation</a></LI>
  </UL>

</fieldset>

{% endblock %}
