{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=review_derivation">main page</a>
</P>

<H2>Review {{ derivation_dict['name'] }}</H2>

<P> Derivation dictionary: {{ derivation_dict }}

<P> List of steps: {{ list_of_steps }}

<P>TODO: display graph of derivation (e.g., graphviz)

<P>TODO: display tex, PDF

<fieldset>
<legend>
  <H2>Edit Derivation</h2>
</legend>

<UL>
<LI> <a href="{{ url_for('to_add_step_select_inference_rule', derivation_id=derivation_dict['id']) }}">add step to this derivation</a></LI>
<LI> <a href="{{ url_for('to_select_step', derivation_id=derivation_dict['id']) }}">delete step from this derivation</a></LI>
<LI> <a href="{{ url_for('to_select_step', derivation_id=derivation_dict['id']) }}">edit step in this derivation</a></LI>
<LI> <a href="{{ url_for('to_edit_derivation_metadata', derivation_id=derivation_dict['id']) }}">rename this derivation</a></LI>
<LI> <a href="{{ url_for('to_edit_derivation_metadata', derivation_id=derivation_dict['id']) }}">edit metadata for this derivation</a></LI>
  </UL>

</fieldset>

{% endblock %}
