{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=edit_derivation">main page</a>
</P>

<fieldset>
<legend>
  <H2>Edit Derivation</h2>
</legend>

<!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
<input type="text" id="derivation_input" onkeyup="select_derivation()" placeholder="Select derivation">

<UL>
<LI> add step to existing derivation
<LI> delete step from existing derivation
<LI> edit step in derivation
<LI> delete derivation
  </UL>

</fieldset>

{% endblock %}
