{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=show_friends">main page</a>
</P>

<fieldset>
  <legend>
    Specify friends
  </legend>

<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form.csrf_token }}
  <P>
    {{ form.first_name.label}}: {{ form.first_name(size=50, maxlength=30) }} <BR/>
    knows<BR/>
   {{form.second_name.label }}: {{ form.second_name(size=50, maxlength=30) }}<BR/>
  <input type="submit" value="add to graph">
</form>
</fieldset>

{% endblock %}
