{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=list_expressions">main page</a>
</P>

<fieldset>
<legend>
  <H2>List of Expressions</h2>
</legend>

<!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
<input type="text" id="expression_input" onkeyup="select_expression()" placeholder="Select expression to review">

<table border="1" id="expression_table">
  <tr>
    <th>ID</th>
    <th>latex</th>
    <th>name</th>
    <th>description</th>
  </tr>
  {% for expression_dict in list_of_expressions %}
  <tr>
    <td>
      <a href="{{ url_for( 'to_edit_expression', expression_id=expression_dict['expression_id'] ) }}">
          {{ expression_dict['id'] }}
      </a>
    </td>
    <td>{{ expression_dict['latex']}}</td>
    <td>{{ expression_dict['name'] }}</td>
    <td>{{ expression_dict['description'] }}</td>
  </tr>
  {% endfor %}
</table>

</fieldset>

<P>Actions:</P>
<UL>
  <LI><a href="{{ url_for('to_add_expression') }}?referrer=list_expressions">add new expression</a>        (status: TODO)</LI>
</UL>

<script>
function select_expression() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('expression_input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("expression_UL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

{% endblock %}
