{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=list_inference_rules">main page</a>
</P>

<fieldset>
<legend>
  <H2>List of Inference Rules</h2>
</legend>

<!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
<input type="text" id="inference_rule_input" onkeyup="select_inference_rule()" placeholder="Select Inference Rule">


<table border="1" id="inference_rule_table">
  <tr>
    <th>ID</th>
    <th>name</th>
    <th>latex</th>
  </tr>
  {% for inference_rule_dict in list_of_inference_rules %}
  <tr>
    <td>
      <a href="{{ url_for( 'to_edit_inference_rule', inference_rule_id=inference_rule_dict['inference_rule_id'] ) }}">
        {{ inference_rule_dict['id'] }}
      </a>
    </td>
    <td>{{ inference_rule_dict['name'] }}</td>
    <td>{{ inference_rule_dict['latex']}}</td>
    <td>{{ inference_rule_dict['inputs'] }}</td>
    <td>{{ inference_rule_dict['feeds']}}</td>
    <td>{{ inference_rule_dict['outputs']}}</td>
  </tr>
  {% endfor %}
</table>

</fieldset>

<P>Actions</P>
<UL>
  <LI><a href="{{ url_for('to_add_inference_rule')  }}?referrer=list_inference_rules">add inference rule</a>    (status: works)</LI>
  <LI><a href="{{ url_for('to_edit_inference_rule') }}?referrer=list_inference_rules">edit inference rule</a>   (status: TODO)</LI>
  <LI><a href="{{ url_for('to_delete_inference_rule') }}?referrer=list_inference_rules">delete inference rule</a>   (status: TODO)</LI>
</UL>

<script>
function select_inference_rule() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('inference_rule_input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("inference_rule_UL");
  li = ul.getElementsByTagName('tr');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("td")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

{% endblock %}
