{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=list_symbols">main page</a>
</P>

<fieldset>
<legend>
  <H2>List of Symbols</h2>
</legend>

<!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
<input type="text" id="symbol_input" onkeyup="select_symbol()" placeholder="Select symbol to review">

<table border="1" id="symbol_table">
  <tr>
    <th>ID</th>
    <th>latex</th>
    <th>name</th>
    <th>description</th>
  </tr>
  {% for symbol_dict in list_of_symbols %}
  <tr>
    <td>
      <a href="{{ url_for( 'to_edit_symbol', symbol_id=symbol_dict['symbol_id'] ) }}">
          {{ symbol_dict['id'] }}
      </a>
    </td>
    <td>{{ symbol_dict['latex']}}</td>
    <td>{{ symbol_dict['name'] }}</td>
    <td>{{ symbol_dict['description'] }}</td>
  </tr>
  {% endfor %}
</table>


</fieldset>

<P>Actions:</P>
<UL>
  <LI><a href="{{ url_for('to_add_symbol') }}?referrer=list_symbols">add new symbol</a>        (status: TODO)</LI>
</UL>

<script>
function select_symbol() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('symbol_input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("symbol_UL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

{% endblock %}
