{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=list_inference_rules">main page</a>
</P>

<fieldset>
<legend>
  <H2>List of Inference Rules</h2>
</legend>

<!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
<input type="text" id="inference_rule_input" onkeyup="select_inference_rule()" placeholder="Select Inference Rule">

<P>The inference rule ID links to a page where you can edit the inference rule<BR>

<P>{% include '_table_of_inference_rules.html' %}

</fieldset>

<P>Actions</P>
<UL>
  <LI><a href="{{ url_for('to_add_inference_rule')  }}?referrer=list_inference_rules">add inference rule</a>    (status: works)</LI>
</UL>

<script>
function select_inference_rule() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('inference_rule_input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("inference_rule_UL");
  li = ul.getElementsByTagName('tr');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("td")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

{% endblock %}
