{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=list_derivations">main page</a>
</P>

<fieldset>
<legend>
  <H2>List of Derivations</h2>
</legend>


<P>To select a derivation click on a link in the table.

<P>To filter the table of derivations enter a derivation ID or string in the form field.<BR>
  SEARCH NOT WORKING as of 2023-12-17
<form method="post" action="">
<!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
<input type="text" id="derivation_input" onkeyup="select_derivation()" placeholder="Select derivation to review">
<!-- <button type="submit" value="deriv">Search</button> -->
</form>

<P>The derivation ID below links to a page where you can review that derivation.

<P>{% include '_table_of_derivations.html' %}

</fieldset>

<P>Actions:</P>
<UL>
  <LI><a href="{{ url_for('to_add_derivation') }}?referrer=main">add new derivation</a>        (status: works)</LI>
</UL>

<script>
function select_derivation() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('derivation_input');
  filter = input.value.toUpperCase();
  // 2023-12-17: below was previously for UL/LI but I switched to TR/TD since the derivations are a table.
  tr = document.getElementById("derivation_TR");
  td = tr.getElementsByTagName('td');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < td.length; i++) {
    a = td[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      td[i].style.display = "";
    } else {
      td[i].style.display = "none";
    }
  }
}
</script>

{% endblock %}
