{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=new_step_select_inference_rule">main page</a>
</P>

<!-- TODO: sometimes "name_latex" won't look right in HTML -->
<P>Select an inference rule to create a new step for {{ derivation_dict['name_latex'] }}


<!-- https://stackoverflow.com/questions/32019733/getting-value-from-select-tag-using-flask -->

<fieldset>
<legend>
  <H2>Select inference rule from list</h2>
</legend>

<!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
<input type="text" id="inf_rule_input" onkeyup="select_infrule()" placeholder="Select inference rule">

<select name="input1_local_id" class="selectpicker form-control" id="input1_local">
  {% for inference_rule_id in list_of_inference_rule_IDs_id %}
  <option value="{{ inference_rule_id }}">{{ inference_rule_id }}, {{  dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex']  }}</option>
  {% endfor %}
</select>


<UL id="inf_rules_UL">
  {% for inf_rule_dict in inference_rule_list %}
  <LI>
    <a href="{{ url_for( 'to_add_step_select_expressions',
                         derivation_id=derivation_dict['derivation_id'],
                         inference_rule_id=inf_rule_dict['inference_rule_id'] ) }}">
      {{inf_rule_dict['name']}}
    </a>
  </LI>
  {% endfor %}
</UL>

</fieldset>

<a href="{{ url_for('to_add_inference_rule') }}?referrer=derivationID_{{derivation_dict['derivation_id']}}">Create a new inference rule</a>

<script>
function select_infrule() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('inf_rule_input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("inf_rules_UL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>


{% endblock %}
