{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=new_step_select_inference_rule">main page</a>
</P>

<!-- TODO: sometimes "name_latex" won't look right in HTML -->
<P>Select an inference rule to create a new step for {{ derivation_dict['name_latex'] }}


<!-- https://stackoverflow.com/questions/32019733/getting-value-from-select-tag-using-flask -->

<fieldset>
  <legend>
    <H2>Select inference rule from list</h2>
  </legend>

  <!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
  <input type="text" id="inf_rule_input" onkeyup="select_infrule()" placeholder="Select inference rule">

  <UL id="inf_rules_UL">
    {% for inf_rule_dict in list_of_inference_rule_dicts %}
    <LI>
      <a href="{{ url_for( 'to_add_step_select_expressions',
                           derivation_id=derivation_dict['id'],
                           inference_rule_id=inf_rule_dict['id'] ) }}">
        {{inf_rule_dict['name']}}
      </a>
    </LI>
    {% endfor %}
  </UL>

</fieldset>

<P>
  If you don't see the inference rule you need, <BR>
    <a href="{{ url_for('to_add_inference_rule') }}?referrer=derivationID_{{derivation_dict['id']}}">
      Create a new inference rule</a>
</P>

<script>
function select_infrule() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('inf_rule_input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("inf_rules_UL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>


{% endblock %}
