{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=new_step_select_expressions_for_inference_rule">main page</a>
</P>

<H2>Derivation: <a href="{{ url_for('to_review_derivation',derivation_id=derivation_dict['id']) }}">
  {{ derivation_dict['name'] }}</a></H2>

expression IDs: {{ list_of_expression_IDs }}

<fieldset>
  <legend>
    <H2>Provide inputs and feeds and outputs for {{ inference_rule_dict['name'] }}</H2>
  </legend>

<P>latex: {{ inference_rule_dict['latex'] }}

<P>expressions: {{ dict_of_expression_dicts }}

<form method="post" action="">
  {{ form.csrf_token }}

  {{ form.note_before_step_latex.label }}: {{ form.note_before_step_latex(size=50, maxlength=300, id="note_before") }}

  <P>input count: {{ inference_rule_dict['number_of_inputs'] }}
  <select name="input1_expression_field_name" class="selectpicker form-control" id="input1_expression_field_id">
    {% for expression_id in list_of_expression_IDs %}
    <option value="{{ expression_id }}">{{ expression_id }}, {{ dict_of_expression_dicts[expression_id]['latex'] }} </option>
    {% endfor %}
  </select>

  <P>feed count: {{ inference_rule_dict['number_of_feeds'] }}

  <select name="feed_expression_field_name" class="selectpicker form-control" id="feed_expression_field_id">
    {% for expression_id in list_of_expression_IDs %}
    <option value="{{ expression_id }}">{{ expression_id }}, {{ dict_of_expression_dicts[expression_id]['latex'] }}</option>
    {% endfor %}
  </select>


  <P>output count: {{ inference_rule_dict['number_of_outputs'] }}

  <select name="output1_expression_field_name" class="selectpicker form-control" id="output1_expression_field_id">
    {% for expression_id in list_of_expression_IDs %}
    <option value="{{ expression_id }}">{{ expression_id }}, {{ dict_of_expression_dicts[expression_id]['latex'] }}</option>
    {% endfor %}
  </select>

  {{ form.note_after_step_latex.label }}: {{ form.note_after_step_latex(size=50, maxlength=300, id="note_after") }}

  <P><input type="submit" name="submit_button" value="add step">
  </form>
</fieldset>

<P>Actions:</P>
<UL>
  <LI><a href="{{ url_for('to_add_expression') }}?referrer=list_expressions">add new expression</a></LI>
</UL>

{% endblock %}
