{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=new_step_select_expressions_for_inference_rule">main page</a>
</P>

<H2>Derivation: <a href="{{ url_for('to_review_derivation',derivation_id=derivation_id) }}">
  {{ derivation_name }}</a></H2>

<fieldset>
  <legend>
    <H2>Provide inputs and feeds and outputs for {{ infrule_dict['name'] }}</H2>
  </legend>

<P>latex: {{ infrule_dict['latex'] }}

<P>input count: {{ infrule_dict['number_of_inputs'] }}

<form method="post" action="">
  {{ form.csrf_token }}


{{ form.input1.label }}: {{ form.input1(size=50, maxlength=300, id="input1_latex") }}


<select name="input1_local_id" class="selectpicker form-control" id="input1_local">
  {% for expression_id in list_of_expression_IDs %}
  <option value="{{ expression_id }}">{{ expression_id }}, {{  dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex']  }}</option>
  {% endfor %}
</select>


<input type="submit" name="submit_button" value="Submit">


</form>

<P>feed count: {{ infrule_dict['number_of_feeds'] }}
<P>output count: {{ infrule_dict['number_of_outputs'] }}

</fieldset>


{% endblock %}
