{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=operator_create">main page</a>
</P>

<fieldset>
  <legend>
    <H2>Create operator</H2>
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form.csrf_token }}
    <P>
      {{ form.operator_latex.label}}: {{ form.operator_latex(size=50, minlength=1, maxlength=1000) }} <BR/>
      &nbsp;<BR/>
      {{form.operator_name.label }}: {{ form.operator_name(size=50, maxlength=1000) }}<BR/>
      &nbsp;<BR/>
      {{form.operator_description.label }}: {{ form.operator_description(size=50, maxlength=1000) }}<BR/>
      &nbsp;<BR/>
      <input type="submit" value="add operator">
    </P>
  </form>
</fieldset>

TODO: as user is entering operator, filter the list of existing operators

{% include '_table_of_operators.html' %}

<script>
function select_operator() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('operator_input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("operator_UL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>



{% endblock %}
