{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=show_friends">main page</a>
</P>

Examples:
<table border="1">
  <tr>
    <th>purpose</th>
    <th>Cypher query</th>
  </tr>
  <tr>
    <td>list all nodes</td>
    <td>MATCH (n) RETURN n</td>
  </tr>
  <tr>
    <td>list all nodes and edges</td>
    <td>MATCH (n)-[r]->(m) RETURN n,r,m</td>
  </tr>
  <tr>
    <td>list all distinct node labels (<a href="https://stackoverflow.com/a/24058571/1164295">citation</a>)</td>
    <td>MATCH (n) RETURN distinct labels(n)</td>
  </tr>
  <tr>
    <td>list the node count for each label (<a href="https://stackoverflow.com/a/24058571/1164295">citation</a>)</td>
    <td>MATCH (n) RETURN distinct labels(n), count(*)</td>
  </tr>
  <tr>
    <td>list derivations</td>
    <td>MATCH (n:derivation) RETURN n</td>
  </tr>
  <tr>
    <td>list inference rules</td>
    <td>MATCH (n:inference_rule) RETURN n</td>
  </tr>
  <tr>
    <td>list steps for derivation</td>
    <td>MATCH (n:inference_rule) RETURN n</td>
  </tr>
  <tr>
    <td>list properties for a specific derivation</td>
    <td>MATCH (n:derivation) WHERE n.derivation_id = '5389624' RETURN n<BR>
    or<BR>
    MATCH (n:derivation {derivation_id:'5389624'}) RETURN n </td>
  </tr>
</table>
<P>
  <a href="https://gist.github.com/DaniSancas/1d5265fc159a95ff457b940fc5046887">cheatsheet</a>
</P>

<P>
  The following fail because they try to write:
</P>
<table border="1">
  <tr>
    <th>purpose</th>
    <th>Cypher query</th>
  </tr>
  <tr>
    <td>delete all nodes</td>
    <td>MATCH (n) DETACH DELETE n</td>
  </tr>
</table>

<fieldset>
  <legend>
    Cypher query
  </legend>

<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form.csrf_token }}
  <P>
    {{ form.query.label}}: {{ form.query(size=100) }}
  <input type="submit" value="query graph">
</form>
</fieldset>

<UL>
{% for record in list_of_records %}
    <LI>{{ record }}</LI>
{% endfor %}
</UL>

{% endblock %}
