{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=show_friends">main page</a>
</P>

<fieldset>
  <legend>
    <H2>Cypher query</H2>
  </legend>

<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form.csrf_token }}
  <P>
    {{ form.query.label}}: {{ form.query(size=100, minlength=1) }}
  <input type="submit" value="query graph">
</form>
</fieldset>

<UL>
{% for record in list_of_records %}
    <LI>{{ record }}</LI>
{% endfor %}
</UL>


Examples:
<table border="1">
  <tr>
    <th>purpose</th>
    <th>Cypher query</th>
  </tr>
  <tr>
    <td>list all nodes</td>
    <td><a href="{{ url_for('to_query') }}?cypher=MATCH (n) RETURN n">
                                                  MATCH (n) RETURN n</a></td>
  </tr>
  <tr>
    <td>list all edges</td>
    <td><a href="{{ url_for('to_query') }}?cypher=MATCH (n)-[r]->(m) RETURN r">
                                                  MATCH (n)-[r]->(m) RETURN r</a></td>
  </tr>
  <tr>
    <td>list all nodes and edges</td>
    <td><a href="{{ url_for('to_query') }}?cypher=MATCH (n)-[r]->(m) RETURN n,r,m">
                                                  MATCH (n)-[r]->(m) RETURN n,r,m</a></td>
  </tr>
  <tr>
    <td>list all distinct node labels (<a href="https://stackoverflow.com/a/24058571/1164295">citation</a>)</td>
    <td><a href="{{ url_for('to_query') }}?cypher=MATCH (n) RETURN distinct labels(n)">
                                                  MATCH (n) RETURN distinct labels(n)</a></td>
  </tr>
  <tr>
    <td>list the node count for each label (<a href="https://stackoverflow.com/a/24058571/1164295">citation</a>)</td>
    <td><a href="{{ url_for('to_query') }}?cypher=MATCH (n) RETURN distinct labels(n), count(*)">
                                                  MATCH (n) RETURN distinct labels(n), count(*)</a></td>
  </tr>
  <tr>
    <td>list derivations</td>
    <td><a href="{{ url_for('to_query') }}?cypher=MATCH (n:derivation) RETURN n">
                                                  MATCH (n:derivation) RETURN n</a></td>
  </tr>
  <tr>
    <td>list inference rules</td>
    <td><a href="{{ url_for('to_query') }}?cypher=MATCH (n:inference_rule) RETURN n">
                                                  MATCH (n:inference_rule) RETURN n</a></td>
  </tr>
  <tr>
    <td>list expressions</td>
    <td><a href="{{ url_for('to_query') }}?cypher=MATCH (n:expression) RETURN n">
                                                  MATCH (n:expression) RETURN n</a></td>
  </tr>
  <tr>
    <td>list symbols</td>
    <td><a href="{{ url_for('to_query') }}?cypher=MATCH (n:symbol) RETURN n">
                                                  MATCH (n:symbol) RETURN n</a></td>
  </tr>
  <tr>
    <td>list operators</td>
    <td><a href="{{ url_for('to_query') }}?cypher=MATCH (n:operator) RETURN n">
                                                  MATCH (n:operator) RETURN n</a></td>
  </tr>
  <tr>
    <td>list steps for derivation</td>
    <td><a href="{{ url_for('to_query') }}?cypher=MATCH (n:step), (m:derivation) WHERE m.id='5389624' RETURN n">
                                                  MATCH (n:step), (m:derivation) WHERE m.id='5389624' RETURN n</a></td>
  </tr>
  <tr>
    <td>list properties for a specific derivation</td>
    <td><a href="{{ url_for('to_query') }}?cypher=MATCH (n:derivation) WHERE n.id = '5389624' RETURN n">
                                                  MATCH (n:derivation) WHERE n.id = '5389624' RETURN n</a><BR>
    or<BR>
    <a href="{{ url_for('to_query') }}?cypher=MATCH (n:derivation {id:'5389624'}) RETURN n">
                                              MATCH (n:derivation {id:'5389624'}) RETURN n</a></td>
  </tr>
</table>
<P>
  <a href="https://gist.github.com/DaniSancas/1d5265fc159a95ff457b940fc5046887">cheatsheet</a>
</P>

<P>
  The following fail because they try to write:
</P>
<table border="1">
  <tr>
    <th>purpose</th>
    <th>Cypher query</th>
  </tr>
  <tr>
    <td>delete all nodes</td>
    <td>MATCH (n) DETACH DELETE n</td>
  </tr>
</table>


{% endblock %}
