{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=edit_derivation">main page</a>
</P>

<fieldset>
<legend>
  <H2>Select Derivation from list</h2>
</legend>

<!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
<input type="text" id="derivation_input" onkeyup="select_derivation()" placeholder="Select derivation">

<UL id="derivation_UL">
  {% for derivation_dict in derivation_list %}
  <LI>{{derivation_dict['name_latex']}}</LI>
  {% endfor %}
</UL>

</fieldset>

{% endblock %}
