{% extends "_base.html" %}
{% block content %}

<H2>Physics Derivation Graph</H2>

<UL>
  <LI><a href="{{ url_for('main') }}?referrer=main">site map</a> (this page)</LI>
  <LI><a href="{{ url_for('to_query') }}?referrer=main">Cypher query</a></LI>
  <LI><a href="{{ url_for('to_export_cypher') }}?referrer=main">export Cypher</a></LI>
  <LI><a href="{{ url_for('to_export_json') }}?referrer=main">export JSON</a></LI>
  <LI><a href="{{ url_for('to_list_derivation') }}?referrer=main">select derivation to review or edit</a></LI>
  <LI><a href="{{ url_for('to_add_derivation') }}?referrer=main">add derivation</a></LI>
  <LI><a href="{{ url_for('to_list_inference_rules') }}?referrer=main">show all inference rules</a></LI>
  <LI><a href="{{ url_for('to_add_inference_rule') }}?referrer=main">add inference rule</a></LI>
  <LI><a href="{{ url_for('to_list_all_nodes') }}?referrer=main">show all nodes</a></LI>
  <LI><a href="{{ url_for('to_list_all_edges') }}?referrer=main">show all edges</a></LI>
</UL>
Danger zone!
<UL>
  <LI><a href="{{ url_for('to_delete_graph_content') }}?referrer=main">delete all content</a></LI>
</UL>

<P>
  <fieldset>
    <legend>
      <H3>
        <a name="download upload database">
          Download/Upload database
        </a>
      </H3>
    </legend>

    <!-- https://www.google.com/search?q=flask+upload+file -->
    Upload database file (.cypher only):
    <!-- from https://flask.palletsprojects.com/en/1.1.x/patterns/fileuploads/ -->
    <form method="post" enctype="multipart/form-data" id="upload_form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="file" name="file" accept=".cypher">
      <input type="submit" name="upload_cypher" value="Upload Cypher">
    </form>
  </fieldset>
</P>
{% endblock %}
