{% extends "_base.html" %}
{% block content %}


<UL>
  <LI><a href="{{ url_for('main') }}?referrer=main">main page</a></LI>
  <LI><a href="{{ url_for('to_export_cypher') }}?referrer=main">export Cypher</a></LI>
  <LI><a href="{{ url_for('add_derivation') }}?referrer=main">add derivation</a></LI>
  <LI><a href="{{ url_for('to_edit_derivation') }}?referrer=main">edit derivation</a></LI>
  <LI><a href="{{ url_for('to_add_inference_rule') }}?referrer=main">add inference rule</a></LI>
  <LI><a href="{{ url_for('to_query') }}?referrer=main">Cypher query</a></LI>
  <LI><a href="{{ url_for('to_show_all_inference_rules') }}?referrer=main">show all inference rules</a></LI>
  <LI><a href="{{ url_for('to_show_all_nodes') }}?referrer=main">show all nodes</a></LI>
  <LI><a href="{{ url_for('to_show_all_edges') }}?referrer=main">show all edges</a></LI>
</UL>
Danger zone!
<UL>
  <LI><a href="{{ url_for('to_delete_graph_content') }}?referrer=main">delete all content</a></LI>
</UL>

{% endblock %}
