{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=symbol_create">main page</a>
</P>

<fieldset>
  <legend>
    Create symbol
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form.csrf_token }}
    <P>
      {{ form.symbol_latex.label}}: {{ form.symbol_latex(size=50, maxlength=1000) }} <BR/>
      &nbsp;<BR/>
      {{form.symbol_name.label }}: {{ form.symbol_name(size=50, maxlength=1000) }}<BR/>
      &nbsp;<BR/>
      {{form.symbol_description.label }}: {{ form.symbol_description(size=50, maxlength=1000) }}<BR/>
      &nbsp;<BR/>
      <input type="submit" value="add symbol">
    </P>
  </form>
</fieldset>

TODO: as user is entering symbol, filter the list of existing symbols

{% include '_table_of_symbols.html' %}

<script>
function select_symbol() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('symbol_input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("symbol_UL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>



{% endblock %}
