{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=edit_symbol">main page</a>
</P>

{{ symbol_dict }}

<fieldset>
<legend>
  <H2>Edit Symbol</h2>
</legend>

<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form.csrf_token }}
  <P>
    {{ form.symbol_latex.label}}: {{ form.symbol_latex(size=50, maxlength=1000) }} <BR/>
    &nbsp;<BR/>
    {{form.symbol_name.label }}: {{ form.symbol_name(size=50, maxlength=1000) }}<BR/>
    &nbsp;<BR/>
    {{form.symbol_description.label }}: {{ form.symbol_description(size=50, maxlength=1000) }}<BR/>
    &nbsp;<BR/>
    <input type="submit" value="Edit symbol">
  </P>
</form>

</fieldset>


{% endblock %}
