<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<!DOCTYPE html>
<HTML lang='en'>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% if title %}
    <title>Physics Derivation Graph: {{ title }}</title>
    {% else %}
    <title>Welcome to the Physics Derivation Graph</title>
    {% endif %}

{% include '_js_head.html' %}

    <!-- defines the default zoom for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>

<!-- inserted by Ben on 2023-08-03, based on snippet from https://analytics.google.com/ -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y7NP6E0QW6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y7NP6E0QW6');
</script>

  <body>
    <div>
     <table width="100%">
       <tr>
         <td>
           <a href="{{ url_for('navigation', referrer='_base.html') }}">Physics Derivation Graph navigation</a>
         </td>
       <td align="right">
<!-- https://github.com/allofphysicsgraph/proofofconcept/issues/110 -->
{% if not current_user.is_anonymous %}
   Logged in as {{ current_user.name }} |
<!--
    <a href="{{ url_for('logout') }}">Log out locally</a>
-->
<!-- https://developers.google.com/identity/sign-in/web/sign-in#before_you_begin -->
<a href="{{ url_for('logout') }}" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>

{% else %}
    <a href="{{ url_for('login') }}">Sign in</a>
{% endif %}
       </td>
      </tr>
   </table>
    </div>


        <HR/>
        {% block content %}

        {% endblock %}

{% include '_footer.html' %}

<!-- https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/ -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% if messages|length > 1 %}
    MESSAGES:
    {% else %}
    MESSAGE:
    {% endif %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


    </body>
</html>
