<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<html>
  <head>
    {% if title %}
    <title>Physics Derivation Graph: {{ title }}</title>
    {% else %}
    <title>Welcome to the Physics Derivation Graph</title>
    {% endif %}

{% include '_js_head.html' %}



  </head>
  <body>
    <div>
     <table width="100%">
       <tr>
         <td>
           <a href="{{ url_for('editor') }}">Physics Derivation Graph Editor</a>
         </td>
       <td align="right">
<!-- https://github.com/allofphysicsgraph/proofofconcept/issues/110 -->
{% if not current_user.is_anonymous %}
   Logged in as {{ current_user.username }} | 
    <a href="{{ url_for('logout') }}">Log out</a> 
{% else %}
    <a href="{{ url_for('login') }}">Sign in</a>
{% endif %}
       </td>
      </tr>
   </table>
    </div>

<!-- https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/ -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% if messages|length > 1 %}
    MESSAGES:
    {% else %}
    MESSAGE:
    {% endif %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

        <hr>
        {% block content %}

        {% endblock %}

{% include '_footer.html' %}

    </body>
</html>


