
    <!-- Google Sign In 
    https://developers.google.com/identity/sign-in/web/sign-in#before_you_begin
    https://github.com/allofphysicsgraph/proofofconcept/issues/119
      -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="897942275285-el3oi54h7fg973tnqp6b0ioou46h5t16.apps.googleusercontent.com">












    <!-- if inclusion of Mathjax on pages which don't have latex becomes a significant source of latency, see
         http://docs.mathjax.org/en/latest/web/typeset.html#loading-mathjax-only-on-pages-with-math -->
    <!-- http://docs.mathjax.org/en/latest/input/tex/eqnumbers.html -->
    <script type="text/x-mathjax-config;executed=true">
      MathJax.Hub.Config({ TeX: { equationNumbers: {autoNumber: "AMS"} } });
    </script>
    <script type="text/javascript">
      window.MathJax = {
        tex: {
          tags: 'ams'
        }
      };
    </script>
    <!-- https://docs.mathjax.org/en/v2.7-latest/start.html -->
<!--
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML">
    </script>
-->
<!--
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
-->
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

<!-- the following works for live preview of input based on
     https://cdn.rawgit.com/mathjax/MathJax/2.7.1/test/sample-dynamic.html
<script type="text/javascript" src="https://cdn.rawgit.com/mathjax/MathJax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
-->
<!--
    <script id="MathJax-script"
    src="{{ url_for('static', filename='mathjax/tex-svg.js') }}"></script
-->
<!--
the following is for Mathjax 3 that is loaded in the Docker build process using npm
    <script id="MathJax-script" async
    src="{{ url_for('static', filename='mathjax/tex-svg.js') }}"></script>
-->



<!--
the following is for mathjax in a separate docker image connected via docker-compose
    <script id="MathJax-script" async
    src="http://localhost:5009/tex-svg.js"></script>
-->
    <!-- THE FOLLOWING WORKS -->
    <!-- http://docs.mathjax.org/en/latest/web/configuration.html#loading-mathjax -->
<!--
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>
-->
    <!-- The following is described on 
         http://docs.mathjax.org/en/latest/web/configuration.html
         but isn't available -->
    <!--
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.0/es5/latest?tex-svg.js">
    </script>
    -->



<!-- https://physicsderivationgraph.blogspot.com/2020/05/live-display-of-input.html -->
<!-- https://cdn.rawgit.com/mathjax/MathJax/2.7.1/test/sample-dynamic.html -->
<script>
  //
  //  Use a closure to hide the local variables from the
  //  global namespace
  //
  (function () {
    var QUEUE = MathJax.Hub.queue;  // shorthand for the queue
    var math = null, box = null;    // the element jax for the math output, and the box it's in

    //
    //  Hide and show the box (so it doesn't flicker as much)
    //
    var HIDEBOX = function () {box.style.visibility = "hidden"}
    var SHOWBOX = function () {box.style.visibility = "visible"}

    //
    //  Get the element jax when MathJax has produced it.
    //
    QUEUE.Push(function () {
      math = MathJax.Hub.getAllJax("MathOutput")[0];
      box = document.getElementById("box");
      SHOWBOX(); // box is initially hidden so the braces don't show
    });

    //
    //  The onchange event handler that typesets the math entered
    //  by the user.  Hide the box, then typeset, then show it again
    //  so we don't see a flash as the math is cleared and replaced.
    //
    window.UpdateMath = function (TeX) {
      QUEUE.Push(
          HIDEBOX,
          ["resetEquationNumbers",MathJax.InputJax.TeX],
          ["Text",math,"\\displaystyle{"+TeX+"}"],
          SHOWBOX
      );
    }
  })();
</script>
<script>
  //
  //  IE doesn't fire onchange events for RETURN, so
  //   use onkeypress to do a blur (and refocus) to
  //   force the onchange to occur
  //
  if (MathJax.Hub.Browser.isMSIE) {
    MathInput.onkeypress = function () {
      if (window.event && window.event.keyCode === 13) {this.blur(); this.focus()}
    }
  }
</script>






    <!-- updated sorttable from 
         https://github.com/stuartlangridge/sorttable/blob/master/sorttable/sorttable.js
         to fix this problem
         https://github.com/stuartlangridge/sorttable/issues/6
    -->
    <!-- https://www.kryogenix.org/code/browser/sorttable/ -->
    <script type="text/javascript" src="{{ url_for('static', filename='sorttable.js') }}"></script>
    <style>
      /*
         Sortable tables 
         https://www.kryogenix.org/code/browser/sorttable/
         https://github.com/allofphysicsgraph/proofofconcept/issues/68
       */
      table.sortable thead {
        background-color:#eee;
        color:#666666;
        font-weight: bold;
        cursor: default;
      }
    </style>


   <style>
      /* https://css-tricks.com/on-target/ */
      :target {
        background: yellow;
      }
   </style>



    <!-- https://www.w3schools.com/html/html_css.asp -->
    <style>
      /* SVG region 
         https://chartio.com/resources/tutorials/how-to-resize-an-svg-when-the-window-is-resized-in-d3-js/
      */

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
      /* end SVG region */

      /* 
       reveal options if radio is checked
       https://css-tricks.com/exposing-form-fields-radio-button-css/
       https://github.com/allofphysicsgraph/proofofconcept/issues/130
      */
.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[type="radio"]:checked ~ &,
  input[type="checkbox"]:checked ~ & {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
  }
}



      /* TOC formatting
        from https://www.tipsandtricks-hq.com/simple-table-of-contents-toc-using-pure-html-and-css-code-9217  */
      #toc_container {
        background: #f9f9f9 none repeat scroll 0 0;
        border: 1px solid #aaa;
        display: table;
        font-size: 95%;
        margin-bottom: 1em;
        padding: 20px;
        width: auto;
      }

      .toc_title {
        font-weight: 700;
        text-align: center;
      }

      /* table of contents ordering 
      from https://jsfiddle.net/jasonkarns/6xkzv37e/
      linked from https://stackoverflow.com/questions/14138507/creating-table-of-contents-in-html/21684020#21684020 */
/*      ol {
        counter-reset: item
      }
      li {
        display: block
      }
      li:before {
        content: counters(item, ".")" ";
        counter-increment: item
      }
*/
      /* a bit of space around the edges looks cleaner */
      html, body {
        height: 100%;
        margin: 5;
        padding: 5;
      }

      /* CSS trick for forcing images to fit inside window */
      img {
        padding: 0;
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
      }
    </style>


