
    <!-- Google Sign In
    https://developers.google.com/identity/sign-in/web/sign-in#before_you_begin
    https://github.com/allofphysicsgraph/proofofconcept/issues/119
      -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="897942275285-el3oi54h7fg973tnqp6b0ioou46h5t16.apps.googleusercontent.com">



<!-- to prevent user from clicking on button twice,
     the following changes the button text and disabled the button -->
<!-- TODO: when the button is returned in a form to controller.py,
     I don't know how to get the request.form() content -->
<!-- from https://www.the-art-of-web.com/javascript/doublesubmit/ -->
<script type="text/javascript">
  function checkForm(form) // Submit button clicked
  {
    // check form input values
    form.submit_button.disabled = true;
    form.submit_button.value = "Please wait...";
    return true;
  }
  function resetForm(form) // Reset button clicked
  {
    form.submit_button.disabled = false;
    form.submit_button.value = "Submit";
  }
</script>


<!-- highlight buttons and text input in yellow -->
<style>
input, textarea, select {
        background: #f9f909;
        color: black;
        cursor: default;
    }
</style>



    <!-- if inclusion of Mathjax on pages which don't have latex becomes a significant source of latency, see
         http://docs.mathjax.org/en/latest/web/typeset.html#loading-mathjax-only-on-pages-with-math -->
    <!-- http://docs.mathjax.org/en/latest/input/tex/eqnumbers.html -->
    <script type="text/x-mathjax-config;executed=true">
      MathJax.Hub.Config({ TeX: { equationNumbers: {autoNumber: "AMS"} } });
    </script>
    <script type="text/javascript">
      window.MathJax = {
        tex: {
          tags: 'ams'
        }
      };
    </script>
    <!-- https://docs.mathjax.org/en/v2.7-latest/start.html -->
<!--
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML">
    </script>
-->
<!--
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
-->
<!--
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
-->
<!-- the following works for live preview of input based on
     https://cdn.rawgit.com/mathjax/MathJax/2.7.1/test/sample-dynamic.html
<script type="text/javascript" src="https://cdn.rawgit.com/mathjax/MathJax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
-->
<!--
    <script id="MathJax-script"
    src="{{ url_for('static', filename='mathjax/tex-svg.js') }}"></script
-->
<!--
the following is for Mathjax 3 that is loaded in the Docker build process using npm
-->
<!--
    <script id="MathJax-script" async
    src="{{ url_for('static', filename='mathjax/tex-svg.js') }}"></script>
-->
    <script id="MathJax-script" async
    src="{{ url_for('static', filename='mathjax/tex-chtml.js') }}"></script>


<!--
the following is for mathjax in a separate docker image connected via docker-compose
    <script id="MathJax-script" async
    src="http://localhost:5009/tex-svg.js"></script>
-->
    <!-- THE FOLLOWING WORKS -->
    <!-- http://docs.mathjax.org/en/latest/web/configuration.html#loading-mathjax -->
<!--
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>
-->
    <!-- The following is described on
         http://docs.mathjax.org/en/latest/web/configuration.html
         but isn't available -->
    <!--
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.0/es5/latest?tex-svg.js">
    </script>
    -->



<!-- https://physicsderivationgraph.blogspot.com/2020/05/live-display-of-input.html -->
<script>
  function convert(input_id, display_checkbox_id, preview_id, output_id) {
    //console.log(input_id)
    //console.log(display_checkbox_id)
    //console.log(preview_id)
    //console.log(output_id)
    //
    //  Get the TeX input
    //
    var input = document.getElementById(input_id).value.trim();
    //
    //  Disable the display and render buttons until MathJax is done
    //
    var display = document.getElementById(display_checkbox_id);
    var button = document.getElementById(preview_id);
    button.disabled = display.disabled = true;
    //
    //  Clear the old output
    //
    output = document.getElementById(output_id);
    output.innerHTML = '';
    //
    //  Reset the tex labels (and automatic equation numbers, though there aren't any here).
    //  Get the conversion options (metrics and display settings)
    //  Convert the input to CommonHTML output and use a promise to wait for it to be ready
    //    (in case an extension needs to be loaded dynamically).
    //
    MathJax.texReset();
    var options = MathJax.getMetricsFor(output);
    options.display = display.checked;
    MathJax.tex2chtmlPromise(input, options).then(function (node) {
      //
      //  The promise returns the typeset node, which we add to the output
      //  Then update the document to include the adjusted CSS for the
      //    content of the new equation.
      //
      output.appendChild(node);
      MathJax.startup.document.clear();
      MathJax.startup.document.updateDocument();
    }).catch(function (err) {
      //
      //  If there was an error, put the message into the output instead
      //
      output.appendChild(document.createElement('pre')).appendChild(document.createTextNode(err.message));
    }).then(function () {
      //
      //  Error or not, re-enable the display and render buttons
      //
      button.disabled = display.disabled = false;
    });
  }
</script>






    <!-- updated sorttable from
         https://github.com/stuartlangridge/sorttable/blob/master/sorttable/sorttable.js
         to fix this problem
         https://github.com/stuartlangridge/sorttable/issues/6
    -->
    <!-- https://www.kryogenix.org/code/browser/sorttable/ -->
    <script type="text/javascript" src="{{ url_for('static', filename='sorttable.js') }}"></script>
    <style>
      /*
         Sortable tables
         https://www.kryogenix.org/code/browser/sorttable/
         https://github.com/allofphysicsgraph/proofofconcept/issues/68
       */
      table.sortable thead {
        background-color:#eee;
        color:#666666;
        font-weight: bold;
        cursor: default;
      }
    </style>


   <!-- when clicking on an named anchor, highlight the hyperlinked text -->
   <style>
      /* https://css-tricks.com/on-target/ */
      :target {
        background: yellow;
      }
   </style>



    <!-- https://www.w3schools.com/html/html_css.asp -->
    <style>
      /* SVG region
         https://chartio.com/resources/tutorials/how-to-resize-an-svg-when-the-window-is-resized-in-d3-js/
      */

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
      /* end SVG region */

      /*
       reveal options if radio is checked
       https://css-tricks.com/exposing-form-fields-radio-button-css/
       https://github.com/allofphysicsgraph/proofofconcept/issues/130
      */
.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[type="radio"]:checked ~ &,
  input[type="checkbox"]:checked ~ & {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
  }
}



      /* TOC formatting
        from https://www.tipsandtricks-hq.com/simple-table-of-contents-toc-using-pure-html-and-css-code-9217  */
      #toc_container {
        background: #f9f9f9 none repeat scroll 0 0;
        border: 1px solid #aaa;
        display: table;
        font-size: 95%;
        margin-bottom: 1em;
        padding: 20px;
        width: auto;
      }

      .toc_title {
        font-weight: 700;
        text-align: center;
      }

      /* table of contents ordering
      from https://jsfiddle.net/jasonkarns/6xkzv37e/
      linked from https://stackoverflow.com/questions/14138507/creating-table-of-contents-in-html/21684020#21684020 */
/*      ol {
        counter-reset: item
      }
      li {
        display: block
      }
      li:before {
        content: counters(item, ".")" ";
        counter-increment: item
      }
*/
      /* a bit of space around the edges looks cleaner */
      html, body {
        height: 100%;
        margin: 5;
        padding: 5;
      }

      /* CSS trick for forcing images to fit inside window */
      img {
        padding: 0;
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
      }
    </style>
