
<table border="1" class="sortable">
  <tr>
    <th>Index</th>
    <th>Inference Rule</th>
    <th>Input<BR>local ID</th>
    <th>Input latex</th>
<!--    <th>Feed<BR>local ID</th> -->
    <th>Feeds latex</th>
    <th>Output<BR>local ID</th>
    <th>Output latex</th>
    <th>step validity</th>
    <th>notes</th>
  </tr>
{% for step_id, this_dict in dat["derivations"][deriv_id]['steps'].items() %}
  <tr>
    <td>
      <a name="{{ step_id }}">
        <a href="{{ url_for('modify_step', deriv_id=deriv_id, step_id=step_id) }}?referrer=_table_of_derivation_steps">
          <!-- linear index -->
          {{ this_dict['linear index'] }}
        </a>
      </a>
    </td>
    <td><a href="{{ url_for('list_all_inference_rules') }}?referrer=_table_of_derivation_steps#{{ this_dict['inf rule'] }}">{{ this_dict['inf rule'] }}</a></td>
    <!-- input local ID -->
    <td>
      <OL>
        {% for local_id in this_dict['inputs'] %}
          <LI> <!--<a href="{ { url_for('list_all_expressions')}}?referrer=_table_of_derivation_steps#{ { dat["expr local to global"][local_id] }}"> -->
          {{ local_id }}</a></LI>
        {% endfor %}
      </OL>
    </td>
    <!-- input latex -->
    <td>
      <OL>
{% for local_id in this_dict['inputs'] %}
        <LI>
          <a href="{{ url_for('list_all_expressions')}}?referrer=_table_of_derivation_steps#{{ dat["expr local to global"][local_id] }}">
          {{ dat["expr local to global"][local_id] }}</a>: <BR>
          \({{ dat["expressions"][ dat["expr local to global"][local_id]]['latex'] }}\)<BR>
        </LI>
        {% endfor %}
      </OL>
    </td>
    <!-- feeds local ID -->
    <!--
    <td>
      <OL>
{% for local_id in this_dict['feeds'] %}
         <LI> <a href="{{ url_for('list_all_expressions')}}#{{ dat["expr local to global"][local_id] }}">
          {{ local_id }}</a>
         </LI>
        {% endfor %}
      </OL>
    </td>
    -->
    <!-- feeds latex -->
    <td>
      <OL>
{% for local_id in this_dict['feeds'] %}
         <LI> <a href="{{ url_for('list_all_expressions')}}?referrer=_table_of_derivation_steps#{{ dat["expr local to global"][local_id] }}">
          {{ dat["expr local to global"][local_id] }}</a>: <BR>
          \({{ dat["expressions"][ dat["expr local to global"][local_id]]['latex'] }}\)<BR>
         </LI>
        {% endfor %}
      </OL>
    </td>
    <!-- output local ID -->
    <td>
      <OL>
       {% for local_id in this_dict['outputs'] %}
       <LI><!-- <a href="{ { url_for('list_all_expressions')}}?referrer=_table_of_derivation_steps#{ { dat["expr local to global"][local_id] }}"> -->
          {{ local_id }}</a>
       </LI>
        {% endfor %}
      </OL>
    </td>
    <!-- output latex -->
    <td>
      <OL>
 {% for local_id in this_dict['outputs'] %}
       <LI>
          <a href="{{ url_for('list_all_expressions')}}?referrer=_table_of_derivation_steps#{{ dat["expr local to global"][local_id] }}">
          {{ dat["expr local to global"][local_id] }}</a>: <BR>
          \({{ dat["expressions"][ dat["expr local to global"][local_id]]['latex'] }}\)<BR>
       </LI> 
     {% endfor %}
      </OL>
    </td>
    <!-- from sympy -->
    <td>{{ derivation_validity_dict[step_id] }}</td>
    <td>{{ this_dict['notes'] }}</td>
  </tr>
{% endfor %}
  <caption>
    <a name="table of derivation steps">
      Physics Derivation Graph: Steps for {{ dat["derivations"][deriv_id]['name'] }}
    </a>
  </caption>
<P>Clicking on the step index will take you to the page where you can edit that step.</P>

</table>

