
<table border="1"  class="sortable">
  <tr>
    <th>inf rule name</th>
    <th>inputs</th>
    <th>outputs</th>
    <th>feeds</th>
    <th>Latex</th>
    <th>Used in derivations</th>
  </tr>
{% for infrule, infrule_use_list in infrule_popularity_dict.items() %}
  <tr>
    <td><a name="{{ infrule }}">{{ infrule }}</a></td>
    <td>{{ infrules_dict[infrule]['number of inputs'] }}</td>
    <td>{{ infrules_dict[infrule]['number of outputs'] }}</td>
    <td>{{ infrules_dict[infrule]['number of feeds'] }}</td>
    <td>{{ infrules_dict[infrule]['latex']}}</td> <!-- https://jinja.palletsprojects.com/en/2.11.x/templates/#replace -->
    <td>
      <UL>
        {% for deriv_name in infrule_use_list %} 
        <LI><a href="{{ url_for('review_derivation', name_of_derivation=deriv_name) }}">{{ deriv_name }}</a></LI>
        {% endfor %}
      </UL>
    </td>
  </tr>
{% endfor %}
  <caption>
    <a name="table of inference rules">
      Physics Derivation Graph: {{ infrule_popularity_dict.keys()|length }} Inference Rules
    </a>
  </caption>
</table>


