
<table border="1"  class="sortable">
  <tr>
    <th>expression ID</th>
    <th>Latex</th>
    <th>list of symbols</th>
<!--    <th>Abstract Syntax Tree</th> -->
    <th>name</th>
    <th>notes</th>
    <th>used in derivation</th>
  </tr>
{% for expr_id, expr_use_list in expression_popularity_dict.items() %}
  <tr>
    <td><a name="{{ expr_id }}">{{ expr_id}}</a></td>
    <td>
      <!-- until the MathJax server is local, this is too slow
           https://github.com/allofphysicsgraph/proofofconcept/issues/123
           also, the use of MathJax prevents search of Latex using ctrl+f
           https://github.com/allofphysicsgraph/proofofconcept/issues/121
      \ ( { {  dat["expressions"][expr_id]['latex'] } } \ ) -->
      {{ dat["expressions"][expr_id]['latex'] }}
    </td>
    <td>
      <UL>
      {% for symbol_tup in dat["expressions"][expr_id]['list of symbols'] %}
        <LI>
          <a href="{{ url_for('list_all_symbols') }}?referrer=_table_of_expressions#{{ symbol_tup[0] }}">
            {{ symbol_tup[1] }}
          </a>
        </LI>
      {% endfor %}
      </UL>
    </td>
    <td>{{ dat["expressions"][expr_id]['name'] }}</td>
    <td><small>{{ dat["expressions"][expr_id]['notes'] }}</small></td>
    <td>
      <UL>
        {% for deriv_id in expr_use_list %}
        <LI><a href="{{ url_for('review_derivation', deriv_id=deriv_id) }}">
          {{ dat['derivations'][deriv_id]['name'] }}</a>
        </LI>
        {% endfor %}
      </UL>
    </td>
  </tr>
{% endfor %}
  <caption>
    <a name="table of expressions">
      Physics Derivation Graph: {{ expression_popularity_dict.keys()|length  }} Expressions
    </a>
  </caption>
</table>
