

<table border="1"  class="sortable">
  <tr>
    <th>expression ID</th>
    <th>Latex</th>
    <th>list of symbols</th>
<!--    <th>Abstract Syntax Tree</th> -->
    <th>name</th>
    <th>notes</th>
    <th>used in derivation</th>
  </tr>
{% for expr_id, expr_use_list in expression_popularity_dict.items() %}
  <tr>
    <td><a name="{{ expr_id }}">{{ expr_id}}</a></td>
    <td>\({{ expressions_dict[expr_id]['latex'] }}\)</td>
    <td>
      <UL>
      {% for symbol_tup in expressions_dict[expr_id]['list of symbols'] %}
        <LI>
          <a href="{{ url_for('list_all_symbols') }}#{{ symbol_tup[0] }}">
            {{ symbol_tup[1] }}
          </a>
        </LI>
      {% endfor %}
      </UL>
    </td>
    <td>{{ expressions_dict[expr_id]['name'] }}</td>
    <td><small>{{ expressions_dict[expr_id]['notes'] }}</small></td>
    <td>
      <UL>
        {% for deriv_id in expr_use_list %}
        <LI><a href="{{ url_for('review_derivation', deriv_id=deriv_id) }}">
          {{ deriv_id }}</a>
        </LI>
        {% endfor %}
      </UL>
    </td>
  </tr>
{% endfor %}
  <caption>
    <a name="table of expressions">
      Physics Derivation Graph: {{ expression_popularity_dict.keys()|length  }} Expressions
    </a>
  </caption>
</table>



