
<!-- used by _table_of_symbols.html and modify_step.html and step_review.html -->
<!-- in _table_of_symbols this is wrapped in
     { % for symbol_id, symbol_use_list in symbol_popularity_dict.items() % } -->


    <td><a name="{{ symbol_id }}">{{ symbol_id }}</a></td>
    <!-- category -->
    <td>{{ dat["symbols"][symbol_id]['category'] }}</td>
    <!-- latex -->
    <td>
{{ dat["symbols"][symbol_id]['latex']}}
<BR>
\({{ dat["symbols"][symbol_id]['latex'] }}\)</td>
    <!-- scope -->
    <td>{{ dat["symbols"][symbol_id]['scope'] }}</td>
    <!-- dimensions -->
    <td>
    {% if 'dimensions' in dat["symbols"][symbol_id] %}
      {% if dat["symbols"][symbol_id]['dimensions']['length'] == 0 and 
            dat["symbols"][symbol_id]['dimensions']['time'] == 0 and 
            dat["symbols"][symbol_id]['dimensions']['mass'] == 0 and        
            dat["symbols"][symbol_id]['dimensions']['temperature'] == 0 and        
            dat["symbols"][symbol_id]['dimensions']['electric charge'] == 0 and        
            dat["symbols"][symbol_id]['dimensions']['amount of substance'] == 0 and        
            dat["symbols"][symbol_id]['dimensions']['luminous intensity'] == 0 %}
        dimensionless
      {% else %}
        {% for dim, val in dat["symbols"][symbol_id]['dimensions'].items() %}
          <UL>
            {% if val != 0 %}
              <LI>{{dim}}: {{val}}</LI>
            {% endif %}
          </UL>
        {% endfor %}
      {% endif %}
    {% else %}
      <!--
      { % if current_user.is_anonymous %}
        &nbsp;
      { % else %}
        { % if hide_symbol_forms is not defined %}
        <form method="post" action="">
          {{ dimensional_webform.csrf_token }}
          <div class="form-group">
            <div class="input-group">
              {{ dimensional_webform.revised_text.label }}: {{ dimensional_webform.revised_text(size=10, maxlength=100, id=symbol_id) }}
            </div>
          <button type="submit" class="btn btn-default">Update</button>
          </div>
        </form>
        { % endif %}
      { % endif %}
        -->

    {% endif %}
    </td>
    <!-- name -->
    <td>
    {% if 'name' in dat["symbols"][symbol_id] %}
      {{ dat["symbols"][symbol_id]['name'] }}
    {% endif %}
    </td>
    <!-- value -->
    <td>
    {% if 'values' in dat["symbols"][symbol_id] %}
      {% for entry in dat["symbols"][symbol_id]['values'] %}
        {{ entry['value'] }} &nbsp; {{ entry['units'] }}<BR>
      {% endfor %}
    {% endif %}
    </td>
    <!-- used in derivations -->
    <td>
    {% if symbol_popularity_dict[symbol_id]|length == 0 %}
      {% if current_user.is_anonymous %}
        &nbsp;
      {% else %}
        {% if hide_symbol_forms is not defined %}
        <form method="post" action="">
          <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="submit" name="submit_button" value='delete symbol'>
          <input name="symbol ID to delete" type="hidden" value="{{ symbol_id }}"></input>
        </form>
        {% endif %}
      {% endif %}
    {% else %}
      <UL>
        {% for deriv_id in symbol_popularity_dict[symbol_id] %}
          <LI><a href="{{ url_for('review_derivation', deriv_id=deriv_id) }}">
            {{ dat['derivations'][deriv_id]['name'] }} </a>
          </LI>
        {% endfor %}
      </UL>
    {% endif %}
    </td>
    <!-- references -->
    <td>
    {% if 'references' in dat["symbols"][symbol_id] %}
        <UL>
        {% for str_note in dat["symbols"][symbol_id]['references'] %}
          <!-- https://stackoverflow.com/a/43058043/1164295 -->
          {% if str_note.startswith('http') %}
            <LI><a href="{{ str_note }}">{{ str_note.split('/')[-1] }}</a>
          {% else %}
          <LI> str_note
          {% endif %}

        {% endfor %}
        </UL>
    {% endif %}
    </td>
