
<table border="1"  class="sortable" id="expr_table">
  <tr>
    <th>expression ID</th>
    <th>Latex</th>
    <th>list of symbols</th>
<!--    <th>Abstract Syntax Tree</th> -->
    <th>name</th>
    <th>notes</th>
    <th>used in derivation</th>
  </tr>
{% for expr_id, expr_use_list in expression_popularity_dict.items() %}
{% if expr_id in dat['expressions'].keys() %}

  <tr>
    <td><a name="{{ expr_id }}">{{ expr_id}}</a></td>
    <td>
      <!-- until the MathJax server is local, this is too slow
           https://github.com/allofphysicsgraph/proofofconcept/issues/123
           also, the use of MathJax prevents search of Latex using ctrl+f
           https://github.com/allofphysicsgraph/proofofconcept/issues/121
      \ ( { {  dat["expressions"][expr_id]['latex'] } } \ ) -->
      {{ dat["expressions"][expr_id]['latex'] }}
    </td>
    <td>
      {% if expr_id in expr_dict_with_symbol_list.keys() %}
        <UL>
        {% for symbol_tup in expr_dict_with_symbol_list[expr_id]["list of symbols"] %}
          <LI>
            <a href="{{ url_for('list_all_symbols') }}?referrer=_table_of_expressions#{{ symbol_tup[0] }}">
              {{ symbol_tup[1] }}
            </a>
          </LI>
        {% endfor %}
       </UL>
      {% endif %}
    </td>
    <td>{{ dat["expressions"][expr_id]['name'] }}</td>
    <td>
      <!-- https://stackoverflow.com/a/43058043/1164295 -->
      {% if dat["expressions"][expr_id]['notes'].startswith('http') %}
        <small><a href="{{ dat['expressions'][expr_id]['notes'] }}">{{ dat["expressions"][expr_id]['notes'].split('/')[-1] }}</a></small>
      {% else %}
        <small>{{ dat["expressions"][expr_id]['notes'] }}</small>
      {% endif %}
    </td>
    <td>
      {% if expr_use_list|length == 0 %}
{% if not current_user.is_anonymous %}
<form method="post" action="">
    <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="submit" name="submit_button" value='delete expr'>
    <input name="expr ID to delete" type="hidden" value="{{ expr_id }}"></input>
</form>
{% else %}
   &nbsp;
{% endif %}
      
      {% else %}
      <UL>
        {% for deriv_id in expr_use_list %}
        <LI><a href="{{ url_for('review_derivation', deriv_id=deriv_id) }}">
          {{ dat['derivations'][deriv_id]['name'] }}</a>
        </LI>
        {% endfor %}
      </UL>
      {% endif %}
    </td>
  </tr>
{% endif %}
{% endfor %}
  <caption>
    <a name="table of expressions">
      Physics Derivation Graph: {{ expression_popularity_dict.keys()|length  }} Expressions
    </a>
  </caption>
</table>
