
<table border="1"  class="sortable">
  <tr>
    <th>derivation name</th>
    <th>number of steps</th>
    <th>shares expressions with</th>
  </tr>
{% for deriv_id, deriv_attributes_dict in derivations_popularity_dict.items() %}
  <tr>
    <td>
      <a name="{{ deriv_id }}">
        <a href="{{ url_for('review_derivation', deriv_id=deriv_id) }}">
          {{ dat['derivations'][deriv_id]['name'] }}
        </a>
      </a>
    </td>
    <td>{{ deriv_attributes_dict['number of steps'] }}</td>
    <td>
      <UL>
        {% for tup in deriv_attributes_dict['shares expressions with'] %} 
        <LI><a href="{{ url_for('review_derivation', deriv_id=tup[0]) }}">{{ dat['derivations'][tup[0]]['name'] }}</a></LI>
        {% endfor %}
      </UL>
    </td>
  </tr>
{% endfor %}
  <caption>
    <a name="table of derivations">
      Physics Derivation Graph: {{ derivations_popularity_dict.keys()|length }} Derivations
    </a>
  </caption>
</table>


