
<table border="1"  class="sortable">
  <tr>
    <th>symbol ID</th>
    <th>category</th>
    <th>latex</th>
    <th>scope</th>
    <th>measure</th>
    <th>name</th>
    <th>value</th>
    <th>Used in derivations</th>
    <th>references</th>
  </tr>
{% for symbol_id, symbol_use_list in symbol_popularity_dict.items() %}
  <tr>
  {% include '_table_of_symbols_row.html' %}
  </tr>
{% endfor %}
  <caption>
    <a name="table of symbols">
      Physics Derivation Graph: {{ symbol_popularity_dict.keys()|length  }} Symbols
    </a>
  </caption>
</table>
