<!-- unlike all other pages, this page does not inherit from _base.html
     That's because the "sign in" and "navigation" links are not shown at the top of the page -->
<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<HTML lang='en'>
  <head>
    <title>Physics Derivation Graph: {{ title }}</title>

    <meta property="og:type" content="website" /> <!-- https://ogp.me/#types -->
    <meta property="og:site_name" content="Physics Derivation Graph" /> <!-- https://ogp.me/#optional -->
    
    {% include '_js_head.html' %}

    <!-- https://stackoverflow.com/a/15027568/1164295 -->
    <style type="text/css">
      fieldset.inline {
        display: inline;
      }
    </style>
    <!-- defines the default zoom for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>

<!-- inserted by Ben on 2023-08-03, based on snippet from https://analytics.google.com/ -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y7NP6E0QW6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y7NP6E0QW6');
</script>

  <body>

    <center>
      <H2>{{ title }}</H2>
    </center>
    <P>

    see <a href=" {{ url_for('class_notes_subpage', which_class='math402_mathematical_physics_hale') }}">Math 402 Mathematical Physics notes</a>

    {% include '_footer.html' %}

    </body>
</html>
