<!-- unlike all other pages, this page does not inherit from _base.html
     That's because the "sign in" and "navigation" links are not shown at the top of the page -->
<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<HTML lang='en'>
  <head>
    <title>Physics Derivation Graph: {{ title }}</title>

    {% include '_js_head.html' %}

    <!-- https://stackoverflow.com/a/15027568/1164295 -->
    <style type="text/css">
      fieldset.inline {
        display: inline;
      }
    </style>

  </head>
  <body>

    <center>
      <H2>{{ title }}</H2>
    </center>
    <P>
      school: University of Missouri-Rolla (aka Missouri University of Science and Technology)<BR>
      instructor: Barbara Hale<BR>
      start date: 2007-08-30<BR>
      end date: 2007-12-xx<BR>

    <center>
      <H2>Vector Spaces</H2>
    </center>
    <div id="toc_container">
      <p class="toc_title">Contents</p>
      <OL class="toc_list">
        <LI><a href="#notation">Notation</a></LI>
        <LI>Definitions of <a href="#field">field</a>,
          <a href="#space">space</a>,
          <a href="#normed-vector-space">normed vector space</a>,
          <a href="#unitary-vector-space">unitary vector space</a>,
          <a href="#orthogonality">orthogonality</a>,
          <a href="#linear-independence">linear independence</a>,
          <a href="#metric-space">metric space</a>,
          <a href="#completeness">completeness</a>
          <a href="#basis-vectors">basis vectors</a>,
          <a href="#dimension">dimension</a>
      </OL>
    </div>
    <P>
      <a id="notation">Notation</a>:
      <UL>
        <LI>\(\in\) = element of</LI>
        <LI>\(\exists\) = there exists</LI>
        <LI>\(\backepsilon\) = such that</LI>
        <LI>\(\forall\) = for every</LI>
        <LI>iff = if and only if</LI>
        <LI>\(\vec{x}\) = vector</LI>
        <LI>\(\alpha\) = complex number</LI>
        <LI>\(a\) = real number</LI>
        <LI>\(^*\) = complex conjugate</LI>
        <LI>\(\vec{r}\) = three dimensional position vector with components \((x,y,z)\)</LI>
      </UL>
    <hr>

    <P>
      <a id="field">
      Definition of <a href="https://en.wikipedia.org/wiki/Field_(mathematics)">field</a></a>:<BR>
      \(F \equiv \{\alpha, \beta, \gamma, ...\}\) where \(\alpha, \beta, \gamma, ...\) are
      (in general) complex numbers and
      <UL>
        <LI>\(\alpha+\beta\) and \(\alpha-\beta\) are defined and are elements of F. (\(\alpha+\beta \in F\) and \(\alpha-\beta \in F\).)</LI>
        <LI>\(\alpha+(\beta+\gamma)=(\alpha+\beta)+\gamma\) (Associative Property of addition) and <BR>
            \(\alpha\cdot(\beta\cdot \gamma)=(\alpha\cdot \beta)\cdot \gamma\) (Associative Property of multiplication) and <BR>
            \(\alpha\cdot(\beta+\gamma)=(\alpha\cdot \beta)+(\alpha\cdot \gamma)\) (distributive property of multiplication over addition)</LI>
        <LI>\(\alpha+\beta=\beta+\alpha\) (commutative property of addition) and <BR>
            \(\alpha\cdot\beta=\beta\cdot \alpha\) (commutative property of multiplication)</LI>
        <LI>The element \(0\) exists where \(a+0=a\) and <BR>
            \(a\cdot 0\)=0 and <BR>
            \(\forall \alpha \in F\) there exists a \(\beta\) such that \(\alpha+\beta=0\).</LI>
        <LI>an identity, \(E\), exists such that \(E\cdot \alpha=\alpha \forall \alpha\); e.g., \(E=1\)</LI>
        <LI>at least one element of \(F \neq 0\)</LI>
        <LI>\(\forall \alpha \in F, \exists \beta \in F \backepsilon \alpha\cdot \beta = E\); e.g., \(\beta \equiv \alpha^{-1}\)<BR>
          Read as "For every \(\alpha\) in field \(F\) there exists \(\beta\) in \(F\) such that the product of \(\alpha\cdot\beta\) is element E (unity). In other words, \(\beta\) is the inverse of \(\alpha\). "</LI>
      </UL>
      <hr>

      <P>
        <a id="space">
        Definition of <a href="https://en.wikipedia.org/wiki/Space_(mathematics)">space</a></a>:<BR>
        \(\vec{S} \equiv \{ \vec{x}, \vec{y}, \vec{z},\vec{v},...\}\) where \(\vec{x}, \vec{y}, \vec{z},\vec{v},...\)
        are mathematical objects ("vectors") over field \(F\) and
      <UL>
        <LI>\(\vec{x}+\vec{y} \in \vec{S} \forall \vec{x}\in\vec{S}\) and \(\vec{y}\in\vec{S}\); and<BR>
          \(\alpha\vec{x}\in\vec{S} \forall \alpha\in F\) and \(\vec{x}\in\vec{S}\)</LI>
        <LI>\(\vec{x}+\vec{y}=\vec{y}+\vec{x}\)</LI>
        <LI>\(\vec{x}+(\vec{y}+\vec{z})=(\vec{x}+\vec{y})+\vec{z}\)</LI>
        <LI>\(\alpha(\vec{x}+\vec{y})=\alpha\vec{x}+\alpha\vec{y}\)</LI>
        <LI>The "zero" or "null" vector \(\vec{0}\) exists (and \(\vec{0}\in\vec{S}\)) \(\backepsilon \vec{x}+\vec{0}=\vec{x}\) and \(\alpha\vec{0}=\vec{0}\)<BR>
          also, \(\forall \vec{x}\in\vec{S} \exists \vec{y}\in\vec{S}\backepsilon \vec{x}+\vec{y}=\vec{0}\), e.g., \(\vec{y}\) is the additive inverse of \(\vec{x}\).</LI>
      </UL>

      <P>Examples of vector spaces:
        <UL>
          <LI>three dimensional Euclidean space. (The \(\vec{r}\) coordinate space with \(F\) being the real numbers.)</LI>
          <LI>n-dimensional vector space over the field of complex numbers; \(vec{x}=(a_1, a_2,...,a_n)\)</LI>
          <LI>set of all real, continuous functions \(f(x)\) on \([0,1]\). Note that \(f(x)=\vec{y}\), a vector element of \(\vec{S}\).</LI>
          <LI>set of all complex functions \(\Psi(x)\) with <a href="https://en.wikipedia.org/wiki/Domain_of_a_function">domain</a> \(-\infty \lt x \lt \infty \backepsilon \int \Psi^* \Psi \) is finite<BR>
          This is sometimes called \(L^2\), a Hilbert space of all square integrable functions</LI>
          <LI>set of solutions to \(\nabla^2f(\vec{r})=0\), or \(\nabla^2f(\vec{r})=k^2\) for real \(k\).</LI>
          <LI>set of functions \(\Psi(\vec{r})\) where \(|\vec{r}|\leq\infty\) and where the integral over all space \(\int|\Psi(\vec{r})|^2d^3x\) is finite.</LI>
        </UL>

      <P>n-dimensional vector space over the field of real numbers is described by
        \begin{equation}
        \vec{x} = x_1 \hat{e}^1 + x_2 \hat{e}^2 + ... + x_n \hat{e}^n
        \end{equation}
        where \(\hat{e}^1=(1,0,...0)\) and \(\hat{e}^2=(0,1,...,0)\). The \(\hat{e}^i\) are called basis vectors.<BR>
        A short-hand notation for \(\vec{x}\) is
        \begin{equation}
        \vec{x} = (x_1, x_2, ..., x_n)
        \end{equation}

      <hr>
      <P>
        <a id="normed-vector-space">
        A <a href="https://en.wikipedia.org/wiki/Normed_vector_space">normed vector space</a></a>
         is a vector space in which \(\forall \vec{x}\in\vec{S}\) a quantity defined
        to be in the norm of \(\vec{x}\), denoted as \(||\vec{x}||\), exists. The norm must satisfy
        <UL>
          <LI>\(||\vec{x}|| \geq 0\)</LI>
          <LI>\(||\alpha\vec{x}|| = |\alpha|\cdot||\vec{x}||\)</LI>
          <LI>\(||\vec{x}+\vec{y}||\leq||\vec{x}||+||\vec{y}||\). This is called the <a href="https://en.wikipedia.org/wiki/Minkowski_inequality">Minkowski inequality</a></LI>
        </UL>
        \(||\vec{x}||=0\) iff \(\vec{x}=\vec{0}\)

        <P>
          <i>Example</i>: <BR>
            In an n-dimensional Euclidean space with \(\vec{x}=(a_1, a_2, ..., a_n)\) then<BR>
          \begin{equation}
          ||\vec{x}||=\sqrt{|a_1|^2+|a_2|^2+...+|a_n|^2}
          \end{equation}

<hr>
       <P><a id="unitary-vector-space">
         Unitary vector space, also known as a Hermitian vector space, also known as a complex <a href="https://en.wikipedia.org/wiki/Inner_product_space">inner product spaces</a>.
         </a>
        <P>A vector space is unitary iff it is possible to define a special operation called the inner product (or scalar product) \((\vec{x}, \vec{y}) \forall \vec{x},\vec{y}\in\vec{S}\).
          The inner product must satisfy
          <UL>
            <LI>\((\vec{x},\vec{y})=(\vec{y},\vec{x})^*\)</LI>
            <LI>\((\vec{x},\vec{y}+\vec{z})=(\vec{x},\vec{y}) + (\vec{x},\vec{z})\)</LI>
            <LI>\((\vec{x},\alpha\vec{y})=\alpha(\vec{x},\vec{y})\)</LI>
            <LI>\((\vec{x},\vec{x})\geq 0\) and \((\vec{x},\vec{x})=0\) iff \(\vec{x}=\vec{0}\)</LI>
          </UL>
          From the above it can be shown that
          \begin{equation}
          (\alpha\vec{x},\vec{y})=\alpha^*(\vec{x},\vec{y})
          \end{equation}
          and
          \begin{equation}
          |(\vec{x},\vec{y})|^2 \leq (\vec{x},\vec{x})\cdot (\vec{y},\vec{y})
          \end{equation}
          which is called the <a href="https://en.wikipedia.org/wiki/Cauchy%E2%80%93Schwarz_inequality">Cauchy-Shwartz Inequality</a>.
        <P>Example<BR>
          In an n-dimensional vector space,
          \begin{equation}
          (\vec{x},\vec{y}) = x_1^*\ y^1 + x_2^*\ y^2 + ... + x_n^*\ y^n
          \end{equation}
      <P>In matrix notation,
        \begin{equation}
        (\vec{x},\vec{y}) = (x_1^*, x_2^*, ..., x_n^*)\cdot
        \begin{bmatrix}
           y^1 \\
           y^2 \\
           \vdots \\
           y^n
         \end{bmatrix}
         = \vec{x}^{*T} \vec{y}
        \end{equation}
        where \(T\) is the <a href="https://en.wikipedia.org/wiki/Transpose">transpose</a> operation and \(\vec{x}\) and \(\vec{y}\) are matrices.

      <hr>
      <P>
        <a id="orthogonality">
          Definition of <a href="https://en.wikipedia.org/wiki/Orthogonality#Euclidean_vector_spaces">orthogonality</a>:
          </a><BR>
          Two vectors \(\vec{x}\) and \(\vec{y}\) are said to be orthogonal if \((\vec{x},\vec{y})=0\).

      <hr>
      <P>
        <a id="linear-independence">
          Definition: the vectors \(\vec{x}_1, \vec{x}_2, ..., \vec{x}_n\) are said to be linearly independent if
          </a><BR>
          \begin{equation}
          \alpha^1\vec{x}_1 + \alpha^2\vec{x}_2 + ... + \alpha^n \vec{x}_n\ \texttt{iff}\ \alpha^i=0
          \end{equation}
          Any set of non-zero mutually orthogonal vectors are linearly independent.

      <hr>
      <p>
        <a id="metric-space">
          A vector space is a <i>metric space</i> iff
        </a>
        for every \(\vec{x}\) and \(\vec{y}\) in \(\vec{S}\) it is possible to define a <a href="https://en.wikipedia.org/wiki/Real_number">real number</a> (written \(d(\vec{x},\vec{y})\) and called the metric) such that
        <UL>
          <LI>\(d(\vec{x},\vec{y})=0\)</LI>
          <LI>\(d(\vec{x},\vec{y}) \leq d(\vec{x},\vec{z}) + d(\vec{y},\vec{z})\ \forall\ \vec{z}\in\vec{S}\)</LI>
        </UL>
        Every <a href="#normed-vector-space">normed vector space</a> is a metric space with \(d(\vec{x},\vec{y})=||\vec{x}-\vec{y}||\).

        <hr>
        <p>
        A <a href="#normed-vector-space">normed vector space</a> \(\vec{S}\) is <a id="completeness">complete</a> iff every Cauchy sequence of vectors \(\{\vec{x}_n\}\)
        <hr>
        <p>
        <a id="basis-vectors">basis vectors</a>,
        <hr>
        <p>
        <a id="dimension"><a href="https://en.wikipedia.org/wiki/Dimension_(vector_space)">dimension</a></a>


    {% include '_footer.html' %}

    </body>
</html>
