{% extends "_base.html" %}
{% block content %}

<P>This form is not in use; for an account please <a href="{{ url_for('faq')?referrer=create_new_account#contact }}">contact the owner</a>.
<!-- alternatively, see https://flask-user.readthedocs.io/en/latest/index.html -->

<P>
  <form method=post action="">
  {{ webform.csrf_token }}
      <div class="form-group">
        <div class="input-group">
          <P>{{ webform.username.label }}:    {{ webform.username }}
          <P>{{ webform.email.label }}: {{ webform.email }}
	  <P>{{ webform.password.label }}:  {{ webform.password }}
	  <P>{{ webform.confirm.label }}:  {{ webform.confirm }}
</div>
<!--<input type=submit value=Register>-->

 <button type="submit" class="btn btn-default">Add</button>

 </div>
		</form>

{% endblock %}
