{% extends "base.html" %}
{% block content %}

<!-- http://stackoverflow.com/questions/9573178/d3-force-directed-layout-with-bounding-box -->

<!-- http://bl.ocks.org/d3noob/8329447 -->
<!-- http://jsonlint.com/ -->
<!-- http://stackoverflow.com/questions/24692002/i-want-to-distinguish-the-link-of-d3-js-force-graph-by-the-thickness -->
<!-- http://stackoverflow.com/questions/23986466/d3-force-layout-linking-nodes-by-name-instead-of-index -->
<!-- http://bl.ocks.org/mbostock/4062045 -->
<!-- http://www.d3noob.org/2013/03/d3js-force-directed-graph-example-basic.html -->

<script src="{{ url_for('static', filename='d3.min.js') }}"></script>
<!--
<script src="/static/d3.v3.min.js"></script>
-->
<!--
<script src="https://allofphysicsgraph.github.io/proofofconcept/site/javascript_libraries/d3/d3.v3.min.js"></script>
-->

<script>
  console.log('hello');
</script>

<script>

var w = 500,
    h = 300;

var circleWidth = 5;

var palette = {
      "lightgray": "#819090",
      "gray": "#708284",
      "mediumgray": "#536870",
      "darkgray": "#475B62",

      "darkblue": "#0A2933",
      "darkerblue": "#042029",

      "paleryellow": "#FCF4DC",
      "paleyellow": "#EAE3CB",
      "yellow": "#A57706",
      "orange": "#BD3613",
      "red": "#D11C24",
      "pink": "#C61C6F",
      "purple": "#595AB7",
      "blue": "#2176C7",
      "green": "#259286",
      "yellowgreen": "#738A05"
  }

var force = d3.layout.force()
    .gravity(0.08)
    .charge(-1000) // A negative value results in node repulsion, while a positive value results in node attraction.
//    .linkDistance(300)
    .size([w, h]);

var vis = d3.select("#area1")
    .append("svg:svg")
      .attr("class", "stage")
      .attr("width", w)
      .attr("height", h);

///*
// build the arrow
vis.append("svg:defs").selectAll("marker")
    .data(["end"])
  .enter().append("svg:marker")
    .attr("id", String)
    .attr("viewBox", "0 -5 10 10")
    .attr("refX", 15)
    .attr("refY", -1.5)
    .attr("markerWidth", 12)
    .attr("markerHeight", 12)
    .attr("orient", "auto")
  .append("svg:path")
    .attr("d", "M0,-5L10,0L0,5");
//*/


// load the external data
d3.json("{{ url_for('static', filename='frequency_relation_T_f.json') }}", function(error, root) {
  //console.log(root);
  console.log(root.nodes);
  console.log(root.links);

  force
      .nodes(root.nodes)
      .links(root.links);

  var link = vis.selectAll(".link")
        .data(root.links)
        .enter().append("line")
          .attr("class", "link")
          .attr("stroke", "#666") // #CCC is a light gray 
          .attr("fill", "none")
          .attr("marker-end", "url(#end)");
    
  var node = vis.selectAll("circle.node")
      .data(root.nodes)
      .enter().append("g")
      .attr("class", "node")
      .call(force.drag);

  node.append("svg:circle")
//      .attr("cx", function(d) { return d.x; })
//      .attr("cy", function(d) { return d.y; })
      .attr("r", circleWidth)
      .attr("fill", palette.darkgray )

  node.append("text")
      .text(function(d, i) { return d.label; })
      .attr("x",  5) // positive value moves text right of origin
      .attr("y",  -3) // positive value moves text up from origin
      .attr("font-family",  "Bree Serif")
      .attr("fill",    palette.red)
      .attr("font-size",    "1em" )
      //.attr("text-anchor",  function(d, i) { if (i>0) { return  "beginning"; }      else { return "end" } })

  node.append("image")
      .attr("xlink:href", function(d, i) { return d.img; } )
      // setting x and y both to zero is redundant -- those are the default values
      .attr("x", 0) // off-set from center of node; upper left corner of picture is origin
      .attr("y", 0)
      .attr("width", function(d, i) { return d.width/2; }) // without both width and height, image does not display
//      .attr("width", 200) // without both width and height, image does not display
      .attr("height", function(d, i) { return d.height/2; })

  force.on("tick", function(e) {
    node.attr("transform", function(d, i) {     
      return "translate(" + d.x + "," + d.y + ")"; 
    });
    
    link.attr("x1", function(d)   { return d.source.x; })
        .attr("y1", function(d)   { return d.source.y; })
        .attr("x2", function(d)   { return d.target.x; })
        .attr("y2", function(d)   { return d.target.y; })
  }); // force.on

});

</script>

<P>Hello</P>

{% endblock %}

