{% extends "_base.html" %}
{% block content %}

<H2>About the project</H2>
<P><i>What is the status of the project?</i><BR>
As of March 2018, a single developer is actively contributing to the project in his spare time. A few collaborators also contribute.</P>


<P><i>How to contribute to the Physics Derivation Graph?</i><BR>
If you are a physicist, mathematician, or logician of any type, feedback would be useful.<BR>
If you have derivations to add, <a href="how_to_build_the_physics_derivation.html">read this.</a> If you're still interested, <a href="#contact">contact us</a>.<BR>
If you are a researcher in another field (biology, computer science, chemistry, linguistics, etc), do you think this approach applies to your field?<BR>
If you are a programmer and would like to review the code, comments are welcome. Pulls and merges are also possible. Feel free to create a fork.</P>

<a name="contact">
<P><i>How to contact the project owner?</i><BR>
Email is the best method: ben.is.located AT gmail.com
</P>

<H3>Scope</H3>
<P><i>What is an inference rule?</i><BR>
An inference rule is the atomic step of logic that relates two mathematical expressions. See the full explanation <a href="inference_rules.html">on this page</a>.
<P>

<P><i>What is the role of proofs in the Physics Derivation Graph?</i><BR>
The Physics Derivation Graph does not prove anything; it merely documents the mathematical manipulations applied in Physics. 
</P>

<P><I>Does use of the Physics Derivation Graph and verification of steps in a derivation mean that the content is valid?</I><BR>
No. Simply carrying out mathematical manipulations of expressions does not necessarily lead to physically valid outcomes. 

<P><I>What's the purpose of the many numerical indicies associated with the expressions and inference rules?</I><BR>
<P>Each expression index is a <a href="https://en.wikipedia.org/wiki/G%C3%B6del_numbering">Godel number</a>. This is a way of uniquely identifying each component in the graph. Separate from that, a unique identifier is also need for inference rules to distinguish the use in different steps.

<H3>Audience</H3>
<P><i>Who is the audience for the Physics Derivation Graph?</i><BR>
Students, teachers, researchers
</P>

<P><i>How could the Physics Derivation Graph benefit students?</i><BR>
For physics students, this project could address questions like, "how much of what is known have I learned?" and "what else is there to learn?"<BR>
For math students, this project could address questions like, "when would I apply what I am learning?" and "what is this useful for?"
</P>

<P><i>How could the Physics Derivation Graph benefit teachers?</i><BR>
For physics teachers, this project could address questions like, "how much of what is known have I learned?" and "what else is there to learn?"<BR>
For math students, this project could address questions like, "when would I apply what I am learning?" and "what is this useful for?"
</P>

<P><i>How could the Physics Derivation Graph benefit researchers in Physics?</i><BR>
This project provides a very detailed explanation of how complex derivations are carried out. It also explicitly enumerates the assumptions necessary to perform derivations.
</P>

<P><i>How could the Physics Derivation Graph be differentiated from crackpot work?</i><BR>
The goal (documenting all known Physics) sounds crackpot-ish. The approach doesn't disallow crackpot statements -- checking derivation steps using a <a href="https://en.wikipedia.org/wiki/Computer_algebra_system">computer algebra system</a> doens't prevent physically nonsensical conclusions.<BR>
The purpose of the Physics Derivation Graph is to document known knowledge. No new knowledge is expected.
</P>

<H2>About the Physics Derivation Graph</H2>
<P><i>What is the output of the Physics Derivation Graph?</i><BR>
The output is typically a graph visualization or a PDF of the same content in a linear text format. 
</P>

<P><i>How can the Physics Derivation Graph be visualized?</i><BR>
The graph output can be visualized in a web browser, a static GraphViz output, and other formats. 
</P>

<P><i>How can the Physics Derivation Graph be checked?</i><BR>
A <a href="https://en.wikipedia.org/wiki/Computer_algebra_system">computer algebra system</a> can be used to verify that each inference rule has been applied correctly to input and output expressions. 
</P>

<P><i>How is the content stored?</i><BR>
The expressions, symbols, and connections are each stored in XML format. This decision was based on a comparative analysis of other options, including MathML and Mathematica.</P>

<P><i>What subfields of Physics is this project capable of including?</i><BR>
Anything from <a href="https://en.wikipedia.org/wiki/Classical_mechanics">Classical mechanics</a> to <a href="https://en.wikipedia.org/wiki/Topological_quantum_field_theory">Topological quantum field theory</a> should be capable of being included. 
</P>

<P><i>Can the Physics Derivation Graph be used to prove Physics?</i><BR>
No. "Proof" is not a well-defined term in Physics. <BR>
From a Stack Exchange <a href="http://physics.stackexchange.com/questions/82493/how-important-is-mathematical-proof-in-physics">answer</a>,<BR>
Mathematical proofs relate to exactly how a MODEL will behave. They don't have much to do with how the real world behaves. If the mathematics is carried out correctly, then one has "proven" how the model will behave.<BR>

The reason for experimentation, is to find out if the completely fictional MODEL that somebody simply made up, behaves in any way the same, as observations suggest the real world behaves. If it doesn't, that is not an indication of a mathematical error, it simply means the fictional model is not a good description of the real world, and must be changed.
</P>

<P><i>Does this approach apply to other fields?</i><BR>
There is not clear application of the concepts used in the Physics Derivation Graph to other fields (ie chemistry, linguistics, economics, mathematics, etc). <BR>
The physics derivation graph can handle proving mathematical identities, ie Euler's equation, but that wasn't the intent. <BR>
The difference between a derivation and proving an identity is that when proving an identity, only one side of the equation is manipulated. For a derivation, both sides of the expression are involved.
</P>

<P><I>Could the Physics Derivation Graph be written in <a href="https://en.wikipedia.org/wiki/Resource_Description_Framework">RDF</a>?</I><BR>
The PDG is oriented towards visualization. <BR>
point 1: SPARQL is the query language for RDF. I don't see much use for querying the graph.<BR>
point 2: Using RDF doesn't help with using a computer algebra system for validation of the step.<BR>

Each step in a derivation could be put in the subject–predicate–object triple form. For example, suppose I have the step
<Pre>
Input 1: y=mx+b
inference rule: multiply both sides by
feed: 2
output 2: 2*y = 2*m*x + 2*b
</Pre>
Putting this in RDF,
<pre>
step 1 | has input | y=mx+b
step 1 | has inference rule | multiply both sides by
step 1 | has feed | 2
step 1 | has output | 2*y = 2*m*x + 2*b
</pre>
While it's easy to convert, I don't see any advantage of using RDF. 
</P>

<H2>Comparison of the Physics Derivation Graph with other projects</H2>
<P><i>How is the Physics Derivation Graph different than <a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia<a/>?</i><BR>
<a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia<a/> is text-based with hyperlinks. <BR>
In contrast, the Physics Derivation Graph is effectively language-independent.
</P>

<P><i>How is the Physics Derivation Graph different than the <a href="https://en.wikipedia.org/wiki/Principia_Mathematica">Principia_Mathematica</a>?</i><BR>
The ambitious effort of Whitehead and Russell to prove the foundations of mathematics is not similar to this project. "Proof" doesn't apply in Physics. This project is about documenting existing knowledge in a format which can be parsed by computers. 
</P>

<P><i>How is the Physics Derivation Graph different than <a href="http://equationmap.com/">Equation Map<a/>?</i><BR>
<a href="http://equationmap.com/">Equation Map<a/> is an interface for putting expressions into a graph format. Inference rules and feeds are not included, nor is checking of the graph via a computer algebra system. <a href="http://equationmap.com/">Equation Map<a/> is proprietary, whereas the Physics Derivation Graph is open source.
</P>

<P><i>How is the Physics Derivation Graph different than <a href="https://www.symbolab.com/">Symbolab</a>?</i><BR>
<a href="https://www.symbolab.com/">Symbolab</a> is a web interface for solving symbolic expressions. There is no graph. 
</P>

<P><i>How is the Physics Derivation Graph different than <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hframe.html">HyperPhysics</a>?</i><BR>
<a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hframe.html">HyperPhysics</a> is similar to <a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia<a/>in that it is text based for edges. <BR>
<a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hframe.html">HyperPhysics</a> has what appears to be a graph (hand drawn), but is actually a multi-level tree -- a concept diagram. For example, content in the <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hph.html#mechcon">Classical Mechanics subpage</a> does not link to any other subject. <BR>
The number of levels can vary. For example, the <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hph.html">main page</a> links to <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hph.html#mechcon">mechanics</a> links to <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/colcon.html">Collisions</a> links to
<a href="http://hyperphysics.phy-astr.gsu.edu/hbase/mom.html#mom">Momentum</a>.
</P>

<P><i>How is the Physics Derivation Graph different than <a href="https://www.wolfram.com/mathematica/">Mathematica</a>?</i><BR>
<a href="https://www.wolfram.com/mathematica/">Mathematica</a> is a commercial product, whereas the Physics Derivation Graph is open source.<BR>
<a href="https://www.wolfram.com/mathematica/">Mathematica</a> is a <a href="https://en.wikipedia.org/wiki/Computer_algebra_system">computer algebra system</a>, whereas the Physics Derivation Graph is documentation of known mathematical physics relations.<BR>
The <a href="https://www.wolframphysics.org/">Wolfram Physics</a> focuses on using Graph generation as a method of developing fundemental Physics concepts. 
</P>


{% endblock %}
