{% extends "_base.html" %}
{% block content %}

<H2>About the Physics Derivation Graph</H2>

<P>
  <a name="status of project ">
    <i>What is the status of the project?</i>
  </a><BR>
As of June 2020, a single developer is actively contributing to the project in his spare time. A few collaborators also contribute.</P>

<P>
  <a name="login">
    <i>Why is a login required for some links and actions?</i>
  </a><BR>
  Static content is displayed for and accessible to anyone.
  The ability to change the graph content requires a user to be signed in to prevent defacement and to track who contributed what in case a rollback is needed.
</P>

<P>
  <a name="how to contribute">
<i>How to contribute to the Physics Derivation Graph?</i>
</a><BR>
<UL>
  <LI>If you are a physicist, mathematician, or logician of any type, <a href="#contact">feedback</a> would be useful.</LI>
  <LI>If you are a student, <a href="https://github.com/allofphysicsgraph/proofofconcept/issues/new/choose">let us know what features you would find useful</a>.</LI>
  <LI>If you have derivations to add, you will need to <a href="{{ url_for('login') }}?referrer=faq">log in.</a> To create an account, <a href="#contact">contact us</a>.</LI>
  <LI>If you are a researcher in another field (biology, computer science, chemistry, linguistics, etc), do you think this approach applies to your field?</LI>
  <LI>If you are a programmer and would like to review the code, comments are welcome.
    Pulls and merges are also possible.
    Feel free to create a fork.</LI>
</UL>

<P>
<a name="contact">
<i>How to contact the project owner?</i>
</a><BR>
Email is the best method: ben.is.located AT gmail.com
</P>

<!-- <H3>Scope and Definitions</H3> -->
  <a name="define inference rule">
<P><i>What is an inference rule?</i>
</a><BR>
An inference rule is the atomic step of logic that relates two mathematical expressions. See the full explanation <a href="{{ url_for('user_documentation') }}?referrer=faq#inference rules">in the documentation</a>.
<P>

<P>
  <a name="semantics">
    <I>What previous discussions of sementics in Physics exist?</I>
  </a><BR>
  A clear description of the issue of semantics in Physics expressions is presented in <a href="https://arxiv.org/abs/1002.0472">Making Meaning with Math in Physics: A semantic analysis</a> and <a href="https://arxiv.org/abs/1409.6272">Language of physics, language of math: Disciplinary culture and dynamic epistemology</a>.
<P>
  The Physics Derivation Graph is enabled by sementic decoration of symbols and expressions.
  The implementation uses Sympy as a Computer Algebra System and extensive numeric indices for symbols, expressions, and steps.
</P>

<P>
  <a name="proofs">
<i>What is the role of proofs in the Physics Derivation Graph?</i>
</a><BR>
  The Physics Derivation Graph does not prove anything; it merely documents the mathematical manipulations applied in Physics.
  In this project a derivation is used to denote relations between statements that relate objective measurements of reality.
  For more on this issue, see <a href="https://math.stackexchange.com/a/2637338">this answer</a>.
</P>

<P>
  <a name="axioms">
<I>Could the Physics Derivation Graph reduce Physics to axioms?</i>
</a><BR>
  Relating the inference rules used in the Physics Derivation Graph to <a href="https://en.wikipedia.org/wiki/Zermelo%E2%80%93Fraenkel_set_theory">set theory</a> or logical rules (e.g., <a href="https://en.wikipedia.org/wiki/Modus_ponens">modus ponens</a> and axioms may be possible, but that is not in the current scope for the project.
</P>

<P>
  <a name="validity of content">
<I>Does use of the Physics Derivation Graph and verification of steps in a derivation mean that the content is valid?</I><BR>
No. Simply carrying out mathematical manipulations of expressions does not necessarily lead to physically valid outcomes.

<P>

<P>
  <a name="indices">
<I>What's the purpose of the many numerical indices associated with the expressions and inference rules?</I>
</a><BR>
Each expression index is a <a href="https://en.wikipedia.org/wiki/G%C3%B6del_numbering">Godel number</a>.
This is a way of uniquely identifying each component in the graph.
Separate from that, a unique identifier is also need for inference rules to distinguish the use in different steps.


<P>
  <a name="research">
    <I>Is the Physics Derivation Graph research?</I>
    </a>
    <BR>
  No new research in math or physics is needed to validate these claims.
  This project documents the relations between derivations used to describe physical experiments.
</P>

<P>
  <a name="algorithms">
    <I>Are there novel algorithms used in the Physics Derivation Graph?</I>
    </a><BR>
  There are no new algorithms.
  The Physics Derivation Graph is about documenting existing knowledge.
</P>


<P>
  <a name="pictures">
    <I>How does the Physics Derivation Graph handle non-algebraic arguments?</I>
    </a><BR>
  The Physics Derivation Graph does not include geometric arguments.
</p>

<P>
  The Physics Derivation Graph is similar to a <a href="https://en.wikipedia.org/wiki/Schaum%27s_Outlines">Schuam's outline</a>, except it is intended to cover all known Physics and documents the relations between various governing expressions.
</P>

<P>
  <a name="symbols">
    <I>Does the Physics Derivation Graph require that all users agree on the same notation?</I>
    </a><BR>
      No. A Latex symbol used in a derivation can be used anywhere else in the Physics Derivation Graph because numeric IDs are used to track the concept.
</P>

<P>
  <a name="derivations">
    <I>Are derivations in the Physics Derivation Graph representations?</I>
    <a><BR>
      No. A step can be replaced by equivalent sequences of inference rules.
      Various permutations of equivalent steps may be more or less efficient (in terms of number of steps), and more or less abstract conceptually.

<p>
  <a name="automation">
    <I>What is the role of automation in the Physics Derivation Graph?</I>
    </a><BR>
  There are no automatic mechanisms for generating new derivations.
  There is some automation used in detecting symbols in a step or derivation.
</P>

<P>
  <a name="objectives">
<i>What are the objectives for the Physics Derivation Graph?</i>
</a><BR>

<P>
  Derivations used in Physics are mathematical expressions linked by a finite set of inference rules.

<P>
  The purpose of this project is to test the claim that a finite static graph exists which relates all expressions of mathematical physics.
  In this graph, nodes are expressions and edges are inference rules.

<P>
  A second claim to be tested is that a finite number of unique inference rules are needed to express the relations between expressions.


<P>
  <a name="who is audience">
<i>Who is the audience for the Physics Derivation Graph?</i>
</a><BR>
<a href="{{ url_for('user_documentation')}}?referrer=faq#audience:students">Students</a>,
<a href="{{ url_for('user_documentation')}}?referrer=faq#audience:teachers">teachers</a>,
<a href="{{ url_for('user_documentation')}}?referrer=faq#audience:researchers">researchers</a>.
</P>

<P>
  <a name="learn Physics">
<I>Is the Physics Derivation Graph a good way to learn Physics?</I>
</a><BR>
No. For tips on how to learn Physics, see this comment:
<a href="https://news.ycombinator.com/item?id=22691009">https://news.ycombinator.com/item?id=22691009</a>
</P>


<P>
  <a name="crackpot difference">
<i>How could the Physics Derivation Graph be differentiated from the work of a crackpot?</i>
</a><BR>
The goal (documenting all known Physics) sounds crackpot-ish. The approach doesn't disallow crackpot statements -- checking derivation steps using a <a href="https://en.wikipedia.org/wiki/Computer_algebra_system">computer algebra system</a> doens't prevent physically nonsensical conclusions.<BR>
The purpose of the Physics Derivation Graph is to document known knowledge. No new knowledge is expected.
</P>

<P>
  <a name="crackpot identification">
<i>How could the Physics Derivation Graph be used to identify the work of a crackpot?</i>
</a><BR>
  If a crackpot is unable to quantiatively characterize their claims and make the assumptions explicit, then their work is less likely to be valid.
</P>



<P>
  <a name="output">
<i>What is the output of the Physics Derivation Graph?</i>
</a><BR>
The output is typically a graph visualization or a PDF of the same content in a linear text format.
</P>

<P>
  <a name="visualization">
<i>How can the Physics Derivation Graph be visualized?</i>
</a><BR>
The graph output can be visualized in a web browser, a static GraphViz output, and other formats.
</P>

<P>
  <a name="validation">
<i>How can the Physics Derivation Graph be checked?</i>
</a><BR>
  A <a href="https://en.wikipedia.org/wiki/Computer_algebra_system">computer algebra system</a> can be used to verify that each inference rule has been applied correctly to input and output expressions.
  Specifically, SymPy is used to validate applications of inference rule.
</P>

<P>
  <a name="database">
<i>How is the content of the Physics Derivation Graph stored?</i>
</a><BR>
The expressions, symbols, and connections are stored Latex in a JSON file.
This decision was based on a <a href="{{ url_for('developer_documentation')}}?referrer=faq#historical evolution">comparative analysis of other options</a>, including MathML and Mathematica.</P>

<P>
  <a name="supported subfields of Physics">
<i>What subfields of Physics is this project capable of including?</i>
</a><BR>
Anything from <a href="https://en.wikipedia.org/wiki/Classical_mechanics">Classical mechanics</a> to <a href="https://en.wikipedia.org/wiki/Topological_quantum_field_theory">Topological quantum field theory</a> should be capable of being included.
</P>

<P>
  <a name="not good at">
<i>What is the Physics Derivation Graph not good at?</i>
</a><BR>
  <UL>
    <LI>Geometric arguments, e.g. optics</LI>
    <LI>Spatial reasoning, e.g. electrodynamics</LI>
  </UL>
</P>


<P>
  <a name="prove Physics">
<i>Can the Physics Derivation Graph be used to prove Physics?</i>
</a><BR>
    No. "Proof" is not a well-defined term in Physics. <BR>
    From a Stack Exchange <a href="http://physics.stackexchange.com/questions/82493/how-important-is-mathematical-proof-in-physics">answer</a>,
<blockquote>
Mathematical proofs relate to exactly how a MODEL will behave. They don't have much to do with how the real world behaves. If the mathematics is carried out correctly, then one has "proven" how the model will behave.
</blockquote>

The reason for experimentation, is to find out if the completely fictional MODEL that somebody simply made up, behaves in any way the same, as observations suggest the real world behaves. If it doesn't, that is not an indication of a mathematical error, it simply means the fictional model is not a good description of the real world, and must be changed.
</P>

<P>
  <a name="use in other fields">
<i>Does this approach apply to other fields?</i>
</a><BR>
There is not clear application of the concepts used in the Physics Derivation Graph to other fields (ie chemistry, linguistics, economics, mathematics, etc). <BR>
The physics derivation graph can handle proving mathematical identities, ie Euler's equation, but that wasn't the intent. <BR>
The difference between a derivation and proving an identity is that when proving an identity, only one side of the equation is manipulated. For a derivation, both sides of the expression are involved.
</P>


<P>
  <a name="comparison">
  <I>How does the Physics Derivation Graph compare with other projects?</I><BR>
  See the <a href="{{ url_for('other_projects') }}?referrer=faq">list of other projects</a>
</P>

<P>
  <a name="collaboration">
  <I>How could my project leverage the Physics Derivation Graph?</I><BR>
  Collaboration can take the form of using the code to calling the API. <a href="#contact">Contact us</a> for other options.
</P>

{% endblock %}
