{% extends "_base.html" %}
{% block content %}

<H2>Frequently Asked Questions (FAQ) About the Physics Derivation Graph</H2>

<HR> <!-- ************************************************** -->
<P>
  <a name="status of project ">
    <i>What is the status of the project?</i>
  </a><BR>
As of August 2020, a single developer is actively contributing to the project in his spare time. A few collaborators also contribute.</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="durability of project ">
    <i>What is the durability of the project?</i>
  </a><BR>
  Many projects in knowledge management of science last as long as a grant or are created in support of a publication. 
  The Physics Derivation Grpah is hosted on DigitalOcean using a single droplet at a cost of $60/year. 
  As of August 2020, the account has $63 available (so at least another year). 
  The lease on the domain name through Google is $12/year and renews annually. 
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="login">
    <i>Why is a login required for some links and actions?</i>
  </a><BR>
  Static content is displayed for and accessible to anyone.
  The ability to change the graph content requires a user to be signed in to prevent defacement and to track who contributed what in case a rollback is needed.
  <P>
    <center>
      <img src="{{ url_for('static', filename='google-login-2.png')}}" width="200">
    </center>
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="use cases">
<i>What are the use cases for the Physics Derivation Graph?</i>
</a><BR>
  <table border=1>
  <tr>
    <th>use case</th>
    <th>who does the work?</th>
    <th>who benefits?</th>
    <th>Latex only is acceptable?</th>
    <th>incentive</th>
  </tr>
  <tr>
    <td>show interconnectivity of expressions</td>
    <td>project owner</td>
    <td>students</td>
    <td>yes</td>
    <td>share the beauty of mathematical Physics</td>
  </tr>
  <tr>
    <td>use PDG for derivation in paper appendix</td>
    <td>paper author</td>
    <td>paper readers</td>
    <td>yes</td>
    <td>none</td>
  </tr>
  <tr>
    <td>validate homework derivation</td>
    <td>student</td>
    <td>student; teacher</td>
    <td>no; CAS required</td>
    <td>correctness of derivation</td>
  </tr>
  <tr>
    <td>validate novel derivation</td>
    <td>researcher</td>
    <td>researcher</td>
    <td>no; CAS required</td>
    <td>correctness of derivation</td>
  </tr>
  <tr>
    <td>database for training machine learning algorithms</td>
    <td>project owner</td>
    <td>machine learning researchers</td>
    <td>no; CAS needed</td>
    <td>progress in Physics?</td>
  </tr>
</table>
<P>
Each of these use cases involve significant amounts of tedious data entry and learning what inference rules exist and the interface to the Physics Derivation Graph. 

<P>If research grants do not require validation of math, then researchers are not motivated to invest.
   If promotion in academia does not depend on validation of math, then professors are not motivated to invest.
   If publishing research does not require validation of math, then authors are not motivated to invest.
   If students doing homework can get by without being correct, then students are not motivated to invest. 

<HR> <!-- ************************************************** -->
<P>
  <a name="how to contribute">
<i>How to contribute to the Physics Derivation Graph?</i>
</a><BR>
<UL>
  <LI>If you are a physicist, mathematician, or logician of any type, <a href="#contact">feedback</a> would be useful.</LI>
  <LI>If you are a student, <a href="https://github.com/allofphysicsgraph/proofofconcept/issues/new/choose">let us know what features you would find useful</a>.</LI>
  <LI>If you have derivations to add, you will need to <a href="{{ url_for('login') }}?referrer=faq">log in.</a> To create an account, <a href="#contact">contact us</a>.</LI>
  <LI>If you are a researcher in another field (biology, computer science, chemistry, linguistics, etc), do you think this approach applies to your field?</LI>
  <LI>If you are a programmer and would like to review the code, comments are welcome.
    Pulls and merges are also possible.
    Feel free to create a fork.</LI>
</UL>

<HR> <!-- ************************************************** -->
<P>
<a name="contact">
<i>How to contact the project owner?</i>
</a><BR>
Email is the best method: ben.is.located AT gmail.com
</P>

<HR> <!-- ************************************************** -->
<!-- <H3>Scope and Definitions</H3> -->
  <a name="define inference rule">
<P><i>What is an inference rule?</i>
</a><BR>
An inference rule is the atomic step of logic that relates two mathematical expressions. See the full explanation <a href="{{ url_for('user_documentation') }}?referrer=faq#inference rules">in the documentation</a>.
<P>

<HR> <!-- ************************************************** -->
<P>
  <a name="knowledge management">
    <I>Is the Physics Derivation Graph just knowledge management?</I>
  </a><BR>
  Yes. With some rigor to verify edges in the graph.

  <P>There seems to have been <a href="https://en.wikipedia.org/wiki/Mathematical_knowledge_management">Mathematical Knowledge Management</a> from 2001 to 2011.

<HR> <!-- ************************************************** -->
<P>
  <a name="semantics">
    <I>What previous discussions of semantics in Physics exist?</I>
  </a><BR>
  A clear description of the issue of semantics in Physics expressions is presented in <a href="https://arxiv.org/abs/1002.0472">Making Meaning with Math in Physics: A semantic analysis</a> and <a href="https://arxiv.org/abs/1409.6272">Language of physics, language of math: Disciplinary culture and dynamic epistemology</a>.
<P>
  The Physics Derivation Graph is enabled by sementic decoration of symbols and expressions.
  The implementation uses Sympy as a Computer Algebra System and extensive numeric indices for symbols, expressions, and steps.
</P>


<HR> <!-- ************************************************** -->
<P>
  <a name="grandiose">
    <I>Why would the Physics Derivation Graph succeed where other projects have stagnated?</I>
  </a><BR>
  This question is motivated by the essay <a href="https://people.eecs.berkeley.edu/~fateman/papers/openmathcrit.pdf">"A Critique of OpenMath and Thoughts on Encoding Mathematics"</a> (2001) since the Physics Derivation Graph is similar to <a href="ftp://ftp.mcs.anl.gov/pub/qed/manifesto">the QED manifesto</a>.

  <P>Rather than struggle to fit everything into a formal rigorous basis, the implementation for the Physics Derivation Graph uses Latex to encode math. Some expressions are represented using SymPy, with the hope that the Latex and SymPy refer to the same concepts.

  <P>By focusing on specific and practical demonstrations, the Physics Derivation Graph will provide value to teachers, students, and researchers.

<HR> <!-- ************************************************** -->
<P>
  <a name="grammar">
    <I>What previous discussions of the grammar of Physics exists?</I>
  </a><BR>
  <a href="https://aapt.scitation.org/doi/10.1119/1.2342981">The grammar of physics</a> by P. R. Subramanian, B. Gnanapragasam, and G. Janhavi <BR>
     published in The Physics Teacher 28, 174 (1990); https://doi.org/10.1119/1.2342981. The focus seems to be on dimensional analysis.

<P>
There are also Science Ontologies like <a href="http://sciencewise.info/">sciencewise.info</a>

<HR> <!-- ************************************************** -->
<P>
  <a name="domains">
    <I>What domains does the Physics Derivation Graph cover?</I>
  </a><BR>
    <UL>
      <LI>classical mechanics of a finite number of particles, as
    used in celestial mechanics.
      <LI>Relativity
      <LI>quantum mechanics of a finite number of particles, as
    used in atomic physics.
      <LI>quantum electrodynamics, a quantum field theory.
      <LI>Yang-Mills theory, the basis of the Standard Model.
      <LI>String/M theory, a candidate fundamental theory which
    unifies Yang-Mills and quantum gravity
    </UL>
    <a href="https://www.icms.org.uk/downloads/bigproof/Douglas.pdf">source</a>: "Physics and Formal Methods" by Douglas (2019)
</P>
<HR> <!-- ************************************************** -->
<P>
  <a name="synatx">
    <I>What previous discussion of the syntax of Physics exists?</I>
  </a><BR>
  "syntax specifies exactly what should be allowed with regard to the formation of character strings." (<a href="https://philphys.hypotheses.org/category/syntax">source</a>)

<HR> <!-- ************************************************** -->
<P>
  <a name="proofs">
<i>What is the role of proofs in the Physics Derivation Graph?</i>
</a><BR>
  The Physics Derivation Graph does not prove anything; it merely documents the mathematical manipulations applied in Physics.
  In this project a derivation is used to denote relations between statements that relate objective measurements of reality.
  For more on this issue, see <a href="https://math.stackexchange.com/a/2637338">this answer</a>.
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="axioms">
<I>Could the Physics Derivation Graph reduce Physics to axioms?</i>
</a><BR>
  Relating the inference rules used in the Physics Derivation Graph to <a href="https://en.wikipedia.org/wiki/Zermelo%E2%80%93Fraenkel_set_theory">set theory</a> or logical rules (e.g., <a href="https://en.wikipedia.org/wiki/Modus_ponens">modus ponens</a> and axioms may be possible, but that is not in the current scope for the project.
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="computational graphs">
  <I>How is the Physics Derivation Graph related to Computational Graphs in deep learning?</I><BR>

There is no relation between the inference rules and expressions present in the Physics Derivation Graph and <a href="https://colah.github.io/posts/2015-08-Backprop/">computational graphs used in deep learning</a>.

</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="validity of content">
<I>Does use of the Physics Derivation Graph and verification of steps in a derivation mean that the content is valid?</I><BR>
No. Simply carrying out mathematical manipulations of expressions does not necessarily lead to physically valid outcomes.

<HR> <!-- ************************************************** -->
<P>
  <a name="lessons learned">
  <I>What lessons have you learned in implementing the Physics Derivation Graph?</I><BR>

My observations are specific to the nuances of the
project and my personality.
<UL>
  <LI>There's effort involved in balancing the constant questioning of "am
I doing this right?" with "what's the best way to do this?" and "which
problem should I be solving?" Because I wasn't told what to do or what
tactics to use, I have to have the stamina and confidence to persist
without encouragement or feedback.
  <LI>I'm not afraid to rewrite capabilities once I learn how to better
solve a problem. I've restructured the content through multiple
concepts. Discarding old code is a way of evolving.
  <LI>I am very hesitant to use the latest frameworks or languages if I
expect they won't last as long as the project is intended to. I favor
durability over convenience or agility.
  <LI>The sources of a refactoring have been because either I learn
something new in programming or I have a new insight on the problem.
Both of these are unpredictable, so I have to be willing to invest in
code development that is likely to be discarded.
  <LI>Keeping a log (https://physicsderivationgraph.blogspot.com/) has
been immensely valuable because I can monitor my progress and track
decisions. I can revisit my justifications to see whether they are
still valid.
  </UL>
</P>


<HR> <!-- ************************************************** -->
<P>
  <a name="from scratch">
  <I>If you were starting from scratch, what would you have wished you had done differently?</I><BR>
Knowing what the requirements of the data structure up front would
have reduced the time wasted with insufficient data structures.
<P>
Better understanding where the Physics Derivation Graph fits with
respect to semantics and formal proofs would have helped with finding
relevant communities of practitioners.
The Physics Derivation Graph fits with neither semantics nor proof
assistants, but somewhere in between. I think I know how my work
relates to mathematical proofs; I'm not clear how my work relates to
semantic tagging and structures.
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="indices">
<I>What's the purpose of the many numerical indices associated with the expressions and inference rules?</I>
</a><BR>
Each expression index is a <a href="https://en.wikipedia.org/wiki/G%C3%B6del_numbering">Godel number</a>.
This is a way of uniquely identifying each component in the graph.
Separate from that, a unique identifier is also need for inference rules to distinguish the use in different steps.
<P>
  <center>
    <img src="{{ url_for('static', filename='frequency_and_period_exploded_steps.png')}}">
  </center>
<HR> <!-- ************************************************** -->
<P>
  <a name="research">
    <I>Is the Physics Derivation Graph research?</I>
    </a>
    <BR>
  No new research in math or physics is needed to validate these claims.
  This project documents the relations between derivations used to describe physical experiments.
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="algorithms">
    <I>Are there novel algorithms used in the Physics Derivation Graph?</I>
    </a><BR>
  There are no new algorithms.
  The Physics Derivation Graph is about documenting existing knowledge.
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="pictures">
    <I>How does the Physics Derivation Graph handle non-algebraic arguments?</I>
    </a><BR>
  The Physics Derivation Graph does not include geometric arguments.
</p>

<P>
  The Physics Derivation Graph is similar to a <a href="https://en.wikipedia.org/wiki/Schaum%27s_Outlines">Schuam's outline</a>, except it is intended to cover all known Physics and documents the relations between various governing expressions.
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="symbols">
    <I>Does the Physics Derivation Graph require that all users agree on the same notation?</I>
    </a><BR>
      No. A Latex symbol used in a derivation can be used anywhere else in the Physics Derivation Graph because numeric IDs are used to track the concept.
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="derivations">
    <I>Are derivations in the Physics Derivation Graph representations?</I>
    <a><BR>
      No. A step can be replaced by equivalent sequences of inference rules.
      Various permutations of equivalent steps may be more or less efficient (in terms of number of steps), and more or less abstract conceptually.

<HR> <!-- ************************************************** -->
<p>
  <a name="automation">
    <I>What is the role of automation in the Physics Derivation Graph?</I>
    </a><BR>
  There are no automatic mechanisms for generating new derivations.
  There is some automation used in detecting symbols in a step or derivation.
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="trivial graph">
    <I>Don't Physics expressions share variables since they refer to the same reality?</I>
  </A><BR>
  Yes, a graph could be constructed that relies merely on variables that are common to expressions rather than derivations betweend expressions.
  Conceptually, the view would be <BR>
    <center>
      <img src="{{ url_for('static', filename='conceptual_physics_graph_expressions_linked_by_variables.svg')}}">
    </center>
  More specifically, the Physics Graph would look like<BR>
    <center>
      <img src="{{ url_for('static', filename='conceptual_physics_graph_actual_expressions_linked_by_variables.svg')}}">
    </center>
  This graph would be easy to construct -- merely include all expressions from Physics and appropriately link variable defintions for each expression.
  This graph would be interesting but not provide as much insight as a derivation-based graph.

<HR> <!-- ************************************************** -->
<P>
  <a name="objectives">
<i>What are the objectives for the Physics Derivation Graph?</i>
</a><BR>

<P>
  Derivations used in Physics are mathematical expressions linked by a finite set of inference rules.

<P>
  The purpose of this project is to test the claim that a finite static graph exists which relates all expressions of mathematical physics.
  In this graph, nodes are expressions and edges are inference rules.

  Expressions are typically placed in a topic within Physics. Conceptually, this would look like <BR>
    <center>
  <img src="{{ url_for('static', filename='conceptual_physics_graph_expressions_linked_by_derivation.svg')}}">
    </center>
<P>
  A second claim to be tested is that a finite number of unique inference rules are needed to express the relations between expressions.

<HR> <!-- ************************************************** -->
<P>
  <a name="who is audience">
<i>Who is the audience for the Physics Derivation Graph?</i>
</a><BR>
<a href="{{ url_for('user_documentation')}}?referrer=faq#audience:students">Students</a>,
<a href="{{ url_for('user_documentation')}}?referrer=faq#audience:teachers">teachers</a>,
<a href="{{ url_for('user_documentation')}}?referrer=faq#audience:researchers">researchers</a>.
<P>
<center>
  <img src="{{ url_for('static', filename='teacher_and_students.jpg') }}">
  <!-- source: https://www.bls.gov/ooh/education-training-and-library/high-school-teachers.htm#tab-2 -->
</center>

</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="learn Physics">
<I>Is the Physics Derivation Graph a good way to learn Physics?</I>
</a><BR>
No. For tips on how to learn Physics,<BR>
  <I>(begin quote)</I>
  <blockquote>
    <UL>
      <LI> Reading =/= understanding in math and physics. You understand a topic only if you can solve the problems.</LI>
      <LI> Work through the solved problems you encounter in textbooks carefully.</LI>
      <LI> Most people around me have never read any physics textbook cover to cover. E.g. reading Halliday, Resnick & Walker completely might take you years! Not all topics are equally important. Focus on the important parts.</LI>
      <LI> You need guidance on what is important and what is not. Online courses, college material (especially problem sets!), teaching webpages could be a helpful guide. MIT OCW is an excellent resource, once you are ready for it.</LI>
      <LI> Finding someone to talk to is really useful. You will likely have questions. Cultivating some relationship that allows you to ask questions is invaluable.</LI>
      <LI> College courses in math and physics have a very definitive order. It is really difficult to skip any step along the way. E.g. to understand special relativity, you must first understand classical physics and electrodynamics.</LI>
      <LI> Be prepared that the timescales in physics are long. Often, what turns people off is that they do not get things quickly (e.g. in 15-30 minutes). If you find yourself thinking hours about seemingly simple problems, do not despair! That is normal in physics.</LI>
      <LI> You have to 'soak in' physics. It takes time. Initially, you might feel like you do not make a lot of progress, but the more you know, the quicker it will get. Give yourself time and be patient and persistent.</LI>
      <LI> Often, just writing things down helps a lot with making things stick. It is a way of developing 'muscle memory'. So try and take notes while reading. Copying out solved problems from textbooks is also a good technique.</LI>
      <LI> Counterintuitive: If you get completely stuck, move on! Learning often happens in non-linear ways. If you hit an insurmountable roadblock, just keep going. When you return in a few days/weeks, things will almost certainly be clearer.</LI>
    </UL>
  </blockquote>
  <I>(end quote)</I><BR>
source: <a href="https://news.ycombinator.com/item?id=22691009">https://news.ycombinator.com/item?id=22691009</a>
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="crackpot difference">
<i>How could the Physics Derivation Graph be differentiated from the work of a crackpot?</i>
</a>
<P><center>
  <img src="{{ url_for('static', filename='crackpot.jpg')}}">
  </center>
<BR>
The goal (documenting all known Physics) sounds crackpot-ish. The approach doesn't disallow crackpot statements -- checking derivation steps using a <a href="https://en.wikipedia.org/wiki/Computer_algebra_system">computer algebra system</a> doens't prevent physically nonsensical conclusions.<BR>
The purpose of the Physics Derivation Graph is to document known knowledge. No new knowledge is expected.
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="crackpot identification">
<i>How could the Physics Derivation Graph be used to identify the work of a crackpot?</i>
</a><BR>
  If a crackpot is unable to quantiatively characterize their claims and make the assumptions explicit, then their work is less likely to be valid.
</P>


<HR> <!-- ************************************************** -->
<P>
  <a name="output">
<i>What is the output of the Physics Derivation Graph?</i>
</a><BR>
The output is typically a graph visualization or a PDF of the same content in a linear text format.
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="visualization">
<i>How can the Physics Derivation Graph be visualized?</i>
</a><BR>
The graph output can be visualized in a web browser, a static GraphViz output, and other formats.
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="validation">
<i>How can the Physics Derivation Graph be checked?</i>
</a><BR>
  A <a href="https://en.wikipedia.org/wiki/Computer_algebra_system">computer algebra system</a> can be used to verify that each inference rule has been applied correctly to input and output expressions.
  Specifically, SymPy is used to validate applications of inference rule.<BR>
    <center>
    <img src="{{ url_for('static', filename='sympy.svg')}}"  width="200">
    </center>
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="database">
<i>How is the content of the Physics Derivation Graph stored?</i>
</a><BR>
The expressions, symbols, and connections are stored Latex in a JSON file.
This decision was based on a <a href="{{ url_for('developer_documentation')}}?referrer=faq#historical evolution">comparative analysis of other options</a>, including MathML and Mathematica.</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="supported subfields of Physics">
<i>What subfields of Physics is this project capable of including?</i>
</a><BR>
Anything from <a href="https://en.wikipedia.org/wiki/Classical_mechanics">Classical mechanics</a> to <a href="https://en.wikipedia.org/wiki/Topological_quantum_field_theory">Topological quantum field theory</a> should be capable of being included.
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="barriers">
<i>What are the entry barriers to using the Physics Derivation Graph?</i>
</a><BR>
  <UL>
    <LI>You have to be sighted or have a capability of reading the screen</LI>
    <LI>You are expected to know Latex
    <LI>A computer and web browser are required
  </UL>
</P>


<HR> <!-- ************************************************** -->
<P>
  <a name="not good at">
<i>What is the Physics Derivation Graph not good at?</i>
</a><BR>
  <UL>
    <LI>Geometric arguments, e.g. optics</LI>
    <LI>Spatial reasoning, e.g. electrodynamics</LI>
    <LI>Exam problems and homework problems. These typically start as verbal descriptions of a physical scenario with quantitative aspects and terminate in numerical calculations and dimensional analysis.</LI>
  </UL>
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="prove Physics">
<i>Can the Physics Derivation Graph be used to prove Physics?</i>
</a><BR>
    No. "Proof" is not a well-defined term in Physics. <BR>
    From a Stack Exchange <a href="http://physics.stackexchange.com/questions/82493/how-important-is-mathematical-proof-in-physics">answer</a>,
<blockquote>
Mathematical proofs relate to exactly how a MODEL will behave. They don't have much to do with how the real world behaves. If the mathematics is carried out correctly, then one has "proven" how the model will behave.
</blockquote>

The reason for experimentation, is to find out if the completely fictional MODEL that somebody simply made up, behaves in any way the same, as observations suggest the real world behaves. If it doesn't, that is not an indication of a mathematical error, it simply means the fictional model is not a good description of the real world, and must be changed.
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="use in other fields">
<i>Does this approach apply to other fields?</i>
</a><BR>
There is not clear application of the concepts used in the Physics Derivation Graph to other fields (ie chemistry, linguistics, economics, mathematics, etc). <BR>
The physics derivation graph can handle proving mathematical identities, ie Euler's equation, but that wasn't the intent. <BR>
The difference between a derivation and proving an identity is that when proving an identity, only one side of the equation is manipulated. For a derivation, both sides of the expression are involved.
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="comparison">
  <I>How does the Physics Derivation Graph compare with other projects?</I><BR>
  See the <a href="{{ url_for('other_projects') }}?referrer=faq">list of other projects</a>
</P>

<HR> <!-- ************************************************** -->
<P>
  <a name="collaboration">
  <I>How could my project leverage the Physics Derivation Graph?</I><BR>
  Collaboration can take the form of using the code to calling the API. <a href="#contact">Contact us</a> for other options.
</P>

{% endblock %}
