<!-- unlike all other pages, this page does not inherit from _base.html
     That's because the "sign in" and "navigation" links are not shown at the top of the page -->
<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<html>
  <head>
    {% if title %}
    <title>Physics Derivation Graph: {{ title }}</title>
    {% else %}
    <title>Welcome to the Physics Derivation Graph</title>
    {% endif %}

{% include '_js_head.html' %}



  </head>
  <body>

<center>
  <H2>Physics Derivation Graph</H2>
</center>

<P>
  <i>Objective for this project:</i> Write down all known mathematical physics in a way that can be both read by humans and checked by a computer algebra system.<BR>
  For the impatient, see the Physics Derivation Graph <a href="{{ url_for('navigation') }}?referrer=index">navigation</a>.
</P>

<P>
  <i>Example:</i> A simple example is the relation between period, \(T\), and linear frequency, \(f\).
  The mathematical expression of the relation is \(T=1/f\).
  To express frequency as a function of period, multiply both sides of the expression by \(f\) to get a new expression, \(T\ f=1\).
  Finally, divide both sides of the second expression by \(T\) to yield the third expression, \(f=1/T\).
</P>

<P>
 <center>
<svg id='viz'></svg>
 </center>
</P>

<P>
  In this example, there are three expressions.
  Each expression is defined by a left-hand side, a relation operator (here "="), and a right-hand side.
  Two instances of the <a href="https://en.wikipedia.org/wiki/Equivalence_relation#Definition">Equivalence relation</a> relate the three expressions.
  These relations between expressions are called <a href="{{ url_for('user_documentation') }}?referrer=index#inference rules">inference rules</a>.
  The generic form of the first inference rule used in the example is "multiply both sides of an expression by a quantity to yield a new expression."
  Similarly, the second inference rule is generically, "divide both sides of an expression by a quantity to yield a new expression."
</P>

<P>
  The central database for documenting relations in derivations of Physics is <a href="{{ url_for('developer_documentation') }}?referrer=index#data structure">a JSON file</a>.
  This can be transformed into other formats; see the <a href="{{ url_for('navigation') }}?referrer=index">PDG navigation</a> page.
</P>

<P>
  <i>Motivation:</i> <a href="https://en.wikipedia.org/wiki/Mathematical_physics">Mathematical Physics</a> uses the tools of math applied to measurements of our environment.
  Physics is a unique field in that all existing knowledge can be recorded.
  Another aspect that is unique is that the result can be checked for correctness by a computer algebra system.
  A third unique facet to Physics is that claims can be tested by experiment.
</P>

<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ef8ho41vjWI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>

<H3>Jargon specific to this project</h3>

<P>
  A derivation is a sequence of steps.
  Each step in a derivation involves an "<a href="{{ url_for('user_documentation') }}?referrer=index#inference rules">inference rule</a>."
  An inference rule relates one or more "expressions."
  An inference rule may require one or more "feed" values.
  An expression is, by default, composed of (LHS, relation operator, RHS).
  Expression operators include both equations (the relation operator is equality) and inequalities (the relation operator is an inequality).
</P>

<P>"Inference rules", "expressions", and "feeds" are words specific to the Physics Derivation Graph.
  Represented graphically,

<img src="{{ url_for('static', filename='single_step.png') }}">

<P>Read this directed graph as, "The inference rule acts on the input expression and, combined with the feed, produces the output expression." Inference rules can be considered as functions; the above picture would be

<pre>
def inference_rule(input_expression, feed): 
    return output_expression
</pre>

<H3>Where to get started?</H3>

<P>
  Use the Physics Derivation Graph <a href="{{ url_for('navigation') }}?referrer=index">navigation</a>, or read the <a href="{{ url_for('faq') }}">FAQ</a>, or review the <a href="{{ url_for('user_documentation') }}">documentation</a>.

{% include '_d3_js.html' %}


{% include '_footer.html' %}

    </body>
</html>
