<!DOCTYPE html>
<!-- unlike all other pages, this page does not inherit from _base.html
     That's because the "sign in" and "navigation" links are not shown at the top of the page -->
<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<HTML lang='en'>
  <head>
    {% if title %}
    <title>Physics Derivation Graph: {{ title }}</title>
    {% else %}
    <title>Welcome to the Physics Derivation Graph</title>
    {% endif %}

    <!-- defines the default zoom for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:type" content="website" /> <!-- https://ogp.me/#types -->
    <meta property="og:site_name" content="Physics Derivation Graph" /> <!-- https://ogp.me/#optional -->

{% include '_js_head.html' %}



  </head>

<!-- inserted by Ben on 2023-08-03, based on snippet from https://analytics.google.com/ -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y7NP6E0QW6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y7NP6E0QW6');
</script>

  <body>

<center>
  <H2>Physics Derivation Graph</H2>
</center>

<P>
  <em>Objective for this project:</em> Write down all known mathematical physics in a way that can be both read by humans and checked by a computer algebra system.<BR/>
  To support that, the Physics Derivation Graph provides a schema and software infrastructure for the systemization of documenting mathematical physics. By semantically enriching mathematical expressions, connections between topics is observable.
<BR/>
  For the impatient, see the Physics Derivation Graph <a href="{{ url_for('navigation') }}?referrer=index">navigation</a>.
</P>

<P>
  <em>Example:</em> A simple example is the relation between period, \(T\), and linear frequency, \(f\).
  The mathematical expression of the relation is \(T=1/f\).
  To express frequency as a function of period, multiply both sides of the expression by \(f\) to get a new expression, \(T\ f=1\).
  Finally, divide both sides of the second expression by \(T\) to yield the third expression, \(f=1/T\).
</P>

<P>
 <center>
   <table>
     <tr>
       <td><svg id='viz'></svg></td>
       <td><img src="{{ url_for('static', filename='frequency_and_period_from_PDF.png') }}" width="400"></td>
     </tr>
   </table>
 </center>
</P>

<P>
  In this example, there are three expressions: \(T=1/f\), \(T\ f=1\), and \(f=1/T\).
  Each expression is defined by a left-hand side, a relation operator (here "="), and a right-hand side.
  Two instances of the <a href="https://en.wikipedia.org/wiki/Equivalence_relation#Definition">Equivalence relation</a> relate the three expressions.
  These relations between expressions are called <a href="{{ url_for('user_documentation') }}?referrer=index#inference rules">inference rules</a>.
  The generic form of the first inference rule used in the example is "multiply both sides of an expression by a quantity to yield a new expression."
  Similarly, the second inference rule is generically, "divide both sides of an expression by a quantity to yield a new expression."
</P>

<P>
  The database for documenting relations in derivations of Physics is <a href="{{ url_for('developer_documentation') }}?referrer=index#data structure">a JSON file</a>.
  This can be transformed into other formats; see the <a href="{{ url_for('navigation') }}?referrer=index">PDG navigation</a> page.
</P>

<P>
  <em>Motivation:</em> <a href="https://en.wikipedia.org/wiki/Mathematical_physics">Mathematical Physics</a> uses the tools of math applied to measurements of our environment.
  Physics is a unique field in that all existing knowledge can be recorded.
  Another aspect that is unique is that the result can be checked for correctness by a computer algebra system.
  A third unique facet to Physics is that claims can be tested by experiment.
</P>

<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ef8ho41vjWI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>

<H3>Historical context, relation to other efforts</h3>
  <P>
    The <a href="https://plato.stanford.edu/entries/principia-mathematica/">Principia Mathematica</a> (1910) is the most well-known modern effort to formalize mathematics. The outcomes, including <a href="https://plato.stanford.edu/entries/goedel-incompleteness/">Godel's Incompleteness Theorems</a>, were beneficial to mathematics. More recently, the <a href="https://en.wikipedia.org/wiki/QED_manifesto">QED manifesto</a> (1994) proposed leveraging computers to capture rigor underlying mathematics. Beneficial results included the Mizar and Metamath databases. Methods of consistent open source representation for mathematics (MathML, OpenMath) between various Computer Algebra Systems (e.g., Mathematica, Maple, SymPy, Axiom, <a href="https://en.wikipedia.org/wiki/List_of_computer_algebra_systems">others</a>) has been a struggle.

    <center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mlDKnpZ3fQQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </center>

<H3>Jargon specific to this project</h3>

<P>
  A derivation is a sequence of steps.
  Each step in a derivation involves an "<a href="{{ url_for('user_documentation') }}?referrer=index#inference rules">inference rule</a>."
  An inference rule relates one or more math expressions.
  An inference rule may require one or more "feed" values.
  An expression is, by default, composed of (LHS, relation operator, RHS).
  Expressions include both equations (the relation operator is equality) and inequalities (the relation operator is an inequality).
</P>

<P>"Inference rules", "expressions", and "feeds" are words specific to the Physics Derivation Graph.
  Represented graphically, their relation is

<img src="{{ url_for('static', filename='single_step.png') }}" width=300>

<P>Read this directed graph as, "The inference rule acts on the input expression and, combined with the feed, produces the output expression." Inference rules can be considered as functions; the above picture would be

<pre>
def inference_rule(input_expression, feed):
    return output_expression
</pre>

<H3>Where to get started?</H3>

<P>
  Use the Physics Derivation Graph <a href="{{ url_for('navigation') }}?referrer=index">navigation</a>, or read the <a href="{{ url_for('faq') }}">FAQ</a>, or review the <a href="{{ url_for('user_documentation') }}">documentation</a>.
</P>
<P>
  See also <a href="{{ url_for('other_projects') }}?referrer=index">other related or similar projects</a>, <a href="{{ url_for('literature_review') }}?referrer=index">literature review</a>, and <a href="{{ url_for('clickable_layers') }}?referrer=index">experiments in annotation</a>.
</P>

{% include '_d3_js.html' %}


{% include '_footer.html' %}

    </body>
</html>
