{% extends "_base.html" %}
{% block content %}

<P>
  Latex to SymPy
</P>

<P>
  derivation name:
  <a href="{{ url_for('review_derivation', deriv_id=deriv_id)  }}?referrer=modify_step">
    {{ dat["derivations"][deriv_id]['name'] }}
  </a>
</P>

<fieldset><!-- https://www.w3.org/WAI/tutorials/forms/grouping/ -->
<legend>choices</legend>
<form method="post" action="">
<!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<input type="submit" name="submit_button" value='accept these ASTs; review step'>
</form>
</fieldset>


{% endblock %}
