<!-- unlike all other pages, this page does not inherit from _base.html
     That's because the "sign in" and "navigation" links are not shown at the top of the page -->
<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<html>
  <head>
    <title>Physics Derivation Graph: {{ title }}</title>

    {% include '_js_head.html' %}

    <!-- https://stackoverflow.com/a/15027568/1164295 -->
    <style type="text/css">
      fieldset.inline {
        display: inline;
      }
    </style>

  </head>
  <body>

    <center>
      <H2>Physics Derivation Graph: layers demo</H2>
    </center>
    <P>
      <center>
        <table border="1">
          <tr>
            <td><I><B>Explanation</B></I>: contemporaneous with the lecture delivery
            </td>
            <td>
              Navigation:
              <OL>
                <LI><a href="{{url_for('layers', which_layer="0")}}">lecture video</a></LI>
                <LI><B>hand-written notes</B></LI>
                <LI><a href="{{url_for('layers', which_layer="2")}}">document without decorations</a></LI>
                <LI><a href="{{url_for('layers', which_layer="3")}}">section document structure</a></LI>
                <LI><a href="{{url_for('layers', which_layer="4")}}">word analysis using named entity recognition</a></LI>
                <LI><a href="{{url_for('layers', which_layer="5")}}">concepts to variables</a></LI>
                <LI><a href="{{url_for('layers', which_layer="6")}}">derivation graph</a></LI>
                <LI><a href="{{url_for('layers', which_layer="7")}}">proof of inference rule</a></LI>
              </OL>
              Back to <a href="{{url_for('layers', which_layer="overview")}}">layers overview</a><BR>
            </td>
          </tr>
        </table>
      </center>
    </P>

    <center>
    <img src="{{ url_for('static', filename='') }}">
    <center>
    <P>
      source: <a href="https://www.youtube.com/watch?v=5F1XcTjpJs4">"Derivation of Gravitational Potential Energy" by Rhett Allain</a>




    {% include '_footer.html' %}

    </body>
</html>
