<!-- unlike all other pages, this page does not inherit from _base.html
     That's because the "sign in" and "navigation" links are not shown at the top of the page -->
<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<html>
  <head>
    <title>Physics Derivation Graph: {{ title }}</title>

    {% include '_js_head.html' %}

    <!-- https://stackoverflow.com/a/15027568/1164295 -->
    <style type="text/css">
      fieldset.inline {
        display: inline;
      }
    </style>

  </head>
  <body>

    <center>
      <H2>Physics Derivation Graph</H2>
    </center>

    <P>
      source: <a href="https://www.youtube.com/watch?v=5F1XcTjpJs4">"Derivation of Gravitational Potential Energy" by Rhett Allain</a>

<UL>
layers overview
<OL>
<LI><a href="{{url_for('layers', which_layer="0")}}">lecture video</a>: verbal overview with whiteboard</LI>
<LI><a href="{{url_for('layers', which_layer="1")}}">hand-written notes</a>: contemporaneous with the lecture delivery</LI>
<LI><a href="{{url_for('layers', which_layer="2")}}">document without decorations</a>: after the lecture, convert hand-written notes to Latex</LI>
<LI><a href="{{url_for('layers', which_layer="3")}}">section document structure</a>: OMdoc, PhysML</LI>
<LI><a href="{{url_for('layers', which_layer="4")}}">word analysis using named entity recognition</a>: keywords in Physics</LI>
<LI><a href="{{url_for('layers', which_layer="5")}}">concepts to variables</a>: relation between keywords snd symbols</LI>
<LI><a href="{{url_for('layers', which_layer="6")}}">derivation graph</a>: all the implied steps documented and verified using a Computer Algebra System</LI>
<LI><a href="{{url_for('layers', which_layer="7")}}">proof of inference rule</a>: proofs that the inference rules are valid in a selected logical basis</LI>
</OL>

    {% include '_footer.html' %}

    </body>
</html>
