<!-- unlike all other pages, this page does not inherit from _base.html
     That's because the "sign in" and "navigation" links are not shown at the top of the page -->
<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<HTML lang='en'>
  <head>
    <title>Physics Derivation Graph: {{ title }}</title>
    <!-- defines the default zoom for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include '_js_head.html' %}

    <!-- https://stackoverflow.com/a/15027568/1164295 -->
    <style type="text/css">
      fieldset.inline {
        display: inline;
      }
    </style>

  </head>
  <body>

    <center>
      <H2>{{ title }}</H2>
    </center>
    <P>
      <center>
        <table border="1" width="80%">
          <tr>
            <td valign="top"><P>&nbsp;</P><P><em><strong>Explanation</strong></em>: While the tagging of content in a Latex document (e.g., <a href="{{url_for('roadmap', which_layer="tag_sections")}}">sections</a>, <a href="{{url_for('roadmap', which_layer="tag_words")}}">words</a>, <a href="{{url_for('roadmap', which_layer="tag_expressions")}}">expressions</a>) can be useful for linking and searches,
              there are many implied steps in <a href="">the original Latex document</a> that are undocumented.
              The Physics Derivation Graph is a way to document all the implied steps and
              their associated inference rules.
              <P><em>Who does the work</em>: manual entry using a webform.
              <P><em>Motivation for the work</em>: clearer connectivity of derivation steps. Enables <a href="{{url_for('roadmap', which_layer="CAS_validation")}}">validation of steps</a>.
            </td>
            <td width="300">
              Navigation:
              <OL>
                <LI><a href="{{url_for('roadmap', which_layer="lecture")}}">lecture video</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="handwritten")}}">hand-written notes</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="latex")}}">Latex document</a></LI>
                <LI>Content tags
                  <UL>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_sections")}}">section document structure</a></LI>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_words")}}">tagging words</a></LI>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_expressions")}}">expression semantics</a></LI>
                  </UL>
                </LI>
                <LI><a href="{{url_for('roadmap', which_layer="tag_all")}}">tags for sections and words and expressions</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="variables")}}">concepts to variables</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="all_steps")}}">all steps</a></LI>
                <LI><strong>derivation graph</strong></LI>
                <LI><a href="{{url_for('roadmap', which_layer="numeric_id")}}">replace symbols with numeric ID</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="CAS_validation")}}">validation of steps</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="dimensional_validation")}}">validation of dimension</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="proof")}}">proof of inference rule</a></LI>
              </OL>
              Back to <a href="{{url_for('roadmap', which_layer="overview")}}">layers overview</a><BR/>
            </td>
          </tr>
        </table>
      </center>
    </P>

    <P>
      source: <a href="https://www.youtube.com/watch?v=5F1XcTjpJs4">"Derivation of Gravitational Potential Energy" by Rhett Allain</a>

    <P>
      <fieldset>
	<legend>scenario description</legend>
	Suppose an <fieldset class="inline">
		     <legend>tangible entity</legend>object
	           </fieldset>
		   <fieldset class="inline">
	             <legend>initial condition</legend>starts an
		       <fieldset class="inline">
			 <legend>location</legend>infinite distance
		       </fieldset> from a <fieldset class="inline"><legend>tangible entity</legend>moon</fieldset> and is dropped, falling towards the moon
		   </fieldset> due to gravitational acceleration.
      </fieldset>
      <fieldset>
        <legend>question</legend>
      What is the speed of the object when it is distance \(r\) from the moon?
      </fieldset>

    <fieldset>
      <legend>figure of scenario</legend>
      <center>
        <img src="{{ url_for('static', filename='diagrams/mass_falling_from_infinity.png') }}">
        Figure 1: small mass falling towards a moon from initial position at infinity.
      </center>
    </fieldset>

    <P>
      The following is from the <a href="https://derivationmap.net/review_derivation/374317/?referrer=layers_derivation_graph">Physics Derivation Graph</a>
      <P>
    <center>
      <!-- from https://jameshfisher.com/2017/08/30/how-do-i-make-a-full-width-iframe/ -->
      <div>
        <div style="position:relative;padding-top:56.25%;">
          <iframe src="https://derivationmap.net/review_derivation/374317/?referrer=layers_derivation_graph" frameborder="0" allowfullscreen
            style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
      </div>
    </center>

    {% include '_footer.html' %}

    </body>
</html>
