<!-- unlike all other pages, this page does not inherit from _base.html
     That's because the "sign in" and "navigation" links are not shown at the top of the page -->
<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<HTML lang='en'>
  <head>
    <title>Physics Derivation Graph: {{ title }}</title>
    <!-- defines the default zoom for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include '_js_head.html' %}

    <!-- https://stackoverflow.com/a/15027568/1164295 -->
    <style type="text/css">
      fieldset.inline {
        display: inline;
      }
    </style>

  </head>

<!-- inserted by Ben on 2023-08-03, based on snippet from https://analytics.google.com/ -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y7NP6E0QW6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y7NP6E0QW6');
</script>

  <body>

    <center>
      <H2>{{ title }}</H2>
    </center>
    <P>
      <center>
        <table border="1" width="80%">
          <tr>
            <td valign="top"><P>&nbsp;</P><P><em><strong>Explanation</strong></em>: Each step in the Physics Derivation Graph can be validated using a Computer Algebra System.
<BR/>The Physics Derivation Graph uses Sympy.
              <P><em>Who does this work</em>: human content creator
              <P><em>Motive for doing this work</em>: confidence in correctness of steps.
            </td>
            <td width="300">
              Navigation:
              <OL>
                <LI><a href="{{url_for('roadmap', which_layer="lecture")}}">lecture video</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="handwritten")}}">hand-written notes</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="latex")}}">Latex document</a></LI>
                <LI>Content tags
                  <UL>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_sections")}}">section document structure</a></LI>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_words")}}">tagging words</a></LI>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_expressions")}}">expression semantics</a></LI>
                  </UL>
                </LI>
                <LI><a href="{{url_for('roadmap', which_layer="tag_all")}}">tags for sections and words and expressions</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="variables")}}">concepts to variables</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="all_steps")}}">all steps</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="pdg")}}">derivation graph</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="numeric_id")}}">replace symbols with numeric ID</a></LI>
                <LI><strong>validation of steps</strong></LI>
                <LI><a href="{{url_for('roadmap', which_layer="dimensional_validation")}}">validation of dimension</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="proof")}}">proof of inference rule</a></LI>
              </OL>
              Back to <a href="{{url_for('roadmap', which_layer="overview")}}">layers overview</a><BR/>
            </td>
          </tr>
        </table>
      </center>
    </P>

    <P>
      The following is from the <a href="https://derivationmap.net/review_derivation/374317/?referrer=layers_derivation_graph">Physics Derivation Graph</a>


    <P>
      <center>
    <img src="{{ url_for('static', filename='validated_steps.png') }}">
     </center>
    </P>

    <pre>
    "latex": "W_{\\rm to\\ system} = \\frac{G m_1 m_2}{r}",
    "AST": "Equality(Symbol('Wtosystem'), Mul(Pow(Symbol('r'), Integer(-1)), Mul(Symbol('G'), Mul(Symbol('m1'), Symbol('m2')))))",
    </pre>

    <pre>
    "latex": "\\Delta KE = KE_{\\rm final} - KE_{\\rm initial}",
    "AST": "Equality(Symbol('DeltaKE'), Add(Symbol('KEfinal'), Mul(Integer(-1), Symbol('KEinitial'))))",
</pre>

    <pre>
    "latex": "KE_{\\rm initial} = \\frac{1}{2} m_1 v_{\\rm initial}^2",
    "AST": "Equality(Symbol('KEinitial'), Mul(Pow(Integer(2), Integer(-1)), Mul(Symbol('m1'), Pow(Symbol('vinitial'), Integer(2)))))",
</pre>


    {% include '_footer.html' %}

    </body>
</html>
