<!-- unlike all other pages, this page does not inherit from _base.html
     That's because the "sign in" and "navigation" links are not shown at the top of the page -->
<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<html>
  <head>
    <title>Physics Derivation Graph: {{ title }}</title>

    {% include '_js_head.html' %}

    <!-- https://stackoverflow.com/a/15027568/1164295 -->
    <style type="text/css">
      fieldset.inline {
        display: inline;
      }
    </style>

  </head>
  <body>

    <center>
      <H2>{{ title }}</H2>
    </center>
    <P>
      <center>
        <table border="1" width="80%">
          <tr>
            <td valign="top"><P>&nbsp;</P><P><I><B>Explanation</B></I>: manually written down contemporaneous with the lecture delivery.
              The notes might not capture everything that was said depending on speed of delivery and bandwidth for transcription.
              <P>
              <I>Who does the work</I>: student or researcher
              <P>
              <I>Motive for doing this work</I>: to facilitate recall of the discussion.
            </td>
            <td width="300">
              Navigation:
              <OL>
                <LI><a href="{{url_for('roadmap', which_layer="lecture")}}">lecture video</a></LI>
                <LI><B>hand-written notes</B></LI>
                <LI><a href="{{url_for('roadmap', which_layer="latex")}}">Latex document</a></LI>
                <LI>Content tags
                  <UL>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_sections")}}">section document structure</a></LI>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_words")}}">tagging words</a></LI>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_expressions")}}">expression semantics</a></LI>
                  </UL>
                </LI>
                <LI><a href="{{url_for('roadmap', which_layer="tag_all")}}">tags for sections and words and expressions</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="variables")}}">concepts to variables</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="all_steps")}}">all steps</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="pdg")}}">derivation graph</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="CAS_validation")}}">validation of steps</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="numeric_id")}}">replace symbols with numeric ID</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="dimensional_validation")}}">validation of dimension</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="proof")}}">proof of inference rule</a></LI>
              </OL>
              Back to <a href="{{url_for('roadmap', which_layer="overview")}}">layers overview</a><BR>
            </td>
          </tr>
        </table>
      </center>
    </P>

    <center>
    <img src="{{ url_for('static', filename='handwritten_notes_for_falling_object_from_infinity.jpg') }}">
    <center>
    <P>
      source: <a href="https://www.youtube.com/watch?v=5F1XcTjpJs4">"Derivation of Gravitational Potential Energy" by Rhett Allain</a>




    {% include '_footer.html' %}

    </body>
</html>
