<!-- unlike all other pages, this page does not inherit from _base.html
     That's because the "sign in" and "navigation" links are not shown at the top of the page -->
<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<HTML lang='en'>
  <head>
    <title>Physics Derivation Graph: {{ title }}</title>
    <!-- defines the default zoom for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include '_js_head.html' %}

    <!-- https://stackoverflow.com/a/15027568/1164295 -->
    <style type="text/css">
      fieldset.inline {
        display: inline;
      }
    </style>

  </head>
  <body>

    <center>
      <H2>{{ title }}</H2>
    </center>
    <P>
      <center>
        <table border="1" width="80%">
          <tr>
            <td valign="top"><P>&nbsp;</P><P><em><strong>Explanation</strong></em>: This page shows the combination of tagging of sections, words, and expressions.
              <P>
                I'm not sure whether there are more actions that could add structure. Perhaps <a href="https://plato.stanford.edu/entries/discourse-representation-theory/">Discourse Representation Theory</a>?
              <P>
                This illustrates the unreadability of the tagging.
                Normally the tags would not be visible to a reader. However, the editor of the content is exposed to this complexity.
              <P><em>Who does this work</em>: human content creator
              <P><em>Motive for doing this work</em>: ability to search documents
            </td>
            <td width="300">
              Navigation:
              <OL>
                <LI><a href="{{url_for('roadmap', which_layer="lecture")}}">lecture video</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="handwritten")}}">hand-written notes</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="latex")}}">Latex document</a></LI>
                <LI>Content tags
                  <UL>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_sections")}}">section document structure</a></LI>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_words")}}">tagging words</a></LI>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_expressions")}}">expression semantics</a></LI>
                  </UL>
                </LI>
                <LI><strong>tags for sections and words and expressions</strong></LI>
                <LI><a href="{{url_for('roadmap', which_layer="variables")}}">concepts to variables</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="all_steps")}}">all steps</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="pdg")}}">derivation graph</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="numeric_id")}}">replace symbols with numeric ID</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="CAS_validation")}}">validation of steps</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="dimensional_validation")}}">validation of dimension</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="proof")}}">proof of inference rule</a></LI>
              </OL>
              Back to <a href="{{url_for('roadmap', which_layer="overview")}}">layers overview</a><BR/>
            </td>
          </tr>
        </table>
      </center>
    </P>

    <P>
      source: <a href="https://www.youtube.com/watch?v=5F1XcTjpJs4">"Derivation of Gravitational Potential Energy" by Rhett Allain</a>

    <P>
      <fieldset style="border:2px solid blue">
    	  <legend>scenario description</legend>
        Suppose an
        <fieldset class="inline">
  		    <legend>tangible entity</legend>
          object
  	    </fieldset>
        <fieldset class="inline">
  		    <legend>condition</legend>
          starts
        </fieldset>
        an
  		  <fieldset class="inline">
  			  <legend>location</legend>
          infinite distance
  		  </fieldset>
        from a
        <fieldset class="inline">
          <legend>tangible entity</legend>
          moon
        </fieldset>
        and is
        <fieldset class="inline">
          <legend>action</legend>
          dropped
        </fieldset>
        ,
        <fieldset class="inline">
          <legend>action</legend>
          falling
        </fieldset>
        <fieldset class="inline">
          <legend>direction</legend>
          towards
        </fieldset>
        the
        <fieldset class="inline">
          <legend>tangible entity</legend>
          moon
        </fieldset>
        <fieldset class="inline">
          <legend>cause</legend>
          due to
        </fieldset>

        <fieldset class="inline">
          <legend>measure</legend>
          gravitational acceleration.
        </fieldset>
            What is the
        <fieldset class="inline">
          <legend>measure</legend>
          speed
        </fieldset>
             of the
        <fieldset class="inline">
          <legend>tangible entity</legend>
          object
        </fieldset>
        <fieldset class="inline">
          <legend>condition</legend>
          when
        </fieldset>
        <fieldset class="inline">
          <legend>tangible entity</legend>
          it
        </fieldset>
        is
        <fieldset class="inline">
          <legend>measure</legend>
          distance
        </fieldset>
        \(r\) from the
        <fieldset class="inline">
          <legend>tangible entity</legend>
          moon?
        </fieldset>

      </fieldset>
      <fieldset style="border:2px solid blue">
        <legend>question</legend>
        What is the
    <fieldset class="inline">
      <legend>measure</legend>
      speed
    </fieldset>
         of the
    <fieldset class="inline">
      <legend>tangible entity</legend>
      object
    </fieldset>
    <fieldset class="inline">
      <legend>condition</legend>
      when
    </fieldset>
    <fieldset class="inline">
      <legend>tangible entity</legend>
      it
    </fieldset>
    is
    <fieldset class="inline">
      <legend>measure</legend>
      distance
    </fieldset>
    \(r\) from the
    <fieldset class="inline">
      <legend>tangible entity</legend>
      moon?
    </fieldset>

      </fieldset>

      <fieldset style="border:2px solid blue">
        <legend>figure of scenario</legend>
        <center>
          <img src="{{ url_for('static', filename='diagrams/mass_falling_from_infinity.png') }}">
          Figure 1: small mass falling towards a moon from initial position at infinity.
        </center>
      </fieldset>
    <P>
      <fieldset style="border:2px solid blue">
        <legend>initial condition</legend>
    The
    <fieldset class="inline">
      <legend>condition</legend>
      initial condition
    </fieldset>
     is
     <fieldset>
       <legend>expression as Content MathML</legend>
       \begin{equation}
           v(x=\infty) =0
           \label{eq:initial_velocity}
       \end{equation}
       <!-- HTML generated using hilite.me -->
       <div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">    <span style="color: #557799">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;</span>
           <span style="color: #007700">&lt;math</span> <span style="color: #0000CC">xmlns=</span><span style="background-color: #fff0f0">&quot;http://www.w3.org/1998/Math/MathML&quot;</span> <span style="color: #0000CC">alttext=</span><span style="background-color: #fff0f0">&quot;v=0&quot;</span> <span style="color: #0000CC">display=</span><span style="background-color: #fff0f0">&quot;block&quot;</span><span style="color: #007700">&gt;</span>
             <span style="color: #007700">&lt;apply&gt;</span>
               <span style="color: #007700">&lt;eq/&gt;</span>
               <span style="color: #007700">&lt;ci&gt;</span>v<span style="color: #007700">&lt;/ci&gt;</span>
               <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>0<span style="color: #007700">&lt;/cn&gt;</span>
             <span style="color: #007700">&lt;/apply&gt;</span>
           <span style="color: #007700">&lt;/math&gt;</span>
       </pre></div>
     </fieldset>


    The
    <fieldset class="inline">
      <legend>measure</legend>
      force
    </fieldset>
       acting on the
    <fieldset class="inline">
      <legend>tangible entity</legend>
      object
    </fieldset>
     is
     <fieldset>
       <legend>expression as Content MathML</legend>
     \begin{equation}
         \vec{F} = \frac{-G m_1 m_2}{x^2} \hat{x}
         \label{eq:gravitational force}
     \end{equation}
     <!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">    <span style="color: #557799">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;</span>
     <span style="color: #007700">&lt;math</span> <span style="color: #0000CC">xmlns=</span><span style="background-color: #fff0f0">&quot;http://www.w3.org/1998/Math/MathML&quot;</span> <span style="color: #0000CC">alttext=</span><span style="background-color: #fff0f0">&quot;\vec{F}=\frac{-Gm_{1}m_{2}}{x^{2}}\hat{x}&quot;</span> <span style="color: #0000CC">display=</span><span style="background-color: #fff0f0">&quot;block&quot;</span><span style="color: #007700">&gt;</span>
       <span style="color: #007700">&lt;apply&gt;</span>
         <span style="color: #007700">&lt;eq/&gt;</span>
         <span style="color: #007700">&lt;apply&gt;</span>
           <span style="color: #007700">&lt;ci&gt;</span>→<span style="color: #007700">&lt;/ci&gt;</span>
           <span style="color: #007700">&lt;ci&gt;</span>𝐹<span style="color: #007700">&lt;/ci&gt;</span>
         <span style="color: #007700">&lt;/apply&gt;</span>
         <span style="color: #007700">&lt;apply&gt;</span>
           <span style="color: #007700">&lt;times/&gt;</span>
           <span style="color: #007700">&lt;apply&gt;</span>
             <span style="color: #007700">&lt;divide/&gt;</span>
             <span style="color: #007700">&lt;apply&gt;</span>
               <span style="color: #007700">&lt;minus/&gt;</span>
               <span style="color: #007700">&lt;apply&gt;</span>
                 <span style="color: #007700">&lt;times/&gt;</span>
                 <span style="color: #007700">&lt;ci&gt;</span>𝐺<span style="color: #007700">&lt;/ci&gt;</span>
                 <span style="color: #007700">&lt;apply&gt;</span>
                   <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>subscript<span style="color: #007700">&lt;/csymbol&gt;</span>
                   <span style="color: #007700">&lt;ci&gt;</span>𝑚<span style="color: #007700">&lt;/ci&gt;</span>
                   <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>1<span style="color: #007700">&lt;/cn&gt;</span>
                 <span style="color: #007700">&lt;/apply&gt;</span>
                 <span style="color: #007700">&lt;apply&gt;</span>
                   <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>subscript<span style="color: #007700">&lt;/csymbol&gt;</span>
                   <span style="color: #007700">&lt;ci&gt;</span>𝑚<span style="color: #007700">&lt;/ci&gt;</span>
                   <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>2<span style="color: #007700">&lt;/cn&gt;</span>
                 <span style="color: #007700">&lt;/apply&gt;</span>
               <span style="color: #007700">&lt;/apply&gt;</span>
             <span style="color: #007700">&lt;/apply&gt;</span>
             <span style="color: #007700">&lt;apply&gt;</span>
               <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>superscript<span style="color: #007700">&lt;/csymbol&gt;</span>
               <span style="color: #007700">&lt;ci&gt;</span>𝑥<span style="color: #007700">&lt;/ci&gt;</span>
               <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>2<span style="color: #007700">&lt;/cn&gt;</span>
             <span style="color: #007700">&lt;/apply&gt;</span>
           <span style="color: #007700">&lt;/apply&gt;</span>
           <span style="color: #007700">&lt;apply&gt;</span>
             <span style="color: #007700">&lt;ci&gt;</span>^<span style="color: #007700">&lt;/ci&gt;</span>
             <span style="color: #007700">&lt;ci&gt;</span>𝑥<span style="color: #007700">&lt;/ci&gt;</span>
           <span style="color: #007700">&lt;/apply&gt;</span>
         <span style="color: #007700">&lt;/apply&gt;</span>
       <span style="color: #007700">&lt;/apply&gt;</span>
     <span style="color: #007700">&lt;/math&gt;</span>
     </pre></div>
         </fieldset>
      </fieldset>
      <fieldset style="border:2px solid blue">
        <legend>step</legend>
      The
      <fieldset class="inline">
        <legend>measure</legend>
      work
      </fieldset>
       is calculated using W = \(\Delta E\) since the
       <fieldset class="inline">
         <legend>measure</legend>
         force
       </fieldset>
        changes. To find the cumulative
        <fieldset class="inline">
          <legend>measure</legend>
        work
        </fieldset>
         done on the
         <fieldset class="inline">
           <legend>tangible entity</legend>
           object
         </fieldset>
       , integrate over all positions between \(\infty\) and \(r\)
      \begin{equation}
          W = \int_{\infty}^r \vec{F}\cdot d\vec{r}
          \label{eq:work as function of force}
      \end{equation}
      </fieldset>
      <fieldset style="border:2px solid blue">
        <legend>step</legend>
      Substituting the
      <fieldset class="inline">
        <legend>measure</legend>
        gravitational force
      </fieldset>
       into Eq. \ref{eq:work as function of force},
       <fieldset>
         <legend>expression as Content MathML</legend>
       \begin{equation}
           W = \int_{\infty}^r \frac{-G m_1 m_2}{x^2} dx
       \end{equation}
       <!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #557799">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;</span>
   <span style="color: #007700">&lt;math</span> <span style="color: #0000CC">xmlns=</span><span style="background-color: #fff0f0">&quot;http://www.w3.org/1998/Math/MathML&quot;</span> <span style="color: #0000CC">alttext=</span><span style="background-color: #fff0f0">&quot;W=\int_{\infty}^{r}\frac{-Gm_{1}m_{2}}{x^{2}}dx&quot;</span> <span style="color: #0000CC">display=</span><span style="background-color: #fff0f0">&quot;block&quot;</span><span style="color: #007700">&gt;</span>
     <span style="color: #007700">&lt;apply&gt;</span>
       <span style="color: #007700">&lt;eq/&gt;</span>
       <span style="color: #007700">&lt;ci&gt;</span>𝑊<span style="color: #007700">&lt;/ci&gt;</span>
       <span style="color: #007700">&lt;apply&gt;</span>
         <span style="color: #007700">&lt;apply&gt;</span>
           <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>superscript<span style="color: #007700">&lt;/csymbol&gt;</span>
           <span style="color: #007700">&lt;apply&gt;</span>
             <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>subscript<span style="color: #007700">&lt;/csymbol&gt;</span>
             <span style="color: #007700">&lt;int/&gt;</span>
             <span style="color: #007700">&lt;infinity/&gt;</span>
           <span style="color: #007700">&lt;/apply&gt;</span>
           <span style="color: #007700">&lt;ci&gt;</span>𝑟<span style="color: #007700">&lt;/ci&gt;</span>
         <span style="color: #007700">&lt;/apply&gt;</span>
         <span style="color: #007700">&lt;apply&gt;</span>
           <span style="color: #007700">&lt;times/&gt;</span>
           <span style="color: #007700">&lt;apply&gt;</span>
             <span style="color: #007700">&lt;divide/&gt;</span>
             <span style="color: #007700">&lt;apply&gt;</span>
               <span style="color: #007700">&lt;minus/&gt;</span>
               <span style="color: #007700">&lt;apply&gt;</span>
                 <span style="color: #007700">&lt;times/&gt;</span>
                 <span style="color: #007700">&lt;ci&gt;</span>𝐺<span style="color: #007700">&lt;/ci&gt;</span>
                 <span style="color: #007700">&lt;apply&gt;</span>
                   <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>subscript<span style="color: #007700">&lt;/csymbol&gt;</span>
                   <span style="color: #007700">&lt;ci&gt;</span>𝑚<span style="color: #007700">&lt;/ci&gt;</span>
                   <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>1<span style="color: #007700">&lt;/cn&gt;</span>
                 <span style="color: #007700">&lt;/apply&gt;</span>
                 <span style="color: #007700">&lt;apply&gt;</span>
                   <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>subscript<span style="color: #007700">&lt;/csymbol&gt;</span>
                   <span style="color: #007700">&lt;ci&gt;</span>𝑚<span style="color: #007700">&lt;/ci&gt;</span>
                   <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>2<span style="color: #007700">&lt;/cn&gt;</span>
                 <span style="color: #007700">&lt;/apply&gt;</span>
               <span style="color: #007700">&lt;/apply&gt;</span>
             <span style="color: #007700">&lt;/apply&gt;</span>
             <span style="color: #007700">&lt;apply&gt;</span>
               <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>superscript<span style="color: #007700">&lt;/csymbol&gt;</span>
               <span style="color: #007700">&lt;ci&gt;</span>𝑥<span style="color: #007700">&lt;/ci&gt;</span>
               <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>2<span style="color: #007700">&lt;/cn&gt;</span>
             <span style="color: #007700">&lt;/apply&gt;</span>
           <span style="color: #007700">&lt;/apply&gt;</span>
           <span style="color: #007700">&lt;apply&gt;</span>
             <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;latexml&quot;</span><span style="color: #007700">&gt;</span>differential-d<span style="color: #007700">&lt;/csymbol&gt;</span>
             <span style="color: #007700">&lt;ci&gt;</span>𝑥<span style="color: #007700">&lt;/ci&gt;</span>
           <span style="color: #007700">&lt;/apply&gt;</span>
         <span style="color: #007700">&lt;/apply&gt;</span>
       <span style="color: #007700">&lt;/apply&gt;</span>
     <span style="color: #007700">&lt;/apply&gt;</span>
   <span style="color: #007700">&lt;/math&gt;</span>
   </pre></div>
       </fieldset>
      </fieldset>
      <fieldset style="border:2px solid blue">
        <legend>step</legend>
      Factor out the constants,
      <fieldset>
        <legend>expression as Content MathML</legend>
      \begin{equation}
          W = -G m_1 m_2\int_{\infty}^r \frac{1}{x^2} dx
      \end{equation}
      <!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #557799">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;</span>
      <span style="color: #007700">&lt;math</span> <span style="color: #0000CC">xmlns=</span><span style="background-color: #fff0f0">&quot;http://www.w3.org/1998/Math/MathML&quot;</span> <span style="color: #0000CC">alttext=</span><span style="background-color: #fff0f0">&quot;W=-Gm_{1}m_{2}\int_{\infty}^{r}\frac{1}{x^{2}}dx&quot;</span> <span style="color: #0000CC">display=</span><span style="background-color: #fff0f0">&quot;block&quot;</span><span style="color: #007700">&gt;</span>
        <span style="color: #007700">&lt;apply&gt;</span>
          <span style="color: #007700">&lt;eq/&gt;</span>
          <span style="color: #007700">&lt;ci&gt;</span>𝑊<span style="color: #007700">&lt;/ci&gt;</span>
          <span style="color: #007700">&lt;apply&gt;</span>
            <span style="color: #007700">&lt;minus/&gt;</span>
            <span style="color: #007700">&lt;apply&gt;</span>
              <span style="color: #007700">&lt;times/&gt;</span>
              <span style="color: #007700">&lt;ci&gt;</span>𝐺<span style="color: #007700">&lt;/ci&gt;</span>
              <span style="color: #007700">&lt;apply&gt;</span>
                <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>subscript<span style="color: #007700">&lt;/csymbol&gt;</span>
                <span style="color: #007700">&lt;ci&gt;</span>𝑚<span style="color: #007700">&lt;/ci&gt;</span>
                <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>1<span style="color: #007700">&lt;/cn&gt;</span>
              <span style="color: #007700">&lt;/apply&gt;</span>
              <span style="color: #007700">&lt;apply&gt;</span>
                <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>subscript<span style="color: #007700">&lt;/csymbol&gt;</span>
                <span style="color: #007700">&lt;ci&gt;</span>𝑚<span style="color: #007700">&lt;/ci&gt;</span>
                <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>2<span style="color: #007700">&lt;/cn&gt;</span>
              <span style="color: #007700">&lt;/apply&gt;</span>
              <span style="color: #007700">&lt;apply&gt;</span>
                <span style="color: #007700">&lt;apply&gt;</span>
                  <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>superscript<span style="color: #007700">&lt;/csymbol&gt;</span>
                  <span style="color: #007700">&lt;apply&gt;</span>
                    <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>subscript<span style="color: #007700">&lt;/csymbol&gt;</span>
                    <span style="color: #007700">&lt;int/&gt;</span>
                    <span style="color: #007700">&lt;infinity/&gt;</span>
                  <span style="color: #007700">&lt;/apply&gt;</span>
                  <span style="color: #007700">&lt;ci&gt;</span>𝑟<span style="color: #007700">&lt;/ci&gt;</span>
                <span style="color: #007700">&lt;/apply&gt;</span>
                <span style="color: #007700">&lt;apply&gt;</span>
                  <span style="color: #007700">&lt;times/&gt;</span>
                  <span style="color: #007700">&lt;apply&gt;</span>
                    <span style="color: #007700">&lt;divide/&gt;</span>
                    <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>1<span style="color: #007700">&lt;/cn&gt;</span>
                    <span style="color: #007700">&lt;apply&gt;</span>
                      <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>superscript<span style="color: #007700">&lt;/csymbol&gt;</span>
                      <span style="color: #007700">&lt;ci&gt;</span>𝑥<span style="color: #007700">&lt;/ci&gt;</span>
                      <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>2<span style="color: #007700">&lt;/cn&gt;</span>
                    <span style="color: #007700">&lt;/apply&gt;</span>
                  <span style="color: #007700">&lt;/apply&gt;</span>
                  <span style="color: #007700">&lt;apply&gt;</span>
                    <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;latexml&quot;</span><span style="color: #007700">&gt;</span>differential-d<span style="color: #007700">&lt;/csymbol&gt;</span>
                    <span style="color: #007700">&lt;ci&gt;</span>𝑥<span style="color: #007700">&lt;/ci&gt;</span>
                  <span style="color: #007700">&lt;/apply&gt;</span>
                <span style="color: #007700">&lt;/apply&gt;</span>
              <span style="color: #007700">&lt;/apply&gt;</span>
            <span style="color: #007700">&lt;/apply&gt;</span>
          <span style="color: #007700">&lt;/apply&gt;</span>
        <span style="color: #007700">&lt;/apply&gt;</span>
      <span style="color: #007700">&lt;/math&gt;</span>
      </pre></div>
      </fieldset>
      </fieldset>
      <fieldset style="border:2px solid blue">
        <legend>step</legend>
      which leads to
      <fieldset>
        <legend>expression as Content MathML</legend>
      \begin{equation}
          W = \frac{G m_1 m_2}{r}
      \end{equation}
      <!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #557799">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;</span>
  <span style="color: #007700">&lt;math</span> <span style="color: #0000CC">xmlns=</span><span style="background-color: #fff0f0">&quot;http://www.w3.org/1998/Math/MathML&quot;</span> <span style="color: #0000CC">alttext=</span><span style="background-color: #fff0f0">&quot;W=\frac{Gm_{1}m_{2}}{r}&quot;</span> <span style="color: #0000CC">display=</span><span style="background-color: #fff0f0">&quot;block&quot;</span><span style="color: #007700">&gt;</span>
    <span style="color: #007700">&lt;apply&gt;</span>
      <span style="color: #007700">&lt;eq/&gt;</span>
      <span style="color: #007700">&lt;ci&gt;</span>𝑊<span style="color: #007700">&lt;/ci&gt;</span>
      <span style="color: #007700">&lt;apply&gt;</span>
        <span style="color: #007700">&lt;divide/&gt;</span>
        <span style="color: #007700">&lt;apply&gt;</span>
          <span style="color: #007700">&lt;times/&gt;</span>
          <span style="color: #007700">&lt;ci&gt;</span>𝐺<span style="color: #007700">&lt;/ci&gt;</span>
          <span style="color: #007700">&lt;apply&gt;</span>
            <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>subscript<span style="color: #007700">&lt;/csymbol&gt;</span>
            <span style="color: #007700">&lt;ci&gt;</span>𝑚<span style="color: #007700">&lt;/ci&gt;</span>
            <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>1<span style="color: #007700">&lt;/cn&gt;</span>
          <span style="color: #007700">&lt;/apply&gt;</span>
          <span style="color: #007700">&lt;apply&gt;</span>
            <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>subscript<span style="color: #007700">&lt;/csymbol&gt;</span>
            <span style="color: #007700">&lt;ci&gt;</span>𝑚<span style="color: #007700">&lt;/ci&gt;</span>
            <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>2<span style="color: #007700">&lt;/cn&gt;</span>
          <span style="color: #007700">&lt;/apply&gt;</span>
        <span style="color: #007700">&lt;/apply&gt;</span>
        <span style="color: #007700">&lt;ci&gt;</span>𝑟<span style="color: #007700">&lt;/ci&gt;</span>
      <span style="color: #007700">&lt;/apply&gt;</span>
    <span style="color: #007700">&lt;/apply&gt;</span>
  <span style="color: #007700">&lt;/math&gt;</span>
  </pre></div>
      </fieldset>
      </fieldset>
      <fieldset style="border:2px solid blue">
        <legend>step</legend>
      Another definition of
      <fieldset class="inline">
        <legend>measure</legend>
      work
      </fieldset>
       is that it is the change in
       <fieldset class="inline">
         <legend>measure</legend>
       energy
       </fieldset>
        for a system: \(W = \Delta E \)
      Because the
      <fieldset class="inline">
        <legend>measure</legend>
      initial velocity
      </fieldset>
      was
      <fieldset class="inline">
        <legend>value</legend>
      zero
      </fieldset>
      , the
      <fieldset class="inline">
        <legend>measure</legend>
      work
      </fieldset>
       here is
       <fieldset>
         <legend>expression as Content MathML</legend>
       \begin{equation}
           W = \Delta KE
       \end{equation}
       <!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #557799">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;</span>
       <span style="color: #007700">&lt;math</span> <span style="color: #0000CC">xmlns=</span><span style="background-color: #fff0f0">&quot;http://www.w3.org/1998/Math/MathML&quot;</span> <span style="color: #0000CC">alttext=</span><span style="background-color: #fff0f0">&quot;W=\Delta KE&quot;</span> <span style="color: #0000CC">display=</span><span style="background-color: #fff0f0">&quot;block&quot;</span><span style="color: #007700">&gt;</span>
         <span style="color: #007700">&lt;apply&gt;</span>
           <span style="color: #007700">&lt;eq/&gt;</span>
           <span style="color: #007700">&lt;ci&gt;</span>𝑊<span style="color: #007700">&lt;/ci&gt;</span>
           <span style="color: #007700">&lt;ci&gt;</span>ΔKE<span style="color: #007700">&lt;/ci&gt;</span>
         <span style="color: #007700">&lt;/apply&gt;</span>
       <span style="color: #007700">&lt;/math&gt;</span>
       </pre></div>
       </fieldset>
      Thus we can combine the two definitions of
      <fieldset class="inline">
        <legend>measure</legend>
      work
      </fieldset>
       to get
       <fieldset>
         <legend>expression as Content MathML</legend>
       \begin{equation}
           W = \frac{1}{2} m_1 v^2 = \frac{G m_1 m_2}{r}
       \end{equation}
       <!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #557799">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;</span>
   <span style="color: #007700">&lt;math</span> <span style="color: #0000CC">xmlns=</span><span style="background-color: #fff0f0">&quot;http://www.w3.org/1998/Math/MathML&quot;</span> <span style="color: #0000CC">alttext=</span><span style="background-color: #fff0f0">&quot;W=\frac{1}{2}m_{1}v^{2}=\frac{Gm_{1}m_{2}}{r}&quot;</span> <span style="color: #0000CC">display=</span><span style="background-color: #fff0f0">&quot;block&quot;</span><span style="color: #007700">&gt;</span>
     <span style="color: #007700">&lt;apply&gt;</span>
       <span style="color: #007700">&lt;and/&gt;</span>
       <span style="color: #007700">&lt;apply&gt;</span>
         <span style="color: #007700">&lt;eq/&gt;</span>
         <span style="color: #007700">&lt;ci&gt;</span>𝑊<span style="color: #007700">&lt;/ci&gt;</span>
         <span style="color: #007700">&lt;apply&gt;</span>
           <span style="color: #007700">&lt;times/&gt;</span>
           <span style="color: #007700">&lt;apply&gt;</span>
             <span style="color: #007700">&lt;divide/&gt;</span>
             <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>1<span style="color: #007700">&lt;/cn&gt;</span>
             <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>2<span style="color: #007700">&lt;/cn&gt;</span>
           <span style="color: #007700">&lt;/apply&gt;</span>
           <span style="color: #007700">&lt;apply&gt;</span>
             <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>subscript<span style="color: #007700">&lt;/csymbol&gt;</span>
             <span style="color: #007700">&lt;ci&gt;</span>𝑚<span style="color: #007700">&lt;/ci&gt;</span>
             <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>1<span style="color: #007700">&lt;/cn&gt;</span>
           <span style="color: #007700">&lt;/apply&gt;</span>
           <span style="color: #007700">&lt;apply&gt;</span>
             <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>superscript<span style="color: #007700">&lt;/csymbol&gt;</span>
             <span style="color: #007700">&lt;ci&gt;</span>𝑣<span style="color: #007700">&lt;/ci&gt;</span>
             <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>2<span style="color: #007700">&lt;/cn&gt;</span>
           <span style="color: #007700">&lt;/apply&gt;</span>
         <span style="color: #007700">&lt;/apply&gt;</span>
       <span style="color: #007700">&lt;/apply&gt;</span>
       <span style="color: #007700">&lt;apply&gt;</span>
         <span style="color: #007700">&lt;eq/&gt;</span>
         <span style="color: #007700">&lt;share</span> <span style="color: #0000CC">href=</span><span style="background-color: #fff0f0">&quot;#Ex1.m1.sh1&quot;</span><span style="color: #007700">/&gt;</span>
         <span style="color: #007700">&lt;apply&gt;</span>
           <span style="color: #007700">&lt;divide/&gt;</span>
           <span style="color: #007700">&lt;apply&gt;</span>
             <span style="color: #007700">&lt;times/&gt;</span>
             <span style="color: #007700">&lt;ci&gt;</span>𝐺<span style="color: #007700">&lt;/ci&gt;</span>
             <span style="color: #007700">&lt;apply&gt;</span>
               <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>subscript<span style="color: #007700">&lt;/csymbol&gt;</span>
               <span style="color: #007700">&lt;ci&gt;</span>𝑚<span style="color: #007700">&lt;/ci&gt;</span>
               <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>1<span style="color: #007700">&lt;/cn&gt;</span>
             <span style="color: #007700">&lt;/apply&gt;</span>
             <span style="color: #007700">&lt;apply&gt;</span>
               <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>subscript<span style="color: #007700">&lt;/csymbol&gt;</span>
               <span style="color: #007700">&lt;ci&gt;</span>𝑚<span style="color: #007700">&lt;/ci&gt;</span>
               <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>2<span style="color: #007700">&lt;/cn&gt;</span>
             <span style="color: #007700">&lt;/apply&gt;</span>
           <span style="color: #007700">&lt;/apply&gt;</span>
           <span style="color: #007700">&lt;ci&gt;</span>𝑟<span style="color: #007700">&lt;/ci&gt;</span>
         <span style="color: #007700">&lt;/apply&gt;</span>
       <span style="color: #007700">&lt;/apply&gt;</span>
     <span style="color: #007700">&lt;/apply&gt;</span>
   <span style="color: #007700">&lt;/math&gt;</span>
   </pre></div>

       </fieldset>
    </fieldset>
    <fieldset style="border:2px solid blue">
      <legend>step</legend>
      The \(m_1\) cancels, leaving
      <fieldset>
        <legend>expression as Content MathML</legend>
      \begin{equation}
       v(r) = \sqrt{\frac{2Gm_2}{r}}
      \end{equation}
      <!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #557799">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;</span>
  <span style="color: #007700">&lt;math</span> <span style="color: #0000CC">xmlns=</span><span style="background-color: #fff0f0">&quot;http://www.w3.org/1998/Math/MathML&quot;</span> <span style="color: #0000CC">alttext=</span><span style="background-color: #fff0f0">&quot;v=\sqrt{\frac{2Gm_{2}}{r}}&quot;</span> <span style="color: #0000CC">display=</span><span style="background-color: #fff0f0">&quot;block&quot;</span><span style="color: #007700">&gt;</span>
    <span style="color: #007700">&lt;apply&gt;</span>
      <span style="color: #007700">&lt;eq/&gt;</span>
      <span style="color: #007700">&lt;ci&gt;</span>𝑣<span style="color: #007700">&lt;/ci&gt;</span>
      <span style="color: #007700">&lt;apply&gt;</span>
        <span style="color: #007700">&lt;root/&gt;</span>
        <span style="color: #007700">&lt;apply&gt;</span>
          <span style="color: #007700">&lt;divide/&gt;</span>
          <span style="color: #007700">&lt;apply&gt;</span>
            <span style="color: #007700">&lt;times/&gt;</span>
            <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>2<span style="color: #007700">&lt;/cn&gt;</span>
            <span style="color: #007700">&lt;ci&gt;</span>𝐺<span style="color: #007700">&lt;/ci&gt;</span>
            <span style="color: #007700">&lt;apply&gt;</span>
              <span style="color: #007700">&lt;csymbol</span> <span style="color: #0000CC">cd=</span><span style="background-color: #fff0f0">&quot;ambiguous&quot;</span><span style="color: #007700">&gt;</span>subscript<span style="color: #007700">&lt;/csymbol&gt;</span>
              <span style="color: #007700">&lt;ci&gt;</span>𝑚<span style="color: #007700">&lt;/ci&gt;</span>
              <span style="color: #007700">&lt;cn</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;integer&quot;</span><span style="color: #007700">&gt;</span>2<span style="color: #007700">&lt;/cn&gt;</span>
            <span style="color: #007700">&lt;/apply&gt;</span>
          <span style="color: #007700">&lt;/apply&gt;</span>
          <span style="color: #007700">&lt;ci&gt;</span>𝑟<span style="color: #007700">&lt;/ci&gt;</span>
        <span style="color: #007700">&lt;/apply&gt;</span>
      <span style="color: #007700">&lt;/apply&gt;</span>
    <span style="color: #007700">&lt;/apply&gt;</span>
  <span style="color: #007700">&lt;/math&gt;</span>
  </pre></div>
      </fieldset>
    </fieldset>


    {% include '_footer.html' %}

    </body>
</html>
