<!-- unlike all other pages, this page does not inherit from _base.html
     That's because the "sign in" and "navigation" links are not shown at the top of the page -->
<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<html>
  <head>
    <title>Physics Derivation Graph: {{ title }}</title>

    {% include '_js_head.html' %}

    <!-- https://stackoverflow.com/a/15027568/1164295 -->
    <style type="text/css">
      fieldset.inline {
        display: inline;
      }
    </style>

  </head>
  <body>

    <center>
      <H2>{{ title }}</H2>
    </center>
    <P>
      <center>
        <table border="1">
          <tr>
            <td><I><B>Explanation</B></I>: Here the focus is on a single inference rule and verifying the inference rule with respect to a logical basis like
              <a href="https://en.wikipedia.org/wiki/Zermelo%E2%80%93Fraenkel_set_theory">Zermelo–Fraenkel set theory</a> in a formal proof assistent like
              <a href="https://en.wikipedia.org/wiki/Coq">Coq</a> or <a href="https://en.wikipedia.org/wiki/Lean_(proof_assistant)">Lean</a>.

              <P>This validation per inference rule would need to be applied to each inference rule used in the derivation.
                <P><I>Who does this work</I>: human content creator
                <P><I>Motive for doing this work</I>:
            </td>
            <td>
              Navigation:
              <OL>
                <LI><a href="{{url_for('roadmap', which_layer="lecture")}}">lecture video</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="handwritten")}}">hand-written notes</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="latex")}}">Latex document</a></LI>
                <LI>Content tags
                  <UL>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_sections")}}">section document structure</a></LI>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_words")}}">word analysis using named entity recognition</a></LI>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_expressions")}}">expression semantics</a></LI>
                  </UL>
                </LI>
                <LI><a href="{{url_for('roadmap', which_layer="tag_all")}}">tags for sections and words and expressions</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="variables")}}">concepts to variables</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="pdg")}}">derivation graph</a></LI>
                <LI><B>proof of inference rule</B></LI>
              </OL>
              Back to <a href="{{url_for('roadmap', which_layer="overview")}}">layers overview</a><BR>
            </td>
          </tr>
        </table>
      </center>
    </P>

    <P>
      The expression
      \begin{equation}
          \frac{1}{2} m_1 v^2 = \frac{G m_1 m_2}{r}
          \label{eq:initial}
      \end{equation}
      reduces to
      \begin{equation}
       v^2 = \frac{2Gm_2}{r}
      \end{equation}
      when both sides of Eq.~\ref{eq:initial} are multiplied by $$2/m_2$$

    <P>
      (Insert proof of "multiply both sides by" here)
    </P>


    {% include '_footer.html' %}

    </body>
</html>
