<!-- unlike all other pages, this page does not inherit from _base.html
     That's because the "sign in" and "navigation" links are not shown at the top of the page -->
<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<HTML lang='en'>
  <head>
    <title>Physics Derivation Graph: {{ title }}</title>

    {% include '_js_head.html' %}

    <!-- https://stackoverflow.com/a/15027568/1164295 -->
    <style type="text/css">
      fieldset.inline {
        display: inline;
      }
    </style>

  </head>
  <body>

    <center>
      <H2>{{ title }}</H2>
    </center>

    <P>
      <center>
        <table border="1" width="80%">
          <tr>
            <td valign="top"><P>&nbsp;</P>
              <P><em><strong>Explanation</strong></em>: replace use Latex math symbols with globally unique numeric identifiers
              <P><em>Who does this work</em>: human
              <P><em>Motive for doing this work</em>: consistent identification of variables.
            </td>
            <td width="300">
              Navigation:
              <OL>
                <LI><a href="{{url_for('roadmap', which_layer="lecture")}}">lecture video</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="handwritten")}}">hand-written notes</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="latex")}}">Latex document</a></LI>
                <LI>Content tags
                  <UL>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_sections")}}">section document structure</a></LI>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_words")}}">tagging words</a></LI>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_expressions")}}">expression semantics</a></LI>
                  </UL>
                </LI>
                <LI><a href="{{url_for('roadmap', which_layer="tag_all")}}">tags for sections and words and expressions</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="variables")}}">concepts to variables</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="all_steps")}}">all steps</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="pdg")}}">derivation graph</a></LI>
                <LI><strong>replace symbols with numeric ID</strong></LI>
                <LI><a href="{{url_for('roadmap', which_layer="CAS_validation")}}">validation of steps</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="dimensional_validation")}}">validation of dimension</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="proof")}}">proof of inference rule</a></LI>
              </OL>
              Back to <a href="{{url_for('roadmap', which_layer="overview")}}">layers overview</a><BR/>
            </td>
          </tr>
        </table>
      </center>
    </P>
    <p>
      Examples of replacing
      <pre>
      "latex": "W_{\\rm to\\ system} = \\frac{G m_1 m_2}{r}",
      "AST": "Equality(Symbol('pdg9372'), Mul(Pow(Symbol('pdg2530'), Integer(-1)), Mul(Symbol('pdg6277'), Mul(Symbol('pdg5022'), Symbol('pdg4851')))))",
      </pre>

      <pre>
      "latex": "\\Delta KE = KE_{\\rm final} - KE_{\\rm initial}",
      "AST": "Equality(Symbol('pdg5734'), Add(Symbol('pdg5340'), Mul(Integer(-1), Symbol('pdg4121'))))",
</pre>

      <pre>
      "latex": "KE_{\\rm initial} = \\frac{1}{2} m_1 v_{\\rm initial}^2",
      "AST": "Equality(Symbol('pdg4121'), Mul(Pow(Integer(2), Integer(-1)), Mul(Symbol('pdg5022'), Pow(Symbol('pdg1934'), Integer(2)))))",
</pre>
    <P>


    {% include '_footer.html' %}

    </body>
</html>
