<!-- unlike all other pages, this page does not inherit from _base.html
     That's because the "sign in" and "navigation" links are not shown at the top of the page -->
<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<html>
  <head>
    <title>Physics Derivation Graph: {{ title }}</title>

    {% include '_js_head.html' %}

    <!-- https://stackoverflow.com/a/15027568/1164295 -->
    <style type="text/css">
      fieldset.inline {
        display: inline;
      }
    </style>

  </head>
  <body>

  <center>
    <H2>{{ title }}</H2>
  </center>

  <P>
    The intent of this set of pages is to illustrate the role of the Physics Derivation Graph in a scientific workflow, whether for an educational or research setting.
    To summarize, I claim there's a sequence of increasing nuance from text to Latex expressions to a Computer Algebra System to proofs.
    The four main aspects get broken into additional components, and there is tagging of words and sections.

  <P>
    <img src="{{ url_for('static', filename='increasing_levels_of_nuance_including_tagging.png')}}">

  <P>
    Mathematical proofs (item 12) and semantic enrichment (items 4, 5, 6) both play a role in formalization of Physics.
    There is a third aspect addressed by the Physics Derivation Graph (items 7 through 11).

  <P>
    The examples provided are visual rather than implementations of specific methods.
    <OL>
      <LI><a href="{{url_for('roadmap', which_layer="lecture")}}">lecture video</a>: verbal overview with whiteboard</LI>
      <LI><a href="{{url_for('roadmap', which_layer="handwritten")}}">hand-written notes</a>: contemporaneous with the lecture delivery</LI>
      <LI><a href="{{url_for('roadmap', which_layer="latex")}}">Latex document</a>: after the lecture, convert hand-written notes to Latex</LI>
      <LI>Content tags (as described by <a href="https://en.wikipedia.org/wiki/OMDoc#Coverage">OMdoc</a>)
        <UL>
          <LI><a href="{{url_for('roadmap', which_layer="tag_sections")}}">section document structure</a></LI>
          <LI><a href="{{url_for('roadmap', which_layer="tag_words")}}">tagging words</a></LI>
          <LI><a href="{{url_for('roadmap', which_layer="tag_expressions")}}">expression semantics</a></LI>
        </UL>
      </LI>
      <LI><a href="{{url_for('roadmap', which_layer="tag_all")}}">tags for sections and words and expressions</a>: combine all content tagging into a single document</LI>
      <LI><a href="{{url_for('roadmap', which_layer="variables")}}">concepts to variables</a>: relation between keywords and symbols</LI>
      <LI><a href="{{url_for('roadmap', which_layer="all_steps")}}">all steps</a>: all the implied steps documented</LI>
      <LI><a href="{{url_for('roadmap', which_layer="pdg")}}">derivation graph</a>: inference rules</LI>
      <LI><a href="{{url_for('roadmap', which_layer="numeric_id")}}">replace symbols with numeric ID</a>: globally consistent method for referriing to the same concept</LI>
      <LI><a href="{{url_for('roadmap', which_layer="CAS_validation")}}">validation of steps</a>: use a Computer Algebra System to check each step in a derivation</LI>
      <LI><a href="{{url_for('roadmap', which_layer="dimensional_validation")}}">validation of dimension</a>: use a Computer Algebra System to check dimensional consistency of each expression</LI>
      <LI><a href="{{url_for('roadmap', which_layer="proof")}}">proof of inference rule</a>: proofs that the inference rules are valid in a selected logical basis</LI>
    </OL>
    <P>
      The examples provided may have flaws and inconsistencies. Hopefully there is sufficient illustration to convey intent.
    <P>
      The Physics Derivation Graph does not depend on semantic tags. The PDG could be done after creating the Latex document.
    <P>
      There is a gap between sementically tagged and the Physics Derivation Graph. The relation is not clear.
    <P>
      The graph structure of a derivation does not fit into the hierarchical RDF data structure.

  <P>
    &nbsp;
  </P>
  <P>
    <I>References</I>
    <OL>
      <LI> <a href="http://cl-informatik.uibk.ac.at/cek/cicm-wip-tentative/DP3.pdf">"Understanding Scientific Documents with Synthetic Analysis on Mathematical Expressions and Natural Language"</a>
    by  Takuto Asakura (2019) at <a href="https://cicm-conference.org/2019/cicm.php">CICM 2019</a></LI>
      <LI> <a href="https://www.nrl.navy.mil/itd/imda/sites/www.nrl.navy.mil.itd.imda/files/pdfs/04E-SIW-044_final.pdf">"Towards an Ontology of Physics"</a>
        by J. B. Collins and D. Clark</LI>
        <LI><a href="https://www.youtube.com/watch?v=8WH4Rd4UKGE">"Metamath proof explorer: A Modern Principia Mathemtica"</a> by D. A. Wheeler</LI>
    </OL>
  </P>
    {% include '_footer.html' %}

    </body>
</html>
