<!-- unlike all other pages, this page does not inherit from _base.html
     That's because the "sign in" and "navigation" links are not shown at the top of the page -->
<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<HTML lang='en'>
  <head>
    <title>Physics Derivation Graph: {{ title }}</title>
    <!-- defines the default zoom for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include '_js_head.html' %}

    <!-- https://stackoverflow.com/a/15027568/1164295 -->
    <style type="text/css">
      fieldset.inline {
        display: inline;
      }
    </style>

  </head>
  <body>

    <center>
      <H2>{{ title }}</H2>
    </center>
    <P>
      <center>
        <table border="1" width="80%">
          <tr>
            <td valign="top"><P>&nbsp;</P><P><em><strong>Explanation</strong></em>: Identify relevant words and Physics-specific keywords in each sentence.
              Optionally, link these keywords to <a href="http://sciencewise.info/">ScienceWise</a> database or Wikipedia entry.
              <BR/>Here the keywords are visually indicated using labeled boxes.
                <P><em>Who does this work</em>: human content creator.<BR/>
                  A machine learning algorithm using natural language processing techniques (<a href="https://en.wikipedia.org/wiki/Named-entity_recognition">Named Entity Recognition</a> tailored to a given domain) could potentially do this work.
                <P><em>Motive for doing this work</em>: linking words as concepts to provide clear definition of terms.
            </td>
            <td width="300">
              Navigation:
              <OL>
                <LI><a href="{{url_for('roadmap', which_layer="lecture")}}">lecture video</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="handwritten")}}">hand-written notes</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="latex")}}">Latex document</a></LI>
                <LI>Content tags
                  <UL>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_sections")}}">section document structure</a></LI>
                    <LI><strong>tagging words</strong></LI>
                    <LI><a href="{{url_for('roadmap', which_layer="tag_expressions")}}">expression semantics</a></LI>
                  </UL>
                </LI>
                <LI><a href="{{url_for('roadmap', which_layer="tag_all")}}">tags for sections and words and expressions</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="variables")}}">concepts to variables</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="all_steps")}}">all steps</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="pdg")}}">derivation graph</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="CAS_validation")}}">validation of steps</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="numeric_id")}}">replace symbols with numeric ID</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="dimensional_validation")}}">validation of dimension</a></LI>
                <LI><a href="{{url_for('roadmap', which_layer="proof")}}">proof of inference rule</a></LI>
              </OL>
              Back to <a href="{{url_for('roadmap', which_layer="overview")}}">layers overview</a><BR/>
            </td>
          </tr>
        </table>
      </center>
    </P>

    <P>
      source: <a href="https://www.youtube.com/watch?v=5F1XcTjpJs4">"Derivation of Gravitational Potential Energy" by Rhett Allain</a>

    <P>
      Suppose an
      <fieldset class="inline">
		    <legend>tangible entity</legend>
        object
	    </fieldset>
      <fieldset class="inline">
		    <legend>condition</legend>
        starts
      </fieldset>
      an
		  <fieldset class="inline">
			  <legend>location</legend>
        infinite distance
		  </fieldset>
      from a
      <fieldset class="inline">
        <legend>tangible entity</legend>
        moon
      </fieldset>
      and is
      <fieldset class="inline">
        <legend>action</legend>
        dropped
      </fieldset>
      ,
      <fieldset class="inline">
        <legend>action</legend>
        falling
      </fieldset>
      <fieldset class="inline">
        <legend>direction</legend>
        towards
      </fieldset>
      the
      <fieldset class="inline">
        <legend>tangible entity</legend>
        moon
      </fieldset>
      <fieldset class="inline">
        <legend>cause</legend>
        due to
      </fieldset>

      <fieldset class="inline">
        <legend>measure</legend>
        gravitational acceleration.
      </fieldset>
          What is the
      <fieldset class="inline">
        <legend>measure</legend>
        speed
      </fieldset>
           of the
      <fieldset class="inline">
        <legend>tangible entity</legend>
        object
      </fieldset>
      <fieldset class="inline">
        <legend>condition</legend>
        when
      </fieldset>
      <fieldset class="inline">
        <legend>tangible entity</legend>
        it
      </fieldset>
      is
      <fieldset class="inline">
        <legend>measure</legend>
        distance
      </fieldset>
      \(r\) from the
      <fieldset class="inline">
        <legend>tangible entity</legend>
        moon?
      </fieldset>


        <center>
          <img src="{{ url_for('static', filename='diagrams/mass_falling_from_infinity.png') }}">
          Figure 1: small mass falling towards a moon from initial position at infinity.
        </center>
      <P>
    The
    <fieldset class="inline">
      <legend>condition</legend>
      initial condition
    </fieldset>
      is
    \begin{equation}
        v(x=\infty) =0
        \label{eq:initial_velocity}
    \end{equation}


    The
    <fieldset class="inline">
      <legend>measure</legend>
      force
    </fieldset>
       acting on the
    <fieldset class="inline">
      <legend>tangible entity</legend>
      object
    </fieldset>
      is
    \begin{equation}
        \vec{F} = \frac{-G m_1 m_2}{x^2} \hat{x}
        \label{eq:gravitational force}
    \end{equation}
    The
    <fieldset class="inline">
      <legend>measure</legend>
    work
    </fieldset>
    is calculated using W = \(\Delta E\) since the
    <fieldset class="inline">
      <legend>measure</legend>
      force
    </fieldset>
     changes. To find the cumulative
     <fieldset class="inline">
       <legend>measure</legend>
     work
     </fieldset>
      done on the
      <fieldset class="inline">
        <legend>tangible entity</legend>
        object
      </fieldset>
      , integrate over all positions between \(\infty\) and \(r\)
    \begin{equation}
        W = \int_{\infty}^r \vec{F}\cdot d\vec{r}
        \label{eq:work as function of force}
    \end{equation}

    Substituting the
    <fieldset class="inline">
      <legend>measure</legend>
      gravitational force
    </fieldset>
     into Eq. \ref{eq:work as function of force},
    \begin{equation}
        W = \int_{\infty}^r \frac{-G m_1 m_2}{x^2} dx
    \end{equation}
    Factor out the constants,
    \begin{equation}
        W = -G m_1 m_2\int_{\infty}^r \frac{1}{x^2} dx
    \end{equation}
    which leads to
    <!--
    \begin{equation}
        W = -G m_1 m_2 \left(\left.\frac{-1}{r}\right|^r_{\infty}\right)
    \end{equation}
    -->
    \begin{equation}
        W = \frac{G m_1 m_2}{r}
    \end{equation}
    Another definition of
    <fieldset class="inline">
      <legend>measure</legend>
    work
    </fieldset>
     is that it is the change in
     <fieldset class="inline">
       <legend>measure</legend>
     energy
     </fieldset>
      for a system: \(W = \Delta E \)
    Because the
    <fieldset class="inline">
      <legend>measure</legend>
    initial velocity
    </fieldset>
    was
    <fieldset class="inline">
      <legend>value</legend>
    zero
    </fieldset>
    , the
    <fieldset class="inline">
      <legend>measure</legend>
    work
    </fieldset>
     here is
    \begin{equation}
        W = \Delta KE
    \end{equation}
    Thus we can combine the two definitions of
    <fieldset class="inline">
      <legend>measure</legend>
    work
    </fieldset>
     to get
    \begin{equation}
        W = \frac{1}{2} m_1 v^2 = \frac{G m_1 m_2}{r}
    \end{equation}
    The \(m_1\) cancels, leaving
    \begin{equation}
     v(r) = \sqrt{\frac{2Gm_2}{r}}
    \end{equation}



    {% include '_footer.html' %}

    </body>
</html>
