{% extends "base.html" %}
{% block content %}


<table border="1"  class="sortable">
  <tr>
    <th>symbol ID</th>
    <th>category</th>
    <th>latex</th>
    <th>scope</th>
    <th>measure</th>
    <th>name</th>
    <th>references</th>
    <th>value</th>
    <th>Used in expressions</th>
  </tr>
{% for symbol_id, symbol_use_list in symbol_popularity_dict.items() %}
  <tr>
    <td><a name="{{ symbol_id }}">{{ symbol_id }}</a></td>
    <!-- category -->
    <td>{{ symbols_dict[symbol_id]['category'] }}</td>
    <!-- latex -->
    <td>{{ symbols_dict[symbol_id]['latex'] }}</td>
    <!-- scope -->
    <td>{{ symbols_dict[symbol_id]['scope'] }}</td>
    <!-- measure -->
    <td>
{% if 'measure' in symbols_dict[symbol_id] %}
{{ symbols_dict[symbol_id]['measure'] }}
{% endif %}
</td>
    <!-- name -->
    <td>
{% if 'name' in symbols_dict[symbol_id] %}
{{ symbols_dict[symbol_id]['name'] }}
{% endif %}
</td>
    <!-- references -->
    <td>
{% if 'references' in symbols_dict[symbol_id] %}
{{ symbols_dict[symbol_id]['references'] }}
{% endif %}
</td>
    <!-- value -->
    <td>
{% if 'value' in symbols_dict[symbol_id] %}
{{ symbols_dict[symbol_id]['value'] }}
{% endif %}
</td>
    <!-- used in expressions -->
    <td>{{ symbol_use_list }}</td>
  </tr>
{% endfor %}
  <caption>Physics Derivation Graph: {{ symbol_popularity_dict.keys()|length  }} Symbols</caption>
</table>

{% endblock %}

