{% extends "base.html" %}
{% block content %}

<table border="1"  class="sortable">
  <tr>
    <th>expression ID</th>
    <th>Latex</th>
    <th>Abstract Syntax Tree</th>
    <th>used in derivation</th>
  </tr>
{% for expr_id, expr_use_list in expression_popularity_dict.items() %}
  <tr>
    <td><a name="{{ expr_id }}">{{ expr_id}}</a></td>
    <td>{{ expressions_dict[expr_id]['latex'] }}</td>
    <td>{{ expressions_dict[expr_id]['AST'] }}</td>
    <td>{{ expr_use_list }}</td>
  </tr> 
{% endfor %}
  <caption>Physics Derivation Graph: {{ expression_popularity_dict.keys()|length  }} Expressions</caption>
</table>


<a id="delete_expression"></a>
  <h2>Delete an expression</h2>
<P>Only expressions that do not appear in any derivation can be deleted
<form method="post" action="">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="delete_expr" class="selectpicker form-control">
              {% for elem in list_of_expr_not_appearing_in_any_derivations %}
              <option value="{{ elem }}">{{ elem }}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Delete</button>
  </div>
</form>

<a id="edit_expr_latex"></a>
  <h2>Edit the latex for an expression</h2>
<form method="post" action="">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="edit_expr_latex" class="selectpicker form-control">
              {% for elem in sorted_list_exprs %}
              <option value="{{ elem }}">{{ elem }}</option>
              {% endfor %}
            </select>
<P>{{ edit_expr_latex_webform.revised_text.label }}: {{ edit_expr_latex_webform.revised_text }}
    </div>
    <button type="submit" class="btn btn-default">Update</button>
  </div>
</form>

{% endblock %}

