{% extends "_base.html" %}
{% block content %}


<P>show all derivations


<P>
<!--
  <a href="{ { url_for('static', filename=map_of_derivations, referrer='list_all_derivations') }}">
    <img src="{ { url_for('static', filename=map_of_derivations) }}">
  </a>
-->
  <center>
    <svg id='viz'></svg>
  </center>
<BR>
Hold the mouse over a node to highlight that node and its neighbors. You can zoom in/out. You can pan the image. You can move nodes by clicking and dragging.

</P>

<P>
{% include '_table_of_derivations.html' %}
</P>

{% include '_d3_js.html' %}

{% endblock %}
