{% extends "base.html" %}
{% block content %}

<P>a list of all inference rules</P>

<table border="1">
  <tr>
    <th>inf rule name</th>
    <th>inputs</th>
    <th>outputs</th>
    <th>feeds</th>
    <th>Latex</th>
    <th>Used in derivations</th>
  </tr>
{% for infrule, infrule_use_list in infrule_popularity_dict.items() %}
  <tr>
    <td>{{ infrule }}</td>
    <td>{{ infrules_dict[infrule]['number of inputs'] }}</td>
    <td>{{ infrules_dict[infrule]['number of outputs'] }}</td>
    <td>{{ infrules_dict[infrule]['number of feeds'] }}</td>
    <td>{{ infrules_dict[infrule]['latex'] }}</td>
    <td>{{ infrule_use_list }} </td>
  </tr>
{% endfor %}
  <caption>Physics Derivation Graph: Inference Rules</caption>
</table>


<!--
{% for inf_rule,inf_rule_attributes_dict in infrules_dict.items() %}
{{ inf_rule }}: {{ inf_rule_attributes_dict }}<BR>
{% endfor %}
-->

<!--
{% for infrule, infrule_use_list in infrule_popularity_dict.items() %}
<P>{{ infrule }}: {{ infrules_dict[infrule] }}<BR>
{{ infrule }} is used in derivations {{ infrule_use_list }} <BR>
{% endfor %}
-->

<a id="add_inf_rule"></a>
  <H2>Add new inference rule</h2> 
<form method="post" action="">
  <div class="form-group">
    <div class="input-group">

      <P>{{ add_infrule_webform.inf_rule_name.label }}: {{ add_infrule_webform.inf_rule_name }}
      <P>{{ add_infrule_webform.num_inputs.label }}:    {{ add_infrule_webform.num_inputs }}
      <P>{{ add_infrule_webform.num_feeds.label }}:     {{ add_infrule_webform.num_feeds }}
      <P>{{ add_infrule_webform.num_outputs.label }}:   {{ add_infrule_webform.num_outputs }}
      <P>{{ add_infrule_webform.latex.label }}:         {{ add_infrule_webform.latex }}
    </div>
<!--    <input type="submit" name="submit_button" value="add"> -->
     <button type="submit" class="btn btn-default">Add</button>
  </div>
</form>

<a id="delete_inf_rule"></a>
  <h2>Delete an inference rule</h2>
<form method="post" action="">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="delete_inf_rule" class="selectpicker form-control">
              {% for elem in sorted_list_infrules %}
              <option value="{{ elem }}">{{ elem }}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Delete</button>
  </div>
</form>

<a id="rename_inf_rule"></a>
  <h2>Rename an inference rule</h2>
<form method="post" action="">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="rename_inf_rule_from" class="selectpicker form-control">
              {% for elem in sorted_list_infrules %}
              <option value="{{ elem }}">{{ elem }}</option>
              {% endfor %}
            </select>
<P>{{ rename_infrule_webform.revised_text.label }}: {{ rename_infrule_webform.revised_text }}
    </div>
    <button type="submit" class="btn btn-default">Rename</button>
  </div>
</form>

<a id="edit_inf_rule_latex"></a>
  <h2>Edit the latex for an inference rule</h2>
<form method="post" action="">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="edit_inf_rule_latex" class="selectpicker form-control">
              {% for elem in sorted_list_infrules %}
              <option value="{{ elem }}">{{ elem }}</option>
              {% endfor %}
            </select>
<P>{{ edit_infrule_latex_webform.revised_text.label }}: {{ edit_infrule_latex_webform.revised_text }}
    </div>
    <button type="submit" class="btn btn-default">Update</button>
  </div>
</form>

{% endblock %}

