{% extends "_base.html" %}
{% block content %}

<P>a list of all operators</P>

<table border="1"  class="sortable">
  <tr>
    <th>operator</th>
    <th>argument count</th>
    <th>latex</th>
    <th>scope</th>
    <th>Used in expressions</th>
  </tr>
{% for operator_id, operator_use_list in operator_popularity_dict.items() %}
  <tr>
    <td><a name="{{ operator_id }}">{{ operator_id }}</a></td>
    <!-- arg count -->
    <td>{{ operators_dict[operator_id]['argument count'] }}</td>
    <!-- latex -->
    <td>{{ operators_dict[operator_id]['latex'] }}</td>
    <!-- scope -->
    <td>{{ operators_dict[operator_id]['scope'] }}</td>
    <!-- used in -->
    <td>
      <UL>
        {% for expr_id in operator_use_list %}
        <LI><a href="{{ url_for('list_all_expressions')}}#{{ expr_id }}"></LI>
        {% endfor %}
      </UL>
    </td>

  </tr>
{% endfor %}
  <caption>Physics Derivation Graph: {{ operator_popularity_dict.keys()|length  }} Operators</caption>
</table>

{% endblock %}

