{% extends "_base.html" %}
{% block content %}

<Center>
<H2>Expressions in the Physics Derivation Graph</H2>
</center>

<!-- https://www.w3schools.com/howto/howto_js_filter_table.asp -->
Case-insensitive dynamic search of latex as plain text: <input type="text" id="latex_input" onkeyup="latex_filter()" placeholder="Search latex (plain text)" size="50">

<form method="post" action="">
Case-sensitive static search of latex using regex:  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<!--  <div class="form-group">
    <div class="input-group"> -->
    <input type="text" id="regex_latex" name="regex latex" placeholder="Search latex using regex" size="50">
<!--    </div> -->
    <button type="submit" class="btn btn-default">Search</button>
<!--  </div> -->
</form>


<script>
function latex_filter() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("latex_input");
  filter = input.value.toUpperCase();
  table = document.getElementById("expr_table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    console.log(td)
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<P>
{% include '_table_of_expressions.html' %}

<P>
<fieldset>
<legend>
  <a id="delete expression">
    <h2>Delete an expression</h2>
  </a>
</legend>
  {% if current_user.is_anonymous %}
  This action requires you to be <a href="{{ url_for('login') }}?referrer=list_all_expressions">signed in</a>
  {% else %}
<P>Only expressions that do not appear in any derivation can be deleted
<form method="post" action="">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
          <select name="delete expr" class="selectpicker form-control">
            {% for expr_global_id in list_of_expr_not_appearing_in_any_derivations %}
              {% if expr_global_id in dat['expressions'].keys() %} <!-- conditional since dat returned for regex may not have the ID -->
                <option value="{{ expr_global_id }}">{{ expr_global_id }}, {{ dat['expressions'][expr_global_id]['latex'] }}</option>
              {% endif %}
            {% endfor %}
          </select>
    </div>
    <button type="submit" class="btn btn-default">Delete</button>
  </div>
</form>
{% endif %}
</fieldset>
</P>


<P>
<fieldset>
<legend>
  <a id="edit expr name">
    <h2>Edit the name of an expression</h2>
  </a>
</legend>
  {% if current_user.is_anonymous %}
  This action requires you to be <a href="{{ url_for('login') }}?referrer=list_all_expressions">signed in</a>
  {% else %}
<form method="post" action="">
{{ edit_expr_name_webform.csrf_token }}
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="edit_expr_name" class="selectpicker form-control">
              {% for expr_global_id in sorted_list_exprs %}
              {% if expr_global_id in dat['expressions'].keys() %} <!-- conditional since dat returned for regex may not have the ID -->
              <option value="{{ expr_global_id }}">{{ expr_global_id }}, {{ dat['expressions'][expr_global_id]['latex'] }}</option>
              {% endif %}
              {% endfor %}
            </select>
<P>{{ edit_expr_name_webform.revised_text.label }}: {{ edit_expr_name_webform.revised_text(size=50, maxlength=300) }} <small>max length = 300 characters</small>
    </div>
    <button type="submit" class="btn btn-default">Update</button>
  </div>
</form>
  {% endif %}
</fieldset>
</P>

<P>
<fieldset>
<legend>
  <a id="add symbol to AST">
    <h2>Add a symbol to the AST for an expression</h2>
  </a>
</legend>
  {% if current_user.is_anonymous %}
  This action requires you to be <a href="{{ url_for('login') }}?referrer=list_all_expressions">signed in</a>
  {% else %}
<form method="post" action="">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="add_symbol_to_expr_id" class="selectpicker form-control">
              {% for expr_global_id in sorted_list_exprs %}
              {% if expr_global_id in dat['expressions'].keys() %} <!-- conditional since dat returned for regex may not have the ID -->

              <option value="{{ expr_global_id }}">{{ expr_global_id }}, {{ dat['expressions'][expr_global_id]['latex'] }}</option>
              {% endif %}
              {% endfor %}
            </select>

            <select name="symbol_id_to_add" class="selectpicker form-control">
              {% for sid, symbol_dict in dat['symbols']|dictsort %}
              <option value="{{ sid }}">{{ sid }}, {{ symbol_dict['latex'] }}</option>
              {% endfor %}   
            </select>

      </div>
    <button type="submit" class="btn btn-default">Update</button>
  </div>
</form>
  {% endif %}
</fieldset>
</P>

<P>
<fieldset>
<legend>
  <a id="delete symbol from AST">
    <h2>Remove symbol from the AST for an expression</h2>
  </a>
</legend>
  {% if current_user.is_anonymous %}
  This action requires you to be <a href="{{ url_for('login') }}?referrer=list_all_expressions">signed in</a>
  {% else %}
<form method="post" action="">
I don't know what the form for this looks like yet
</form>
  {% endif %}
</fieldset>
</P>


<P>
<fieldset>
<legend>
  <a id="edit expr latex">
    <h2>Edit the latex for an expression</h2>
  </a>
</legend>
  {% if current_user.is_anonymous %}
  This action requires you to be <a href="{{ url_for('login') }}?referrer=list_all_expressions">signed in</a>
  {% else %}
<P>
  Caveat: altering the latex of an expression may break the validation of one or more steps if this expression is used in a derivation
</P>
<form method="post" action="">
{{ edit_expr_note_webform.csrf_token }}
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="edit_expr_latex" class="selectpicker form-control">
              {% for expr_global_id in sorted_list_exprs %}
              {% if expr_global_id in dat['expressions'].keys() %} <!-- conditional since dat returned for regex may not have the ID -->

              <option value="{{ expr_global_id }}">{{ expr_global_id }}, {{ dat['expressions'][expr_global_id]['latex'] }}</option>
              {% endif %}
              {% endfor %}
            </select>
<P>{{ edit_expr_latex_webform.revised_text.label }}: {{ edit_expr_latex_webform.revised_text(size=50, maxlength=300, id="input_latex") }} <small>max length = 300 characters</small>

   <input type="checkbox" id="display_input_latex" checked="" onchange="convert('input_latex','display_input_latex', 'preview_input_latex','output_input_latex')">
   <small><label for="display_input_latex">Display style</label></small>

   <input type="button" value="optional preview of TeX before submitting form" id="preview_input_latex" onclick="convert('input_latex','display_input_latex', 'preview_input_latex','output_input_latex')">

   <br clear="all">
   <div id="output_input_latex"></div>

    </div>
    <button type="submit" class="btn btn-default">Update</button>
  </div>
</form>
  {% endif %}
</fieldset>
</P>

<P>
<fieldset>
<legend>
  <a id="edit expr note">
    <h2>Edit the note for an expression</h2>
  </a>
</legend>
  {% if current_user.is_anonymous %}
  This action requires you to be <a href="{{ url_for('login') }}?referrer=list_all_expressions">signed in</a>
  {% else %}
<form method="post" action="">
{{ edit_expr_note_webform.csrf_token }}
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="edit_expr_note" class="selectpicker form-control">
              {% for expr_global_id in sorted_list_exprs %}
              {% if expr_global_id in dat['expressions'].keys() %} <!-- conditional since dat returned for regex may not have the ID -->

              <option value="{{ expr_global_id }}">{{ expr_global_id }}, {{ dat['expressions'][expr_global_id]['latex'] }}</option>
              {% endif %}
              {% endfor %}
            </select>
<P>{{ edit_expr_note_webform.revised_text.label }}: {{ edit_expr_note_webform.revised_text(size=50, maxlength=300) }} <small>max length = 300 characters</small>
    </div>
    <button type="submit" class="btn btn-default">Update</button>
  </div>
</form>
  {% endif %}
</fieldset>
</P>



{% endblock %}

