{% extends "_base.html" %}
{% block content %}


<H1>Literature Review for the Physics Derivation Graph</H1>
<P>
  This page contains references to papers that lack associated software.
  For software, see also <a href="{{ url_for('other_projects') }}">this listing</a>.
    <!--
  <div id="toc_container">
  <p class="toc_title">Contents</p>
  <OL class="toc_list">

    <LI><a href="#"></a></LI>

    In bash,
    cat literature_review.html | grep "<H4" | sed 's/H4>/LI>/g' | sed 's/name="/name="#/'


  </OL>
  </div>
-->
  The purpose of these references is to contextualize the Physics Derivation Graph.

<!--
Recommendations for reading (not everything listed here is worth reading).
-->

<!--
To create a new citation, use
https://truben.no/latex/bibtex/#

To clean up formatting of a citation, use
https://flamingtempura.github.io/bibtex-tidy/
-->
<table border="1"  class="sortable">
  <tr>
    <th>Citation</th>
    <th>Comment</th>
    <th>Domain</th>
    <th>Semantic Enrichment</th>
  </tr>
  <!--
  <tr>
    <td> <!-- citation -- >
    </td>
    <td> <!-- comment -- >
    </td>
    <td> <!-- domain -- >
    </td>
    <td> <!-- semantic enrichment -- >
    </td>
  </tr>
    -->
    <tr>
      <td> <!-- citation -->
@article{2023_Cornelio,
  title={Combining data and theory for derivable scientific discovery with AI-Descartes},
  author = {C.~Cornelio and S.~Dash and V.~Austel and T.~R.~Josephson and J.~Goncalves, K.~L.~Clarkson and N.~Megiddo and B.~El~Khadir and L.~Horesh},
  year = {2023},
  journal = {Nat. Commun.},
  volume = {17}
  url = {https://doi.org/10.1038/s41467-023-37236-y}
</td>
<td> <!-- comment -->
</td>
<td> <!-- domain -->
  Machine Learning of Mathematical Physics
</td>
<td> <!-- semantic enrichment -->
</td>
    </tr>
    <tr>
      <td> <!-- citation -->
@article{2023_Bobbin,
  title={Formalizing Chemical Theory Using the Lean Theorem Prover},
  author = {M.~P.~Bobbin and S.~Sharlin and P.~Feyzishendi and A.~H.~Dang and C.~M.~Wraback and T.~R.~Josephson}
  year = {2023},
  url = {https://arxiv.org/abs/2210.12150}
      </td>
      <td> <!-- comment -->
      </td>
      <td> <!-- domain -->
      </td>
      <td> <!-- semantic enrichment -->
      </td>
    </tr>
    <tr>
      <td> <!-- citation -->
@article{2022_Lemos,
  title = {Rediscovering orbital mechanics with machine learning},
  author = {P.~Lemos and N.~Jeffrey and M.~Cranmer and S.~Ho and P.~Battaglia},
  year = {2022},
  url = {https://arxiv.org/abs/2202.02306}
}
      </td>
      <td> <!-- comment -->
        Neural network and symbolic regression<BR>
          See also <a href="https://twitter.com/MilesCranmer/status/1500918611258585090">this twitter thread</a>
      </td>
      <td> <!-- domain -->
        Science
      </td>
      <td> <!-- semantic enrichment -->
        No
      </td>
    </tr>
  <tr>
    <td>
      <pre>
@book{1998_Wilson_Consilience,
  title        = {Consilience: The Unity of Knowledge},
  author       = {<a href="https://en.wikipedia.org/wiki/E._O._Wilson">Edward O. Wilson</a>},
  year         = {1998},
  url          = {<a href="https://en.wikipedia.org/wiki/Consilience\%5F(book)">https://en.wikipedia.org/wiki/Consilience\%5F(book)</a>},
  note         = {Tackles "the synthesis of knowledge from
                  different specialized fields of human endeavor."}
}
      </pre>
    </td> <!-- citation -->
    <td>
      <blockquote cite="https://www.azquotes.com/quote/1117453">
        Science offers the boldest metaphysics of the age. It is a thoroughly human construct, driven by the faith that if we dream, press to discover, explain, and dream again, thereby plunging repeatedly into new terrain, the world will somehow come clearer and we will grasp the true strangeness of the universe.
        <strong>And the strangeness will all prove to be connected, and make sense</strong>.
        <footer><cite><a href="https://www.azquotes.com/quote/1117453">source</a></cite></footer>
      </blockquote>
    </td> <!-- comment -->
    <td>Science</td> <!-- domain -->
    <td>No</td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{2002_Hestenes,
  title  = {Oersted Medal Lecture 2002: Reforming the Mathematical Language of Physics},
  author = {D.~Hestenes},
  year   = {2002},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
@book{1913_whiteheadrussell,
  title        = {Principia Mathematica},
  author       = {Whitehead and Russell},
  year         = {1913},
  url          = {<a href="https://en.wikipedia.org/wiki/Principia\%5FMathematica" target="\%5Fblank">https://en.wikipedia.org/wiki/Principia\%5FMathematica</a>;
                  <a href="https://plato.stanford.edu/entries/principia-mathematica/" target="\%5Fblank">https://plato.stanford.edu/entries/principia-mathematica/</a>},
  note         = {famous for proof of 1+1=2}
}
      </pre>
    </td> <!-- citation -->
    <td>
      The ambitious effort of Whitehead and Russell to prove the foundations of
      mathematics is not similar to the Physics Derivation Graph.
      <P>
        "Proof" doesn't apply in Physics.
      <P>
        The Physics Derivation Graph is about documenting existing knowledge
        in a format which can be parsed by computers.
    </td> <!-- comment -->
    <td>Math</td> <!-- domain -->
    <td>No</td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
@article{2018_Patterson,
  title        = {Teaching machines to understand data science code by
                  semantic enrichment of dataflow graphs},
  author       = {E. Patterson and I. Baldini and A. Mojsilovic and K. Varshney},
  year= {2018}
}
      </pre>
    </td> <!-- citation -->
    <td>
      machine-oriented controlled natural language, MONoidal Ontology and Computing Language (Monocl) for parsing software.
    </td> <!-- comment -->
    <td>CNL</td> <!-- domain -->
    <td>No</td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{2021_Bucur_Kuhn,
  title        = {Expressing High-level Scientific Claims with Formal Semantics},
  author       = {C.~Bucur and D.~Ceolin and T.~Kuhn and J.~van~Ossenbruggen},
  year= {2021},
  url={https://arxiv.org/pdf/2109.12907.pdf}
}
      </pre>
    </td> <!-- citation -->
    <td>
      machine-oriented controlled natural language, MONoidal Ontology and Computing Language (Monocl) for parsing software.
    </td> <!-- comment -->
    <td>CNL</td> <!-- domain -->
    <td>No</td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{2009_kuhn,
  title  = {How to Evaluate Controlled Natural Languages},
  author = {T.~Kuhn},
  year   = {2009},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
  @article{2019_Kohlhase_Rabe,
  title  = {Big Math and the One-Brain Barrier},
  author = {J.~Carette and W.~M.~Farmer and M.~Kohlhase and F.~Rabe},
  year   = {2019},
  url    = {<a href="https://arxiv.org/abs/1904.10405">https://arxiv.org/abs/1904.10405</a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
Clear writing. Broad survey of efforts in formalizing math.
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
  @article{2008_kuhn_schwitter,
  title  = {Writing Support for Controlled Natural Languages},
  author = {T.~Kuhn and R.~Schwitter},
  year   = {2008},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @presentation{2010_Schwitter,
  title  = {Controlled Natural Languages for Knowledge Representation},
  author = {R.~Schwitter},
  year   = {2010},
  url    = {<a href="http://staff.um.edu.mt/mros1/cnl2010/TALKS/schwitter_tutorial.pdf">schwitter_tutorial.pdf</a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{2008_Kuhn_eval,
  title  = {An Evaluation Framework for Controlled Natural Languages},
  author = {T.~Kuhn},
  year   = {2008},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{2014_Kuhn_survey,
  title  = {A Survey and Classification of Controlled Natural Languages},
  author = {T.~Kuhn},
  year   = {2014},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{2018_Kuhn,
  title        = {Using the AIDA language to formally organize scientific claims},
  author       = {T. Kuhn},
  year= {2018},
  isbn = {978-1-61499-903-4},
  doi = {10.3233/978-1-61499-904-1-52},
  url = {<a href="https://ebooks.iospress.nl/volume/controlled-natural-language-proceedings-of-the-sixth-international-workshop-cnl-2018-maynooth-co-kildare-ireland-august-27-28-2018">https://ebooks.iospress.nl/</a>}
}
      </pre>
    </td> <!-- citation -->
    <td>
      human-oriented controlled natural language for scientific claims
    </td> <!-- comment -->
    <td>CNL</td> <!-- domain -->
    <td>No</td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
@article{2017_Cvjetkovic,
  title        = {Web physics ontology: online interactive symbolic computation in physics},
  author       = {V.~Cvjetkovic},
  year= {2017},
  pages = {52--57},
  url = {<a href="http://physics.kg.ac.rs/fizika/scopes/p11expat17_paper_74.pdf">http://physics.kg.ac.rs</a>}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{2017_Gross,
  title  = {Math and Physics using SymPy},
  author = {Gross},
  year   = {2017},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
@article{1961_Bergmann,
  title        = {Physics and Ontology},
  author       = {G.~Bergmann},
  year= {1961},
  journal = {Philosophy of Science},
  pages = {1--14},
  url = {<a href="https://www.jstor.org/stable/185460">https://www.jstor.org/stable/185460</a>}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{2014_Collins_Clark,
  title        = {Towards an Ontology of Physics},
  author       = {J.~B.~Collins and D.~Clark},
  year= {2014},
  url = {<a href=""></a>}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{2004_Collins,
  title        = {Standardizing an Ontology of Physics for Modeling and Simulation},
  author       = {J.~B.~Collins},
  year= {2004},
  url = {<a href="https://apps.dtic.mil/sti/pdfs/ADA610086.pdf">https://apps.dtic.mil/sti/pdfs/ADA610086.pdf</a>}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{2018_Schubotz,
  title        = {Improving the Representation and Conversion of Mathematical
                  Formulae by Considering their Textual Context},
  author       = {M. Schubotz and A. Greiner-Petter and P. Scharpf and
                  N. Meuschke and H. S. Cohl and B. Gipp},
  year= {2018},
  url = {<a href="https://arxiv.org/pdf/1804.04956.pdf">https://arxiv.org/pdf/1804.04956.pdf</a>}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{2013_Cramer,
  title        = {Proof-checking mathematical texts in controlled natural language},
  author       = {M. Cramer},
  year= {2013},
  url = {<a href="https://icr.uni.lu/mcramer/downloads/doktor.pdf">https://icr.uni.lu/mcramer/downloads/doktor.pdf</a>},
  note = {origin of Naproche}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{2013_Cramer,
  title        = {The Naproche Project Controlled Natural Language Proof Checking of Mathematical Texts},
  author       = {M. Cramer and P. Koepke and D. Kuhlwein and B. Schroder and J. Veldman},
  year= {2013},
  url = {<a href="http://ceur-ws.org/Vol-448/paper10.pdf">http://ceur-ws.org/Vol-448/paper10.pdf</a>}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{2020_Kaliszyk_Rabe,
  title        = {A Survey of Languages for Formalizing Mathematics},
  author       = {C. Kaliszyk and F. Rabe},
  year= {2020},
  url = {<a href="https://arxiv.org/pdf/2005.12876.pdf">https://arxiv.org/pdf/2005.12876.pdf</a>}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td>Math</td> <!-- domain -->
    <td>Yes</td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{2005_Brandes,
  title  = {GXL to GraphML and Vice Versa with XSLT},
  author = {U.~Brandes and J.~Lerner and C.~Pich},
  year   = {2005},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{2000_Sowa,
  title  = {Knowledge Representation: Logical, Philosophical, and Computational Foundations},
  author = {J.~Sowa},
  year   = {2000},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @book{1994_Chou,
  title  = {Machine Proofs in Geometry: Automated Production of Readable Proofs in Geometry},
  author = {S.-C.~Chou and X.-S.~Gao and J.-Z.~Zhang},
  year   = {1994},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
  @chapter{1997_zeman,
  title  = {The Tinctures and Implicit Quantification over Worlds},
  author = {J.~Zeman},
  year   = {1997},
  pages = {96--119}
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
      Ruminations on how C.S. Peirce would use a computer for math diagrams.
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
@article{2000_Wiedijk,
  title        = {The De Bruijn Factor},
  author       = {F.~Wiedijk},
  year= {2000},
  url = {<a href=""></a>;
         <a href="https://www.cs.ru.nl/~freek/factor/"></a>},
  note = {de Bruijn factor is the quotient of the size of a formalization of a
          mathematical text and the size of its informal original.}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{1994_de_Bruijn,
  title        = {A survey of the project Automath},
  author       = {N. G. de Bruijn},
  year= {1994}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{2007_Wiedijk,
  title  = {The QED Manifesto Revisited},
  author = {F.~Wiedijk},
  year   = {2007},
  url    = {<a href="http://mizar.org/trybulec65/8.pdf">http://mizar.org/trybulec65/8.pdf</a>;
            <a href="https://www.cs.ru.nl/~freek/pubs/qed2.pdf">https://www.cs.ru.nl/~freek/pubs/qed2.pdf</a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
  @article{2016_Hinsen,
  title  = {Leibniz: A Digital Scientific Notation},
  author = {K.~Hinsen},
  year   = {2016},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
  @thesis{2006_wu,
  title  = {Authoring XML documents with XHTML and MathML support},
  author = {X.~Wu},
  year   = {2006},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
@unpublished{2009_McKain,
  title        = {},
  year = {2009},
  author       = {D.~McKain},
  url = {<a href="https://www.slideshare.net/cstan98/math-content-conversion">math-content-conversion</a>;
         <a href="https://stadium.open.ac.uk/webcast-ou/documents/mc09_david_mckain_conversion.pdf">mc09_david_mckain_conversion.pdf</a>}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{1997_Caspi,
  title  = {Parsing Mathematics Typeset in Tex},
  author = {E.~Caspi},
  year   = {1997},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
@book{2009_Chein,
  author={M.~Chein and M.~Mugnier},
  year={2009},
  title={Graph-based Knowledge Representation:
         Computational Foundations of Conceptual Graphs},
  publisher={Springer},
  ISBN={978-1-84800-285-2}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{2008_Sowa,
  title  = {Conceptual Graphs},
  author = {J.~F.~Sowa},
  year   = {2008},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
@article{1976_Sowa,
  author={J.~.F.~Sowa},
  month={July},
  year={1976},
  title={Conceptual Graphs for a Data Base Interface},
  journal={IBM Journal of Research and Development},
  url={<a href="http://www.jfsowa.com/pubs/cg1976.pdf">http://www.jfsowa.com/pubs/cg1976.pdf</a>},
  pages={336–-357}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{1979_Sowa,
  title  = {Semantics of Conceptual Graphs},
  author = {J.~.F.~Sowa},
  year   = {1979},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{1988_Stokman,
  title  = {Structuring Knowledge in a Graph},
  author = {F.~N.~Stokman and P.~H.~de~Vries},
  year   = {1988},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @thesis{2013_Barry,
  title  = {Mathlex: a web-based Mathematical Entry System},
  author = {M.~J.~Barry},
  year   = {2013},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{2012_Lange,
  author={C.~Lange},
  year={2012},
  title={Ontologies and Languages for Representing Mathematical Knowledge on the Semantic Web},
  url={<a href="http://www.semantic-web-journal.net/sites/default/files/swj122_3.pdf">http://www.semantic-web-journal.net/sites/default/files/swj122_3.pdf</a>}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{Kumar,
  author={N.~Kumar},
  year={},
  title={Comprehensive Physics XI},
  url={https://books.google.com/books?id=Yp6gBq4lXEgC}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{2012_Paleo,
  author={B.~Paleo},
  year={2012},
  month={Sept},
  title={Physics and proof theory},
  journal={Appl. Math. Comput.},
  doi={10.1016/j.amc.2011.06.058}
}
      </pre>
    </td> <!-- citation -->
    <td>
      logic-based; impractical
    </td> <!-- comment -->
    <td>Logic</td> <!-- domain -->
    <td>No</td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@misc{2014_Wolfram,
  author={S.~Wolfram},
  month={August},
  year={2014},
  title={Computational Knowledge and the Future of Pure Mathematics},
  url={<a href="https://writings.stephenwolfram.com/2014/08/computational-knowledge-and-the-future-of-pure-mathematics/">blog entry</a>},
  pages={336–-357}
}
      </pre>
    </td> <!-- citation -->
    <td>
      see the "step-by-step" reference for the closest association with the PDG.
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@book{2013_Gellish,
  author={A. Van Renssen},
  month={Nov},
  year={2013},
  title={Formalized Natural Languages}
}
      </pre>
    </td> <!-- citation -->
    <td>Author of <a href="https://www.gellish.net/">Gellish</a>

      <P>Previous edition was<BR>

        Gellish: A Generic Extensible Ontological Language - Design and Application of a Universal Data Structure :: A. Van Renssen (2005)
    </td> <!-- comment -->
    <td>knowledge management</td> <!-- domain -->
    <td>no</td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{2005_Renssen,
  title  = {Gellish: A Generic Extensible Ontological Language},
  author = {A.~van~Renssen},
  year   = {2005},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@book{OWL,
  title        = {Ontological Web Language},
  author       = {},
  url = {<a href="https://en.wikipedia.org/wiki/Web_Ontology_Language">https://en.wikipedia.org/wiki/Web_Ontology_Language</a>}
}
      </pre>
    </td> <!-- citation -->
    <td>
      Data structure for knowledge
    </td> <!-- comment -->
    <td>Data structure syntax</td> <!-- domain -->
    <td>Yes</td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{1968_Suppes,
  title        = {The Desirability of Formalization in Science},
  author       = {P. Suppes},
  year         = {1968},
  journal      = {Journal of Philosophy},
  volume       = {65},
  pages        = {651--664}
}
      </pre>
    </td> <!-- citation -->
    <td>
      Argues for a set-theory-based need for science to support explicitness,
      standardization, generality, objectivity, self-contained assumptions,
      and minimal assumptions.
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
        @ARTICLE{2011_Lamport,
        year={2011},
        author={L.~Lamport},
        title={How to Write a 21st Century Proof},
        url={http://research.microsoft.com/en-us/um/people/lamport/pubs/proof.pdf},
        note={http://research.microsoft.com/en-us/um/people/lamport/pubs/pubs.html#lamport-how-to-write}
        }
      </pre>
    </td> <!-- citation -->
    <td>
      Leslie Lamport math proof notation
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{2019_Frerix,
  title  = {Making Set Theory Great Again: the Naproche-SAD project},
  author = {Frerix},
  year   = {2019},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
@article{1993_Boyer,
  title        = {QED manifesto},
  author       = {R. Boyer},
  year         = {1993},
  url          = {<a href="https://en.wikipedia.org/wiki/QED\%5Fmanifesto">https://en.wikipedia.org/wiki/QED\%5Fmanifesto</a>;
                  <a href="https://www.cs.ru.nl/~freek/qed/qed.html">https://www.cs.ru.nl/~freek/qed/qed.html</a>}
}
      </pre>
    </td> <!-- citation -->
    <td>
      Content after 1994 is likely based on or influenced by the QED manifesto, so that is useful to read.
      <P>
      Goal:
      </P>
      <blockquote cite="https://www.cs.ru.nl/~freek/qed/qed.html">
      To build a computer system that effectively represents all important
      mathematical knowledge and techniques. The QED system will conform to
      the highest standards of mathematical rigor, including the use of strict
      formality in the internal representation of knowledge and the use of
      mechanical methods to check proofs of the correctness of all entries in the system.
        <footer>
          <cite>
            <a href="https://www.cs.ru.nl/~freek/qed/qed.html">source</a>
          </cite>
        </footer>
      </blockquote>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{2012_Zanibbi,
  title  = {Recognition and Retrieval of Mathematical Expressions},
  author = {R.~Zanibbi and D.~Blostein},
  year   = {2012},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{2020_Kirillovich,
  title  = {OntoMathEdu: a Linguistically Grounded Educational Math Ontology},
  author = {A.~Kirillovich and O.~Nevzorova and M.~Falileeva and E.~Lipachev and L.~Shakirova},
  year   = {2020},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{2003_Strotmann,
  title  = {Content Markup Language Design Principles},
  author = {A.~Strotmann},
  year   = {2003},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{2020_DeLon,
  title  = {Integrating ForTheL with Latex},
  author = {A.~De~Lon},
  year   = {2020},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
      CICM 2020
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{2020_Kirillovich_ecosystem,
  title  = {OntoMath Digital Ecosystem},
  author = {A.~Kirillovich},
  year   = {2020},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
      CICM 2020
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
  @article{2007_Groza,
  title  = {SALT - Semantically Annotated LaTeX for Scientific Publications},
  author = {T.~Groza and S.~Handschuh and K.~Moller and S.~Decker},
  year   = {2007},
  volume = {4519},
  pages = {518--532},
  url    = {<a href="https://link.springer.com/content/pdf/10.1007/978-3-540-72667-8_37.pdf">springer.com</a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
      focuses on decorators like "claim" and "explanation."
      No suggestion of handling mathematics.
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
  @article{2019_Asakura,
  title  = {Understanding Scientific Documents with Synthetic Analysis on
            Mathematical Expressions and Natural Language},
  author = {T.~Asakura},
  year   = {2019},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
  @article{2001_Fateman,
  title  = {A Critique of OpenMath and Thoughts on Encoding Mathematics},
  author = {R.~Fateman},
  year   = {2001},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
  @proceedings{1994_Boyer,
  title  = {The QED Manifesto},
  author = {R.~Boyer},
  journal = {Automated Deduction - CADE 12}
  volume = {814}
  year   = {1994},
  pages = {238--251},
  url    = {<a href=""></a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
  @article{1994_Thurston,
  title  = {On Proof and Progress in Mathematics},
  author = {W.~P.~Thurston},
  year   = {1994},
  url    = {<a href="https://arxiv.org/abs/math/9404236v1">https://arxiv.org/abs/math/9404236v1</a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
      response to "Theoretical Mathematics: Toward a cultural synthesis of mathematics and theoretical physics"
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
  @article{1993_Jaffe_Quinn,
  title  = {Theoretical mathematics: Toward a cultural synthesis of mathematics and theoretical physics},
  author = {A.~Jaffe and F.~Quinn},
  year   = {1993},
  url    = {<a href="https://arxiv.org/abs/math/9307227">https://arxiv.org/abs/math/9307227</a>}
  }
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>

  <tr>
    <td>
      <pre>
@article{2016_Weiss,
  title        = {The QED Manifesto after Two Decades -- Version 2.0},
  author       = {Weiss},
  year         = {2016},
  url          = {<a href="https://pdfs.semanticscholar.org/6139/579ab589c62397ef4ba6728da42f519c9b8c.pdf">source</a>}
}
      </pre>
    </td> <!-- citation -->
    <td>
      Describes "Mathropolis" and a "mathematical content markup language"
      A non-CAS based metalanguage is attempted in "The QED Manifesto after Two Decades -- Version 2.0"
      The paper discusses Mathropolis, which is intended to optimize for readability over formality.
      The paper describes a "mathematical content markup language" and provides an example.
      <P>
      In email conversation with Weiss, he said,
      <blockquote>
        "I started fleshing out some code but when I realised the extent of the project is
        huge and that it would consume my maths research I decided to stop."
      </blockquote>
        He also said,
      <blockquote>
      "I still think that the idea of MCML would be extremely helpful in academia and particularly
      in subjects such as mathematics and physics (and others)."
      </blockquote>
    </td> <!-- comment -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{2003_Stuber_Brand,
  title        = {Extracting mathematical semantics from LATEX documents},
  author       = {J. Stuber and M. Brand},
  year = {2003},
  url = {<a href="https://pdfs.semanticscholar.org/a91a/f3fa64e1296de470206f375a29ddc1c7b54d.pdf">semanticscholar.org</a>}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td>Document Markup and Enrichment</td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{2015_Moore,
  title        = {Semantic Enrichment of Mathematics via tooltips},
  author       = {Moore},
  year         = {2015},
  url          = {<a href="https://tug.org/tug2015/preprints/moore-mathsem-cicm2015-v7.pdf">https://tug.org/tug2015/preprints/moore-mathsem-cicm2015-v7.pdf</a>}
}
      </pre>
    </td> <!-- citation -->
    <td>
      "mathsem" source code not found online
    </td> <!-- comment -->
    <td>Document Markup and Enrichment</td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{2019_Szegedy,
  title        = {Graph Representations for
                  Higher-Order Logic and Theorem Proving},
  author       = {C. Szegedy and },
  year = {2019}
}
      </pre>
    </td> <!-- citation -->
    <td>
      comment thread: <a href="https://news.ycombinator.com/item?id=24389058">https://news.ycombinator.com/item?id=24389058</a><BR/>
      <P>
      This paper is not related to the Physics Derivation Graph as far as I can tell.
    </td> <!-- comment -->
    <td></td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
  <tr>
    <td>
      <pre>
@article{2009_redish_gupta,
  title        = {Making Meaning with Math in Physics:
                  A semantic analysis},
  author       = {E. F. Redish and A. Gupta},
  year = {2009},
  url = {<a href="https://arxiv.org/abs/1002.0472">https://arxiv.org/abs/1002.0472</a>}
}
      </pre>
    </td> <!-- citation -->
    <td>
    </td> <!-- comment -->
    <td>Document Markup and Enrichment</td> <!-- domain -->
    <td></td> <!-- semantic enrichment -->
  </tr>
</table>

<P>
  Derivation sites to assess:
  <UL>
    <LI><a href="http://www.dfcd.net/articles/derivations/derivations.html">http://www.dfcd.net/articles/derivations/derivations.html</a></LI>
    <LI><a href="https://physics.info/">https://physics.info/</a></LI>
    <LI><a href="https://en.wikipedia.org/w/index.php?title=Special:Search&search=intitle%3A%22Derivation%22&ns0=1">Wiki pages with "Derivation" in title</a></LI>
    <LI><a href="https://en.wikipedia.org/w/index.php?title=Special:Search&search=intitle%3A%22Derive%22&ns0=1">Wiki pages with "Derive" in title</a></LI>
<!--    <LI><a href=""></a></LI> -->
  </UL>
</P>

<P>
  Quotations
  </P>
  <blockquote cite="Six Lectures on Modern Natural Philosophy">
    There is nothing that can be said by mathematical symbols and relations which cannot also
    be said by words. The converse, however, is false. Much that can be and is said by words
    cannot be put into equations – because it is nonsense.
    <footer>
      <cite>Clifford A. Truesdell in "Six Lectures on Modern Natural Philosophy"; Chapter 3; page 35</cite>
    </footer>
  </blockquote>


{% endblock %}
