{% extends "_base.html" %}
{% block content %}


<H1>Literature Review for the Physics Derivation Graph</H1>
<P>
  This page contains references to papers that lack associated software.
  For software and papers, see also <a href="{{ url_for('other_projects') }}">this listing</a>.

  <div id="toc_container">
  <p class="toc_title">Contents</p>
  <OL class="toc_list">
    <!--
    <LI><a href="#"></a></LI>

    In bash,
    cat literature_review.html | grep "<H4" | sed 's/H4>/LI>/g' | sed 's/name="/name="#/'
    -->
    <LI><a name="#Consilience">Consilience: The Unity of Knowledge</a></LI>
    <LI><a name="#Gellish">Gellish</a></LI>
    <LI><a name="#Desirability of Formalization">Desirability of Formalization</a></LI>
    <LI><a name="#QED Manifesto">QED Manifesto</a></LI>
    <LI><a name="#document markup">Document Markup and Enrichment</a></LI>

  </OL>
  </div>
  The purpose of these references is to contextualize the Physics Derivation Graph.

<!--
Recommendations for reading (not everything listed here is worth reading).
-->
</P>

<!--
<H4><a name=""></a></H4>
<P>
-->

<H4><a name="Consilience">Consilience: The Unity of Knowledge</a></H4>
<P>
  In the 1998 <a href="https://en.wikipedia.org/wiki/Consilience_(book)">book</a> by <a href="https://en.wikipedia.org/wiki/E._O._Wilson">Edward O. Wilson</a>, he tackled "the synthesis of knowledge from different specialized fields of human endeavor."

  <blockquote cite="https://www.azquotes.com/quote/1117453">
    Science offers the boldest metaphysics of the age. It is a thoroughly human construct, driven by the faith that if we dream, press to discover, explain, and dream again, thereby plunging repeatedly into new terrain, the world will somehow come clearer and we will grasp the true strangeness of the universe.
    <strong>And the strangeness will all prove to be connected, and make sense</strong>.
  </blockquote>

<H4><a name="Gellish">Gellish</a></H4>
<a href="https://en.wikipedia.org/wiki/Gellish">https://en.wikipedia.org/wiki/Gellish</a>

<H4><a name="Desirability of Formalization">Desirability of Formalization</a></H4>
"The Desirability of Formalization in Science"<BR/>
  P. Suppes in <em>Journal of Philosophy</em> 65, 1968, pages 651--664.

<H4><a name="QED Manifesto">QED Manifesto</a></H4>
<P>
Content after 1994 is likely based on or influenced by the QEC manifesto, so that is useful to read.

<P>
"The QED Manifesto after Two Decades -- Version 2.0" by Weiss (2016)<BR/>
  <a href="https://pdfs.semanticscholar.org/6139/579ab589c62397ef4ba6728da42f519c9b8c.pdf">source</a><BR/>
  Describes "Mathropolis" and a "mathematical content markup language"
A non-CAS based metalanguage is attempted in "The QED Manifesto after Two Decades -- Version 2.0"
The paper discusses Mathropolis, which is intended to optimize for readability over formality.
The paper describes a "mathematical content markup language" and provides an example.

In email conversation with Weiss, he says,
<blockquote>
  "I started fleshing out some code but when I realised the extent of the project is
  huge and that it would consume my maths research I decided to stop."
</blockquote>
  He also said,
<blockquote>
"I still think that the idea of MCML would be extremely helpful in academia and particularly
in subjects such as mathematics and physics (and others)."
</blockquote>



<H4><a name="document markup">Document Markup and Enrichment</a></H4>


"Extracting mathematical semantics from LATEX documents"<BR/>
<a href="https://pdfs.semanticscholar.org/a91a/f3fa64e1296de470206f375a29ddc1c7b54d.pdf">semanticscholar.org</a><BR/>
J. Stuber and M. Brand (2003)

<P>
"Semantic Enrichment of Mathematics via tooltips"<BR/>
Moore, 2015<BR/>
<a href="https://tug.org/tug2015/preprints/moore-mathsem-cicm2015-v7.pdf">https://tug.org/tug2015/preprints/moore-mathsem-cicm2015-v7.pdf</a><BR/>
notes: "mathsem" source code not found online


<P>
"Graph Representations for Higher-Order Logic and Theorem Proving"<BR/>
C. Szegedy et al, 2019<BR/>
comment thread: <a href="https://news.ycombinator.com/item?id=24389058">https://news.ycombinator.com/item?id=24389058</a><BR/>
notes: This paper is not related to the Physics Derivation Graph as far as I can tell.

<P>
"Making Meaning with Math in Physics: A semantic analysis"<BR/>
<a href="https://arxiv.org/abs/1002.0472">https://arxiv.org/abs/1002.0472</a><BR/>
E. F. Redish and A. Gupta (2009)

<!--
<H2>Derivations</H2>
-->




{% endblock %}
