{% extends "_base.html" %}
{% block content %}


<H1>Literature Review for the Physics Derivation Graph</H1>
<P>
  This page contains references to papers that lack associated software.
  For software and papers, see also <a href="{{ url_for('other_projects') }}">this listing</a>.

  <div id="toc_container">
  <p class="toc_title">Contents</p>
  <OL class="toc_list">
    <!--
    <LI><a href="#"></a></LI>
    -->
    <LI><a href="#wolframalpha">Wolfram Alpha</a></LI>
    <LI><a href="#Consilience">Consilience</a></LI>

  </OL>
  </div>
  The purpose of these references is to contextualize the Physics Derivation Graph.


Recommendations for reading (not everything listed here is worth reading).

Much influence after 1994 is likely based on the QEC manifesto, so that is useful to read.


</P>

<!--
<H4><a name=""></a></H4>
<P>
-->

<H4><a name="Consilience">Consilience: The Unity of Knowledge</a></H4>
<P>
  In the 1998 <a href="https://en.wikipedia.org/wiki/Consilience_(book)">book</a> by <a href="https://en.wikipedia.org/wiki/E._O._Wilson">Edward O. Wilson</a>, he tackled "the synthesis of knowledge from different specialized fields of human endeavor."

  <blockquote cite="https://www.azquotes.com/quote/1117453">
    Science offers the boldest metaphysics of the age. It is a thoroughly human construct, driven by the faith that if we dream, press to discover, explain, and dream again, thereby plunging repeatedly into new terrain, the world will somehow come clearer and we will grasp the true strangeness of the universe.
    <B>And the strangeness will all prove to be connected, and make sense</B>.
  </blockquote>





<H4><a name=""></a></H4>
<P>
"The QED Manifesto after Two Decades -- Version 2.0" by Weiss (2016)<BR>
  <a href="https://pdfs.semanticscholar.org/6139/579ab589c62397ef4ba6728da42f519c9b8c.pdf">source</a><BR>
  Describes "Mathropolis" and a "mathematical content markup language"
A non-CAS based metalanguage is attempted in "The QED Manifesto after Two Decades -- Version 2.0"
The paper discusses Mathropolis, which is intended to optimize for readability over formality.
The paper describes a "mathematical content markup language" and provides an example.



<H4><a name="document markup">Document Markup and Enrichment</a></H4>


"Extracting mathematical semantics from LATEX documents"
<a href="https://pdfs.semanticscholar.org/a91a/f3fa64e1296de470206f375a29ddc1c7b54d.pdf">semanticscholar.org</a>
J. Stuber and M. Brand (2003)

<P>
"Semantic Enrichment of Mathematics via tooltips"<BR>
Moore, 2015<BR>
https://tug.org/tug2015/preprints/moore-mathsem-cicm2015-v7.pdf<BR>
notes: "mathsem" source code not found online


<P>
"Graph Representations for Higher-Order Logic and Theorem Proving"<BR>
C. Szegedy et al, 2019<BR>
comment thread: https://news.ycombinator.com/item?id=24389058<BR>
notes: This paper is not related to the Physics Derivation Graph as far as I can tell.



<P>
"Making Meaning with Math in Physics: A semantic analysis"<BR>
https://arxiv.org/abs/1002.0472<BR>
E. F. Redish and A. Gupta (2009)

<H2>Derivations</H2>



{% endblock %}
