{% extends "_base.html" %}
{% block content %}

<!-- https://www.oreilly.com/library/view/flask-web-development/9781491947586/ch04.html -->
<!-- { % import "bootstrap/wtf.html" as wtf % } -->

<!--  https://pythonhosted.org/Flask-Bootstrap/forms.html -->
<!-- { { wtf.quick_form(form) } } -->


<P>
  {% if current_user.is_anonymous %}
<P>If you already have an account, then log in:</P>
    <form method="post" action="">
  {{ webform.hidden_tag() }}
      <div class="form-group">
        <div class="input-group">
      <P>{{ webform.username.label }}: {{ webform.username(size=50, maxlength=100) }} <small>max length = 100 characters</small>
      <P>{{ webform.password.label }}: {{ webform.password(size=50, maxlength=100) }} <small>max length = 100 characters</small>
      <P>{{ webform.submit.label }}:    {{ webform.submit }}
      <P>{{ webform.remember_me.label }}:  {{ webform.remember_me }}
    </div>
      </div>
    </form>


<P>
  If you do not have an account, you can <a href="{{ url_for('create_new_account') }}">create an account</a>
</P>

<P>
  If you do not want to create an account, there are alternative options:
  <UL>
    <LI>You can download a <a href="https://hub.docker.com/repository/docker/benislocated/proofofconcept">Docker image from Dockerhub</a></LI>
    <LI>You can build the Docker image from this <a href="https://github.com/allofphysicsgraph/proofofconcept/blob/gh-pages/v7_pickle_web_interface/flask/Dockerfile">Dockerfile</a></LI>
    <LI>You can download and run <a href="https://github.com/allofphysicsgraph/proofofconcept/tree/gh-pages/v7_pickle_web_interface/flask">the source code</a></LI>
  </UL>
</P>

  {% else %}
  You are already signed in
  {% endif %}
</P>


{% endblock %}

