{% extends "_base.html" %}
{% block content %}

<P>
  modify step
</P>

<P>
  derivation name: 
  <a href="{{ url_for('review_derivation', deriv_id=deriv_id)  }}?referrer=modify_step">
    {{ dat["derivations"][deriv_id]['name'] }}
  </a>
</P>


<h2>Step graph</h2>
  <!-- https://stackoverflow.com/questions/28207761/where-does-flask-look-for-image-files -->
  <P>
    <img src="{{ url_for('static', filename=name_of_graphviz_png) }}">
  </P>

<h2>AST for each expression in step</h2>
  <P>From Sympy's parsing of the Latex
    {% for ast_png_and_id in list_of_expression_AST_dicts %}
      <P>
        <a href="{{ url_for('list_all_expressions') }}?referrer=modify_step#{{ ast_png_and_id['expr global id'] }}">{{ ast_png_and_id['expr global id'] }}</a>: \({{ dat['expressions'][ast_png_and_id['expr global id']]['latex'] }}\)<BR>
        symbols from Sympy: {{ ast_png_and_id['symbols from sympy'] }}<BR>
        symbols from PDG AST:
        {% for symbol_id in ast_png_and_id['symbols from PDG AST'] %}
          (<a href="{{ url_for('list_all_symbols') }}?referrer=modify_step#{{ symbol_id }}">{{ symbol_id }}</a>:
          {{ dat['symbols'][symbol_id]['latex'] }}),
        {% endfor %}
      <BR>
      {% if ast_png_and_id["sympy symbols without PDG AST ID"]|length > 0 %}
        Sympy symbols lacking PDG AST ID: {{ ast_png_and_id["sympy symbols without PDG AST ID"] }}<BR>
      {% else %}
        all Sympy symbols have corresponding PDG AST IDs<BR>
      {% endif %}
      <img src="{{ url_for('static', filename=ast_png_and_id['ast png filename']) }}">
    {% endfor %}
  </p>

<H2>Symbols in use in this step according to Sympy</h2>
  <P>From Sympy's parsing of the Latex
    <UL>
      {% for symbol_latex in list_of_symbols_from_sympy %}
        <LI> {{ symbol_latex }} </LI>
      {% endfor %}
    </UL>
  </P>

<h2>Symbols in PDG AST for this step</h2>
<UL>
  {% for symbol_id in list_of_symbols_from_PDG_AST %}
    <LI> <a href="{{ url_for('list_all_symbols') }}?referrer=modify_step#{{ symbol_id }}">{{ symbol_id }}</a>:
     {{ dat['symbols'][symbol_id]['latex'] }}
  {% endfor %}
</UL>

{% if dict_of_ranked_list.keys()|length > 0 %}
<fieldset><!-- https://www.w3.org/WAI/tutorials/forms/grouping/ -->
  <legend>
    <a name="symbol matching">
      <H2>
        Symbol matching
      </H2>
    </a>
  </legend>
  <form method="post" action="">
    <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="form-group">
      <div class="input-group">

        {% for sympy_symbol, list_of_PDG_symbol_IDs in dict_of_ranked_list.items() %}
          <!-- tracking the outer loop index is necessary for the radio groups -->
          {% set outer_loop = loop %} <!-- https://stackoverflow.com/questions/1567291/get-loop-index-of-outer-loop -->
          {% if list_of_PDG_symbol_IDs|length == 0 %}
            <P>For the symbol {{ sympy_symbol }}, a 
              <a href="{{ url_for('list_all_symbols') }}#add symbol">
                 new symbol entry
              </a> is probably needed since no match is available. <BR>
              Or you can manually assign an existing symbol:
          {% else %}
            <P>candidates for {{ sympy_symbol }}:
            <table border="1">
              <tr>
                <th>select one</th>
                <th>symbol ID</th>
                <th>category</th>
                <th>latex</th>
                <th>scope</th>
                <th>measure</th>
                <th>name</th>
                <th>value</th>
                <th>Used in derivations</th>
                <th>references</th>
              </tr>
              {% for symbol_id in list_of_PDG_symbol_IDs %}
                <tr>
                <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio -->
                  <td>
                    <input name="symbol_radio_{{ outer_loop.index0 }}" type="radio" value="symbol radio {{ symbol_id }} {{ sympy_symbol }}">
                  </td>
                  {% set hide_symbol_forms = "true" %}
                  {% include '_table_of_symbols_row.html' %} 
                </tr>
              {% endfor %}
              <tr>
                <td><input name="symbol_radio_{{ outer_loop.index0 }}" type="radio" value="existing symbol for {{ sympy_symbol }}"></td>
                <td colspan="9">select an existing symbol
                  <select name="existing symbol for {{ sympy_symbol }}" class="selectpicker form-control">
                      <option value="NONE">&nbsp;</option>
                    {% for sid, symbol_dict in dat['symbols']|dictsort %}
                      <option value="{{ sid }}">{{ sid }}, {{ dat['symbols'][sid]['latex'] }}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td> <!-- no radio button for "create new symbol" -->
                <td colspan="9">
                  <a href="{{ url_for('list_all_symbols') }}?referrer=modify_step#add symbol">create new symbol</a>
                </td>
              </tr>
            </table>
          {% endif %} <!-- list_of_PDG_symbol_IDs|length == 0 -->
        {% endfor %}
        <P>
          <input type="submit" name="submit_button" value="update symbols">
        </p>
      </div>
    </div>
  </form>
</fieldset>
{% else %}
  <P>There are no Sympy symbols that lack PDG AST references. <BR>
If Sympy's analysis was incorrect or the PDG AST is incomplete, you can update the symbols per expression in the 
<a href="{{ url_for('list_all_expressions', referrer='modify_step') }}">list of all expressions</a>.
{% endif %}

<H2>Options</h2>

<P>
<fieldset><!-- https://www.w3.org/WAI/tutorials/forms/grouping/ -->
<legend>view step with numeric IDs</legend>
<form method="post" action="">
<!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<input type="submit" name="submit_button" value='view step with numeric IDs'>
</form>
</fieldset>

<P>
<fieldset>
<legend>change inference rule</legend>
<form method="post" action="">
<!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<input type="submit" name="submit_button" value='change inference rule'>
</form>
(Changing the inference rule deletes existing step and prompts for a new step creation.)
</fieldset>


<!-- https://jinja.palletsprojects.com/en/2.11.x/templates/#builtin-filters -->
<!--
{% if dat["derivations"][deriv_id]['steps'][step_id]['inputs']|length > 0 %}
<fieldset><!- - https://www.w3.org/WAI/tutorials/forms/grouping/ - ->
<legend>
<a name="change global id">
  <h3>Update the global ID</h3>
</a>
</legend>
TODO - - not implemented
<form method="post" action="">
 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
</form>
</fieldset>
{% endif %}
-->

{% if dat["derivations"][deriv_id]['steps'][step_id]['inputs']|length > 0 %}
<fieldset><!-- https://www.w3.org/WAI/tutorials/forms/grouping/ -->
<legend>
<a name="edit input expr latex">
  <h3>Edit the latex for an input expression</h3>
</a>
</legend>

<UL>
{% for expr_local_id in dat["derivations"][deriv_id]['steps'][step_id]['inputs'] %}
  <LI>{{ dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex'] }}<BR>
      \({{ dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex'] }}\)</LI>
{% endfor %}
</UL>


<form method="post" action="">
    <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
    {{ edit_expr_latex_webform.csrf_token }}
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="expr_local_id_of_latex_to_modify" class="selectpicker form-control">
              {% for expr_local_id in dat["derivations"][deriv_id]['steps'][step_id]['inputs'] %}
              <option value="{{ expr_local_id }}">{{ dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex'] }}</option>
              {% endfor %}
            </select>
<P>{{ edit_expr_latex_webform.revised_text.label }}: {{ edit_expr_latex_webform.revised_text(size=50, maxlength=300, id="input_latex") }} <small>max length = 300 characters</small><BR>

   <input type="checkbox" id="display_input_latex" checked="" onchange="convert('input_latex','display_input_latex', 'preview_input_latex','output_input_latex')">
   <small><label for="display_input_latex">Display style</label></small>

   <input type="button" value="optional preview of TeX before submitting form" id="preview_input_latex" onclick="convert('input_latex','display_input_latex', 'preview_input_latex','output_input_latex')">

   <br clear="all">
   <div id="output_input_latex"></div>

    </div>
<!--    <button type="submit" class="btn btn-default">Update</button> -->
<input type="submit" name="submit_button" value='edit input expr latex'>

  </div>
</form>
</fieldset>
{% endif %}

{% if dat["derivations"][deriv_id]['steps'][step_id]['feeds']|length > 0 %}
<fieldset><!-- https://www.w3.org/WAI/tutorials/forms/grouping/ -->
<legend>
<a name="edit feed expr latex">
  <h3>Edit the latex for a feed expression</h3>
</a>
</legend>

<UL>
{% for expr_local_id in dat["derivations"][deriv_id]['steps'][step_id]['feeds'] %}
  <LI>{{ dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex'] }}</LI>
{% endfor %}
</UL>

<form method="post" action="">
    <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
    {{ edit_expr_latex_webform.csrf_token }}
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="expr_local_id_of_latex_to_modify" class="selectpicker form-control">
              {% for expr_local_id in dat["derivations"][deriv_id]['steps'][step_id]['feeds'] %}
              <option value="{{ expr_local_id }}">{{ dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex'] }}</option>
              {% endfor %}
            </select>
<P>{{ edit_expr_latex_webform.revised_text.label }}: {{ edit_expr_latex_webform.revised_text(size=50, maxlength=300, onchange="UpdateMath2(this.value)") }} <small>max length = 300 characters</small>
<div class="box" id="box_2" style="visibility:hidden">
<div id="MathOutput_2" class="output">\({}\)</div>
</div>
    </div>
    <!--<button type="submit" class="btn btn-default">Update</button> -->
<input type="submit" name="submit_button" value='edit feed expr latex'>

  </div>
</form>
</fieldset>
{% endif %}


{% if dat["derivations"][deriv_id]['steps'][step_id]['outputs']|length > 0 %}
<fieldset><!-- https://www.w3.org/WAI/tutorials/forms/grouping/ -->
<legend>
<a id="edit output expr latex">
  <h3>Edit the latex for an output expression</h3>
</a>
</legend>

<UL>
{% for expr_local_id in dat["derivations"][deriv_id]['steps'][step_id]['outputs'] %}
  <LI>{{ dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex'] }}</LI>
{% endfor %}
</UL>

<form method="post" action="">
    <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
    {{ edit_expr_latex_webform.csrf_token }}
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="expr_local_id_of_latex_to_modify" class="selectpicker form-control">
              {% for expr_local_id in dat["derivations"][deriv_id]['steps'][step_id]['outputs'] %}
              <option value="{{ expr_local_id }}">{{ dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex'] }}</option>
              {% endfor %}
            </select>
<P>{{ edit_expr_latex_webform.revised_text.label }}: {{ edit_expr_latex_webform.revised_text(size=50, maxlength=300, onchange="UpdateMath3(this.value)") }} <small>max length = 300 characters</small>
<div class="box" id="box_3" style="visibility:hidden">
<div id="MathOutput_3" class="output">\({}\)</div>
</div>
    </div>
    <!--<button type="submit" class="btn btn-default">Update</button>-->
<input type="submit" name="submit_button" value='edit output expr latex'>

  </div>
</form>
</fieldset>
{% endif %}

<P>
<fieldset><!-- https://www.w3.org/WAI/tutorials/forms/grouping/ -->
<legend>
<a name="delete step">
<H3>Delete Step</H3>
</a>
</legend>
<form method="post" action="">
<!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="form-group">
    <!-- <button type="submit" class="btn btn-default">Delete</button>-->
<input type="submit" name="submit_button" value='delete step'>

  </div>
</form>
</fieldset>
</P>


<P>
<fieldset><!-- https://www.w3.org/WAI/tutorials/forms/grouping/ -->
<legend>
<a name="change linear index of step">
  <h3>change linear index for step</h3>
 </a>
 </legend>
Current step index is {{ dat["derivations"][deriv_id]['steps'][step_id]["linear index"] }}.<BR>
 Change step index to
<!-- New linear index must be a rational number greater than zero and must not exist<BR> -->
<form method="post" action="">
<!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="form-group">
    <div class="input-group">
            <select name="linear_index_to_modify" class="selectpicker form-control">
              {% for new_linear_index in list_of_new_linear_indices %}
              <option value="{{ new_linear_index }}">{{ new_linear_index }}</option>
              {% endfor %}
            </select>
    </div>
    <!--<button type="submit" class="btn btn-default">Update</button>-->
<input type="submit" name="submit_button" value='change linear index of step'>

  </div>
</form>
</fieldset>
</P>

<P>
<fieldset><!-- https://www.w3.org/WAI/tutorials/forms/grouping/ -->
<legend>
  <a name="edit note for step">
    <h3>Edit note for step</H3>
  </a>
</legend>
  Current note is: {{ dat['derivations'][deriv_id]['steps'][step_id]['notes'] }}
<form method="post" action="">
{{ edit_step_note_webform.csrf_token }}
  <div class="form-group">
    <div class="input-group">
<P>{{ edit_step_note_webform.revised_text.label }}: {{ edit_step_note_webform.revised_text(size=50, maxlength=300) }} <small>max length = 300 characters</small>
    </div>
<!--     <button type="submit" class="btn btn-default">Update</button> -->
<input type="submit" name="submit_button" value='edit note for step'>
  </div>
</form>
</fieldset>
</P>


<P>
{% include '_table_of_derivation_steps.html' %}
</P>

{% endblock %}
