{% extends "_base.html" %}
{% block content %}

<P>modify step

<P>derivation name: <a href="{{ url_for=('review_derivation', name_of_derivation=name_of_derivation)  }}">{{ name_of_derivation}}</a>

<!-- https://stackoverflow.com/questions/28207761/where-does-flask-look-for-image-files -->
<P><img src="{{ url_for('static', filename=name_of_graphviz_png) }}">

<P>Options:

<P>
<form method="post" action="">
<input type="submit" name="submit_button" value='view exploded graph'>
</form>


<P>
<form method="post" action="">
<input type="submit" name="submit_button" value='change inference rule'>
</form>
(This option deletes existing inference rule and expressions.)

<!-- https://jinja.palletsprojects.com/en/2.11.x/templates/#builtin-filters -->
{% if step_dict['inputs']|length > 0 %}
<a id="edit input expr latex">
  <h3>Edit the latex for an input expression</h3>
</a>
<form method="post" action="">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="expr_local_id_of_latex_to_modify" class="selectpicker form-control">
              {% for expr_local_id in step_dict['inputs'] %}
              <option value="{{ expr_local_id }}">{{ expressions_dict[local_to_global[expr_local_id]]['latex'] }}</option>
              {% endfor %}
            </select>
<P>{{ edit_expr_latex_webform.revised_text.label }}: {{ edit_expr_latex_webform.revised_text }}
    </div>
    <button type="submit" class="btn btn-default">Update</button>
  </div>
</form>
{% endif %}

{% if step_dict['feeds']|length > 0 %}
<a name="edit feed expr latex">
  <h3>Edit the latex for a feed expression</h3>
</a>
<form method="post" action="">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="expr_local_id_of_latex_to_modify" class="selectpicker form-control">
              {% for expr_local_id in step_dict['feeds'] %}
              <option value="{{ expr_local_id }}">{{ expressions_dict[local_to_global[expr_local_id]]['latex'] }}</option>
              {% endfor %}
            </select>
<P>{{ edit_expr_latex_webform.revised_text.label }}: {{ edit_expr_latex_webform.revised_text }}
    </div>
    <button type="submit" class="btn btn-default">Update</button>
  </div>
</form>
{% endif %}


{% if step_dict['outputs']|length > 0 %}
<a id="edit output expr latex">
  <h3>Edit the latex for an output expression</h3>
</a>
<form method="post" action="">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="expr_local_id_of_latex_to_modify" class="selectpicker form-control">
              {% for expr_local_id in step_dict['outputs'] %}
              <option value="{{ expr_local_id }}">{{ expressions_dict[local_to_global[expr_local_id]]['latex'] }}</option>
              {% endfor %}
            </select>
<P>{{ edit_expr_latex_webform.revised_text.label }}: {{ edit_expr_latex_webform.revised_text }}
    </div>
    <button type="submit" class="btn btn-default">Update</button>
  </div>
</form>
{% endif %}

<P>
<a name="delete step">
<H2>Delete Step</H2>
</a>
<form method="post" action="">
  <div class="form-group">
    <button type="submit" class="btn btn-default">Delete</button>
  </div>
</form>
</P>

<P>
<a name="change linear index of step">
  <h3>change linear index for step</h3>
 </a>
 Current step index is {{ current_linear_index }}.<BR>
 Change step index to 
<!-- New linear index must be a rational number greater than zero and must not exist<BR> -->
<form method="post" action="">
  <div class="form-group">
    <div class="input-group">
            <select name="linear_index_to_modify" class="selectpicker form-control">
              {% for new_linear_index in list_of_new_linear_indices %}
              <option value="{{ new_linear_index }}">{{ new_linear_index }}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Update</button>
  </div>
</form>
</P>

<P>
  <a name="edit note for step">
    <h3>Edit note for step</H3>
  </a>
  Current note is: {{ step_note }}
<form method="post" action="">
  <div class="form-group">
    <div class="input-group">
<P>{{ edit_step_note_webform.revised_text.label }}: {{ edit_step_note_webform.revised_text }}
    </div>
    <button type="submit" class="btn btn-default">Update</button>
  </div>
</form>
</P>


<P>
{% include '_table_of_derivation_steps.html' %}
</P>

{% endblock %}

