{% extends "_base.html" %}
{% block content %}


<style>
   table.navtable { 
      background: url("{{ url_for('static', filename='jargon_for_navigation.png') }}");
      background-repeat: no-repeat;
   } 
</style>

<P>From the Physics Derivation Graph navigation, you can

<table width=900 class="navtable" border="0">
  <tr>
    <td width=160>&nbsp;</td>
    <td colspan=2>
      <UL>
        <LI>
          <a href="{{ url_for('list_all_derivations', referrer='navigation') }}">show all {{ dat['derivations']|length }} derivations</a>
        </LI>
        <LI>
          <a href="{{ url_for('start_new_derivation', referrer='navigation') }}">start a new derivation</a>
           {% if current_user.is_anonymous %}
             -- requires being <a href="{{ url_for('login', referrer='navigation') }}">signed in</a>
           {% endif %}
        </LI>
<!--
    { % if dat['derivations']|length > 0 %}
    <LI>
      <a href="{{ url_for('select_from_existing_derivations') }}?referrer=navigation">view one of the existing {{ dat['derivations']|length }} derivations</a>;
      also edit an existing derivation
      { % if current_user.is_anonymous %}
        if you are <a href="{{ url_for('login') }}?referrer=navigation">signed in</a>
      { % endif %}
    </LI>
    { % endif %}
-->
      </UL>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width=50>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>
      <UL>
        <LI>
      <a href="{{ url_for('list_all_inference_rules') }}?referrer=navigation">list all {{ dat["inference rules"]|length }} inference rules</a>;
      also edit inference rules
      {% if current_user.is_anonymous %}
        if you are <a href="{{ url_for('login') }}?referrer=navigation">signed in</a>
      {% endif %}
        </LI>
      </UL>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2>
     <UL>
    {% if dat['expressions']|length > 0 %}
      <LI>
        <a href="{{ url_for('list_all_expressions') }}?referrer=navigation">list all {{ dat['expressions']|length }} expressions</a>;
        also edit expressions
      {% if current_user.is_anonymous %}
        if you are <a href="{{ url_for('login') }}?referrer=navigation">signed in</a>
      {% endif %}
     </LI>
      {% endif %}
    </UL>
</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2>
      <UL>
    <LI>
      <a href="{{ url_for('list_all_symbols') }}?referrer=navigation">list all {{ dat['symbols']|length }} symbols</a>
    </LI>
    <LI>
      <a href="{{ url_for('list_all_operators') }}?referrer=navigation">list all {{ dat['operators']|length }} operators</a>
    </LI>
      </UL>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

<P>&nbsp;</P>
<P>&nbsp;</P>
<P>&nbsp;</P>

<P>
  <fieldset>
    <legend>
      <H3>
        <a name="download upload database">
          Download/Upload database
        </a>
      </H3>
    </legend>
    <P>
    Download the current database file as
    <a href="{{ url_for('static', filename=database_json) }}?referrer=navigation" download="{{ database_json }}">JSON</a> or
    <a href="{{ url_for('static', filename=database_sql) }}?referrer=navigation" download="{{ database_sql }}">SQLite3</a> or
    <a href="{{ url_for('static', filename=database_df_pkl) }}?referrer=navigation" download="{{ database_df_pkl }}">Pickle of dataframes</a> or
    <a href="{{ url_for('static', filename=database_rdf) }}?referrer=navigation" download="{{ database_rdf }}">OWL RDF</a> or
    <a href="{{ url_for('static', filename=database_neo4j) }}?referrer=navigation" download="{{ database_neo4j }}">Neo4j Cypher</a>.
    </P>

    <P>
    {% if current_user.is_anonymous %}
      Upload database file if you are <a href="{{ url_for('login') }}?referrer=navigation">signed in</a>
    {% else %}
      <!-- https://www.google.com/search?q=flask+upload+file -->
      Upload database file (JSON only):
      <!-- from https://flask.palletsprojects.com/en/1.1.x/patterns/fileuploads/ -->
      <form method="post" enctype="multipart/form-data" id="upload_form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="file" name="file">
        <input type="submit" name="upload_database" value="Upload database">
      </form>
    {% endif %}
    </P>
  </fieldset>
</P>

<P>
  <fieldset>
    <legend>
      <H3>
        <a name="download upload bibliography">
          Download/Upload bibliography
        </a>
      </H3>
    </legend>
    <P>
    Download the <a href="{{ url_for('static', filename='pdg.bib') }}">current bibliography file</a>.
    </P>

    <P>
    {% if current_user.is_anonymous %}
      Upload the bibliography file if you are <a href="{{ url_for('login') }}?referrer=navigation">signed in</a>
    {% else %}
      <!-- https://www.google.com/search?q=flask+upload+file -->
      Upload the bibliography file (Bibtex only):
      <!-- from https://flask.palletsprojects.com/en/1.1.x/patterns/fileuploads/ -->
      <form method="post" enctype="multipart/form-data" id="upload_form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="file" name="file">
        <input type="submit" name="upload_bibliography" value="Upload bibliography">
      </form>
    {% endif %}
    </P>
  </fieldset>
</P>


{% endblock %}
