{% extends "_base.html" %}
{% block content %}


<H1>Comparison of the Physics Derivation Graph with other projects</H1>
<P>
  This page is a survey of software related to the Physics Derivation Graph.
  For a literature review, see <a href="{{ url_for('literature_review') }}">this page</a>.

<P>
  The scope of the Physics Derivation Graph does not include proof assistants
  (<a href="https://en.wikipedia.org/wiki/HOL_(proof_assistant)">HOL</a>,
   <a href="https://en.wikipedia.org/wiki/Coq">COQ</a>,
   <a href="https://en.wikipedia.org/wiki/Lean_(proof_assistant)">Lean</a>)
  or formal proofs. No <a href="https://en.wikipedia.org/wiki/Category_theory">Category theory</a> is used.
  The Physics Derivation Graph does not use Natural Language Processing.
  The Physics Derivation Graph is not intended as a tutorial.

  <!--
  <div id="toc_container">
  <p class="toc_title">Contents</p>
  <OL class="toc_list">

    In bash,
    cat other_projects.html | grep "<H4" | sed 's/H4>/LI>/g' | sed 's/name="/name="#/'

-->
<P>
  The purpose of these efforts is to contrast with the scope and intention of the Physics Derivation Graph.
</P>


<table border="1"  class="sortable">
  <tr>
    <th>Name and Website</th>
    <th>Summary</th>
    <th>Domain</th>
    <th>Relation to PDG</th>
    <th>Semantic Enrichment</th>
    <th>Open source?</th>
    <th>Free?</th>
    <th>Active as of 2021-07-25?</th>
    <th>Author or group</th>
  </tr>
  <!--
  <tr>
    <td></td> <!-- name, website -- >
    <td></td> <!-- summary -- >
    <td></td> <!-- domain -- >
    <td></td> <!-- relation to PDG -- >
    <td></td> <!-- semantic enrichment -- >
    <td></td> <!-- open source? -- >
    <td></td> <!-- free? -- >
    <td></td> <!-- active? -- >
    <td></td> <!-- author or group -- >
  </tr>
  -->


  <tr>
    <td><a href="https://assumptionsofphysics.org/">Assumptions of Physics</a></td> <!-- name, website -->
    <td></td> <!-- summary -->
    <td>mathematical Physics</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>Yes; see <a href="https://github.com/assumptionsofphysics">https://github.com/assumptionsofphysics</a></td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes, as of 2023; https://www.facebook.com/AssumptionsOfPhysics</td> <!-- active? -->
    <td>Gabriele Carcassi and Christine A. Aidala, of the Physics Department at the University of Michigan, info@assumptionsofphysics.org</td> <!-- author or group -->
  </tr>
<tr>
  <td>https://minireference.com/</td> <!-- name, website -->
  <td>PDF textbook for math and Physics</td> <!-- summary -->
  <td>highschool and college math and Physics</td> <!-- domain -->
  <td>concept maps</td> <!-- relation to PDG -->
  <td>none</td> <!-- semantic enrichment -->
  <td>no</td> <!-- open source? -->
  <td>no</td> <!-- free? -->
  <td></td> <!-- active? -->
  <td>Ivan Savov</td> <!-- author or group -->
</tr>
<tr>
  <td>Road to Reality - https://reality.mentat.org/essays/reality/introduction</td> <!-- name, website -->
  <td>learn Physics using Lisp</td> <!-- summary -->
  <td></td> <!-- domain -->
  <td>physics equations as software</td> <!-- relation to PDG -->
  <td>no</td> <!-- semantic enrichment -->
  <td>yes - https://github.com/mentat-collective/road-to-reality</td> <!-- open source? -->
  <td>yes</td> <!-- free? -->
  <td>yes; see https://news.ycombinator.com/item?id=36005600</td> <!-- active? -->
  <td><a href="https://samritchie.io/">Sam Ritchie</a></td> <!-- author or group -->
</tr>
<tr>
  <td>OpenAI</td> <!-- name, website -->
  <td></td> <!-- summary -->
  <td></td> <!-- domain -->
  <td></td> <!-- relation to PDG -->
  <td></td> <!-- semantic enrichment -->
  <td></td> <!-- open source? -->
  <td></td> <!-- free? -->
  <td>https://news.ycombinator.com/item?id=36140861</td> <!-- active? -->
  <td></td> <!-- author or group -->
</tr>
<tr>
  <td>SciLean - https://github.com/lecopivo/SciLean</td> <!-- name, website -->
  <td>"Framework for scientific computing such as solving differential equations, optimization or machine learning written in Lean."</td> <!-- summary -->
  <td>SciLean is about computing things for science using Lean.
    Tomas started the project before mathlib4 was available,
    to mainly start thinking about how to use Lean for the
    practical aspects of scientific computing, with the understanding
    that formalization will come later. (By practical aspects,
    things like "how to numerically integrate an ODE"). Now
    that mathlib4 will be ported soon, SciLean will need to be rebuilt,
    for example, using mathlib's proper real numbers, rather than
    the reals defined ad hoc for the purposes of building SciLean.</td> <!-- domain -->
  <td>formal verification of scientific computation</td> <!-- relation to PDG -->
  <td>no</td> <!-- semantic enrichment -->
  <td>yes</td> <!-- open source? -->
  <td>yes</td> <!-- free? -->
  <td>yes, as of 2023-06-19</td> <!-- active? -->
  <td></td> <!-- author or group -->
</tr>
<tr>
  <td>SciLib - https://atomslab.github.io/LeanChemicalTheories/</td> <!-- name, website -->
  <td>Use Lean to prove science concepts</td> <!-- summary -->
  <td></td> <!-- domain -->
  <td></td> <!-- relation to PDG -->
  <td></td> <!-- semantic enrichment -->
  <td>https://github.com/ATOMSLab/LeanChemicalTheories</td> <!-- open source? -->
  <td></td> <!-- free? -->
  <td></td> <!-- active? -->
  <td></td> <!-- author or group -->
</tr>
  <tr>
    <td><a href="https://derivationmap.net/">Physics Derivation Graph</td> <!-- name, website -->
    <td>Goal: Create software that supports writing down all known mathematical physics in a way that can be both read by humans and checked by a computer algebra system.</td> <!-- summary -->
    <td>Mathematical Physics</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Yes</td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td>ben.is.located AT gmail.com</td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://dlmf.nist.gov/">NIST Digital Library of Mathematical Functions</a></td> <!-- name, website -->
    <td>
      <blockquote cite="https://dlmf.nist.gov/front/foreword">
      In 1964 the National Institute of Standards and Technology published the Handbook of Mathematical Functions with Formulas, Graphs, and Mathematical Tables, edited by Milton Abramowitz and Irene A. Stegun.
        <footer>
          <cite><a href="https://dlmf.nist.gov/front/foreword">source</a></cite>
        </footer>
      </blockquote>
      DLMF is the culmination of a project that was conceived in 1996 at NIST.
    </td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Yes</td> <!-- semantic enrichment -->
    <td>No</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td>NIST</td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://en.wikipedia.org/wiki/Google_Knowledge_Graph">Google's Knowledge Graph</a></td> <!-- name, website -->
    <td></td> <!-- summary -->
    <td>Everything</td> <!-- domain -->
    <td>PDG is also a knowledge graph</td> <!-- relation to PDG -->
    <td>Yes</td> <!-- semantic enrichment -->
    <td>No</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td>Google</td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://en.wikipedia.org/wiki/Langlands_program">Langlands program</a></td> <!-- name, website -->
    <td><a href="https://www.youtube.com/watch?v=_bJeKUosqoY">Summary</a></td> <!-- summary -->
    <td>All of math?</td> <!-- domain -->
    <td>None, other than scale of intent</td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>No</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td>mathematicians</td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://www.orkg.org/orkg">Open Research Knowledge Graph</a></td> <!-- name, website -- >
    <td>describe research papers in a structured manner.</td> <!-- summary -- >
    <td>Science</td> <!-- domain -- >
    <td>ORKG is text-oriented semantic enrichment, whereas PDG is math-focused</td> <!-- relation to PDG -- >
    <td></td> <!-- semantic enrichment -- >
    <td>CCA 4.0 and MIT licence</td> <!-- open source? -- >
    <td>yes</td> <!-- free? -- >
    <td>yes</td> <!-- active? -- >
    <td></td> <!-- author or group -- >
  </tr>
  <tr>
    <td><a href="https://www.sympy.org/en/index.html">Sympy</a></td> <!-- name, website -->
    <td>Computer Algebra System (CAS) in Python</td> <!-- summary -->
    <td>Math, Physics</td> <!-- domain -->
    <td>PDG relies on SymPy for validation of steps</td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://www.system.com/">System.com</a></td> <!-- name, website -->
    <td>Statistical relations between data
      (whereas wikidata is about semantic definitions and relationships).
    See <a href="https://news.ycombinator.com/item?id=30670612">comments</a>
  and <a href="https://about.system.com/blog/announcing-the-public-beta-of-system">blog</a></td> <!-- summary -->
    <td>Knowledge</td> <!-- domain -->
    <td>None</td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>Creative Commons Attribution ShareAlike License</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>as of 2022-03-15, yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="http://nevidal.org/">Evidence Algorithm</a></td> <!-- name, website -->
    <td><a href="http://nevidal.org/sad.en.html">System for Automated Deduction (SAD)</a> =
          automated processing of formal mathematical texts written in a special language
          called ForTheL (FORmal THEory Language) or in a traditional first-order language.</td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td></td> <!-- semantic enrichment -->
    <td><a href="http://nevidal.org/dload.en.html">Yes</a></td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td><a href="http://nevidal.org/team.en.html">Lyaletski, Verchinine, Paskevich</a></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://ontomathpro.org/">OntoMathPro</a></td> <!-- name, website -->
    <td>a Linked Data Hub for mathematics</td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Yes</td> <!-- semantic enrichment -->
    <td>Yes; https://github.com/CLLKazan/OntoMathPro</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td>Intelligent Search Systems and Semantic Technologies laboratory at Kazan Federal University</td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://sysml.org/sysml-faq/what-is-parametric-diagram.html">SysML Parametric Diagrams</a></td> <!-- name, website -->
    <td>Mathematical constraints and relations</td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td>Identifies equations, parameters, and relations</td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="http://www.qudt.org/">QUDT - Quantities, Units, Dimensions and dataTypes</a></td> <!-- name, website -->
    <td>Ontology for units</td> <!-- summary -->
    <td>Physics</td> <!-- domain -->
    <td>PDG should use QUDT instead of a custom approach.</td> <!-- relation to PDG -->
    <td>N/A</td> <!-- semantic enrichment -->
    <td><a href="https://github.com/qudt/qudt-public-repo">Yes</a></td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://github.com/ESIPFed/sweet">Semantic Web for Earth and Environmental Terminology (SWEET) Ontologies</a></td> <!-- name, website -->
    <td>SWEET is a highly modular ontology suite with ~6000 concepts in ~200
      separate ontologies covering Earth system science. SWEET is a mid-level
      ontology and consists of nine top-level concepts that can be used as a
      foundation for domain-specific ontologies that extend these top-level
      SWEET components.</td> <!-- summary -->
    <td>Science</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://www.zbmath.org/">zbMath Open</a></td> <!-- name, website -->
    <td>"zbMATH Open (formerly known as Zentralblatt MATH) is the world's most comprehensive and longest-running abstracting and reviewing service in pure and applied mathematics."</td> <!-- summary -->
    <td>math search</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td></td> <!-- semantic enrichment -->
    <td>No</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://www.searchonmath.com/">SearchOnMath.com</a></td> <!-- name, website -->
    <td>math search</td> <!-- summary -->
    <td></td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td></td> <!-- semantic enrichment -->
    <td>No</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://sophize.org/">Sophize</a></td> <!-- name, website -->
    <td>Knowledge graph for Math. There is no original content - it's all aggregated (and copied to the Sophize database) from sources like planetmath, metamath Wikipedia</td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>?</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td>Abhishek Chugh</td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="http://nanopub.net/guidelines/working_draft/">Nanopublications</a></td> <!-- name, website -->
    <!-- previously the domain was nanopub.org -->
    <td>Scientific claims in RDF</td> <!-- summary -->
    <td>Science</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>Yes: <a href="https://github.com/Nanopublication/Guidelines">https://github.com/Nanopublication/Guidelines</a></td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td><a href="https://arxiv.org/pdf/1809.06532.pdf">multiple</a></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="http://attempto.ifi.uzh.ch/race/">reasoning features for ACE texts</a> and <a href="http://attempto.ifi.uzh.ch/ape/"></a></td> <!-- name, website -->
    <td>Attempto Controlled English. <BR>
      <a href="http://attempto.ifi.uzh.ch/site/docs/race_webservice.html">RACE documentation</a><BR>
      <a href="https://github.com/tkuhn/aida">AIDA: a scheme for English sentences</a></td> <!-- summary -->
    <td>human-oriented controlled natural language</td> <!-- domain -->
    <td>PDG is a machine-oriented CNL.</td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td><a href="https://github.com/tkuhn/AceRules">Yes</a></td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td><a href="https://github.com/tkuhn">Tobias Kuhn</a></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://kwarc.info/systems/sTeX/">sTeX: Semantic Markup for LaTeX</a></td> <!-- name, website -->
    <td>sTeX system allows to embed /structural semantics into documents. Concretely sTeX is a “semantic version of LaTeX” that allows to use special macros to encode mathematical meaning explicitly.</td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Yes</td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td><a href="http://kwarc.info/" target="_blank">Knowledge Adaptation and Reasoning for Content</a></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://korpora-exp.zim.uni-duisburg-essen.de/naproche/">Naproche project (Natural language Proof Checking)</a></td> <!-- name, website -->
    <td>A central goal of Naproche is to develop a controlled natural language (CNL) for mathematical texts and adapted proof checking software which checks texts written in the CNL for syntactical and mathematical correctness.</td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td></td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>

  <tr>
    <td><a href="https://www2.ph.ed.ac.uk/snuggletex/documentation/overview-and-features.html">SnuggleTeX</a></td> <!-- name, website -->
    <td>Java library for converting fragments of LaTeX to XML (usually XHTML + MathML)</td> <!-- summary -->
    <td></td> <!-- domain -->
    <td>PDG could use MathML but does not currently.</td> <!-- relation to PDG -->
    <td></td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td></td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://en.wikipedia.org/wiki/PlanetPhysics">PlanetPhysics</a></td> <!-- name, website -->
    <td></td> <!-- summary -->
    <td>Physics</td> <!-- domain -->
    <td>PDG is a collection of Physics knowledge</td> <!-- relation to PDG -->
    <td></td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>No</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://cmap.ihmc.us/">CmapTools</a></td> <!-- name, website -->
    <td>CMapTools knowledge modeling kit</td> <!-- summary -->
    <td></td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td></td> <!-- semantic enrichment -->
    <td></td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td>Florida Institute for Human & Machine Cognition (IHMC)</td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="http://mathdox.org/formulaeditor/">MathDox formula editor</a></td> <!-- name, website -->
    <td>
      a web-based editor for mathematical formulas.<BR>
      Features:
        <UL>
          <LI>has a two-dimensional WYSIWYG interface.
          <LI>can produce a semantic representation of the formula.
          <LI>No plugins need to be installed in the browser to use the editor.
          <LI>can be easily integrated into existing HTML pages.
        </UL>
    </td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td></td> <!-- semantic enrichment -->
    <td></td> <!-- open source? -->
    <td></td> <!-- free? -->
    <td></td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="http://mizar.uwb.edu.pl/project/">Mizar</a></td> <!-- name, website -->
    <td>
      Goal: "reconstruct mathematical vernacular in a computer-oriented environment."<BR>
      Status: "a database which includes more than 9400 definitions of mathematical concepts and more than 49000 theorems."
    </td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td></td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://functions.wolfram.com/">Wolfram Mathematical Functions</a></td> <!-- name, website -->
    <td>"World's largest collection of formulas and graphics about mathematical functions"</td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Unknown</td> <!-- semantic enrichment -->
    <td>No</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td><a href="https://www.stephenwolfram.com/">Stephen Wolfram</a></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://eudml.org/">European Digital Mathematics Library</a></td> <!-- name, website -->
    <td>"EuDML makes the mathematics literature available online in the form of an enduring digital collection, developed and maintained by a network of institutions."</td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Unknown</td> <!-- semantic enrichment -->
    <td></td> <!-- open source? -->
    <td></td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="MioGatto"></a>
      <a href="https://github.com/wtsnjp/MioGatto">MioGatto annotation</a></td> <!-- website -->
    <td>A web-based annotation tool for Latex documents</td> <!-- summary -->
    <td>Science</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Yes</td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="incredible proof machine"></a>
      <a href="http://incredible.pm/" target="_blank">Incredible Proof Machine</a></td> <!-- website -->
    <td>
        Similar in intent to the Physics Derivation Graph, though IPM is focused on logic.
        I am impressed by the interface for drawing proofs.
      <P>
        The <a href="https://github.com/nomeata/incredible" target="_blank">source code</a> is available.
      <P>
        The <a href="https://news.ycombinator.com/item?id=10276160" target="_blank">comment thread on Hacker News</a>
    </td> <!-- summary -->
    <td>Logic</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="Explorable Physics"></a>
      <a href="https://landgreen.github.io/physics/index.html" target="_blank">Explorable Physics</a></td> <!-- website -->
    <td>
      The <a href="https://github.com/landgreen/landgreen.github.io" target="_blank">source code</a><BR>
      The <a href="https://news.ycombinator.com/item?id=17178031" target="_blank">comment thread on Hacker News</a>
    </td> <!-- summary -->
    <td>Physics</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="Octopus"></a>
      <a href="https://science-octopus.org/">Octopus</a>
    </td> <!-- name, website -->
    <td>
      <a href="https://www.science.org/content/article/meet-octopus-new-vision-scientific-publishing">interview</a>
      and <a href="https://www.youtube.com/watch?v=Af6aITLEoD8">discussion</a>
    </td> <!-- summary -->
    <td>Reproducible science</td> <!-- domain -->
    <td>Focus on reproducibility</td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td><a href="https://github.com/ScienceOctopus">Yes</a></td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="NLPphysicsSolver"></a>
      <a href="https://www.cs.utexas.edu/users/novak/cgi/physdemod.cgi" target="_blank">Math / Physics Problem Solver</a>
    </td> <!-- website -->
    <td>
        The <a href="https://www.cs.utexas.edu/users/novak/cgi/physdemod.cgi" target="_blank">Math / Physics Problem Solver</a>
        "solves simple math and physics problems stated in English."
      <P>
        The <a href="https://www.cs.utexas.edu/users/novak/cgi/physlaws.lsp" target="_blank">source code (Lisp)</a> and <a href="https://www.cs.utexas.edu/users/novak/cgi/equations.lsp">equations</a> are available.
      <P>
        See <a href="https://yoavartzi.com/pub/kazb-acl.2014.pdf" target="_blank">"Learning to Automatically Solve Algebra Word Problems" (2014)</a>
    </td> <!-- summary -->
    <td>Physics</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td><a href="https://www.cs.utexas.edu/users/novak/">Gordon Novak</a></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="sciencewise"></a>
      <a href="http://sciencewise.info/" target="_blank">Sciencewise</a></td> <!-- website -->
    <td>
        a tagging mechanism for words that is integrated with arXiv.
      <P>
        WISE stands for Web-based Interactive Semantic Environment.
    </td> <!-- summary -->
    <td>Science</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Yes</td> <!-- semantic enrichment -->
    <td></td> <!-- open source? -->
    <td></td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>

  <tr>
    <td><a href="https://en.wikipedia.org/wiki/General_Problem_Solver">General Problem Solver</a></td> <!-- name, website -->
    <td>a computer program intended to work as a universal problem solver machine.</td> <!-- summary -->
    <td>logic</td> <!-- domain -->
    <td>similar in that starts with sources (axioms) and sinks (desired conclusions).
        The Physics Derivation Graph does not claim to enable automation of steps.</td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>unknown</td> <!-- open source? -->
    <td>unknown</td> <!-- free? -->
    <td>as <a href="https://en.wikipedia.org/wiki/Soar_(cognitive_architecture)">SOAR</a></td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="imkt"></a>
      <a href="https://imkt.org/" target="_blank">International Mathematical Knowledge Trust</a></td> <!-- website -->
    <td>
        Goal is to create "a comprehensive mathematical knowledge base."
      <P>
        <a href="https://en.wikipedia.org/wiki/International_Mathematical_Knowledge_Trust" target="_blank">Wikipedia entry</a>

      <P>
        <a href="https://imkt.org/math-portal/mathematics-classifications">https://imkt.org/math-portal/mathematics-classifications</a>
      <P>
        <a href="https://imkt.org/math-portal/mathematics-topics/">https://imkt.org/math-portal/mathematics-topics/</a>

      <P>
        <a href="https://imkt.org/activities/initiatives/">https://imkt.org/activities/initiatives/</a>

    </td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Unknown</td> <!-- semantic enrichment -->
    <td></td> <!-- open source? -->
    <td></td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="MathFoldr"></a>
      <a href="https://topos.site/blog/2021/07/introducing-the-mathfoldr-project/" target="_blank">MathFoldr</a></td> <!-- website -->
    <td>
        Authors are category theorists.
      <P>
        Goal is to "use natural language processing on a corpus of texts to assemble an imperfect but large and useful hierarchy of concepts" according to <a href="https://twitter.com/johncarlosbaez/status/1414999084042055684">this thread</a>.
        The "Plan is to start with things that can be done with existing natural language processing software."
      </p>
    </td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Yes?</td> <!-- semantic enrichment -->
    <td></td> <!-- open source? -->
    <td></td> <!-- free? -->
    <td></td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="murray-rust"></a>
      <a href="http://www-pmr.ch.cam.ac.uk/wiki/Main_Page" target="_blank">Murray-Rust Group at University of Cambridge</a></td> <!-- website -->
    <td>Software "for the representation, extraction and processing of scientific data across
        chemistry, materials science and solid-state physics. We're particularly interested in the following areas: chemical data representation and semantics, scientific publication and scientific literature, polymer informatics and materials informatics and simulation."</P>
      <P><a href="https://github.com/petermr/CEVOpen" target="_blank">https://github.com/petermr/CEVOpen</a>
    </td> <!-- summary -->
    <td>Chemistry, Material Science, Physics</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Unknown</td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td>Murray-Rust Group</td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="CrystallographyOpenDatabase"></a>
      <a href="https://www.crystallography.net/cod/" target="_blank">Crystallography Open Database</a></td> <!-- website -->
    <td>For an example, see
    <a href="https://www.crystallography.net/cod/1000118.html">https://www.crystallography.net/cod/1000118.html</a></td> <!-- summary -->
    <td></td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Unknown</td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="NumericalAtlas"></a>
      <a href="http://numericalatlas.cs.ucl.ac.uk/" target="_blank">Numerical Atlas</a></td> <!-- website -->
    <td>
        A web-based seach interface for variables in arxiv papers.
      <P>
        From the paper <a href="https://arxiv.org/abs/2107.00665" target="_blank">Towards Machine Learning-Based Meta-Studies: Applications to Cosmological Parameters</a></td> <!-- summary -->
    <td>Physics</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Yes</td> <!-- semantic enrichment -->
    <td></td> <!-- open source? -->
    <td></td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="formuladatabase"></a>
      <a href="http://www.formula-database.com/release/" target="_blank">FormulaDatabase</a></td> <!-- website -->
    <td>
      Input: web GUI for equations. Output: returns a list of equations similar to query. Each returned equation as the symbols defined.
      <P>
        Formula Database is a website described by the authors as
        a ``math search engine'' which has a built-in equation editor.
        The search feature is not just matching the \(\rm\LaTeX\) input --
        it understands dot product and cross product.
        They have created a browser-based equation editor, similar to the equation editor in Microsoft Word.
        The search is of a backend database of content.
        The backend database of equations and symbols was manually entered by the project authors.
        A team of people have been working since about 2010 on this project.
        The data is stored as a high-dimensional graph.
        This project is not open source but access is currently free.
        A commercial launch is planned, though no date has been publicized.
        The objective is to allow students to search through literature.
        If you are a researcher, you might want to find whether the model already exists in literature.
        The grand view is that formula-database will serve as a universal reference for equations.


      <blockquote cite="https://web.archive.org/web/20130418062440/http://formula-database.com/release/about">
      Formula Database was founded in 2012 by a group of students and researchers at UW-Madison. The idea originated three years prior, when one of our founders, then an undergraduate, was frustrated at the difficulty in finding the correct formula he needed to solve his engineering homework.
      This challenge has been leveraged into creating an innovative search engine to allow individuals to search for formulas based upon either their contents or mathematical structure. Formula Database lets users input measurable parameters—such as mass, distance, or time—and get equations that provide a relation between these items. Alternatively, using the Equation Editor, users can write a mathematical equation exactly as they would on a whiteboard or paper and discover information about the formula’s use and purpose.
      Currently we are developing the completed product to allow users to enjoy this functionality. We anticipate launching for a beta test at the end of August 2012.
      <footer>
        <cite><a href="https://web.archive.org/web/20130418062440/http://formula-database.com/release/about">source</a></cite>
      </footer>
      </blockquote>


      <P>
        Below are a few screenshots from the Internet Archive.
        <a href="{{ url_for('static', filename='formuladatabase.png') }}?referrer=user_documentation">
          <img src="{{ url_for('static', filename='formuladatabase.png') }}" width=400>
        </a>
        Frontpage of the FormulaDatabase.
      </P>
      <P>
        <a href="{{ url_for('static', filename='formuladatabase_2.png') }}?referrer=user_documentation">
          <img src="{{ url_for('static', filename='formuladatabase_2.png') }}" width=400>
        </a>
        Categories of data in the FormulaDatabase.
      </P>
      <P>
        <a href="{{ url_for('static', filename='formuladatabase_3.png') }}?referrer=user_documentation">
          <img src="{{ url_for('static', filename='formuladatabase_3.png') }}" width=400>
        </a>
      Objects in the FormulaDatabase.
      </P>
    </td> <!-- summary -->
    <td>Science</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Unknown</td> <!-- semantic enrichment -->
    <td>No</td> <!-- open source? -->
    <td></td> <!-- free? -->
    <td>No</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="wikipedia"></a>
      <a href="https://en.wikipedia.org/wiki/Main_Page" target="_blank">Wikipedia<a/></td> <!-- website -->
    <td>
      Gather all knowledge in a text-based structure with hyperlinks. <BR/>
      In contrast, the Physics Derivation Graph is effectively language-independent.
    </td> <!-- summary -->
    <td>Everything</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td><a href="https://wikimediafoundation.org/">Wikimeda Foundation</a></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="equationmap"></a>
      <a href="http://equationmap.com/" target="_blank">Equation Map</a></td> <!-- website -->
    <td>
      An interface for putting expressions into a graph format. Inference rules and feeds were
      not included, nor is checking of the graph via a computer algebra system.

      <P>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/H3P74N0IarQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <P>
        The website EquationMap (http://equationmap.com; site not currently available) is an interface for derivations, focused primarily on mathematics.
        There is no backend database of content; instead content is dynamically generated by the user.
        Equations are manually entered using \LaTeX syntax and the graph of the derivation can be visualized using the same interface.
        The content is not open source and access is currently free.
        This is close to what the GUI for the Physics Derivation Graph is intended to behave like, with the exception that EquationMap doesn't include the concept of atomic inference rules.
      </P>
      <P>
        <a href="{{ url_for('static', filename='equationmap_site.png') }}?referrer=user_documentation">
          <img src="{{ url_for('static', filename='equationmap_site.png') }}" width=400>
        </a>
        Screenshot of the EquationMap website. The input mechanism is not shown because this screenshot is from the Internet Archive.
      </P>
      <P>
        <a href="{{ url_for('static', filename='equationmap_site_menu.png') }}?referrer=user_documentation">
          <img src="{{ url_for('static', filename='equationmap_site_menu.png') }}" width=400>
        </a>
        Screenshot of the option to provide .tex files to EquationMap website, and download .tex files.
      </P>
    </td> <!-- summary -->
    <td>Mathematical Physics</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>No; proprietary</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>No</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="symbolab"></a>
      <a href="https://www.symbolab.com" target="_blank">SymboLab</a></td> <!-- website -->
    <td>
      A web interface for solving symbolic expressions. There is no graph.
      There is a backend database of content.
    </td> <!-- summary -->
    <td>Math, Physics</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Probably?</td> <!-- semantic enrichment -->
    <td>No</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>No</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="hyperphysics"></a>
      <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hframe.html" target="_blank">HyperPhysics</a></td> <!-- website -->
    <td>
        A static set of linked concept maps for topics in Physics.
        Concept maps are linked to text, graphs, and equations.

        Although hyperlinked concept maps are a departure from the standard textbook presentation of physics,
        the leaves of this tree are the same content found in textbooks.
      </P>

      <P>
        <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hframe.html" target="_blank">HyperPhysics</a> is
        similar to <a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia<a/>in that
          it is text based for edges. <BR/>
        <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hframe.html" target="_blank">HyperPhysics</a> has
        what appears to be a graph (hand drawn), but is actually a multi-level
        tree -- a concept diagram. For example, content in
        the <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hph.html#mechcon">Classical Mechanics subpage</a>
        does not link to any other subject.
      <P>
        The number of levels can vary. For example,
        the <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hph.html">main page</a> links
        to <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hph.html#mechcon">mechanics</a> links
        to <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/colcon.html">Collisions</a> links to
        <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/mom.html#mom" target="_blank">Momentum</a>.
      </P>
    </td> <!-- summary -->
    <td>Physics</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>The licensing of the content is described as "not freeware or shareware" by the author, though the site is free to access.</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td>Carl R. (Rod) Nave</td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="mathematica"></a>
      <a href="https://www.wolfram.com/mathematica/" target="_blank">Wolfram Mathematica</a></td> <!-- website -->
    <td>
      A <a href="https://en.wikipedia.org/wiki/Computer_algebra_system">computer algebra system</a>, whereas
      the Physics Derivation Graph is documentation of known mathematical physics relations.
    </td> <!-- summary -->
    <td>Math, Physics</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>No</td> <!-- open source? -->
    <td>No</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td><a href="https://www.stephenwolfram.com/">Stephen Wolfram</a></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="wolfram physics"></a>
      <a href="https://www.wolframphysics.org/" target="_blank">Wolfram Physics</a></td> <!-- website -->
    <td>Uses graphs as a method of developing fundemental Physics concepts.</P>
      <P>Completely unrelated to the Physics Derivation Graph.</P>
      <P>For a useful overview and assessment, listen to
        <a href="https://www.preposterousuniverse.com/podcast/2021/07/12/155-stephen-wolfram-on-computation-hypergraphs-and-fundamental-physics/">Episode 155 of Sean Carrl's Mindscape</a></td> <!-- summary -->
    <td>Physics</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td></td> <!-- open source? -->
    <td></td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td><a href="https://www.stephenwolfram.com/">Stephen Wolfram</a></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="wolframalpha"></a>
      <a href="https://www.wolframalpha.com" target="_blank">Wolfram Alpha</a></td> <!-- website -->
    <td>
        All science knowledge with a searchable web interface.
      <P>
        <a href="https://writings.stephenwolfram.com/2014/08/computational-knowledge-and-the-future-of-pure-mathematics/">Computational Knowledge and the Future of Pure Mathematics</a>
      <P>
        Wolfram Alpha has a backend database of content which is not open source; access is a mix of free and paid.
      <P>
        The closest to the Physics Derivation Graph is
        <a href="https://www.wolframalpha.com/pro/step-by-step-math-solver">step-by-step solver</a>
      </td> <!-- summary -->
    <td>Science</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Probably?</td> <!-- semantic enrichment -->
    <td>No</td> <!-- open source? -->
    <td>mixture; step-by-step is $4.75/month as of 2021-08-08</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td><a href="https://www.stephenwolfram.com/">Stephen Wolfram</a></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="OpenMath"></a>
      <a href="https://www.openmath.org/" target="_blank">OpenMath</a></td> <!-- website -->
    <td>
      <blockquote cite="http://openmath.org/">
        OpenMath is an extensible standard for representing the semantics of mathematical objects.
        <footer>
          <cite><a href="http://openmath.org/">source</a></cite>
        </footer>
      </blockquote>

      <a href="https://en.wikipedia.org/wiki/OpenMath" target="_blank">https://en.wikipedia.org/wiki/OpenMath</a><BR/>
      <a href="https://github.com/OpenMath" target="_blank">https://github.com/OpenMath</a><BR/>
    </td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Yes</td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td><a href="http://kwarc.info/" target="_blank">Knowledge Adaptation and Reasoning for Content</a></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="PhysML"></a>
      <a href="https://github.com/OMdoc/OMDoc/wiki/PhysML" target="_blank">PhysML</a></td> <!-- website -->
    <td>
        <a href="https://github.com/OMdoc/OMDoc/wiki/PhysML" target="_blank">PhysML</a> is part of the OMdoc effort.
      <P>
        PhysML is for identifying categories of content.
      <P>
        PhysML is distinct from <a href="http://sciencewise.info/" target="_blank">http://sciencewise.info/</a>
       in that ScienceWise is about linking specific terms to a common database, whereas PhysML
      is for identifying categories of content.
    </td> <!-- summary -->
    <td>Physics</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Yes</td> <!-- semantic enrichment -->
    <td></td> <!-- open source? -->
    <td></td> <!-- free? -->
    <td></td> <!-- active? -->
    <td><a href="http://kwarc.info/" target="_blank">Knowledge Adaptation and Reasoning for Content</a></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="omdoc"></a>
      <a href="http://www.omdoc.org/" target="_blank">OMdoc</a></td> <!-- website -->
    <td>
      <BR/>
      <a href="https://en.wikipedia.org/wiki/OMDoc" target="_blank">https://en.wikipedia.org/wiki/OMDoc</a><BR/>
      <blockquote cite="https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.198.8849&rep=rep1&type=pdf">"Both MathML and OpenMath address mathematical formulas in isolation,
      whereas OMDoc allows to express the structure of mathematical documents,
      for example the relation between definitions, theorems and proofs."
        <footer>
          <cite><a href="https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.198.8849&rep=rep1&type=pdf">source</a></cite>
        </footer>
      </blockquote>

      (source: <a href="https://pdfs.semanticscholar.org/a91a/f3fa64e1296de470206f375a29ddc1c7b54d.pdf" target="_blank">"Extracting Mathematical Semantics from LATEX Documents"</a>)
    </td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Yes</td> <!-- semantic enrichment -->
    <td></td> <!-- open source? -->
    <td></td> <!-- free? -->
    <td></td> <!-- active? -->
    <td><a href="http://kwarc.info/" target="_blank">Knowledge Adaptation and Reasoning for Content</a></td> <!-- author or group -->
  </tr>
  <tr>
    <td><a href="https://www.gellish.net/">Gellish.net</a></td> <!-- name, website -->
    <td>
      <P>
        <a href="https://en.wikipedia.org/wiki/Gellish">https://en.wikipedia.org/wiki/Gellish</a><BR/>
        Data structure for knowledge.
      <P>
        See also <a href="https://www.youtube.com/watch?v=-Z-ul0GzzM4">Ajit Narayanan:
        A word game to communicate in any language</a>
        which is about the app FreeSpeech.
    </td> <!-- summary -->
    <td>knowledge management</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>no</td> <!-- semantic enrichment -->
    <td><a href="https://github.com/AndriesSHP/Gellish">unknown</a></td> <!-- open source? -->
    <td>unknown</td> <!-- free? -->
    <td>yes</td> <!-- active? -->
    <td>Andries van Renssen</td> <!-- author or group -->
  </tr>

  <tr>
    <td>
      <a name="MathML">MathML</a></td> <!-- website -->
    <td>
      <P>
        Presentation MathML (layout only) and Content MathML (semantics)<BR/>
        <a href="https://developer.mozilla.org/en-US/docs/Web/MathML/Element/semantics" target="_blank">https://developer.mozilla.org/en-US/docs/Web/MathML/Element/semantics</a>


    </td> <!-- summary -->
    <td>Math, Mathematical Physics</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Yes</td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="LatexML"></a>
      <a href="https://github.com/brucemiller/LaTeXML" target="_blank">LaTeXML</a></td> <!-- website -->
    <td>
      LatexML converts to Presentation MathML, not Content MathML<BR/>
      <a href="https://dlmf.nist.gov/LaTeXML/" target="_blank">https://dlmf.nist.gov/LaTeXML/</a><BR/>

      <P>
      LaTeXML 2012 - A Year of LaTeXML<BR/>
      D. Ginev and B. R. Miller, 2014<BR/>
      <a href="https://arxiv.org/abs/1404.6549" target="_blank">https://arxiv.org/abs/1404.6549</a>

      <P>
      Strategies for Parallel Markup<BR/>
      B. R. Miller, 2015<BR/>
      <a href="https://arxiv.org/abs/1507.00524" target="_blank">https://arxiv.org/abs/1507.00524</a>

    </td> <!-- summary -->
    <td>Math, Mathematical Physics</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td></td> <!-- semantic enrichment -->
    <td></td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td><a href="https://www.nist.gov/people/bruce-r-miller">Bruce Miller</a></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="Formal Mathematical Language"></a>
      <a href="https://www.mat.univie.ac.at/~neum/FMathL.html" target="_blank">Formal Mathematical Language</a></td> <!-- website -->
    <td>a modeling and documentation language for mathematics.
      <blockquote cite="https://www.mat.univie.ac.at/~neum/FMathL.html">
        the FMathL system might turn into a user-friendly automatic mathematical assistant for retrieving, editing, and checking mathematics (but also computer science and theoretical physics) in both informal, partially formalized, and completely formalized mathematical form.
      </blockquote>

    </td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Unknown</td> <!-- semantic enrichment -->
    <td></td> <!-- open source? -->
    <td></td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="Leibniz"></a>
      <a href="https://github.com/khinsen/leibniz" target="_blank">Leibniz</a></td> <!-- website -->
    <td>
        "Digital Scientific Notations as a Human-Computer Interface in Computer-Aided Research"<BR/>
        <a href="https://arxiv.org/abs/1802.09307" target="_blank">https://arxiv.org/abs/1802.09307</a>
      <P>
      "Leibniz is a subset of <a href="http://maude.cs.illinois.edu/w/index.php/The_Maude_System" target="_blank">Maude</a> with different syntax"
      <P>
      <a href="https://khinsen.net/leibniz-examples/examples/leibniz-by-example.html">https://khinsen.net/leibniz-examples/examples/leibniz-by-example.html</a>
      <P>
      "Scientific notations for the digital era"<BR/>
      <a href="https://www.sjscience.org/article?id=527" target="_blank">https://www.sjscience.org/article?id=527</a>
    </td> <!-- summary -->
    <td>Science</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Yes?</td> <!-- semantic enrichment -->
    <td>Yes: CRAPL</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td><a href="https://khinsen.net/">Konrad Hinsen</a></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="polymath"></a>
      <a href="https://polymathprojects.org/" target="_blank">PolyMath</a></td> <!-- website -->
    <td>
      A "group blog" with the intent of
      <blockquote cite="http://https://polymathprojects.org/about/">
       hosting "polymath" projects – massively collaborative mathematical research projects.
       <footer>
         <cite><a href="http://https://polymathprojects.org/about/">source</a></cite>
       </footer>
      </blockquote>

      <blockquote cite="http://https://polymathprojects.org/general-polymath-rules/">
       Polymath projects are massively collaborative mathematical research programs,
       in which a single problem, group of problems, or other mathematical task is
       worked on by a large group of mathematicians.
       <footer>
         <cite><a href="http://https://polymathprojects.org/general-polymath-rules/">source</a></cite>
        </footer>
      </blockquote>

      <P>
      The Physics Derivation Graph is an effort to create the software infrastructure for a "PolyPhysics"
    </td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>No</td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="metamath"></a>
      <a href="http://us.metamath.org/" target="_blank">MetaMath</a></td> <!-- website -->
    <td>
      <blockquote cite="http://us.metamath.org/">
        Metamath is a tiny language that can express theorems in abstract mathematics,
        accompanied by proofs that can be verified by a computer program. The site has
        a collection of web pages generated from those proofs and lets you see mathematics
        developed in complete detail from first principles, with absolute rigor.
        <footer>
          <cite><a href="http://us.metamath.org/">source</a></cite>
        </footer>
      </blockquote>

    </td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Yes?</td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="directed graphs in linguistics">directed graphs in linguistics</a>
    </td> <!-- website -->
    <td>Examples include <a href="https://visuwords.com/" target="_blank">visuwords.com</a> and
      <a href="https://code.google.com/archive/p/synonym/" target="_blank">synonym</a></td> <!-- summary -->
    <td>Linguistics</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>varies</td> <!-- semantic enrichment -->
    <td>varies</td> <!-- open source? -->
    <td>varies</td> <!-- free? -->
    <td>varies</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="mathlingua"></a>
      <a href="http://www.mathlingua.org/" target="_blank">MathLingua</a></td> <!-- website -->
    <td>
      <blockquote cite="https://www.mathlingua.org/">
        MathLingua is a language for easily creating a collection of mathematical knowledge,
        including definitions, theorems, axioms, and conjectures. ... The goal is to allow
        one to express mathematical concepts in a higher level language that focuses on
        what a statement means instead of how it is represented in a logical framework.
        <footer>
          <cite><a href="https://www.mathlingua.org/">source</a></cite>
        </footer>
      </blockquote>

    </td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Yes?</td> <!-- semantic enrichment -->
    <td>Yes: Apache 2.0</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="Atlas IDE"></a>
      <a href="http://atlasengineering.io/" target="_blank">Atlas IDE</a></td> <!-- website -->
    <td>
        IDE for math. Includes visualization. Automatic linking of variables. Variables have definitions.
      <P>
        <a href="https://news.ycombinator.com/item?id=27112529">https://news.ycombinator.com/item?id=27112529</a>
    </td> <!-- summary -->
    <td>Mathematical Physics</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td>Yes</td> <!-- semantic enrichment -->
    <td>No</td> <!-- open source? -->
    <td>No</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="calcula.tech"></a>
      <a href="https://calcula.tech/" target="_blank">calcula.tech IDE</a></td> <!-- website -->
    <td>Create Latex equations in a web browser and solve numerical equations.
      <blockquote cite="https://calcula.tech/">
        <P>
          Do calculations in the browser with realtime pretty printed output.
        </P>
        <footer>
          <cite><a href="https://calcula.tech/">source</a></cite>
        </footer>
      </blockquote>
      <a href="https://github.com/mkhan45/CalcuLaTeX">source code</a>
    </td> <!-- summary -->
    <td></td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td></td> <!-- semantic enrichment -->
    <td>Yes</td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="blockpad.net"></a>
      <a href="https://blockpad.net/" target="_blank">blockpad.net</a></td> <!-- website -->
    <td>mash-up of MathCAD and Excel in a web browser</td> <!-- summary -->
    <td>Math</td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td></td> <!-- semantic enrichment -->
    <td>No</td> <!-- open source? -->
    <td>No</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
  <tr>
    <td>
      <a name="engineerjs.com"></a>
      <a href="http://engineerjs.com/" target="_blank">engineerjs.com</a></td> <!-- website -->
    <td>
      <a href="https://news.ycombinator.com/item?id=12825798">https://news.ycombinator.com/item?id=12825798</a>
    </td> <!-- summary -->
    <td></td> <!-- domain -->
    <td></td> <!-- relation to PDG -->
    <td></td> <!-- semantic enrichment -->
    <td></td> <!-- open source? -->
    <td>Yes</td> <!-- free? -->
    <td>Yes</td> <!-- active? -->
    <td></td> <!-- author or group -->
  </tr>
</table>

{% endblock %}
