{% extends "_base.html" %}
{% block content %}


<H1>Comparison of the Physics Derivation Graph with other projects</H1>
<P>
  This page is a survey of software related to the Physics Derivation Graph.
  For a literature review, see <a href="{{ url_for('literature_review') }}">this page</a>.

  The scope of the Physics Derivation Graph does not include proof assistants 
  (<a href="https://en.wikipedia.org/wiki/HOL_(proof_assistant)">HOL</a>, 
   <a href="https://en.wikipedia.org/wiki/Coq">COQ</a>, 
   <a href="https://en.wikipedia.org/wiki/Lean_(proof_assistant)">Lean</a>)
  or formal proofs. No <a href="https://en.wikipedia.org/wiki/Category_theory">Category theory</a> is used. 
  The Physics Derivation Graph does not use Natural Language Processing. 

  <div id="toc_container">
  <p class="toc_title">Contents</p>
  <OL class="toc_list">
    <!--
    <LI><a href="#"></a></LI>

    In bash,
    cat other_projects.html | grep "<H4" | sed 's/H4>/LI>/g' | sed 's/name="/name="#/' 
    -->
    <LI><a name="#incredible proof machine">Incredible Proof Machine</a></LI>
    <LI><a name="#Explorable Physics">Explorable Physics</a></LI>
    <LI><a name="#NLPphysicsSolver">NLP Physics Solver</a></LI>
    <LI><a name="#sciencewise">ScienceWise</a><LI>
    <LI><a name="#physml">PhysML (in OMdoc)</a></LI>
    <LI><a name="#imkt">International Mathematical Knowledge Trust</a></LI>
    <LI><a name="#MathFoldr">MathFoldr</a></LI>
    <LI><a name="#murray-rust">Murray-Rust Group at University of Cambridge</a></LI>
    <LI><a name="#CrystallographyOpenDatabase">Crystallography Open Database</a></LI>
    <LI><a name="#NumericalAtlas">Numerical Atlas</a><LI>
    <LI><a name="#formuladatabase">FormulaDatabase</a></LI>
    <LI><a name="#wikipedia">Wikipedia</a></LI>
    <LI><a name="#principia">Principia Mathematica</a></LI>
    <LI><a name="#equationmap">EquationMap</a></LI>
    <LI><a name="#symbolab">SymboLab</a></LI>
    <LI><a name="#hyperphysics">HyperPhysics</a></LI>
    <LI><a name="#mathematica">Wolfram Mathematica</a></LI>
    <LI><a name="#wolfram physics">Wolfram Physics</a></LI>
    <LI><a name="#wolframalpha">Wolfram Alpha</a></LI>
    <LI><a name="#Consilience">Consilience: The Unity of Knowledge</a></LI>
    <LI><a name="#OpenMath">OpenMath</a></LI>
    <LI><a name="#MathML">MathML</a></LI>
    <LI><a name="#omdoc">omdoc</a></LI>
    <LI><a name="#LatexML">LatexML</a></LI>
    <LI><a name="#Formal Mathematical Language">Formal Mathematical Language</a></LI>
    <LI><a name="#Leibniz">Leibniz</a></LI>
    <LI><a name="#polymath">PolyMath</a></LI>
    <LI><a name="#metamath">MetaMath</a></LI>
    <LI><a name="#mathlingua">MathLingua</a></LI>
    <LI><a name="#directed graphs in linguistics">directed graphs in linguistics</a></LI>
  </OL>
  </div>
  The purpose of these references is to contrast with the scope and intention of the Physics Derivation Graph.
</P>

<!--
<H4><a name=""></a></H4>
<P>
-->
<H4><a name="incredible proof machine">Incredible Proof Machine</a></H4>
<P>
  The <a href="http://incredible.pm/">Incredible Proof Machine</a> is similar in intent to the Physics Derivation Graph, though IPM is focused on logic.
  I am impressed by the interface for drawing proofs.

  The <a href="https://github.com/nomeata/incredible">source code</a> is available.

  The <a href="https://news.ycombinator.com/item?id=10276160">comment thread on Hacker News</a>.

<H4><a name="Explorable Physics">Explorable Physics</a></H4>
<P>
  The <a href="https://landgreen.github.io/physics/index.html">project website</a>
  The <a href="https://github.com/landgreen/landgreen.github.io">source code</a>
  The <a href="https://news.ycombinator.com/item?id=17178031">comment thread on Hacker News</a>.



<H4><a name="NLPphysicsSolver">NLP Physics Solver</a></H4>
<P>
  The <a href="https://www.cs.utexas.edu/users/novak/cgi/physdemod.cgi">Math / Physics Problem Solver</a> by <a href="https://www.cs.utexas.edu/users/novak/">Gordon Novak</a> "solves simple math and physics problems stated in English."

<P>
  The <a href="https://www.cs.utexas.edu/users/novak/cgi/physlaws.lsp">source code (Lisp)</a> and <a href="https://www.cs.utexas.edu/users/novak/cgi/equations.lsp">equations</a> are available.

<P>
  See <a href="https://yoavartzi.com/pub/kazb-acl.2014.pdf">"Learning to Automatically Solve Algebra Word Problems" (2014)</a>

<H4><a name="sciencewise">ScienceWise</a><H4>
<P>
  <a href="http://sciencewise.info/">sciencewise</a> is a tagging mechanism for words that is integrated with arXiv.
</P>

<H4><a name="physml">PhysML (in OMdoc)</a></H4>
<P>
  <a href="https://github.com/OMdoc/OMDoc/wiki/PhysML">PhysML</a> is part of the OMdoc effort.

PhysML is for identifying categories of content.

<H4><a name="imkt">International Mathematical Knowledge Trust</a></H4>
<P>
  <a href="https://imkt.org/">https://imkt.org/</a> has the goal to create 
  "a comprehensive mathematical knowledge base."
</P>
<P>
  <a href="https://en.wikipedia.org/wiki/International_Mathematical_Knowledge_Trust">Wikipedia entry</a>
</P>

<H4><a name="MathFoldr">MathFoldr</a></H4>
<P>
  Authors are category theorists. See 
  <a href="https://topos.site/blog/2021/07/introducing-the-mathfoldr-project/">https://topos.site/blog/2021/07/introducing-the-mathfoldr-project/</a>
</P>

<P>
  Goal is to "use natural language processing on a corpus of texts to assemble an imperfect but large and useful hierarchy of concepts." according to <a href="https://twitter.com/johncarlosbaez/status/1414999084042055684">this thread</a>.
  "plan is to start with things that can be done with existing natural language processing software."
</p>

<H4><a name="murray-rust">Murray-Rust Group at University of Cambridge</a></H4>
<P>
  <a href="http://www-pmr.ch.cam.ac.uk/wiki/Main_Page">http://www-pmr.ch.cam.ac.uk/wiki/Main_Page</a>
<P>
  Software "for the representation, extraction and processing of scientific data across chemistry, materials science and solid-state physics. We're particularly interested in the following areas: chemical data representation and semantics, scientific publication and scientific literature, polymer informatics and materials informatics and simulation."
</P>
<P>
  <a href="https://github.com/petermr/CEVOpen">https://github.com/petermr/CEVOpen</a>
</P>


<H4><a name="CrystallographyOpenDatabase">Crystallography Open Database</a></H4>
<P>
  <a href="https://www.crystallography.net/cod/">https://www.crystallography.net/cod/</a>
</P>

<H4><a name="NumericalAtlas">Numerical Atlas</a><H4>
<P>
  <a href="http://numericalatlas.cs.ucl.ac.uk/">http://numericalatlas.cs.ucl.ac.uk/</a><BR>
  From the paper <a href="https://arxiv.org/abs/2107.00665">Towards Machine Learning-Based Meta-Studies: Applications to Cosmological Parameters</a>
</P>

<H4><a name="formuladatabase">FormulaDatabase</a></H4>
<P>
  Formula Database (<a href="http://www.formula-database.com/release/">http://www.formula-database.com/release/</a>) is a website described by the authors as a ``math search engine'' which has a built-in equation editor.
  The search feature is not just matching the \(\rm\LaTeX\) input -- it understands dot product and cross product.
  They have created a browser-based equation editor, similar to the equation editor in Microsoft Word.
  The search is of a backend database of content.
  The backend database of equations and symbols was manually entered by the project authors.
  A team of people have been working since about 2010 on this project.
  The data is stored as a high-dimensional graph.
  This project is not open source but access is currently free.
  A commercial launch is planned, though no date has been publicized.
  The objective is to allow students to search through literature.
  If you are a researcher, you might want to find whether the model already exists in literature.
  The grand view is that formula-database will serve as a universal reference for equations.

<P>From the "About" page (<a href="https://web.archive.org/web/20130418062440/http://formula-database.com/release/about">https://web.archive.org/web/20130418062440/http://formula-database.com/release/about</a>
<blockquote>
Formula Database was founded in 2012 by a group of students and researchers at UW-Madison. The idea originated three years prior, when one of our founders, then an undergraduate, was frustrated at the difficulty in finding the correct formula he needed to solve his engineering homework.
This challenge has been leveraged into creating an innovative search engine to allow individuals to search for formulas based upon either their contents or mathematical structure. Formula Database lets users input measurable parameters—such as mass, distance, or time—and get equations that provide a relation between these items. Alternatively, using the Equation Editor, users can write a mathematical equation exactly as they would on a whiteboard or paper and discover information about the formula’s use and purpose.
Currently we are developing the completed product to allow users to enjoy this functionality. We anticipate launching for a beta test at the end of August 2012.
</blockquote>

<P>
  Below are a few screenshots from the Internet Archive.
  <a href="{{ url_for('static', filename='formuladatabase.png') }}?referrer=user_documentation">
    <img src="{{ url_for('static', filename='formuladatabase.png') }}" width=400>
  </a>
  Frontpage of the FormulaDatabase.
</P>
<P>
  <a href="{{ url_for('static', filename='formuladatabase_2.png') }}?referrer=user_documentation">
    <img src="{{ url_for('static', filename='formuladatabase_2.png') }}" width=400>
  </a>
  Categories of data in the FormulaDatabase.
</P>
<P>
  <a href="{{ url_for('static', filename='formuladatabase_3.png') }}?referrer=user_documentation">
    <img src="{{ url_for('static', filename='formuladatabase_3.png') }}" width=400>
  </a>
Objects in the FormulaDatabase.
</P>


<H4><a name="wikipedia">Wikipedia</a></H4>
<P>
    <em>How is the Physics Derivation Graph different than <a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia<a/>?</em>
  </a><BR/>
  <a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia<a/> is text-based with hyperlinks. <BR/>
  In contrast, the Physics Derivation Graph is effectively language-independent.
</P>

<H4><a name="principia">Principia Mathematica</a></H4>
<P>
<em>How is the Physics Derivation Graph different than the <a href="https://en.wikipedia.org/wiki/Principia_Mathematica">Principia_Mathematica</a>?</em>
</a><BR/>
The ambitious effort of Whitehead and Russell to prove the foundations of mathematics is not similar to this project. "Proof" doesn't apply in Physics. This project is about documenting existing knowledge in a format which can be parsed by computers.
</P>



<H4><a name="equationmap">EquationMap</a></H4>
<P>
  <a href="http://equationmap.com/">Equation Map</a> was an interface for putting expressions into a graph format. Inference rules and feeds were not included, nor is checking of the graph via a computer algebra system. <a href="http://equationmap.com/">Equation Map</a> is proprietary, whereas the Physics Derivation Graph is open source.

<P>
<iframe width="560" height="315" src="https://www.youtube.com/embed/H3P74N0IarQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<P>
  The website EquationMap (http://equationmap.com; site not currently available) is an interface for derivations, focused primarily on mathematics.
  There is no backend database of content; instead content is dynamically generated by the user.
  Equations are manually entered using \LaTeX syntax and the graph of the derivation can be visualized using the same interface.
  The content is not open source and access is currently free.
  This is close to what the GUI for the Physics Derivation Graph is intended to behave like, with the exception that EquationMap doesn't include the concept of atomic inference rules.
</P>
<P>
  <a href="{{ url_for('static', filename='equationmap_site.png') }}?referrer=user_documentation">
    <img src="{{ url_for('static', filename='equationmap_site.png') }}" width=400>
  </a>
  Screenshot of the EquationMap website. The input mechanism is not shown because this screenshot is from the Internet Archive.
</P>
<P>
  <a href="{{ url_for('static', filename='equationmap_site_menu.png') }}?referrer=user_documentation">
    <img src="{{ url_for('static', filename='equationmap_site_menu.png') }}" width=400>
  </a>
  Screenshot of the option to provide .tex files to EquationMap website, and download .tex files.
</P>


<H4><a name="symbolab">SymboLab</a></H4>
<P>
  SymboLab (<a href="https://www.symbolab.com">https://www.symbolab.com</a>)  is a web interface for solving symbolic expressions. There is no graph. There is another backend database of content. This project is not open source but access is currently free.
</P>



<H4><a name="hyperphysics">HyperPhysics</a></H4>
<P>
  The HyperPhysics website (<a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hframe.html">http://hyperphysics.phy-astr.gsu.edu/hbase/hframe.html</a>) is a static set of linked concept maps for topics in Physics.
  Concept maps are linked to text, graphs, and equations.
  The licensing of the content is described as ``not freeware or shareware'' by the author, though the site is free to access.
  Although hyperlinked concept maps are a departure from the standard textbook presentation of physics, the leaves of this tree are the same content found in textbooks.
</P>

<P><a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hframe.html">HyperPhysics</a> is similar to <a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia<a/>in that it is text based for edges. <BR/>
<a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hframe.html">HyperPhysics</a> has what appears to be a graph (hand drawn), but is actually a multi-level tree -- a concept diagram. For example, content in the <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hph.html#mechcon">Classical Mechanics subpage</a> does not link to any other subject. <BR/>
The number of levels can vary. For example, the <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hph.html">main page</a> links to <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/hph.html#mechcon">mechanics</a> links to <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/colcon.html">Collisions</a> links to
<a href="http://hyperphysics.phy-astr.gsu.edu/hbase/mom.html#mom">Momentum</a>.
</P>

<H4><a name="mathematica">Wolfram Mathematica</a></H4>
<P>
  <a href="https://www.wolfram.com/mathematica/">Mathematica</a> is a commercial product, whereas the Physics Derivation Graph is open source.<BR/>
  <a href="https://www.wolfram.com/mathematica/">Mathematica</a> is a <a href="https://en.wikipedia.org/wiki/Computer_algebra_system">computer algebra system</a>, whereas the Physics Derivation Graph is documentation of known mathematical physics relations.<BR/>


<H4><a name="wolfram physics">Wolfram Physics</a></H4>
<P>
  <a href="https://www.wolframphysics.org/">Wolfram Physics</a> focuses on using Graph generation as a method of developing fundemental Physics concepts.
</P>


<H4><a name="wolframalpha">Wolfram Alpha</a></H4>
<P>
  Wolfram Alpha (<a href="https://www.wolframalpha.com">https://www.wolframalpha.com</a>) has a backend database of content which is not open source; access is a mix of free and paid.
</P>

<H4><a name="Consilience">Consilience: The Unity of Knowledge</a></H4>
<P>
  In the 1998 <a href="https://en.wikipedia.org/wiki/Consilience_(book)">book</a> by <a href="https://en.wikipedia.org/wiki/E._O._Wilson">Edward O. Wilson</a>, he tackled "the synthesis of knowledge from different specialized fields of human endeavor."

  <blockquote cite="https://www.azquotes.com/quote/1117453">
    Science offers the boldest metaphysics of the age. It is a thoroughly human construct, driven by the faith that if we dream, press to discover, explain, and dream again, thereby plunging repeatedly into new terrain, the world will somehow come clearer and we will grasp the true strangeness of the universe.
    <strong>And the strangeness will all prove to be connected, and make sense</strong>.
  </blockquote>



<H4><a name="OpenMath">OpenMath</a></H4>
<P>
https://en.wikipedia.org/wiki/OpenMath<BR/>
https://github.com/OpenMath<BR/>
https://www.openmath.org/



<H4><a name="MathML">MathML</a></H4>
<P>
Presentation MathML (layout only) and Content MathML (semantics)<BR/>
https://developer.mozilla.org/en-US/docs/Web/MathML/Element/semantics

<H4><a name="omdoc">omdoc</a></H4>
<P>
https://en.wikipedia.org/wiki/OMDoc<BR/>
http://www.omdoc.org/

Also, https://github.com/OMdoc/OMDoc/wiki/PhysML<BR/>
PhysML is distinct from http://sciencewise.info/ in that ScienceWise
is about linking specific terms to a common database, whereas PhysML
is for identifying categories of content.


<blockquote>"Both MathML and OpenMath address mathematical formulas in isolation,
whereas OMDoc allows to express the structure of mathematical documents,
for example the relation between definitions, theorems and proofs."
</blockquote>
(source: <a href="https://pdfs.semanticscholar.org/a91a/f3fa64e1296de470206f375a29ddc1c7b54d.pdf">"Extracting Mathematical Semantics from LATEX Documents"</a>)




<H4><a name="LatexML">LatexML</a></H4>
<P>
LatexML converts to Presentation MathML, not Content MathML<BR/>
https://dlmf.nist.gov/LaTeXML/<BR/>
https://github.com/brucemiller/LaTeXML


<P>
LaTeXML 2012 - A Year of LaTeXML<BR/>
D. Ginev and B. R. Miller, 2014<BR/>
https://arxiv.org/abs/1404.6549

<P>
Strategies for Parallel Markup<BR/>
B. R. Miller, 2015<BR/>
https://arxiv.org/abs/1507.00524





<H4><a name="Formal Mathematical Language">Formal Mathematical Language</a></H4>
<P>
https://www.mat.univie.ac.at/~neum/FMathL.html

<H4><a name="Leibniz">Leibniz</a></H4>
<P>
  "Digital Scientific Notations as a Human-Computer Interface in Computer-Aided Research"<BR/>
  https://arxiv.org/abs/1802.09307

<P>
<a href="https://github.com/khinsen/leibniz">source code</a>

<P>
"Leibniz is a subset of <a href=http://maude.cs.illinois.edu/w/index.php/The_Maude_System">Maude</a> with different syntax"

<P>
https://khinsen.net/leibniz-examples/examples/leibniz-by-example.html

<P>
"Scientific notations for the digital era"<BR/>
https://www.sjscience.org/article?id=527


<H4><a name="polymath">PolyMath</a></H4>
<P>
  <a href="https://polymathprojects.org/">PolyMath</a>

The PDG is an effort to create the software infrastructure for a "PolyPhysics"

<H4><a name="metamath">MetaMath</a></H4>
<P>
  <a href="http://us.metamath.org/">MetaMath</a>

<H4><a name="mathlingua">MathLingua</a></H4>
<P>
  http://www.mathlingua.org/


<H4><a name="directed graphs in linguistics">directed graphs in linguistics</a></H4>
<P>
  https://visuwords.com/<BR/>
  http://wordventure.eti.pg.gda.pl/wne/wne.html<BR/>
  https://code.google.com/archive/p/synonym/


http://atlasengineering.io/
<P>IDE for math. Paid product (not free, not open source)

https://calcula.tech/
<P>Create Latex equations in a web browser and solve numerical equations

https://blockpad.net/
<P>MathCAD in a web browser

http://engineerjs.com/


{% endblock %}
