{% extends "_base.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}

<P>name of derivation: {{ dat["derivations"][deriv_id]["name"] }}</P>
<P>inference rule: {{ inf_rule }}: <BR>
{{ inf_rule_dict['latex'] }}
</P>
<!-- https://stackoverflow.com/questions/28375565/add-input-fields-dynamically-with-wtforms -->

<style>
input, textarea, select {
        background: #f9f909;
        color: black;
        cursor: default;
    }
input[disabled='disabled'], textarea[disabled='disabled'], select[disabled='disabled'] {
        background: #cccccc;
    }

    input[type="text"]:disabled, input[type="select"]:disabled {
        background: #cccccc;
    }
</style>

<script>

function enable_input1_radio1(enabled){
    document.getElementById('input1_latex').removeAttribute('disabled');
    document.getElementById('input1_name').removeAttribute('disabled');
    document.getElementById('input1_note').removeAttribute('disabled');

    document.getElementById('input1_local').setAttribute('disabled','disabled');
    document.getElementById('input1_global').setAttribute('disabled','disabled');
}

function enable_input1_radio2(enabled){
    document.getElementById('input1_local').removeAttribute('disabled');

    document.getElementById('input1_latex').setAttribute('disabled','disabled');
    document.getElementById('input1_name').setAttribute('disabled','disabled');
    document.getElementById('input1_note').setAttribute('disabled','disabled');
    document.getElementById('input1_global').setAttribute('disabled','disabled');
}

function enable_input1_radio3(enabled){
    document.getElementById('input1_global').removeAttribute('disabled');

    document.getElementById('input1_latex').setAttribute('disabled','disabled');
    document.getElementById('input1_name').setAttribute('disabled','disabled');
    document.getElementById('input1_note').setAttribute('disabled','disabled');
    document.getElementById('input1_local').setAttribute('disabled','disabled');
}

function enable_input2_radio1(enabled){
    document.getElementById('input2_latex').removeAttribute('disabled');
    document.getElementById('input2_name').removeAttribute('disabled');
    document.getElementById('input2_note').removeAttribute('disabled');

    document.getElementById('input2_local').setAttribute('disabled','disabled');
    document.getElementById('input2_global').setAttribute('disabled','disabled');
}

function enable_input2_radio2(enabled){
    document.getElementById('input2_local').removeAttribute('disabled');

    document.getElementById('input2_latex').setAttribute('disabled','disabled');
    document.getElementById('input2_name').setAttribute('disabled','disabled');
    document.getElementById('input2_note').setAttribute('disabled','disabled');
    document.getElementById('input2_global').setAttribute('disabled','disabled');
}

function enable_input2_radio3(enabled){
    document.getElementById('input2_global').removeAttribute('disabled');

    document.getElementById('input2_latex').setAttribute('disabled','disabled');
    document.getElementById('input2_name').setAttribute('disabled','disabled');
    document.getElementById('input2_note').setAttribute('disabled','disabled');
    document.getElementById('input2_local').setAttribute('disabled','disabled');
}

function enable_input3_radio1(enabled){
    document.getElementById('input3_latex').removeAttribute('disabled');
    document.getElementById('input3_name').removeAttribute('disabled');
    document.getElementById('input3_note').removeAttribute('disabled');

    document.getElementById('input3_local').setAttribute('disabled','disabled');
    document.getElementById('input3_global').setAttribute('disabled','disabled');
}

function enable_input3_radio2(enabled){
    document.getElementById('input3_local').removeAttribute('disabled');

    document.getElementById('input3_latex').setAttribute('disabled','disabled');
    document.getElementById('input3_name').setAttribute('disabled','disabled');
    document.getElementById('input3_note').setAttribute('disabled','disabled');
    document.getElementById('input3_global').setAttribute('disabled','disabled');
}

function enable_input3_radio3(enabled){
    document.getElementById('input3_global').removeAttribute('disabled');

    document.getElementById('input3_latex').setAttribute('disabled','disabled');
    document.getElementById('input3_name').setAttribute('disabled','disabled');
    document.getElementById('input3_note').setAttribute('disabled','disabled');
    document.getElementById('input3_local').setAttribute('disabled','disabled');
}

function enable_input4_radio1(enabled){
    document.getElementById('input4_latex').removeAttribute('disabled');
    document.getElementById('input4_name').removeAttribute('disabled');
    document.getElementById('input4_note').removeAttribute('disabled');

    document.getElementById('input4_local').setAttribute('disabled','disabled');
    document.getElementById('input4_global').setAttribute('disabled','disabled');
}

function enable_input4_radio2(enabled){
    document.getElementById('input4_local').removeAttribute('disabled');

    document.getElementById('input4_latex').setAttribute('disabled','disabled');
    document.getElementById('input4_name').setAttribute('disabled','disabled');
    document.getElementById('input4_note').setAttribute('disabled','disabled');
    document.getElementById('input4_global').setAttribute('disabled','disabled');
}

function enable_input4_radio3(enabled){
    document.getElementById('input4_global').removeAttribute('disabled');

    document.getElementById('input4_latex').setAttribute('disabled','disabled');
    document.getElementById('input4_name').setAttribute('disabled','disabled');
    document.getElementById('input4_note').setAttribute('disabled','disabled');
    document.getElementById('input4_local').setAttribute('disabled','disabled');
}

function enable_input5_radio1(enabled){
    document.getElementById('input5_latex').removeAttribute('disabled');
    document.getElementById('input5_name').removeAttribute('disabled');
    document.getElementById('input5_note').removeAttribute('disabled');

    document.getElementById('input5_local').setAttribute('disabled','disabled');
    document.getElementById('input5_global').setAttribute('disabled','disabled');
}

function enable_input5_radio2(enabled){
    document.getElementById('input5_local').removeAttribute('disabled');

    document.getElementById('input5_latex').setAttribute('disabled','disabled');
    document.getElementById('input5_name').setAttribute('disabled','disabled');
    document.getElementById('input5_note').setAttribute('disabled','disabled');
    document.getElementById('input5_global').setAttribute('disabled','disabled');
}

function enable_input5_radio3(enabled){
    document.getElementById('input5_global').removeAttribute('disabled');

    document.getElementById('input5_latex').setAttribute('disabled','disabled');
    document.getElementById('input5_name').setAttribute('disabled','disabled');
    document.getElementById('input5_note').setAttribute('disabled','disabled');
    document.getElementById('input5_local').setAttribute('disabled','disabled');
}

function enable_input6_radio1(enabled){
    document.getElementById('input6_latex').removeAttribute('disabled');
    document.getElementById('input6_name').removeAttribute('disabled');
    document.getElementById('input6_note').removeAttribute('disabled');

    document.getElementById('input6_local').setAttribute('disabled','disabled');
    document.getElementById('input6_global').setAttribute('disabled','disabled');
}

function enable_input6_radio2(enabled){
    document.getElementById('input6_local').removeAttribute('disabled');

    document.getElementById('input6_latex').setAttribute('disabled','disabled');
    document.getElementById('input6_name').setAttribute('disabled','disabled');
    document.getElementById('input6_note').setAttribute('disabled','disabled');
    document.getElementById('input6_global').setAttribute('disabled','disabled');
}

function enable_input6_radio3(enabled){
    document.getElementById('input6_global').removeAttribute('disabled');

    document.getElementById('input6_latex').setAttribute('disabled','disabled');
    document.getElementById('input6_name').setAttribute('disabled','disabled');
    document.getElementById('input6_note').setAttribute('disabled','disabled');
    document.getElementById('input6_local').setAttribute('disabled','disabled');
}

function enable_input7_radio1(enabled){
    document.getElementById('input7_latex').removeAttribute('disabled');
    document.getElementById('input7_name').removeAttribute('disabled');
    document.getElementById('input7_note').removeAttribute('disabled');

    document.getElementById('input7_local').setAttribute('disabled','disabled');
    document.getElementById('input7_global').setAttribute('disabled','disabled');
}

function enable_input7_radio2(enabled){
    document.getElementById('input7_local').removeAttribute('disabled');

    document.getElementById('input7_latex').setAttribute('disabled','disabled');
    document.getElementById('input7_name').setAttribute('disabled','disabled');
    document.getElementById('input7_note').setAttribute('disabled','disabled');
    document.getElementById('input7_global').setAttribute('disabled','disabled');
}

function enable_input7_radio3(enabled){
    document.getElementById('input7_global').removeAttribute('disabled');

    document.getElementById('input7_latex').setAttribute('disabled','disabled');
    document.getElementById('input7_name').setAttribute('disabled','disabled');
    document.getElementById('input7_note').setAttribute('disabled','disabled');
    document.getElementById('input7_local').setAttribute('disabled','disabled');
}

function enable_output1_radio1(enabled){
    document.getElementById('output1_latex').removeAttribute('disabled');
    document.getElementById('output1_name').removeAttribute('disabled');
    document.getElementById('output1_note').removeAttribute('disabled');

    document.getElementById('output1_local').setAttribute('disabled','disabled');
    document.getElementById('output1_global').setAttribute('disabled','disabled');
}

function enable_output1_radio2(enabled){
    document.getElementById('output1_local').removeAttribute('disabled');

    document.getElementById('output1_latex').setAttribute('disabled','disabled');
    document.getElementById('output1_name').setAttribute('disabled','disabled');
    document.getElementById('output1_note').setAttribute('disabled','disabled');
    document.getElementById('output1_global').setAttribute('disabled','disabled');
}

function enable_output1_radio3(enabled){
    document.getElementById('output1_global').removeAttribute('disabled');

    document.getElementById('output1_latex').setAttribute('disabled','disabled');
    document.getElementById('output1_name').setAttribute('disabled','disabled');
    document.getElementById('output1_note').setAttribute('disabled','disabled');
    document.getElementById('output1_local').setAttribute('disabled','disabled');
}

function enable_output2_radio1(enabled){
    document.getElementById('output2_latex').removeAttribute('disabled');
    document.getElementById('output2_name').removeAttribute('disabled');
    document.getElementById('output2_note').removeAttribute('disabled');

    document.getElementById('output2_local').setAttribute('disabled','disabled');
    document.getElementById('output2_global').setAttribute('disabled','disabled');
}

function enable_output2_radio2(enabled){
    document.getElementById('output2_local').removeAttribute('disabled');

    document.getElementById('output2_latex').setAttribute('disabled','disabled');
    document.getElementById('output2_name').setAttribute('disabled','disabled');
    document.getElementById('output2_note').setAttribute('disabled','disabled');
    document.getElementById('output2_global').setAttribute('disabled','disabled');
}

function enable_output2_radio3(enabled){
    document.getElementById('output2_global').removeAttribute('disabled');

    document.getElementById('output2_latex').setAttribute('disabled','disabled');
    document.getElementById('output2_name').setAttribute('disabled','disabled');
    document.getElementById('output2_note').setAttribute('disabled','disabled');
    document.getElementById('output2_local').setAttribute('disabled','disabled');
}

function enable_output3_radio1(enabled){
    document.getElementById('output3_latex').removeAttribute('disabled');
    document.getElementById('output3_name').removeAttribute('disabled');
    document.getElementById('output3_note').removeAttribute('disabled');

    document.getElementById('output3_local').setAttribute('disabled','disabled');
    document.getElementById('output3_global').setAttribute('disabled','disabled');
}

function enable_output3_radio2(enabled){
    document.getElementById('output3_local').removeAttribute('disabled');

    document.getElementById('output3_latex').setAttribute('disabled','disabled');
    document.getElementById('output3_name').setAttribute('disabled','disabled');
    document.getElementById('output3_note').setAttribute('disabled','disabled');
    document.getElementById('output3_global').setAttribute('disabled','disabled');
}

function enable_output3_radio3(enabled){
    document.getElementById('output3_global').removeAttribute('disabled');

    document.getElementById('output3_latex').setAttribute('disabled','disabled');
    document.getElementById('output3_name').setAttribute('disabled','disabled');
    document.getElementById('output3_note').setAttribute('disabled','disabled');
    document.getElementById('output3_local').setAttribute('disabled','disabled');
}


</script>

<fieldset>
<legend>
<H2>Provide inputs and feeds and outputs for step</H2>
</legend>

<form method="post" action="">
  <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
  {{ webform.csrf_token }}
  <div class="form-group">
    <div class="input-group">

{% if inf_rule_dict['number of inputs']|int() > 0|int() %}
<P>
  <table border="1">
  <!-- from https://wtforms.readthedocs.io/en/stable/fields.html#basic-fields -->
  <!-- and https://stackoverflow.com/questions/40086613/ansible-jinja2-string-comparison -->
  <!-- and https://stackoverflow.com/questions/20233721/how-do-you-index-on-a-jinja-template -->
  {% for subfield in webform.input1_radio %}
    <tr>
    {% if loop.index0 == 0 %}
      <td>{{ subfield(onclick='enable_input1_radio1(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>
          <!-- https://css-tricks.com/exposing-form-fields-radio-button-css/ -->
          <!-- https://github.com/allofphysicsgraph/proofofconcept/issues/130 -->
          <!-- <div class="reveal-if-active"> -->
        {{ webform.input1.label }}: {{ webform.input1(size=50, maxlength=300, id="input1_latex", onchange="onChangeFunction();") }}
        <BR>
        <small><B>Required</B>; max length = 300 characters</small><BR>
        <input type="checkbox" id="display_input1_latex" checked="" onchange="convert('input1_latex','display_input1_latex', 'preview_input1_latex','output_input1_latex')">
        <small><label for="display_input1_latex">Display style</label></small>
        <input type="button" value="optional preview of TeX before submitting form" id="preview_input1_latex" onclick="convert('input1_latex','display_input1_latex', 'preview_input1_latex','output_input1_latex')">
        <br clear="all">
          <div id="output_input1_latex"></div>
      </td>
      <td>{{ webform.input1_name.label }}: {{ webform.input1_name(size=20, maxlength=300, id="input1_name", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
      <td>{{ webform.input1_note.label }}: {{ webform.input1_note(size=20, maxlength=300, id="input1_note", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
    {% elif loop.index0 == 1 %}
      {% if list_of_local_id|length > 0 %}
      <td>{{ subfield(onclick='enable_input1_radio2(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>
        <span class="input-group-addon">Select from</span>
          <select name="input1_local_id" class="selectpicker form-control" id="input1_local" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_local_id in list_of_local_id %}
            <option value="{{ expr_local_id }}">{{ expr_local_id }}, {{  dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex']  }}</option>
            {% endfor %}
          </select>
      </td>
      {% endif %}
    {% elif loop.index0 == 2 %}
      <td>{{ subfield(onclick='enable_input1_radio3(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>
        <span class="input-group-addon">Select from</span>
          <select name="input1_global_id" class="selectpicker form-control" id="input1_global" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_global_id in list_of_global_id_not_in_derivation %}
            <option value="{{ expr_global_id }}">{{ expr_global_id }}, {{ dat['expressions'][expr_global_id]['latex'][0:50] }}</option>
            {% endfor %}
          </select>
      </td>
    {% else %}
      <td>
        Error in radio field
      </td>
    {% endif %}
    </tr>
  {% endfor %}
  </table>
{% endif %}



{% if inf_rule_dict['number of inputs']|int() > 1|int() %}
<P>
  <table border="1">
  {% for subfield in webform.input2_radio %}
    <tr>
    {% if loop.index0 == 0 %}
      <td>{{ subfield(onclick='enable_input2_radio1(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>{{ webform.input2.label }}: {{ webform.input2(size=50, maxlength=300, id="input2_latex", onchange="onChangeFunction();") }} <BR>
           <small><B>Required</B>; max length = 300 characters</small></td>
      <td>{{ webform.input2_name.label }}: {{ webform.input2_name(size=20, maxlength=300, id="input2_name", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
      <td>{{ webform.input2_note.label }}: {{ webform.input2_note(size=20, maxlength=300, id="input2_note", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
    {% elif loop.index0 == 1 %}
      <td>{{ subfield(onclick='enable_input2_radio2(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>
        <span class="input-group-addon">Select from</span>
          <select name="input2_local_id" class="selectpicker form-control" id="input2_local" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_local_id in list_of_local_id %}
            <option value="{{ expr_local_id }}">{{ expr_local_id }}, {{  dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex']  }}</option>
            {% endfor %}
          </select>
      </td>
    {% elif loop.index0 == 2 %}
      <td>{{ subfield(onclick='enable_input2_radio3(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>
        <span class="input-group-addon">Select from</span>
          <select name="input2_global_id" class="selectpicker form-control" id="input2_global" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_global_id in list_of_global_id_not_in_derivation %}
            <option value="{{ expr_global_id }}">{{ expr_global_id }}, {{ dat['expressions'][expr_global_id]['latex'][0:50] }}</option>
            {% endfor %}
          </select>
      </td>
    {% else %}
      <td>
        Error in radio field
      </td>
    {% endif %}
    </tr>
  {% endfor %}
  </table>
</P>
{% endif %}

<P>
{% if inf_rule_dict['number of inputs']|int() > 2|int() %}
  <table border="1">
  {% for subfield in webform.input3_radio %}
    <tr>
    {% if loop.index0 == 0 %}
      <td>{{ subfield(onclick='enable_input3_radio1(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>{{ webform.input3.label }}: {{ webform.input3(size=50, maxlength=300, id="input3_latex", onchange="onChangeFunction();") }} <BR>
            <small><B>Required</B>; max length = 300 characters</small></td>
      <td>{{ webform.input3_name.label }}: {{ webform.input3_name(size=20, maxlength=300, id="input3_name", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
      <td>{{ webform.input3_note.label }}: {{ webform.input3_note(size=20, maxlength=300, id="input3_note", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
    {% elif loop.index0 == 1 %}
      <td>{{ subfield(onclick='enable_input3_radio2(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>
        <span class="input-group-addon">Select from</span>
          <select name="input3_local_id" class="selectpicker form-control" id="input3_local" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_local_id in list_of_local_id %}
            <option value="{{ expr_local_id }}">{{ expr_local_id }}, {{  dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex']  }}</option>
            {% endfor %}
          </select>
      </td>
    {% elif loop.index0 == 2 %}
      <td>{{ subfield(onclick='enable_input3_radio3(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>
        <span class="input-group-addon">Select from</span>
          <select name="input3_global_id" class="selectpicker form-control" id="input3_global" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_global_id in list_of_global_id_not_in_derivation %}
            <option value="{{ expr_global_id }}">{{ expr_global_id }}, {{ dat['expressions'][expr_global_id]['latex'][0:50] }}</option>
            {% endfor %}
          </select>
      </td>
    {% else %}
      <td>
        Error in radio field
      </td>
    {% endif %}
    </tr>
  {% endfor %}
  </table>
</P>
{% endif %}

<P>
{% if inf_rule_dict['number of inputs']|int() > 3|int() %}
  <table border="1">
  {% for subfield in webform.input4_radio %}
    <tr>
    {% if loop.index0 == 0 %}
      <td>{{ subfield(onclick='enable_input4_radio1(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>{{ webform.input4.label }}: {{ webform.input4(size=50, maxlength=300, id="input4_latex", onchange="onChangeFunction();") }} <BR>
            <small><B>Required</B>; max length = 300 characters</small></td>
      <td>{{ webform.input4_name.label }}: {{ webform.input4_name(size=20, maxlength=300, id="input4_name", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
      <td>{{ webform.input4_note.label }}: {{ webform.input4_note(size=20, maxlength=300, id="input4_note", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
    {% elif loop.index0 == 1 %}
      <td>{{ subfield(onclick='enable_input4_radio2(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>
        <span class="input-group-addon">Select from</span>
          <select name="input4_local_id" class="selectpicker form-control" id="input4_local" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_local_id in list_of_local_id %}
            <option value="{{ expr_local_id }}">{{ expr_local_id }}, {{  dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex']  }}</option>
            {% endfor %}
          </select>
      </td>
    {% elif loop.index0 == 2 %}
      <td>{{ subfield(onclick='enable_input4_radio3(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>
        <span class="input-group-addon">Select from</span>
          <select name="input4_global_id" class="selectpicker form-control" id="input4_global" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_global_id in list_of_global_id_not_in_derivation %}
            <option value="{{ expr_global_id }}">{{ expr_global_id }}, {{ dat['expressions'][expr_global_id]['latex'][0:50] }}</option>
            {% endfor %}
          </select>
      </td>
    {% else %}
      <td>
        Error in radio field
      </td>
    {% endif %}
    </tr>
  {% endfor %}
  </table>
</P>
{% endif %}

<P>
{% if inf_rule_dict['number of inputs']|int() > 4|int() %}
  <table border="1">
  {% for subfield in webform.input5_radio %}
    <tr>
    {% if loop.index0 == 0 %}
      <td>{{ subfield(onclick='enable_input5_radio1(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>{{ webform.input5.label }}: {{ webform.input5(size=50, maxlength=300, id="input5_latex", onchange="onChangeFunction();") }} <BR>
            <small><B>Required</B>; max length = 300 characters</small></td>
      <td>{{ webform.input5_name.label }}: {{ webform.input5_name(size=20, maxlength=300, id="input5_name", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
      <td>{{ webform.input5_note.label }}: {{ webform.input5_note(size=20, maxlength=300, id="input5_note", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
    {% elif loop.index0 == 1 %}
      <td>{{ subfield(onclick='enable_input5_radio2(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>
        <span class="input-group-addon">Select from</span>
          <select name="input5_local_id" class="selectpicker form-control" id="input5_local" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_local_id in list_of_local_id %}
            <option value="{{ expr_local_id }}">{{ expr_local_id }}, {{  dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex']  }}</option>
            {% endfor %}
          </select>
      </td>
    {% elif loop.index0 == 2 %}
      <td>{{ subfield(onclick='enable_input5_radio3(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>
        <span class="input-group-addon">Select from</span>
          <select name="input5_global_id" class="selectpicker form-control" id="input5_global" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_global_id in list_of_global_id_not_in_derivation %}
            <option value="{{ expr_global_id }}">{{ expr_global_id }}, {{ dat['expressions'][expr_global_id]['latex'][0:50] }}</option>
            {% endfor %}
          </select>
      </td>
    {% else %}
      <td>
        Error in radio field
      </td>
    {% endif %}
    </tr>
  {% endfor %}
  </table>
</P>
{% endif %}

<P>
{% if inf_rule_dict['number of inputs']|int() > 5|int() %}
  <table border="1">
  {% for subfield in webform.input6_radio %}
    <tr>
    {% if loop.index0 == 0 %}
      <td>{{ subfield(onclick='enable_input6_radio1(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>{{ webform.input6.label }}: {{ webform.input6(size=50, maxlength=300, id="input6_latex", onchange="onChangeFunction();") }} <BR>
            <small><B>Required</B>; max length = 300 characters</small></td>
      <td>{{ webform.input6_name.label }}: {{ webform.input6_name(size=20, maxlength=300, id="input6_name", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
      <td>{{ webform.input6_note.label }}: {{ webform.input6_note(size=20, maxlength=300, id="input6_note", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
    {% elif loop.index0 == 1 %}
      <td>{{ subfield(onclick='enable_input6_radio2(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>
        <span class="input-group-addon">Select from</span>
          <select name="input6_local_id" class="selectpicker form-control" id="input6_local" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_local_id in list_of_local_id %}
            <option value="{{ expr_local_id }}">{{ expr_local_id }}, {{  dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex']  }}</option>
            {% endfor %}
          </select>
      </td>
    {% elif loop.index0 == 2 %}
      <td>{{ subfield(onclick='enable_input6_radio3(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>
        <span class="input-group-addon">Select from</span>
          <select name="input6_global_id" class="selectpicker form-control" id="input6_global" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_global_id in list_of_global_id_not_in_derivation %}
            <option value="{{ expr_global_id }}">{{ expr_global_id }}, {{ dat['expressions'][expr_global_id]['latex'][0:50] }}</option>
            {% endfor %}
          </select>
      </td>
    {% else %}
      <td>
        Error in radio field
      </td>
    {% endif %}
    </tr>
  {% endfor %}
  </table>
</P>
{% endif %}

<P>
{% if inf_rule_dict['number of inputs']|int() > 6|int() %}
  <table border="1">
  {% for subfield in webform.input7_radio %}
    <tr>
    {% if loop.index0 == 0 %}
      <td>{{ subfield(onclick='enable_input7_radio1(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>{{ webform.input7.label }}: {{ webform.input7(size=50, maxlength=300, id="input7_latex", onchange="onChangeFunction();") }} <BR>
            <small><B>Required</B>; max length = 300 characters</small></td>
      <td>{{ webform.input7_name.label }}: {{ webform.input7_name(size=20, maxlength=300, id="input7_name", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
      <td>{{ webform.input7_note.label }}: {{ webform.input7_note(size=20, maxlength=300, id="input7_note", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
    {% elif loop.index0 == 1 %}
      <td>{{ subfield(onclick='enable_input7_radio2(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>
        <span class="input-group-addon">Select from</span>
          <select name="input7_local_id" class="selectpicker form-control" id="input7_local" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_local_id in list_of_local_id %}
            <option value="{{ expr_local_id }}">{{ expr_local_id }}, {{  dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex']  }}</option>
            {% endfor %}
          </select>
      </td>
    {% elif loop.index0 == 2 %}
      <td>{{ subfield(onclick='enable_input7_radio3(true)') }}</td>
      <td>{{ subfield.label }}</td>
      <td>
        <span class="input-group-addon">Select from</span>
          <select name="input7_global_id" class="selectpicker form-control" id="input7_global" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_global_id in list_of_global_id_not_in_derivation %}
            <option value="{{ expr_global_id }}">{{ expr_global_id }}, {{ dat['expressions'][expr_global_id]['latex'][0:50] }}</option>
            {% endfor %}
          </select>
      </td>
    {% else %}
      <td>
        Error in radio field
      </td>
    {% endif %}
    </tr>
  {% endfor %}
  </table>
</P>
{% endif %}

{% if inf_rule_dict['number of inputs']|int() > 7|int() %}
    <P>Error: the form does not handle that many inputs
{% endif %}

<!--
{ % if inf_rule == 'substitute LHS of multiple expressions into expr 1' or inf_rule == 'substitute multiple variables into expr 1' %} <!- - variable feed count - ->

<!- - https://jsfiddle.net/t656N/1/
    which is from
    https://stackoverflow.com/a/14853880/1164295
    in support of
    https://github.com/allofphysicsgraph/proofofconcept/issues/149
- - >
Number of feeds:
<input type="text" id="feed_count_input" name="feed_count_input" value=""><br />
<a href="#" id="filldetails" onclick="addFeeds()">Provide local expression IDs</a>
    <div id="feed_container"/>

<script>
        function addFeeds() {
          var number = document.getElementById("feed_count_input").value;
          var container = document.getElementById("feed_container");
//          while (container.hasChildNodes()) {
//            container.removeChild(container.lastChild);
//          }
          for (i = 0; i < number; i++) {
            container.appendChild(document.createTextNode("local expr ID for feed " + (i + 1)));
            var input = document.createElement("input");
            input.type = "text";
            input.name = "dynamic_feed_"+(i+1);
            input.id = "dynamic_feed_"+(i+1);
            container.appendChild(input);
            container.appendChild(document.createElement("br"));
          }
        }
</script>

{ % else % } <!- - static feed count -->

{% if inf_rule_dict['number of feeds']|int() > 0|int() %}
<P>{{ webform.static_feed1.label }}: {{ webform.static_feed1(size=100, maxlength=300) }} <small><B>Required</B>; max length = 300 characters</small><BR>
   <input type="checkbox" id="display_feed1_latex" checked="" onchange="convert('static_feed1','display_feed1_latex', 'preview_feed1_latex','output_feed1_latex')">
   <small><label for="display_feed1_latex">Display style</label></small>

   <input type="button" value="optional preview of TeX before submitting form" id="preview_feed1_latex" onclick="convert('static_feed1','display_feed1_latex', 'preview_feed1_latex','output_feed1_latex')">

   <br clear="all">
   <div id="output_feed1_latex"></div>

</P>
<!--
{ % endif % }
-->

{% if inf_rule_dict['number of feeds']|int() > 1|int() %}
<P>{{ webform.static_feed2.label }}: {{ webform.static_feed2(size=100, maxlength=300) }} <small><B>Required</B>; max length = 300 characters</small>
   <input type="checkbox" id="display_feed2_latex" checked="" onchange="convert('static_feed2','display_feed2_latex', 'preview_feed2_latex','output_feed2_latex')">
   <small><label for="display_feed2_latex">Display style</label></small>

   <input type="button" value="optional preview of TeX before submitting form" id="preview_feed2_latex" onclick="convert('static_feed2','display_feed2_latex', 'preview_feed2_latex','output_feed2_latex')">

   <br clear="all">
   <div id="output_feed2_latex"></div>
</P>
{% endif %}

{% if inf_rule_dict['number of feeds']|int() > 2|int() %}
<P>{{ webform.static_feed3.label }}: {{ webform.static_feed3(size=100, maxlength=300) }} <small><B>Required</B>; max length = 300 characters</small></td>
   <input type="checkbox" id="display_feed3_latex" checked="" onchange="convert('static_feed3','display_feed3_latex', 'preview_feed3_latex','output_feed3_latex')">
   <small><label for="display_feed3_latex">Display style</label></small>

   <input type="button" value="optional preview of TeX before submitting form" id="preview_feed3_latex" onclick="convert('static_feed3','display_feed3_latex', 'preview_feed3_latex','output_feed3_latex')">

   <br clear="all">
   <div id="output_feed3_latex"></div>
</P>
{% endif %}

{% endif %}

{% if inf_rule_dict['number of outputs']|int() > 0|int() %}
<P>
<table border="1">
{% for subfield in webform.output1_radio %}
  <tr>
  {% if loop.index0 == 0 %}
      <td>{{ subfield(onclick='enable_output1_radio1(true)') }}</td>
      <td>{{ subfield.label }}</td>

    <td>{{ webform.output1.label }}: {{ webform.output1(size=50, maxlength=300, id="output1_latex", onchange="onChangeFunction();") }}
<BR>
           <small><B>Required</B>; max length = 300 characters</small><BR>
   <input type="checkbox" id="display_output1_latex" checked="" onchange="convert('output1_latex','display_output1_latex', 'preview_output1_latex','output_output1_latex')">
   <small><label for="display_output1_latex">Display style</label></small>

   <input type="button" value="optional preview of TeX before submitting form" id="preview_output1_latex" onclick="convert('output1_latex','display_output1_latex', 'preview_output1_latex','output_output1_latex')">

   <br clear="all">
   <div id="output_output1_latex"></div>


</td>
      <td>{{ webform.output1_name.label }}: {{ webform.output1_name(size=20, maxlength=300, id="output1_name", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
      <td>{{ webform.output1_note.label }}: {{ webform.output1_note(size=20, maxlength=300, id="output1_note", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
  {% elif loop.index0 == 1 %}
      <td>{{ subfield(onclick='enable_output1_radio2(true)') }}</td>
      <td>{{ subfield.label }}</td>

    <td>
      <span class="output-group-addon">Select from</span>
        <select name="output1_local_id" class="selectpicker form-control" id="output1_local" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_local_id in list_of_local_id %}
            <option value="{{ expr_local_id }}">{{ expr_local_id }}, {{  dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex']  }}</option>
            {% endfor %}
        </select>
    </td>
  {% elif loop.index0 == 2 %}
      <td>{{ subfield(onclick='enable_output1_radio3(true)') }}</td>
      <td>{{ subfield.label }}</td>

    <td>
      <span class="output-group-addon">Select from</span>
        <select name="output1_global_id" class="selectpicker form-control" id="output1_global" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_global_id in list_of_global_id_not_in_derivation %}
            <option value="{{ expr_global_id }}">{{ expr_global_id }}, {{ dat['expressions'][expr_global_id]['latex'][0:50] }}</option>
          {% endfor %}
        </select>
    </td>
  {% else %}
    <td>
      Error in radio field
    </td>
  {% endif %}
  </tr>
{% endfor %}
</table>
</P>
{% endif %}

{% if inf_rule_dict['number of outputs']|int() > 1|int() %}
<P>
<table border="1">
{% for subfield in webform.output2_radio %}
  <tr>
  {% if loop.index0 == 0 %}
      <td>{{ subfield(onclick='enable_output2_radio1(true)') }}</td>
      <td>{{ subfield.label }}</td>

    <td>{{ webform.output2.label }}: {{ webform.output2(size=50, maxlength=300, id="output2_latex", onchange="onChangeFunction();") }} <BR>
           <small><B>Required</B>; max length = 300 characters</small>

   <input type="checkbox" id="display_output2_latex" checked="" onchange="convert('output2_latex','display_output2_latex', 'preview_output2_latex','output_output2_latex')">
   <small><label for="display_output2_latex">Display style</label></small>

   <input type="button" value="optional preview of TeX before submitting form" id="preview_output2_latex" onclick="convert('output2_latex','display_output2_latex', 'preview_output2_latex','output_output2_latex')">

   <br clear="all">
   <div id="output_output2_latex"></div>

</td>
      <td>{{ webform.output2_name.label }}: {{ webform.output2_name(size=20, maxlength=300, id="output2_name", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
      <td>{{ webform.output2_note.label }}: {{ webform.output2_note(size=20, maxlength=300, id="output2_note", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
  {% elif loop.index0 == 1 %}
      <td>{{ subfield(onclick='enable_output2_radio2(true)') }}</td>
      <td>{{ subfield.label }}</td>

    <td>
      <span class="output-group-addon">Select from</span>
        <select name="output2_local_id" class="selectpicker form-control" id="output2_local" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_local_id in list_of_local_id %}
            <option value="{{ expr_local_id }}">{{ expr_local_id }}, {{  dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex']  }}</option>
            {% endfor %}
        </select>
    </td>
  {% elif loop.index0 == 2 %}
      <td>{{ subfield(onclick='enable_output2_radio3(true)') }}</td>
      <td>{{ subfield.label }}</td>

    <td>
      <span class="output-group-addon">Select from</span>
        <select name="output2_global_id" class="selectpicker form-control" id="output2_global" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_global_id in list_of_global_id_not_in_derivation %}
            <option value="{{ expr_global_id }}">{{ expr_global_id }}, {{ dat['expressions'][expr_global_id]['latex'][0:50] }}</option>
          {% endfor %}
        </select>
    </td>
  {% else %}
    <td>
      Error in radio field
    </td>
  {% endif %}
  </tr>
{% endfor %}
</table>
</P>
{% endif %}

{% if inf_rule_dict['number of outputs']|int() > 2|int() %}
<P>
<table border="1">
{% for subfield in webform.output3_radio %}
  <tr>
  {% if loop.index0 == 0 %}
      <td>{{ subfield(onclick='enable_output3_radio1(true)') }}</td>
      <td>{{ subfield.label }}</td>

    <td>{{ webform.output3.label }}: {{ webform3.output(size=50, maxlength=300, id="output3_latex", onchange="onChangeFunction();") }}<BR>
              <small><B>Required</B>; max length = 300 characters</small>

   <input type="checkbox" id="display_output3_latex" checked="" onchange="convert('output3_latex','display_output3_latex', 'preview_output3_latex','output_output3_latex')">
   <small><label for="display_output3_latex">Display style</label></small>

   <input type="button" value="optional preview of TeX before submitting form" id="preview_output3_latex" onclick="convert('output3_latex','display_output3_latex', 'preview_output3_latex','output_output3_latex')">

   <br clear="all">
   <div id="output_output3_latex"></div>

</td>
      <td>{{ webform.output3_name.label }}: {{ webform.output3_name(size=20, maxlength=300, id="output3_name", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
      <td>{{ webform.output3_note.label }}: {{ webform.output3_note(size=20, maxlength=300, id="output3_note", onchange="onChangeFunction();") }}<BR>
           <small><i>optional</i></small></td>
  {% elif loop.index0 == 1 %}
      <td>{{ subfield(onclick='enable_output3_radio2(true)') }}</td>
      <td>{{ subfield.label }}</td>

    <td>
      <span class="output-group-addon">Select from</span>
        <select name="output3_local_id" class="selectpicker form-control" id="output3_local" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_local_id in list_of_local_id %}
            <option value="{{ expr_local_id }}">{{ expr_local_id }}, {{  dat["expressions"][ dat["expr local to global"][expr_local_id]]['latex']  }}</option>
{% endfor %}
        </select>
    </td>
  {% elif loop.index0 == 2 %}
      <td>{{ subfield(onclick='enable_output3_radio3(true)') }}</td>
      <td>{{ subfield.label }}</td>
    <td>
      <span class="output-group-addon">Select from</span>
        <select name="output3_global_id" class="selectpicker form-control" id="output3_global" onchange="onChangeFunction();" disabled="disabled">
            {% for expr_global_id in list_of_global_id_not_in_derivation %}
            <option value="{{ expr_global_id }}">{{ expr_global_id }}, {{ dat['expressions'][expr_global_id]['latex'][0:50] }}</option>
          {% endfor %}
        </select>
    </td>
  {% else %}
    <td>
      Error in radio field
    </td>
  {% endif %}
  </tr>
{% endfor %}
</table>
</P>
{% endif %}

{{ webform.step_note.label}}: {{ webform.step_note }}


<P><input type="submit" name="submit_button" value="Submit">
    </div>
  </div>
</form>
</fieldset>

<P><a href="{{ url_for('new_step_select_inf_rule', deriv_id=deriv_id, referrer='provide_expr_for_inf_rule') }}">Go back and select a difference inference rule</a></P>

<P>
{% include '_table_of_derivation_steps.html' %}

<!--
<P>
{ % include '_table_of_expressions.html' %}
-->
{% endblock %}
