{% extends "_base.html" %}
{% block content %}


<a name="rename derivation">
  <h2>Rename derivation from</h2>
</a>
 {{ dat['derivations'][deriv_id]['name'] }}<BR>
to
<form method="post" action="">
    <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
    {{ edit_name_webform.csrf_token }}
  <div class="form-group">
    <div class="input-group">
<P>{{ edit_name_webform.revised_text.label }}: {{ edit_name_webform.revised_text(size=50, maxlength=300) }} <small>max length = 300 characters</small>
    </div>
    <input type="submit" name="submit_button" value="rename derivation">

   <!-- <button type="submit" class="btn btn-default">Update</button> -->
  </div>
</form>


<a name="edit derivation note">
  <h2>Edit derivation note</h2>
</a>
 {{ dat['derivations'][deriv_id]['notes'] }}<BR>
to
<form method="post" action="">
    <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
    {{ edit_name_webform.csrf_token }}
  <div class="form-group">
    <div class="input-group">
<P>{{ edit_note_webform.revised_text.label }}: {{ edit_note_webform.revised_text(size=50, maxlength=300) }} <small>max length = 300 characters</small>
    </div>
    <input type="submit" name="submit_button" value="revised derivation note">

  </div>
</form>


{% endblock %}

