{% extends "_base.html" %}
{% block content %}


<center>
  <H2>review derivation: {{ dat["derivations"][deriv_id]["name"] }}
  </H2>
</center>
<P>This page contains three views of the steps in the derivation: d3js, graphviz PNG, and a table.</P>
<P>
  <center>
    <svg id='viz'></svg>
<BR/>
Hold the mouse over a node to highlight that node and its neighbors. You can zoom in/out. You can pan the image. You can move nodes by clicking and dragging.
  </center>
</P>
<!-- https://chartio.com/resources/tutorials/how-to-resize-an-svg-when-the-window-is-resized-in-d3-js/ -->
<!--
results in no visualization and no error message in javascript console
<svg viewBox="0 0 100 100"  preserveAspectRatio="xMidYMid meet" id="viz"></svg>
-->
<!--<div id="container" class="svg-container">
<svg id='viz'></svg>
</div>
-->

<P>Notes for this derivation:<BR/>
{{ dat['derivations'][deriv_id]['notes'] }}</P>

<fieldset>
<legend>Options</legend>
<form method="post" action="">
    <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

<!-- https://stackoverflow.com/questions/19794695/flask-python-buttons -->
<em>Alternate views of this derivation</em>: <input type="submit" name="submit_button" value="generate tex">
<input type="submit" name="submit_button" value="generate pdf">
<input type="submit" name="submit_button" value="generate html">
<BR/>
<em>Edit this content</em>:
<input type="submit" name="submit_button" value='add another step'>
<!-- Instead of a a button, the user should click on a step index
<input type="submit" name="submit_button" value="edit existing step">
-->
<input type="submit" name="submit_button" value="rename derivation">
<input type="submit" name="submit_button" value="edit derivation note">
&nbsp; &nbsp;
<input type="submit" style="background-color:lightcoral" name="submit_button" value="delete derivation">

<P>To edit a step, click on the number in the "Index" column in the table below</P>
<P>
  <input type="submit" name="submit_button" value="return to main menu">
</form>
</fieldset>

{% if (pdf_filename != "NONE") %}
<P><a href="{{ url_for('static', filename=pdf_filename) }}">PDF of derivation</a></P>
{% endif %}

<P>
  <a href="{{ url_for('static', filename=name_of_graphviz_png) }}">
    <img src="{{ url_for('static', filename=name_of_graphviz_png) }}">
  </a>
</P>

<P>
{% include '_table_of_derivation_steps.html' %}
</P>

<!-- instead of
<P>
{ % include '_table_of_symbols.html' %}
</P>
-->
<h2>Symbols for this derivation</h2>
See also <a href="{{ url_for('list_all_symbols') }}?referrer=navigation">all {{ dat['symbols']|length }} symbols</a><BR/>
            <table border="1" class="sortable">
              <tr>
                <th>symbol ID</th>
                <th>category</th>
                <th>latex</th>
                <th>scope</th>
                <th>dimension</th>
                <th>name</th>
                <th>value</th>
                <th>Used in derivations</th>
                <th>references</th>
              </tr>
  {% for symbol_id in list_of_symbols_for_this_derivation %}
              <tr>
                  {% set hide_symbol_forms = "true" %}
                  {% include '_table_of_symbols_row.html' %}
                </tr>
  {% endfor %}
   </table>

{% include '_d3_js.html' %}

{% endblock %}
