{% extends "_base.html" %}
{% block content %}


<P>review derivation: {{ dat["derivations"][deriv_id]["name"] }}
<P>
  <center>
    <svg id='viz'></svg>
<BR>
Hold the mouse over a node to highlight that node and its neighbors. You can zoom in/out. You can pan the image. You can move nodes by clicking and dragging.
  </center>
</P>
<!-- https://chartio.com/resources/tutorials/how-to-resize-an-svg-when-the-window-is-resized-in-d3-js/ -->
<!--
results in no visualization and no error message in javascript console
<svg viewBox="0 0 100 100"  preserveAspectRatio="xMidYMid meet" id="viz"></svg>
-->
<!--<div id="container" class="svg-container">
<svg id='viz'></svg>
</div>
-->
<P>{{ dat['derivations'][deriv_id]['notes'] }}</P>

<fieldset>
<legend>Options</legend>
<form method="post" action="">
    <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

<!-- https://stackoverflow.com/questions/19794695/flask-python-buttons -->
<input type="submit" name="submit_button" value='add another step'>
<!-- Instead of a a button, the user should click on a step index
<input type="submit" name="submit_button" value="edit existing step">
-->
<input type="submit" name="submit_button" value="generate tex">
<input type="submit" name="submit_button" value="generate pdf">
<input type="submit" name="submit_button" value="rename derivation">
<input type="submit" name="submit_button" value="edit derivation note">
<input type="submit" name="submit_button" value="return to main menu">
&nbsp; &nbsp;
<input type="submit" style="background-color:lightcoral" name="submit_button" value="delete derivation">
</form>
<P>To edit a step, click on the number in the "Index" column in the table below</P>
</fieldset>

{% if (pdf_filename != "NONE") %}
<P><a href="{{ url_for('static', filename=pdf_filename) }}">PDF of derivation</a></P>
{% endif %}

<P>
  <a href="{{ url_for('static', filename=name_of_graphviz_png) }}">
    <img src="{{ url_for('static', filename=name_of_graphviz_png) }}">
  </a>
</P>

<P>
{% include '_table_of_derivation_steps.html' %}
</P>


{% include '_d3_js.html' %}

{% endblock %}

