{% extends "_base.html" %}
{% block content %}

<fieldset>
  <legend>
    Start new derivation
  </legend>

<form method="post" action="" onsubmit="return checkForm(this);">
    <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
    {{ form.csrf_token }}
  <P>Specify {{ form.name_of_derivation.label}}: {{ form.name_of_derivation(size=50, maxlength=300) }} <BR/>
 <small>max length = 300 characters</small><BR/>

<!-- I was unable to make this input area have multiple lines :( 
     I tried
{ { form.notes(maxlength=300, rows='5', cols='52') }}
{ { form.notes(maxlength=300, rows="5", cols="52") }}
{ { form.notes(maxlength=300, rows=5, cols=52) }}
https://stackoverflow.com/questions/4930747/how-to-specify-rows-and-columns-of-a-textarea-tag-using-wtforms
-->
  {{form.notes.label }}: {{ form.notes(size=100, maxlength=300) }}<BR/>
<small>(optional) max length = 300 characters</small><BR/>
  <input type="submit" value="begin">
</form>
</fieldset>

<P>
  Recommendation: <a href="{{ url_for('list_all_symbols') }}#add symbol">create all the variables</a> before entering expressions
</P>

{% endblock %}

