{% extends "_base.html" %}
{% block content %}

<center>
  <H2>Review of ASTs in this step for derivation
    <a href="{{ url_for('review_derivation', deriv_id=deriv_id) }}?referrer=step_review">
      {{ dat["derivations"][deriv_id]["name"] }}
    </a>
  </H2>
</center>

<P>
  <em>Instructions</em>: review the step and review each Abstract Syntax Tree (one per expression). <BR/>
    At the bottom of this page you can progress to the next page.

<!-- https://stackoverflow.com/questions/28207761/where-does-flask-look-for-image-files -->
<P><img src="{{ url_for('static', filename=name_of_graphviz_png) }}">

<h2>AST for each expression in step</h2>
    {% for ast_png_and_id in list_of_expression_AST_dicts %}
      <P>

<h3>expression <a href="{{ url_for('list_all_expressions') }}?referrer=modify_step#{{ ast_png_and_id['expr global id'] }}">{{ ast_png_and_id['expr global id'] }}</a></H3>

        {% import '_manually_edit_latex.html' as macro_latex %}
        {{ macro_latex.manually_edit_latex(dat, ast_png_and_id['expr global id'],
                                     edit_expr_latex_webform) }}

        {% import '_sympy_ast_and_symbols.html' as macro_ast %}
        {{ macro_ast.sympy_ast_and_symbols(dat, ast_png_and_id) }}


        {% import '_manually_edit_sympy.html' as macro_sympy %}
        {{ macro_sympy.manually_edit_sympy(dat, ast_png_and_id['expr global id'],
                               edit_expr_sympy_webform, latex_generated_by_sympy) }}

      <P>
    {% endfor %}
  </p>

  <H2>Step validation</H2>
  If the \(\rm\LaTeX\) is correct and the SymPy ASTs are correct, the step should be valid.

  <P>
    <table border="1" class="sortable">
      <tr>
        <th>Inference Rule</th>
        <th>Input latex</th>
        <th>Feeds latex</th>
        <th>Output latex</th>
        <th>step validity</th>
        <th>notes</th>
      </tr>
      <tr>
        <td><a href="{{ url_for('list_all_inference_rules') }}?referrer=_table_of_derivation_steps#{{ dat["derivations"][deriv_id]['steps'][step_id]['inf rule'] }}">{{ dat["derivations"][deriv_id]['steps'][step_id]['inf rule'] }}</a></td>
        <!-- input latex -->
        <td>
          <OL>
            {% for local_id in dat["derivations"][deriv_id]['steps'][step_id]['inputs'] %}
            <LI>
              <a href="{{ url_for('list_all_expressions')}}?referrer=_table_of_derivation_steps#{{ dat["expr local to global"][local_id] }}">
              {{ dat["expr local to global"][local_id] }}</a>; locally {{ local_id }}: <BR/>
              \({{ dat["expressions"][ dat["expr local to global"][local_id]]['latex'] }}\)<BR/>
                \({{ latex_generated_by_sympy[ dat["expr local to global"][local_id] ] }}\)
            </LI>
            {% endfor %}
          </OL>
        </td>
        <!-- feeds latex -->
        <td>
          <OL>
            {% for local_id in dat["derivations"][deriv_id]['steps'][step_id]['feeds'] %}
             <LI> <a href="{{ url_for('list_all_expressions')}}?referrer=_table_of_derivation_steps#{{ dat["expr local to global"][local_id] }}">
              {{ dat["expr local to global"][local_id] }}</a>: <BR/>
              \({{ dat["expressions"][ dat["expr local to global"][local_id]]['latex'] }}\)<BR/>
                \({{ latex_generated_by_sympy[ dat["expr local to global"][local_id] ] }}\)
             </LI>
            {% endfor %}
          </OL>
        </td>
        <!-- output latex -->
        <td>
          <OL>
            {% for local_id in dat["derivations"][deriv_id]['steps'][step_id]['outputs'] %}
            <LI>
              <a href="{{ url_for('list_all_expressions')}}?referrer=_table_of_derivation_steps#{{ dat["expr local to global"][local_id] }}">
              {{ dat["expr local to global"][local_id] }}</a>; locally {{ local_id }}: <BR/>
              \({{ dat["expressions"][ dat["expr local to global"][local_id]]['latex'] }}\)<BR/>
                \({{ latex_generated_by_sympy[ dat["expr local to global"][local_id] ] }}\)
            </LI>
            {% endfor %}
          </OL>
        </td>
        <!-- step validation from sympy -->
        <td>{{ derivation_step_validity_dict[step_id] }}</td>
        <!-- step notes -->
        <td>{{ dat["derivations"][deriv_id]['steps'][step_id]['notes'] }}</td>
      </tr>
    </table>
  </P>


  <P>
    <fieldset>
      <legend>
        <H2>Review of ASTs completed; go to next page</h2>
      </legend>
      <form method="post" action=""> <!-- onsubmit="return checkForm(this);"> -->
        <!-- https://stackoverflow.com/questions/19794695/flask-python-buttons -->
        <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <input type="submit" name="submit_button" value='accept these ASTs; review symbols'>
      </form>
    </fieldset>
  </P>


<!--
<P>
{ % include '_table_of_derivation_steps.html' %}

<P>
{ % include '_table_of_expressions.html' %}
-->

{% endblock %}
