
<table border="1" class="sortable">
  <tr>
    <th>Step ID</th>
    <th>Inference Rule</th>
    <th>Input local ID</th>
    <th>Input latex</th>
    <th>Feeds latex</th>
    <th>Output local ID</th>
    <th>Output latex</th>
    <th>Linear index</th>
    <th>step validity</th>
  </tr>
{% for step_id, this_dict in step_dict.items() %}
  <tr>
    <td>{{ step_id }}</td>
    <td>{{ this_dict['inf rule'] }}</td>
    <!-- input local ID -->
    <td>{% for local_id in this_dict['inputs'] %}
          {{ local_id }}
        {% endfor %}
    </td>
    <!-- input latex -->
    <td>{% for local_id in this_dict['inputs'] %}
          <a href="{{ url_for('list_all_expressions')}}#{{ expr_local_to_gobal[local_id] }}">
          {{ expr_local_to_gobal[local_id] }}</a>: {{ expr_dict[expr_local_to_gobal[local_id]]['latex'] }}<BR>
        {% endfor %}
    </td>
    <!-- feeds latex -->
    <td>{% for local_id in this_dict['feeds'] %}
          <a href="{{ url_for('list_all_expressions')}}#{{ expr_local_to_gobal[local_id] }}">
          {{ expr_local_to_gobal[local_id] }}</a>: {{ expr_dict[expr_local_to_gobal[local_id]]['latex'] }}<BR>
        {% endfor %}
    </td>
    <!-- output local ID -->
    <td>{% for local_id in this_dict['outputs'] %}
          {{ local_id }}
        {% endfor %}
    </td>
    <!-- output latex -->
    <td>{% for local_id in this_dict['outputs'] %}
          <a href="{{ url_for('list_all_expressions')}}#{{ expr_local_to_gobal[local_id] }}">
          {{ expr_local_to_gobal[local_id] }}</a>: {{ expr_dict[expr_local_to_gobal[local_id]]['latex'] }}<BR>
        {% endfor %}
    </td>
    <!-- linear index -->
    <td>{{ this_dict['linear index'] }}</td>
    <!-- from sympy -->
    <td>{{ derivation_validity_dict[step_id] }}</td>
  </tr>
{% endfor %}
  <caption>Physics Derivation Graph: Steps for {{ name_of_derivation}}</caption>
</table>

