{% extends "_base.html" %}
{% block content %}

<P>
  Update Symbols in derivation step
</P>

<P>
  derivation name:
  <a href="{{ url_for('review_derivation', deriv_id=deriv_id)  }}?referrer=update_symbols">
    {{ dat["derivations"][deriv_id]['name'] }}
  </a>
</P>


<fieldset><!-- https://www.w3.org/WAI/tutorials/forms/grouping/ -->
<legend>choices</legend>
<form method="post" action="">
<!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<input type="submit" name="submit_button" value='accept these symbols; review ASTs'>
</form>
</fieldset>

{% for expr_dict in expressions_in_step_with_symbols['inputs'] %}
  <table border="1">
    <tr>
      <th>input expression</th>
      <th>symbols</th>
    </tr>
    <tr>
      <td>
        \({{ expr_dict['expression latex'] }}\)<BR>
        {{ expr_dict['expression latex'] }}
      </td>
      <td>
        <UL>
          {% for symbol_dict in expr_dict['symbols'] %}
          <LI>\({{ symbol_dict["symbol string"] }}\) =
                {{ symbol_dict["symbol string"] }} =
                {% if symbol_dict["symbol ID"] == "unknown" %}
                  <fieldset>
                    <legend>connect string to PDG symbol ID</legend>
                    <form method="post" action="">
                    <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <div class="form-group">
                          <div class="input-group">
                            <select name="pdg_symbol_id" class="selectpicker form-control">
                              {% for symbol_id, this_symbol_dict in dat["symbols"].items() %}
                                {% if symbol_dict["symbol string"] == this_symbol_dict['latex'] %}
                                  <option value="{{ symbol_id }}:{{ symbol_dict["symbol string"] }}">
                                    {{ symbol_id }}, {{ this_symbol_dict['latex'] }}, {{ this_symbol_dict['name'] }}
                                  </option>
                                {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                          <!--<button type="submit" class="btn btn-default">Update</button>-->
                          <input type="submit" name="submit_button" value='select PDG symbol ID'><BR>
                            or this symbol is not yet registered;
                            <a href="{{ url_for('list_all_symbols') }}?referrer=update_symbols#add symbol" target="_blank">add symbol to PDG</a>
                      </div>
                    </form>
                  </fieldset>
                {% else %}
                  {{ symbol_dict["symbol ID"] }}
                {% endif %}
          </LI>
          {% endfor %}
        </UL>
        <fieldset>
          <legend>manually specify symbol undetected in Latex expression</legend>
          <form method="post" action="">
          <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
          {{ additional_symbol.csrf_token }}
          symbol string: {{ additional_symbol.revised_text(size=50, maxlength=300) }} <small>max length = 300 characters</small>
          <input type="submit" name="submit_button" value='additional_symbol_for{{expr_dict["expression global ID"]}}'>
          </form>
        </fieldset>
      </td>
    </tr>
  </table>
{% endfor %}


{% for expr_dict in expressions_in_step_with_symbols['feeds'] %}
  <table border="1">
    <tr>
      <th>feed expression</th>
      <th>symbols</th>
    </tr>
    <tr>
      <td>
        \({{ expr_dict['expression latex'] }}\)<BR>
        {{ expr_dict['expression latex'] }}
      </td>
      <td>
        <UL>
          {% for symbol_dict in expr_dict['symbols'] %}
          <LI>\({{ symbol_dict["symbol string"] }}\) =
                {{ symbol_dict["symbol string"] }} =
                {% if symbol_dict["symbol ID"] == "unknown" %}
                  <fieldset>
                    <legend>connect string to PDG symbol ID</legend>
                    <form method="post" action="">
                    <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <div class="form-group">
                          <div class="input-group">
                            <select name="pdg_symbol_id" class="selectpicker form-control">
                              {% for symbol_id, this_symbol_dict in dat["symbols"].items() %}
                                {% if symbol_dict["symbol string"] == this_symbol_dict['latex'] %}
                                  <option value="{{ symbol_id }}:{{ symbol_dict["symbol string"] }}">
                                    {{ symbol_id }}, {{ this_symbol_dict['latex'] }}, {{ this_symbol_dict['name'] }}
                                  </option>
                                {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                          <!--<button type="submit" class="btn btn-default">Update</button>-->
                        <input type="submit" name="submit_button" value='select PDG symbol ID'><BR>
                          or this symbol is not yet registered;
                          <a href="{{ url_for('list_all_symbols') }}?referrer=update_symbols#add symbol" target="_blank">add symbol to PDG</a>
                      </div>
                    </form>
                  </fieldset>
                {% else %}
                  {{ symbol_dict["symbol ID"] }}
                {% endif %}
          </LI>
          {% endfor %}
        </UL>
        <fieldset>
          <legend>manually specify symbol undetected in Latex expression</legend>
          <form method="post" action="">
          <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
          {{ additional_symbol.csrf_token }}
          symbol string: {{ additional_symbol.revised_text(size=50, maxlength=300) }} <small>max length = 300 characters</small>
          <input type="submit" name="submit_button" value='additional_symbol_for{{expr_dict["expression global ID"]}}'>
          </form>
        </fieldset>
      </td>
    </tr>
  </table>
{% endfor %}


{% for expr_dict in expressions_in_step_with_symbols['outputs'] %}
  <table border="1">
    <tr>
      <th>output expression</th>
      <th>symbols</th>
    </tr>
    <tr>
      <td>
        \({{ expr_dict['expression latex'] }}\)<BR>
        {{ expr_dict['expression latex'] }}
      </td>
      <td>
        <UL>
          {% for symbol_dict in expr_dict['symbols'] %}
          <LI>\({{ symbol_dict["symbol string"] }}\) =
                {{ symbol_dict["symbol string"] }} =
                {% if symbol_dict["symbol ID"] == "unknown" %}
                  <fieldset>
                    <legend>connect string to PDG symbol ID</legend>
                    <form method="post" action="">
                    <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <div class="form-group">
                          <div class="input-group">
                            <select name="pdg_symbol_id" class="selectpicker form-control">
                              {% for symbol_id, this_symbol_dict in dat["symbols"].items() %}
                                {% if symbol_dict["symbol string"] == this_symbol_dict['latex'] %}
                                  <option value="{{ symbol_id }}:{{ symbol_dict["symbol string"] }}">
                                    {{ symbol_id }}, {{ this_symbol_dict['latex'] }}, {{ this_symbol_dict['name'] }}
                                  </option>
                                {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                          <!--<button type="submit" class="btn btn-default">Update</button>-->
                          <input type="submit" name="submit_button" value='select PDG symbol ID'><BR>
                            or this symbol is not yet registered;
                            <a href="{{ url_for('list_all_symbols') }}?referrer=update_symbols#add symbol" target="_blank">add symbol to PDG</a>
                      </div>
                    </form>
                  </fieldset>
                {% else %}
                  {{ symbol_dict["symbol ID"] }}
                {% endif %}
          </LI>
          {% endfor %}
        </UL>
        <fieldset>
          <legend>manually specify symbol undetected in Latex expression</legend>
          <form method="post" action="">
          <!-- https://flask-wtf.readthedocs.io/en/v0.12/csrf.html -->
          {{ additional_symbol.csrf_token }}
          symbol string: {{ additional_symbol.revised_text(size=50, maxlength=300) }} <small>max length = 300 characters</small>
          <input type="submit" name="submit_button" value='additional_symbol_for{{expr_dict["expression global ID"]}}'>
          </form>
        </fieldset>
      </td>
    </tr>
  </table>
{% endfor %}



<h2>Symbols used in this derivation</h2>
See also <a href="{{ url_for('list_all_symbols') }}?referrer=navigation">all {{ dat['symbols']|length }} symbols</a><BR>
            <table border="1" class="sortable">
              <tr>
                <th>symbol ID</th>
                <th>category</th>
                <th>latex</th>
                <th>scope</th>
                <th>dimension</th>
                <th>name</th>
                <th>value</th>
                <th>Used in derivations</th>
                <th>references</th>
              </tr>
  {% for symbol_id in list_of_symbols_for_this_derivation %}
              <tr>
                  {% set hide_symbol_forms = "true" %}
                  {% include '_table_of_symbols_row.html' %}
                </tr>
  {% endfor %}
   </table>




{% endblock %}
