<html>
  <head>
    <!-- http://stackoverflow.com/questions/8988855/include-another-html-file-in-a-html-file -->
    <script src="javascript_libraries/jquery-2.1.4.min.js"></script> 
    <script> 
    $(function(){
      $("#includedNavContent").load("nav_bar.html"); 
    });
    $(function(){
      $("#includedFooterContent").load("footer.html"); 
    });
    </script> 
  
    <title>Physics Derivation graph: Papers</title>
  </head>
  <body bgcolor="#e5e5e5">

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MS7JL5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MS7JL5');</script>
<!-- End Google Tag Manager -->

<table width="100%">
<tr>
  <td width="10%">&nbsp;</td>
  <td width="2%">&nbsp;</td>
  <td width="78%">&nbsp;</td>
  <td width="10%">&nbsp;</td>
</tr>  
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>
    <center>
    <H2>Physics Derivation Graph: Papers</H2>
    </center>
  </td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td valign="top">
 <div id="includedNavContent"></div>

  
  </td>
  <td>&nbsp;</td>
  <td>

<P>The following presentation and papers are written for developers and users of the Physics Derivation Graph. The PDFs should be read in order to maximize comprehension. The documentation is incomplete; some sections are currently empty.

<P><a href="documentation_PDFs/physics_graph_motivation.pdf">motivation behind the Physics Derivation Graph</a> (overview presentation)</P>

<P><a href="documentation_PDFs/introduction.pdf">Introduction</a></P>

<P><a href="documentation_PDFs/user_manual.pdf">User Manual</a></P>

<P><a href="documentation_PDFs/database_comparison.pdf">Database comparison</a></P>

<P><a href="documentation_PDFs/syntax_comparison.pdf">Syntax comparison</a></P>



<div id="includedFooterContent"></div>
  </td>
  <td>&nbsp;</td>
</tr>
</table>
  </body>
</html>
