<html>
  <head>
    <!-- http://stackoverflow.com/questions/8988855/include-another-html-file-in-a-html-file -->
    <script src="javascript_libraries/jquery-2.1.4.min.js"></script> 
    <script> 
    $(function(){
      $("#includedNavContent").load("nav_bar.html"); 
    });
    $(function(){
      $("#includedFooterContent").load("footer.html"); 
    });
    </script> 
  
    <title>Physics Derivation graph: team bios</title>
  </head>
  <body bgcolor="#e5e5e5">
  
<table width="100%">
<tr>
  <td width="10%">&nbsp;</td>
  <td width="2%">&nbsp;</td>
  <td width="78%">&nbsp;</td>
  <td width="10%">&nbsp;</td>
</tr>  
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>
    <center>
    <H2>Physics Derivation Graph: Team Biographies</H2>
    </center>
  </td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td valign="top">
 <div id="includedNavContent"></div>
  </td>
  <td>&nbsp;</td>
  <td>
<P>Ben Payne has a <a href="https://en.wikipedia.org/wiki/Bachelor_of_Science">B.S.</a> in <a href="https://www.math.wisc.edu/amep">Applied Math, Mechanical Engineering, and Physics</a> from the <a href="http://wisc.edu">University of Wisconsin-Madison</a>. He earned his Masters and <a href="https://en.wikipedia.org/wiki/Doctor_of_Philosophy">PhD</a> in Physics from the <a href="https://www.mst.edu/">Missouri University of Science and Technology</a>. The focus of his PhD was computational -- <a href="http://scholarsmine.mst.edu/doctoral_dissertations/1957/">the propagation of waves through complex media</a>.</P>

<P>&nbsp;</P>

<P>Mike Goff</P>

<P>&nbsp;</P>

<P>&nbsp;</P>

<div id="includedFooterContent"></div>
  </td>
  <td>&nbsp;</td>
</tr>
</table>
  </body>
</html>
