# Flask==1.1.2
Flask
# Flask-WTF==0.14.3
flask-wtf
# Flask-Login==0.5.0
flask-login
# Flask-Bootstrap==3.3.7.1
flask_bootstrap

# image size
# opencv-python==4.2.0.34
opencv-python

# visualize graphs as static PNG or SVG
# graphviz==0.14
graphviz

wheel
# gunicorn==20.0.4
gunicorn

# convert internal data structure to dataframe; 
# also used for monitoring page when parsing logs
# pandas==1.0.3
pandas

# code formatting and consistency checking
# mypy==0.770
mypy
# prospector==1.2.0
prospector
# pycallgraph==1.0.1
pycallgraph
# black==19.10b0
black
# flake8==3.7.9
flake8
# pylint==2.5.2
pylint

# validate JSON
# jsonschema==3.2.0
jsonschema

# step validation
sympy==1.5.1
# antlr4-python3-runtime==4.8
antlr4-python3-runtime

# monitoring logs
# matplotlib==3.2.1
matplotlib
# python-geoip-geolite2==2015.303
python-geoip-geolite2
# python-geoip-python3==1.3
python-geoip-python3

# Sign in with Google
# google-api-python-client==1.8.2
google-api-python-client

# https://google-auth.readthedocs.io/en/latest/oauth2client-deprecation.html
#oauth2client

# https://google-auth.readthedocs.io/en/latest/reference/google.auth.transport.requests.html
# google-auth-httplib2==0.0.3
google-auth-httplib2 
# google-auth-oauthlib==0.4.1
google-auth-oauthlib

# only necessary for localhost
# from https://blog.miguelgrinberg.com/post/running-your-flask-application-over-https
pyopenssl
