flask
Flask-WTF

# native driver; see https://neo4j.com/docs/api/python-driver/current/api.html
neo4j

# https://github.com/allofphysicsgraph/proofofconcept/issues/157
secure==0.2.1

# code formatting and consistency checking
#mypy==0.910
mypy
#black==21.7b0
black
#flake8==3.8.4
flake8
#pylint==2.5.3
pylint

# step validation
#sympy==1.5.1
sympy
#antlr4-python3-runtime==4.9.2
antlr4-python3-runtime

# only necessary for localhost
# from https://blog.miguelgrinberg.com/post/running-your-flask-application-over-https
#pyOpenSSL==20.0.1
pyOpenSSL
