<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<html>
    <head>
      {% if title %}
      <title>Physics Derivation Graph: {{ title }}</title>
      {% else %}
      <title>Welcome to the Physics Derivation Graph</title>
      {% endif %}
    </head>
    <body>
        <div>PDG: <a href="/index">Home</a></div>

<!-- https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/ -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% if messages|length > 1 %}
    MESSAGES:
    {% else %}
    MESSAGE:
    {% endif %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

        <hr>
        {% block content %}

        {% endblock %}

    <footer>
    <P>&nbsp;</P>
    <P>&nbsp;</P>
    <P>&nbsp;</P>

<div align="center">
<hr width="50%" align="center">
    <P><a href="https://physicsderivationgraph.blogspot.com/">blog</a> | 
       <a href="https://allofphysicsgraph.github.io/proofofconcept/">website</a> |
       <a href="https://github.com/allofphysicsgraph/proofofconcept/wiki">wiki</a> | 
       <a href="https://github.com/allofphysicsgraph/proofofconcept/tree/gh-pages/v7_pickle_web_interface/web">source code</a> |
       <a href="https://github.com/allofphysicsgraph/proofofconcept/issues">issues</a> | 
       <a href="https://creativecommons.org/licenses/by/4.0/">License</a> | 
       <a href="mailto:ben.is.located@gmail.com?subject=Physics Derivation Graph">Contact</a>
    </P>
</div>

    </footer>

    </body>
</html>


