{% extends "base.html" %}
{% block content %}

<P>a list of all inference rules</P>

{% for inf_rule,inf_rule_attributes_dict in inf_rules_dict.items() %}
{{ inf_rule }}: {{ inf_rule_attributes_dict }}<BR>
{% endfor %}


<form method="post" action="">

  <P>Add new inference rule: 
  <div class="form-group">
    <div class="input-group">

      <P>{{ webform.inf_rule_name.label }}: {{ webform.inf_rule_name }}
      <P>{{ webform.num_inputs.label }}:    {{ webform.num_inputs }}
      <P>{{ webform.num_feeds.label }}:     {{ webform.num_feeds }}
      <P>{{ webform.num_outputs.label }}:   {{ webform.num_outputs }}
    </div>
    <input type="submit" name="submit_button" value="add">
  </div>

  <P>Delete inference rule:
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="inf_rul_select" class="selectpicker form-control">
              {% for elem in inf_rules_dict.keys() %}
              <option value="{{ elem }}">{{ elem }}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Next</button>
  </div>

  <P>Which inference rule to edit:

  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="inf_rul_select" class="selectpicker form-control">
              {% for elem in inf_rules_dict.keys() %}
              <option value="{{ elem }}">{{ elem }}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Next</button>
  </div>
</form>

{% endblock %}

