{% extends "base.html" %}
{% block content %}

<P>a list of all inference rules</P>

{% for inf_rule,inf_rule_attributes_dict in inf_rules_dict.items() %}
{{ inf_rule }}: {{ inf_rule_attributes_dict }}<BR>
{% endfor %}


<form method=post action="">
  <P>Add new inference rule: {{ form.new_inf_rule }}
  <input type=submit value=Add>
</form>



<P>Delete inference rule:
<form class="form-inline" method="POST" action="{{ url_for('provide_expr_for_inf_rule', name_of_derivation=name_of_derivation) }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="inf_rul_select" class="selectpicker form-control">
              {% for elem in inf_rule_list %}
              <option value="{{ elem }}">{{ elem }}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Next</button>
  </div>
</form>


<P>Which inference rule to edit:

<form class="form-inline" method="POST" action="{{ url_for('provide_expr_for_inf_rule', name_of_derivation=name_of_derivation) }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="inf_rul_select" class="selectpicker form-control">
              {% for elem in inf_rule_list %}
              <option value="{{ elem }}">{{ elem }}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Next</button>
  </div>
</form>

{% endblock %}

