{% extends "base.html" %}
{% block content %}

<P>a list of all inference rules</P>

{% for inf_rule,inf_rule_attributes_dict in inf_rules_dict.items() %}
{{ inf_rule }}: {{ inf_rule_attributes_dict }}<BR>
{% endfor %}

<a id="add_inf_rule"></a>
  <H2>Add new inference rule</h2> 
<form method="post" action="">
  <div class="form-group">
    <div class="input-group">

      <P>{{ webform.inf_rule_name.label }}: {{ webform.inf_rule_name }}
      <P>{{ webform.num_inputs.label }}:    {{ webform.num_inputs }}
      <P>{{ webform.num_feeds.label }}:     {{ webform.num_feeds }}
      <P>{{ webform.num_outputs.label }}:   {{ webform.num_outputs }}
    </div>
<!--    <input type="submit" name="submit_button" value="add"> -->
     <button type="submit" class="btn btn-default">Add</button>
  </div>
</form>

<a id="delete_inf_rule"></a>
  <h2>Delete an inference rule</h2>
<form method="post" action="">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="delete_inf_rule" class="selectpicker form-control">
              {% for elem in inf_rules_dict.keys() %}
              <option value="{{ elem }}">{{ elem }}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Next</button>
  </div>
</form>

<a id="edit_inf_rule"></a>
  <h2>Edit an inference rule</h2>
<form method="post" action="">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Select from</span>
            <select name="edit_inf_rule" class="selectpicker form-control">
              {% for elem in inf_rules_dict.keys() %}
              <option value="{{ elem }}">{{ elem }}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Next</button>
  </div>
</form>

{% endblock %}

