{% extends "base.html" %}
{% block content %}

<P>modify step

<P>derivation name: {{ name_of_derivation}}


<!-- https://stackoverflow.com/questions/28207761/where-does-flask-look-for-image-files -->
<P><img src="{{ url_for('static', filename=name_of_graphviz_png) }}">


<form method="post" action=""> 

<P>Options:
<P>change inference rule
<input type="submit" name="submit_button" value='change inference rule'>

<P>step_dict: {{ step_dict }}
<P>expr_dict: {{ expr_dict }}

<P>keep inference rule; <input type="submit" name="submit_button" value='edit input latex'>
<P>keep inference rule; <input type="submit" name="submit_button" value='edit feed latex'>
<P>keep inference rule; <input type="submit" name="submit_button" value='edit output latex'>


</form>

{% endblock %}

