{% extends "base.html" %}
{% block content %}



<P>view existing derivations

<!-- https://stackoverflow.com/questions/32019733/getting-value-from-select-tag-using-flask -->

<form class="form-inline" method="POST" action="">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Please select</span>
            <select name="derivation_selected" class="selectpicker form-control">
              {% for elem in list_of_derivations %}
              <option value="{{ elem }}">{{ elem }}</option>
              {% endfor %}
            </select>
    </div>
<P>
    <button type="submit" class="btn btn-default" name="submit_button" value="display_graphviz">display graphviz</button>
    <button type="submit" class="btn btn-default" name="submit_button" value="generate_pdf">generate PDF file</button>
</p>
  </div>
</form>



{% endblock %}

