{% extends "base.html" %}
{% block content %}


<P>step review

<P>derivation name: {{ name_of_derivation}}

<form method="post" action=""> 
<!-- https://stackoverflow.com/questions/19794695/flask-python-buttons -->
   <input type="submit" name="submit_button" value='accept this step; add another step'>
   <input type="submit" name="submit_button" value='accept this step; review derivation'>
   <input type="submit" name="submit_button" value='modify this step'>
</form>

<!-- https://stackoverflow.com/questions/28207761/where-does-flask-look-for-image-files -->
<P><img src="{{ url_for('static', filename=name_of_graphviz_png) }}">

<P>step dict: <BR>{{ step_dict }}

<P>expr dict: <BR>{{ expr_dict }}

{% endblock %}

